@import 'src/styles/variables';

:host {
  border: 0.5px $gray-200 dotted;
  padding: 0 0.2rem !important;
  position: relative;
}

.header-content {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
}

.icons {
  font-size: 13px;
}

.fa-caret-down {
  color: $secondary;
}
