<ng-container *ngIf="column; else hiddenContent">
  <div class="header-content h-100"
       (contextmenu)="onContextMenu($event)">

    <div *ngIf="column.attribute"
      class="position-relative cursor-pointer sort-wrapper d-flex align-items-center h-100"
      title="Toggle sort" i18n-title="@@table.header.column.sort.toggle"
      [style.width.px]="14" (click)="onSortToggle($event)"
      (dblclick)="$event.stopPropagation(); $event.preventDefault()">
      <i class="fas fa-sort-up position-absolute"
         [class.text-muted]="!column.sort || column.sort !== sortType.Ascending">
      </i>
      <i class="fas fa-sort-down position-absolute"
         [class.text-muted]="!column.sort || column.sort !== sortType.Descending">
      </i>
    </div>

    <table-header-input
      [edited]="editing"
      [restrictedNames]="restrictedNames"
      [offsetHorizontal]="offsetHorizontal"
      [default]="column.default"
      [value]="editing && (editingValue | isNotNullOrUndefined) ? editingValue : column.name || column.attribute?.name"
      (save)="onHeaderSave($event)"
      (cancel)="onHeaderCancel()">
    </table-header-input>

    <ng-container *ngIf="{iconName: (column.attribute?.constraint | constraintTypeIcon)} as typeData">
      <div class="d-flex flex-column align-items-center justify-content-center ml-1 icons"
           [style.margin-bottom.px]="offsetHorizontal ? 1 : 0"
           (click)="onContextMenu($event)">
        <i *ngIf="(column.attribute | attributeFunctionDefined)"
           [class.mb-1]="typeData.iconName"
           class="fas fa-function fa-xs fa-fw">
        </i>
        <i *ngIf="typeData.iconName" class="fa-xs fa-fw"
           [ngClass]="typeData.iconName"
           [title]="column.attribute?.constraint | constraintTypeIconTitle"></i>
        <i *ngIf="!(column.attribute | attributeFunctionDefined) && !(typeData.iconName)"
           title="Column settings..."
           i18n-title="@@table.header.column.settings"
           class="fa-xs fas fa-caret-down">
        </i>
      </div>
    </ng-container>
  </div>
  <table-menu *ngIf="column.menuItems?.length"
              [items]="column.menuItems"
              (selected)="menuSelected.emit($event)">
  </table-menu>
</ng-container>

<ng-template #hiddenContent>
  <table-header-hidden class="cursor-pointer"
                       (contextmenu)="onHiddenContextMenu($event)"
                       (click)="onHiddenContextMenu($event)">
  </table-header-hidden>
  <table-header-hidden-menu [hiddenColumns]="hiddenColumns"
                            (selected)="onHiddenMenuSelected($event)">
  </table-header-hidden-menu>
</ng-template>
