@import 'src/styles/variables';

:host {
  border-left: 1px $gray-200 dotted;
  border-top: 1px $gray-200 dotted;
  border-bottom: 1px $gray-200 dotted;
  padding: 0 0.2rem !important;
  position: relative;
}

:host.last {
  border-right: 1px $gray-200 dotted;
}

.header-content {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
}

.filter-icon-wrapper {
  position: relative;

  .icon {
    font-size: 80%;
  }
}

.icons {
  font-size: 10px;
}

.fa-caret-down {
  color: $gray-700;
}

::ng-deep {
  .uninitialized-column:not(.focused) input:not(.editable) {
    color: $dark !important;
  }
}
