<div *ngIf="{linkType: linkType$ | async, collections: collections$ | async} as data"
     class="d-flex flex-column h-100">
  <table-caption [hidden]="part.columns.length < 1"
                 [linkType]="data.linkType"
                 [collections]="data.collections"
                 [cursor]="cursor"
                 [attr.title]="data.linkType?.name || ''"
                 [style.width.px]="(part | partWidth : canManageConfig) + linkInfoWidth"
                 class="text-truncate flex-grow-0">
  </table-caption>
  <div class="d-flex flex-grow-1 align-items-stretch">
    <table-link-info [cursor]="cursor"
                     [canManageView]="canManageConfig"
                     [hidden]="part.columns.length >= 1"
                     [linkType]="data.linkType"
                     [collections]="data.collections"
                     [switchingEnabled]="table | maxParts:3"
                     (addLinkColumn)="onAddLinkColumn()"
                     (switchParts)="onSwitchParts()"
                     (removePart)="onRemovePart()"
                     class="d-block table-border-top table-border-right table-border-bottom">
    </table-link-info>
    <table-column-group *ngIf="data.linkType | linkTypePermissions | async as allowedPermissions"
                        [table]="table"
                        [cursor]="cursor"
                        [columns]="part.columns"
                        [canManageConfig]="canManageConfig"
                        [allowedPermissions]="allowedPermissions"
                        [linkType]="data.linkType"
                        class="d-block table-border-top">
    </table-column-group>
  </div>
</div>
