<div mwlResizable
     [enableGhostResize]="true"
     [ghostElementPositioning]="'absolute'"
     [resizeEdges]="column | resizeEdges:table:cursor"
     [resizeSnapGrid]="{left: 10, right: 10}"
     [style.width]="column | columnWidth | pixel"
     [validateResize]="validateResize.bind(this)"
     (resizeEnd)="onResizeEnd($event)">
  <div class="d-flex flex-column">
    <table-single-column [table]="table"
                         [cursor]="cursor"
                         [column]="column.parent"
                         [leaf]="!column.children.length"
                         [style.height]="column | columnHeight:table:cursor | pixel"
                         class="d-block">
    </table-single-column>
    <table-column-group *ngIf="column.children.length"
                        [table]="table"
                        [cursor]="cursor"
                        [columns]="column.children"
                        class="d-block">
    </table-column-group>
  </div>
</div>
