@import 'src/styles/variables';

th {
  z-index: 4 !important;
  position: sticky;
  vertical-align: middle !important;
  padding: 0 !important;
  border: 0 !important;
  background-size: 37px 100% !important;
}

.dragging {
  background-color: $light !important;
}
