<tr cdkDropList class="row-boundary" *ngIf="{index: draggedIndex$ | async} as dragData ">
  <th *ngFor="let column of columns; trackBy:trackByColumn; let index = index"
      class="sticky-header"
      cdkDrag
      [class.focused]="selectedCell | tableCellSelected:column:cellType"
      [class.dragging]="dragData.index === index"
      (cdkDragDropped)="onColumnDrop($event)"
      (cdkDragStarted)="onColumnDragStarted()"
      (cdkDragMoved)="onColumnDragMoved($event, index)"
      (cdkDragEnded)="onColumnDragEnded()"
      (mousedown)="onMouseDown($event)"
      [style.font-weight]="column.bold ? 'bold' : 'normal'"
      [style.width.px]="column.width"
      scope="col" title="{{column.attribute.name}}"
      (contextmenu)="onContextMenu(index, $event)">
    <div class="wrapper"
         [style.background-color]="column.color && (column.color | lightenColor:0.5) || 'white'">
      <div class="header-content" *ngIf="index !== dragData.index">
        <div class="overflow-hidden">{{column.attribute.name}}</div>

        <ng-container *ngIf="{iconName: (column.attribute.constraint | constraintTypeIcon)} as typeData">
          <div class="d-flex flex-column align-items-center justify-content-center ml-1 icons"
               (click)="onContextMenu(index, $event)">
            <i *ngIf="(column.attribute | attributeFunctionDefined)"
               [class.mb-1]="typeData.iconName"
               class="fas fa-function fa-xs fa-fw">
            </i>
            <i *ngIf="typeData.iconName" class="fa-xs fa-fw"
               [ngClass]="typeData.iconName"
               [title]="column.attribute.constraint | constraintTypeIconTitle"></i>
            <i *ngIf="!(column.attribute | attributeFunctionDefined) && !(typeData.iconName)"
               title="Column settings..."
               i18n-title="@@table.header.column.settings"
               class="fa-xs fas fa-caret-down">
            </i>
          </div>
        </ng-container>
      </div>
    </div>
  </th>
</tr>
