<tr cdkDropList class="row-boundary" *ngIf="{index: draggedIndex$ | async} as dragData ">
  <th *ngFor="let column of columns; trackBy:trackByColumn; let index = index"
      class="sticky-header table-cell text-nowrap"
      cdkDrag
      [class.focused]="selectedCell | tableCellSelected:column:cellType"
      [class.editing]="editedCell | tableCellEdited:column:cellType"
      [class.dragging]="dragData.index === index"
      (cdkDragDropped)="onColumnDrop($event)"
      (cdkDragStarted)="onColumnDragStarted()"
      (cdkDragMoved)="onColumnDragMoved($event, index)"
      (cdkDragEnded)="onColumnDragEnded()"
      (mousedown)="onMouseDown($event)"
      [style.width.px]="column.width"
      [style.height.px]="tableRowHeight"
      scope="col" title="{{column.attribute.name}}"
      (click)="onHeaderClick(column.id)"
      (dblclick)="onHeaderDoubleClick(column.id)">
    <table-header-cell *ngIf="index !== dragData.index"
                       [editing]="editedCell | tableCellEdited:column:cellType"
                       [editingValue]="editedCell?.inputValue"
                       [style.background-color]="column.color && (column.color | lightenColor:0.5) || 'white'"
                       [offsetTop]="true"
                       [column]="column"
                       (onCancel)="onHeaderCancel(column.id)"
                       (newName)="onHeaderSave(column, $event)"
                       (setDefaultAttribute)="setDefaultAttribute(column)"
                       (edit)="onColumnEdit(column.id)"
                       (remove)="onColumnRemove(column)">
    </table-header-cell>
    <div class="bg-gray h-100 w-100" *ngIf="index === dragData.index">&nbsp;</div>
  </th>
</tr>
