<select-item class="d-block w-100 mt-2"
             [placeholderIcon]="chartPerspective | perspectiveIcon"
             [buttonClasses]="buttonClasses"
             [items]="chartTypes | chartTypesToSelect"
             [selectedId]="config.type"
             (select)="onTypeSelect($event)">
</select-item>

<select-item-with-constraint class="d-block w-100 mt-2"
                             [attributesResources]="attributesResources"
                             [restrictedIds]="xAxisType | axisRestrictedIds:config"
                             [placeholderText]="xAxisType.toString().toUpperCase()"
                             [buttonClasses]="buttonClasses"
                             [selectedId]="config.axes[xAxisType] | chartAxisSelectItemId"
                             [selectedConstraint]="config.axes[xAxisType]?.constraint"
                             [emptyValue]="axisEmptyValue"
                             [removable]="true"
                             [fitParent]="true"
                             (select)="onAxisSelect($event)"
                             (selectConstraint)="onSelectedConstraint($event)"
                             (remove)="onAxisRemoved()">
</select-item-with-constraint>

<select-item class="d-block w-100 mt-2"
             [placeholderText]="sortPlaceholder"
             [emptyValue]="axisEmptyValue"
             [items]="config | sortSelectItems:attributesResources"
             [selectedId]="config.sort && config.sort.axis"
             [buttonClasses]="buttonClasses"
             [removable]="true"
             (select)="onSortSelect($event)"
             (remove)="onSortRemoved()">
</select-item>

<select-item class="d-block w-100 mt-2"
             [items]="chartSortTypes | sortTypeSelectItems"
             [placeholderText]="sortTypePlaceholder"
             [buttonClasses]="buttonClasses"
             [removable]="false"
             [selectedId]="config.sort && config.sort.type"
             (select)="onSortTypeSelect($event)">
</select-item>
