<div #topPanel
     class="px-2 px-sm-3 py-2 w-100">
  <top-panel *ngIf="showTopPanel$ | async"
             [mobile]="mobile$ | async"
             [searchBoxShown]="searchBoxShown">
    <ng-content select=".controls"></ng-content>
  </top-panel>
  <div *ngIf="showBackArrow$ | async" class="cursor-pointer clickable"
       (click)="onBack()">
    <i class="fas fa-chevron-left"></i>&nbsp;<span>Home</span>
  </div>
</div>
<views-bookmarks [workspace]="workspace$ | async"></views-bookmarks>
<get-help *ngIf="showHelp"></get-help>
<div class="w-100 flex-grow-1 d-flex flex-column min-height-1 position-relative">
  <ng-content select=".content"></ng-content>
</div>
