<div [formGroup]="form">
  <p class="text-muted"
     i18n="@@constraint.user.description">
    Allows you to specify a colleague by email. You may allow only registered users or any valid email.
  </p>

  <div class="form-group">
    <div class="form-check">
      <input [formControlName]="formControlName.ExternalUsers"
             [id]="formControlName.ExternalUsers"
             class="form-check-input"
             type="checkbox">
      <label [for]="formControlName.ExternalUsers"
             class="form-check-label"
             i18n="@@constraint.user.externalUsers.label">
        Allow unregistered users (any valid email)
      </label>
    </div>
  </div>
</div>
