<modal-wrapper class="d-block"
               [dialogType]="dialogType.Success"
               [performingAction]="performingAction$ | async"
               [submitDisabled]="formInvalid$ | async"
               [customHeader]="true"
               (onSubmit)="onSubmit()"
               (onClose)="hideDialog()">

  <div class="custom-header p-3 text-center bg-success text-white w-100 rounded-top">
    <h5 class="modal-title break-all">
      <span class="mr-3" i18n="@@view.share.dialog.title">Share View</span>
      <i class="{{icon}} align-self-center" [style.color]="viewColor$ | async" aria-hidden="true"></i>&nbsp;
      <span>{{view.name}}</span>
    </h5>
  </div>

  <div class="body">
    <share-view-dialog-body [currentUser]="currentUser$ | async"
                            [organization]="organization$ | async"
                            [project]="project$ | async"
                            [view]="view"
                            [users]="users$ | async"
                            (submitForm)="onShare($event)"
                            (rolesChanged)="onRolesChanged($event)">
    </share-view-dialog-body>
  </div>

  <span class="button-cancel" i18n="@@button.cancel">Cancel</span>
  <span class="button-submit" i18n="@@button.share">Share</span>

</modal-wrapper>
