<modal-wrapper class="d-block"
               [dialogType]="dialogType.Success"
               [performingAction]="performingAction$ | async"
               [submitDisabled]="formInvalid$ | async"
               (onSubmit)="onSubmit()"
               (onClose)="hideDialog()">

  <span class="title" i18n="@@view.share.dialog.title">Share View</span>

  <div class="body p-3">
    <share-view-dialog-body [currentUser]="currentUser$ | async"
                            [organization]="organization$ | async"
                            [project]="project$ | async"
                            [view]="view"
                            [users]="users$ | async"
                            (submitForm)="onShare($event)"
                            (rolesChanged)="onRolesChanged($event)">
    </share-view-dialog-body>
  </div>

  <span class="button-cancel" i18n="@@button.cancel">Cancel</span>
  <span class="button-submit" i18n="@@button.share">Share</span>

</modal-wrapper>
