<table-row-numbers [cursor]="cursor"
                   [row]="row"
                   [viewId]="view?.id"
                   (click)="unsetCursor.emit()"
                   class="table-border-right bg-white ps-3">
</table-row-numbers>

<table-hierarchy-cell *ngIf="hierarchyMaxLevel$ | async as maxLevel"
                      [cursor]="cursor"
                      [level]="hierarchyLevel$ | async"
                      [maxLevel]="maxLevel"
                      [view]="view"
                      [canManageConfig]="canManageConfig"
                      (toggle)="onHierarchyToggle()"
                      (click)="unsetCursor.emit()"
                      class="table-border-right table-border-bottom px-1">
</table-hierarchy-cell>

<table-cell-group [cursor]="cursor"
                  [rows]="[row]"
                  [view]="view"
                  [query]="query"
                  [correlationId]="correlationId"
                  [canManageConfig]="canManageConfig"
                  [style.width.px]="part$ | async | partWidth:canManageConfig">
</table-cell-group>

<table-linked-rows *ngIf="hasNextParts$ | async"
                   [cursor]="cursor"
                   [rows]="[row]"
                   [view]="view"
                   [correlationId]="correlationId"
                   [query]="query"
                   [canManageConfig]="canManageConfig"
                   [striped]="striped">
</table-linked-rows>

<div *ngIf="canManageConfig && (hasCollectionToLink$ | async)" (click)="unsetCursor.emit()"
     class="add-button-cell bg-white"></div>

<div (click)="unsetCursor.emit()"
     class="flex-grow-1 px-2 bg-white">
</div>
