<modal-wrapper
  [dialogType]="dialogType.Success"
  [showHeader]="true"
  [showSubmit]="true"
  [showClose]="true"
  [closeDisabled]="(emailSent$ | async) !== 0"
  [performingAction]="performingAction$ | async"
  (onSubmit)="reloadUser()"
  (onClose)="sendEmail()">

  <span class="title" i18n="@@verifyEmail.title">Please Verify Your Email</span>

  <div class="body p-4 text-center">
    <div class="verify-email" i18n="@@verifyEmail.info">Please verify your email by clicking on the link that we have sent you. Then hit Reload.</div>
    <div class="text-end font-italic" i18n="@@verifyEmail.thankYou">Thank you.</div>
  </div>

  <span class="button-cancel">
    <span *ngIf="(emailSent$ | async) === 0">
      <i class="far fa-envelope me-2"></i><span i18n="@@verifyEmail.button.resendEmail">Resend verification email</span>
    </span>
    <span *ngIf="(emailSent$ | async) === 1">
      <i class="far fa-envelope-open me-2"></i><span i18n="@@verifyEmail.button.sending">Sending...</span>
    </span>
    <span *ngIf="(emailSent$ | async) === 2">
      <i class="far fa-exclamation-triangle me-2"></i><span i18n="@@verifyEmail.button.emailFailure">Could not send email</span>
    </span>
    <span *ngIf="(emailSent$ | async) === 3">
      <i class="far fa-envelope-open-text me-2"></i><span i18n="@@verifyEmail.button.emailSent">Email sent</span>
    </span>
  </span>

  <span class="button-submit">
      <i class="far fa-repeat me-1"></i><span i18n="@@button.reload">Reload</span>
  </span>

</modal-wrapper>
