<div class="wrapper h-100">
  <div class="d-inline-flex flex-row flex-nowrap h-100 align-items-start mr-4"
       cdkDropList cdkDropListOrientation="horizontal"
       (cdkDropListDropped)="dropColumn($event)">
    <kanban-column *ngFor="let column of kanbanData.columns; trackBy: trackByColumn; let first = first"
                   cdkDrag #kanbanColumn
                   [cdkDragDisabled]="!canManageConfig"
                   [cdkDragStartDelay]="dragDelay"
                   class="column ml-3"
                   [column]="column"
                   [config]="kanbanData"
                   [dragColumnsIds]="column | kanbanDragColumns:kanbanData.columns"
                   [createResources]="[]"
                   [canManageConfig]="canManageConfig"
                   [query]="query"
                   [constraintData]="constraintData"
                   (createResource)="createObjectInResource($event, column)"
                   (updateDocument)="onUpdateDocument($event)"
                   (removeColumn)="onRemoveColumn(column)"
                   (toggleFavorite)="onToggleFavorite($event)">
    </kanban-column>

    <kanban-column *ngIf="kanbanData.otherColumn?.cards?.length > 0"
                   class="column ml-3" #kanbanColumn
                   [column]="kanbanData.otherColumn"
                   [config]="kanbanData"
                   [dragColumnsIds]="kanbanData.otherColumn | kanbanDragColumns:kanbanData.columns"
                   [canManageConfig]="canManageConfig"
                   [createResources]="[]"
                   [query]="query"
                   [constraintData]="constraintData"
                   (createResource)="createObjectInResource($event, kanbanData.otherColumn)"
                   (updateDocument)="onUpdateDocument($event)"
                   (toggleFavorite)="onToggleFavorite($event)">
    </kanban-column>
  </div>
</div>
