<div class="wrapper h-100" *ngIf="{permissions: permissions$ | async} as data">
  <div class="d-inline-flex flex-row flex-nowrap h-100 align-items-start mr-4"
       cdkDropList cdkDropListOrientation="horizontal"
       (cdkDropListDropped)="dropColumn($event)">
    <kanban-column *ngFor="let column of config.columns; trackBy: trackByColumn; let first = first"
                   cdkDrag #kanbanColumn
                   [cdkDragDisabled]="!canManageConfig"
                   [cdkDragStartDelay]="dragDelay"
                   class="column ml-4"
                   [column]="column"
                   [config]="config"
                   [dragColumnsIds]="column | kanbanDragColumns:config.columns"
                   [collections]="collections"
                   [linkTypes]="linkTypes"
                   [canManageConfig]="canManageConfig"
                   [cards]="column | kanbanColumnCards:documents:collections:config"
                   [query]="query"
                   [permissions]="data.permissions"
                   [constraintData]="constraintData"
                   (createResource)="createObjectInResource($event, column)"
                   (updateDocument)="onUpdateDocument($event)"
                   (columnsChange)="onColumnsChange($event)"
                   (removeColumn)="onRemoveColumn(column)">
    </kanban-column>

    <kanban-column *ngIf="config.otherColumn?.resourcesOrder?.length > 0"
                   class="column ml-4" #kanbanColumn
                   [column]="config.otherColumn"
                   [config]="config"
                   [dragColumnsIds]="config.otherColumn | kanbanDragColumns:config.columns"
                   [collections]="collections"
                   [canManageConfig]="canManageConfig"
                   [permissions]="data.permissions"
                   [cards]="config.otherColumn | kanbanColumnCards:documents:collections:config"
                   [query]="query"
                   [constraintData]="constraintData"
                   (createResource)="createObjectInResource($event, config.otherColumn)"
                   (updateDocument)="onUpdateDocument($event)"
                   (columnsChange)="onColumnsChange($event)">
    </kanban-column>
  </div>
</div>
