<form-mode [collection]="collection"
           [canManageConfig]="canManageConfig"
           [selectedMode]="config?.mode"
           [resourcesPermissions]="permissions"
           (modeChange)="onModeChange($event)">
</form-mode>

<ng-container [ngSwitch]="config?.mode">

  <form-editor *ngSwitchCase="mode.Build"
               class="d-block mt-3 mb-6"
               [config]="config"
               [collection]="collection"
               [collectionLinkTypes]="collectionLinkTypes"
               [attributesSettings]="attributesSettings"
               (configChange)="configChange.emit($event)">
  </form-editor>

  <form-view *ngSwitchCase="mode.CreateUpdate"
             class="d-block mt-3 mb-6"
             [config]="config"
             [collection]="collection"
             [query]="query"
             [view]="view"
             [attributesSettings]="attributesSettings"
             [resourcesPermissions]="permissions"
             [collectionLinkTypes]="collectionLinkTypes"
             (configChange)="configChange.emit($event)">
  </form-view>

</ng-container>
