<form-mode *ngIf="configuration?.showSidebar"
           class="d-block mb-3"
           [canManageConfig]="canManageConfig"
           [canManipulateData]="canManipulateData"
           [builderModeActive]="builderMode"
           (modeToggle)="modeToggle.emit()">
</form-mode>

<form-editor *ngIf="builderMode"
             class="d-block"
             [class.bottom-margin-4]="configuration?.additionalSpace"
             [config]="config"
             [collection]="collection"
             [view]="view"
             [collectionLinkTypes]="collectionLinkTypes"
             [attributesSettings]="attributesSettings"
             (configChange)="configChange.emit($event)">
</form-editor>

<form-view *ngIf="!builderMode"
           class="d-block mt-3"
           [class.bottom-margin-4]="configuration?.additionalSpace"
           [config]="config"
           [collection]="collection"
           [query]="query"
           [view]="view"
           [constraintData]="constraintData$ | async"
           [attributesSettings]="attributesSettings"
           [resourcesPermissions]="permissions"
           [collectionLinkTypes]="collectionLinkTypes"
           (configChange)="configChange.emit($event)">
</form-view>
