<ng-container *ngIf="queryItem.icons && queryItem.colors">
  <ng-container [ngSwitch]="queryItem.icons.length">
    <i *ngSwitchCase="1"
       [style.color]="queryItem.colors[0]"
       aria-hidden="true"
       class="{{queryItem.icons[0]}} fa-fw">
    </i>
    <ng-container *ngSwitchCase="2">
      <i [style.color]="queryItem.colors[0]"
         class="{{queryItem.icons[0]}} fa-xs fa-fw align-top">
      </i><!-- TODO remove space somehow
     --><i [style.color]="queryItem.colors[1]"
           class="{{queryItem.icons[1]}} fa-xs fa-fw align-bottom"></i>
    </ng-container>
  </ng-container>
</ng-container>
