<input *ngIf="!edited; else editableInput"
       [value]="value"
       [title]="column.attribute | attributeTitle : column.name : true"
       [class.text-default-attribute]="default"
       class="w-100 p-0"
       readonly>

<ng-template #editableInput>
  <input #textInput
         [readonly]="!edited"
         [value]="value"
         [title]="column.attribute | attributeTitle : column.name"
         [class.text-default-attribute]="default"
         (blur)="onBlur()"
         (input)="onInput($event)"
         (keydown)="onKeyDown($event)"
         (paste)="onPaste($event)"
         class="w-100 p-0 editable">
</ng-template>
