<input *ngIf="!edited; else editableInput"
       [value]="value"
       [tooltip]="descriptionTooltip"
       [isDisabled]="!column?.attribute"
       placement="bottom"
       [delay]="700"
       [class.text-default-attribute]="default"
       [placeholder]="column?.attribute ? null : placeholder"
       class="w-100 p-0"
       readonly>

<ng-template #editableInput>
  <input #textInput
         [readonly]="!edited"
         [value]="value"
         [delay]="700"
         [tooltip]="descriptionTooltip"
         [isDisabled]="!column?.attribute"
         placement="bottom"
         [adaptivePosition]="false"
         containerClass="bigger-tooltip"
         [class.text-default-attribute]="default"
         (blur)="onBlur()"
         (input)="onInput($event)"
         (keydown)="onKeyDown($event)"
         (paste)="onPaste($event)"
         class="w-100 p-0 editable">
</ng-template>

<ng-template #descriptionTooltip>
  <div [innerHTML]="column?.attribute | attributeTitle:(edited ? null : column.name):!edited | safeHtml"></div>
</ng-template>
