<empty-search *ngIf="!(query | emptyQuery)"></empty-search>
<empty-state *ngIf="query | emptyQuery"
             [icon]="'far fa-times-square'">
  <h3 i18n="@@search.collections.empty.title">No collections yet!</h3>
  <div i18n="@@search.collections.empty.subtitle.norights"
       *ngIf="!(project | permissions:'write' | async)">Sorry, but you do not have permissions to add some.
  </div>

  <div *ngIf="project | permissions:'write' | async">
    <div i18n="@@search.collections.empty.subtitle" class="text-center mb-3">Add your first collection or import some.</div>
    <post-it-collection-add-button [disabled]="false"
                                   (clicked)="onNewCollection()">
    </post-it-collection-add-button>

    <post-it-collection-import-button class="ml-2"
                                      [disabled]="false" [i18n]="i18n"
                                      (error)="onError($event)"
                                      (import)="onImport($event)">
    </post-it-collection-import-button>
  </div>
</empty-state>
