<input *ngIf="readonly; else numberEditing"
       [title]="value | numberDataValue"
       [value]="value | numberDataValue"
       type="text"
       class="border-0 w-100 h-100 px-1 bg-transparent"
       data-test="number-data-input"
       readonly>

<ng-template #numberEditing>
  <input #numberInput
         number
         [title]="value | numberDataValue"
         [value]="value | numberDataValue"
         (blur)="onBlur()"
         (input)="onInput($event)"
         type="text"
         class="border-0 w-100 h-100 px-1"
         [ngClass]="valid ? 'bg-transparent' : 'bg-danger-light'"
         data-test="number-data-input">
</ng-template>
