<kanban-stem-config *ngFor="let stem of query?.stems; trackBy:trackByStem; let index = index"
                    class="d-block mt-4"
                    [stem]="stem"
                    [config]="config?.stemsConfigs && config?.stemsConfigs[index] || defaultStemConfig"
                    [collections]="collections"
                    [columnTitles]="config | kanbanColumnTitles:config?.stemsConfigs[index]?.attribute"
                    [linkTypes]="linkTypes"
                    (configChange)="onConfigChange($event, stem, index)">
</kanban-stem-config>

<ng-container *ngIf="config | kanbanAggregationDefined">
  <h6 class="font-weight-bold mt-4" i18n="@@perspective.kanban.config.column.summary">Column Summary</h6>
  <kanban-aggregation-config class="d-block"
                             [aggregation]="config?.aggregation"
                             (aggregationChange)="onAggregationChanged($event)">
  </kanban-aggregation-config>
</ng-container>

<ng-container *ngIf="visible && config | isAnyKanbanAttributeSelected">
  <h6 class="mt-4 font-weight-bold" i18n="@@perspective.kanban.config.column.size">Column size</h6>
  <size-slider class="d-block w-100" [defaultSize]="config?.columnSize"
               (newSize)="onColumnSizeChanged($event)">

  </size-slider>

  <h6 class="mt-4 font-weight-bold" i18n="@@perspective.kanban.config.card.layout">Card layout</h6>
  <values-slider class="d-block w-100" [items]="cardLayoutSliderItems"
                 [selectedId]="config?.cardLayout"
                 (itemSelected)="onCardLayoutChanged($event)">
  </values-slider>
</ng-container>
