<!--array-->
<ng-container *ngIf="isArray(children)">

  <ng-container *ngIf="isStringArray(children)">
    {{ children.join(', ') }}
  </ng-container>

  <ul *ngIf="!isStringArray(children)">
    <li *ngFor="let attribute of children">
      <ng-container *ngIf="isLeaf(attribute)">{{ attribute }}</ng-container>
      <attribute-value *ngIf="!isLeaf(attribute)"
                 [children]="attribute"
                 [editable]="editable"
                 (change)="event($event)"></attribute-value>
    </li>
  </ul>
</ng-container>

<!--object-->
<ul *ngIf="isObject(children)">
  <ng-container *ngFor="let attribute of keys(children)">
    <ng-container *ngIf="isDefined(children[attribute])">
      <li>
        <span>{{ attribute }}:</span>

        <ng-container *ngIf="isLeaf(children[attribute])">{{ children[attribute] }}</ng-container>
        <attribute-value *ngIf="!isLeaf(children[attribute])"
                   [children]="children[attribute]"
                   [editable]="editable"
                   (change)="event($event)"></attribute-value>
      </li>
    </ng-container>
  </ng-container>
</ul>
