@import '~src/styles/bootstrap_var';

:host {
  display: block;
  position: relative;
}

.overflow-auto {
  overflow: auto;
}

.toggle {
  opacity: 0.6;
}

@include media-breakpoint-down(sm) {
  .position-absolute-mobile {
    position: absolute;
    z-index: 1100; // needs to be shown above map
  }
}
