<ul
  *ngIf="{organization: organization$ | async, project: project$ | async, organizations: organizations$ | async, currentUser: currentUser$ | async} as data"
  [style.height.px]="contentHeight"
  class="navbar navbar-triangle my-0 p-0 me-3 flex-nowrap">
  <li class="nav-item dropdown">
    <div class="position-relative">
      <div class="nav-link text-truncate" role="button"
           tooltip="Organization menu"
           i18n-tooltip="@@topPanel.organizationMenu.title"
           placement="bottom"
           [class.cursor-pointer]="showDropdowns"
           [isDisabled]="!showDropdowns"
           (click)="showDropdowns && organizationMenu.open()"
           [style.maxWidth.rem]="8" #organizationElement>
        <i [class]="data.organization?.icon" [style.color]="data.organization?.color">
        </i>
        &nbsp;{{data.organization?.code}}
      </div>
      <hint *ngIf="data.currentUser.hints.logoHintDismissed && !data.currentUser.hints.organizationMenuHintDismissed"
            (dismissHint)="onHintDismissed('organization')"
            title="Organization Menu">
        <span>Zde je vidět jednoduchý přehled Vaší organizace. Je zde rychle vidět počet členů a projektů v dané organizaci. Je tu také možnost přizvat uživatele, nebo zakoupit Business verzi Aplikace. Mimo to, jako uživatel můžete být členem několika organizací - a pokud byste patřili do nějaké další organizace, byla by tu uvedena a mohli byste aktivní organizaci jednoduše přepnout.</span>
      </hint>
      <resource-menu #organizationMenu
                     [type]="organizationResourceType"
                     [resource]="data.organization"
                     [origin]="organizationElement"
                     [organizations]="data.organizations"
                     [workspace]="workspace"
                     (onResourceSelect)="selectOrganization($event)"
                     (onNewResource)="createNewOrganization()">
      </resource-menu>
    </div>
  </li>
  <li class="nav-separator"><i class="fas fa-chevron-right"></i></li>
  <li class="nav-item dropdown">
    <div class="position-relative">
      <div class="nav-link text-truncate" role="button"
           tooltip="Project menu"
           i18n-tooltip="@@topPanel.projectMenu.title"
           placement="bottom"
           [class.cursor-pointer]="showDropdowns"
           [isDisabled]="!showDropdowns"
           [style.maxWidth.rem]="8"
           (click)="showDropdowns && projectMenu.open()"
           #projectElement>
        <i [class]="data.project?.icon" [style.color]="data.project?.color"></i>
        &nbsp;{{data.project?.code}}
      </div>
      <hint *ngIf="data.currentUser.hints.organizationMenuHintDismissed && !data.currentUser.hints.projectMenuHintDismissed"
            (dismissHint)="onHintDismissed('project')"
            title="Project Menu">
        <span>Podobně jako u nabídky organizace - můžete zde vidět název projektu, popis, počet tabulek a záznamů. V případě více projektů budou ve spodní části taky vypsané další dostupné projekty, mezi kterými se můžete přepínat. Dále se tu pak nachází možnost vytvořit nový projekt, kde si můžete některou z mnoha existujících šablon, nebo začít s prázdným projektem.</span>
      </hint>
      <resource-menu #projectMenu
                     [type]="projectResourceType"
                     [resource]="data.project"
                     [workspace]="workspace"
                     [projects]="projects$ | async"
                     [organizations]="data.organizations"
                     [origin]="projectElement"
                     (onResourceSelect)="selectProject(data.organization, $event)"
                     (onNewResource)="createNewProject(data.organization)">
      </resource-menu>
    </div>
  </li>
</ul>
