<ul *ngIf="{organization: organization$ | async, project: project$ | async} as data"
    class="navbar navbar-triangle my-0 p-0 mr-3 flex-nowrap">
  <li class="nav-item dropdown">
    <div class="nav-link text-truncate cursor-pointer" role="button"
         title="Organization menu"
         i18n-title="@@topPanel.organizationMenu.title"
         (click)="onOrganizationClick()"
         [style.maxWidth.rem]="10" #organizationElement>
      <i [class]="data.organization?.icon" [style.color]="data.organization?.color">
      </i>
      &nbsp;{{data.organization?.code}}
    </div>
    <resource-menu #organizationMenu
                   [type]="organizationResourceType"
                   [resource]="data.organization"
                   [origin]="organizationElement"
                   [organizations]="organizations$ | async"
                   [workspace]="workspace"
                   (onResourceSelect)="selectOrganization($event)"
                   (onNewResource)="createNewOrganization()">
    </resource-menu>
  </li>
  <li class="nav-separator"><i class="fas fa-chevron-right"></i></li>
  <li class="nav-item dropdown">
    <div class="nav-link text-truncate cursor-pointer" role="button"
         title="Project menu"
         i18n-title="@@topPanel.proejctMenu.title"
         (click)="onProjectClick()"
         #projectElement>
      <i [class]="data.project?.icon" [style.color]="data.project?.color"></i>
      &nbsp;{{data.project?.code}}
    </div>
    <resource-menu #projectMenu
                   [type]="projectResourceType"
                   [resource]="data.project"
                   [workspace]="workspace"
                   [projects]="projects$ | async"
                   [origin]="projectElement"
                   (onResourceSelect)="selectProject(data.organization, $event)"
                   (onNewResource)="createNewProject(data.organization)">
    </resource-menu>
  </li>
</ul>
