<ng-container *ngIf="loaded$ | async">

  <div *ngIf="getDocuments().length; else noDocuments"
       class="container-fluid" infiniteScroll
       [infiniteScrollDistance]="2"
       (scrolled)="onScrollDown($event)">
    <div class="my-2 d-flex align-items-center">
      <add-document
        [disabled]="!(collections?.length === 1 && (collections[0] | collectionPermissions:'write' | async))"
        [collection]="collections[0]"
        [query]="query"
        (createPostIt)="createPostIt($event)">
      </add-document>

      <size-slider class="ml-auto"
                   [disabled]="!canManageConfig"
                   [defaultSize]="size$ | async"
                   (newSize)="onSizeChange($event)">
      </size-slider>
    </div>

    <div class="post-it-document-layout row" #postItLayout>

      <ng-container *ngIf="layout">

        <div class="layout-item {{size$ | async | postItColumnStyle}} mb-3"
             layout-item
             [layout]="layout"
             *ngFor="let doc of getDocuments(); trackBy:trackByDocument; let idx = index"
             attr.key="{{doc.id}}"
             id="{{perspectiveId}}#{{doc.correlationId || doc.id}}">
          <post-it-document
            class="card post-it"
            [canManageConfig]="canManageConfig"
            [ngClass]="doc.id ? 'initialized': 'uninitialized'"
            [collection]="doc | documentCollection:collections"
            [index]="idx"
            [documentModel]="doc"
            [perspectiveId]="perspectiveId"
            [selectionHelper]="selectionHelper"
            (remove)="removePostIt(doc)"
            (sizeChange)="postItChanged()">
          </post-it-document>

        </div>

      </ng-container>

    </div>
  </div>

</ng-container>

<ng-template #noDocuments>
  <empty-post-its
    [query]="query"
    [collections]="collections"
    (createPostIt)="createPostIt($event)">
  </empty-post-its>
</ng-template>
