<div class="post-it-document-layout d-flex mx-5" #layout>

  <add-document *ngIf="isAddButtonShown()"
                class="layout-item"
                [attr.order]="-1"
                (createPostIt)="createPostIt($event)"></add-document>

  <post-it-document *ngFor="let postIt of postIts; let idx = index"
                    class="layout-item card post-it {{ !postIt.initialized ? 'uninitialized' : null }}"
                    [attr.order]="postIt.order"
                    [postItModel]="postItWithIndex(postIt, idx)"
                    [perspectiveId]="perspectiveId"
                    [selectionManager]="selectionManager"
                    [navigationManager]="navigationManager"
                    (removed)="deletePostIt(postIt)"
                    (changes)="postItChanged(postIt)"></post-it-document>

  <datalist *ngFor="let collection of usedCollections()"
            id="{{ perspectiveId }}{{ collection.code }}">
    <option *ngFor="let attribute of collection.attributes">{{ attribute.name }}</option>
  </datalist>

  <label *ngIf="!editable && navigationManager.hasQuery() && !postIts.length"
         class="label-centered"
         i18n="@@document.list.empty">Nothing To Show</label>
</div>

<div class="fading loading-text text-center py-5" [style.opacity]="infiniteScrollManager.isLoading() ? 1 : 0">
  Loading...
</div>
