@import "../../../shared/variables";

:host {
  display: block;

  .perspective {
    overflow: auto;
    transition: height $animation-duration-slow;
  }

  .layout {
    margin: 0 auto;
  }

  .layout-item {
    width: $post-it-width;
    transition: transform $animation-duration, box-shadow $animation-duration;
  }

  .post-it:hover, .selected {
    box-shadow: $shadow-default;
  }

  .post-it:hover {
    z-index: $z-index-hovered;
  }

  .selected {
    z-index: $z-index-selected;
  }

  .uninitialized {
    border-width: 1.5px;
    border-style: dashed;
  }

  .scroll-down {
    cursor: auto;
    font-size: 24px;
    float: right;
    margin: 10px;

    i {
      padding-left: 10px;
    }
  }
}
