@import "../../../shared/variables";

:host {
  display: block;

  .post-it-document-layout {
    position: relative;
    margin: 0 auto;
  }

  .layout-item {
    will-change: transform;
    position: absolute;
    margin: 5px;
    width: $post-it-width;
  }

  .post-it:hover {
    z-index: $z-index-hovered;
  }

  .masonry-layout-item-dragging, .masonry-layout-item-releasing, .selected {
    z-index: $z-index-selected;
  }

  .uninitialized {
    border-width: 1.5px;
    border-style: dashed;
  }

  .large-text {
    font-size: 36px;
  }

}
