@import '../../../../styles/variables';

.layout-item {
  position: absolute;
}

.post-it-document-layout {
  transition: height $animation-duration;
  position: relative;
}

.post-it:hover,
.selected {
  box-shadow: $shadow-default;
}

.post-it:hover {
  z-index: $z-index-hovered;
}

.masonry-layout-item-dragging {
  cursor: move;
}

.masonry-layout-item-dragging,
.masonry-layout-item-releasing {
  z-index: $z-index-selected;
}

.uninitialized {
  border-width: 1.5px;
  border-style: dashed;
}

.loading-text {
  position: relative;
  font-size: 36px;
  pointer-events: none;
}
