<div class="mx-5" #layout>
  <div class="m-2">
    <add-document
      [hasCollection]="hasSingleCollection()"
      [hasRights]="hasCreateRights()"
      (createPostIt)="createPostIt($event)">
    </add-document>
  </div>

  <div class="post-it-document-layout" #layoutGrid>
    <ng-container *ngIf="layoutManager">
      <post-it-document *ngFor="let postIt of postIts; let idx = index; trackBy:trackByDocument"
                        layout-item
                        [layout]="layoutManager"
                        [insertedAt]="postIt.initialized ? MAX_SAFE_INTEGER : 0"
                        class="layout-item card post-it {{ !postIt.initialized ? 'uninitialized' : 'initialized' }}"
                        [collectionRoles]="getCollectionRoles(postIt)"
                        [postItModel]="postIt.withIndex(idx)"
                        [perspectiveId]="perspectiveId"
                        [selectionHelper]="selectionHelper"
                        [navigationHelper]="navigationHelper"
                        (removed)="deletePostIt(postIt)"
                        (changes)="postItChanged(postIt)"></post-it-document>
    </ng-container>

    <label *ngIf="(!hasSingleCollection() || !hasCreateRights()) && !postIts.length"
           class="label-centered"
           i18n="@@document.list.empty">Nothing To Show</label>
  </div>
</div>

<div class="fading loading-text text-center py-5"
     [style.opacity]="infiniteScroll.isLoading() ? 1 : 0"
     i18n="@@documents.post.it.loading">
  Loading...
</div>
