@import "../../../shared/variables";

:host {
  display: block;

  .post-it-document-layout {
    transition: height $animation-duration;
    position: relative;
    margin: 0 auto;
  }

  .layout-item {
    will-change: transform;
    position: absolute;
    margin: 5px;
    width: $post-it-width;
  }

  .post-it:hover, .selected {
    box-shadow: $shadow-default;
  }

  .post-it:hover {
    z-index: $z-index-hovered;
  }

  .masonry-layout-item-dragging {
    cursor: move;
  }

  .masonry-layout-item-dragging, .masonry-layout-item-releasing {
    z-index: $z-index-selected;
  }

  .uninitialized {
    border-width: 1.5px;
    border-style: dashed;
  }

  .initialized {
    padding-top: 0.5px;
    padding-bottom: 0.5px;
  }

  .loading-text {
    position: relative;
    top: 50px;

    font-size: 36px;

    pointer-events: none;
  }

}
