<ng-container *ngIf="{containsDeleted: (queryItems | containsDeletedQueryItem)} as data">

  <div class="card p-2 mb-2 view flex-row align-items-center view-hover"
       [class.mb-2]="viewSize !== sizeType.S"
       [class.mb-1]="viewSize === sizeType.S"
       [class.pb-3]="viewSize == sizeType.L"
       (click)="!$event.defaultPrevented && onClicked()">

    <div class="mr-3">
      <i
        [ngClass]="viewSize | viewIconSize"
        class="fa-fw {{icon}} align-self-center"
        [ngStyle]="viewSize === sizeType.L ? {} : {color: queryItems | queryColor}"
        aria-hidden="true">
      </i>
    </div>

    <div class="flex-column flex-grow-1 text-truncate" [class.align-self-center]="viewSize !== sizeType.L">
      <div class="d-flex flex-row align-items-center">
          <span class="text-truncate font-weight-bold flex-grow-1 mr-2"
                [class.title]="viewSize !== sizeType.S">
            {{view.name}}
            <i *ngIf="data.containsDeleted" class="fa fa-exclamation-triangle text-warning ml-1"
               title="View is not valid because some of the resources were deleted"
               i18n-title="@@view.detail.warning.deleted"></i>
          </span>

        <i class="fa-star mr-2 text-warning cursor-pointer hiding-icon"
           *ngIf="permissions?.read"
           (click)="$event.preventDefault(); onFavoriteToggle()"
           [class.always-visible]="view.favorite"
           title="{{ view.favorite ?  'Remove from favorites' : 'Add to favorites'}}"
           i18n-title="@@view.favorite"
           [ngClass]="view.favorite ? 'fas' : 'far'"
           aria-hidden="true">
        </i>

        <ng-container *ngIf="permissions?.manage">
          <i class="fas fa-fw fa-share-alt mr-2 text-success cursor-pointer"
             (click)="$event.preventDefault(); onShareClick()"
             title="Share" i18n-title="@@button.share"
             aria-hidden="true">
          </i>
          <i class="far fa-fw fa-trash-alt text-danger cursor-pointer"
             (click)="$event.preventDefault(); onDelete()"
             title="Delete" i18n-title="@@delete"
             aria-hidden="true">
          </i>
        </ng-container>

      </div>

      <div class="d-flex flex-wrap" *ngIf="viewSize === sizeType.L">
        <query-item *ngFor="let queryItem of queryItems; trackBy:trackByQueryItem; let isLast = last"
                    [queryItem]="queryItem"
                    [queryItemForm]="queryItem | queryItemForm"
                    [readonly]="true"
                    class="d-inline-flex mt-1 align-items-center"
                    [class.mr-1]="!isLast">
        </query-item>
      </div>
    </div>

  </div>

</ng-container>
