<ng-container *ngIf="{selectedCursor: selectedCursor$ | async}; let row">
  <ng-container *ngFor="let column of columns$ | async; trackBy: trackByAttributeIds; let columnIndex = index">
    <ng-container *ngIf="column | isSingleColumn; else emptyCell">
      <ng-container *ngIf="!((documents || linkInstances) | lengthGreaterThan:1); else collapsedCell">
        <ng-container *ngIf="{
          cursor: cursor | columnCursor:columnIndex,
          document: documents ? documents[0] : null,
          linkInstance: linkInstances ? linkInstances[0] : null,
          selected: row.selectedCursor | cursorEquals:(cursor | columnCursor:columnIndex)
        }; let cell">
          <table-data-cell-suggestions *ngIf="cell.selected && !(cursor | isFirstPart) && !((cell.document | entityCreated) || (cell.linkInstance | entityCreated)) && editedValue"
                                       [column]="column"
                                       [cursor]="cell.cursor"
                                       [table]="table"
                                       [value]="editedValue"
                                       (linkCreate)="onLinkCreate(cell.cursor)">
          </table-data-cell-suggestions>

          <table-data-cell-menu *ngIf="cell.selected"
                                [cursor]="cell.cursor"
                                [document]="cell.document"
                                [linkInstance]="cell.linkInstance"
                                [table]="table"
                                (edit)="onEdit()">
          </table-data-cell-menu>

          <div tableDataCell
               [affected]="editedAttribute$ | async | affectedCell:(documents || linkInstances):column"
               [column]="column"
               [cursor]="cell.cursor"
               [document]="cell.document"
               [linkInstance]="cell.linkInstance"
               [table]="table"
               tableEditableCell
               [contextMenu]="dataCellMenu?.contextMenu"
               [readonly]="false"
               [selected]="cell.selected"
               [value]="(cell.document | extractValue:column) || (cell.linkInstance | extractValue:column)"
               (valueChange)="onValueChange($event)"
               [class.transparent-border-top]="cursor | isFirstRow"
               [style.width]="column | columnWidth | pixel"
               (mousedown)="onMouseDown($event, columnIndex)"
               (moveCursor)="onMoveCursor($event)"
               class="d-block table-border-right table-border-bottom">
          </div>
        </ng-container>
      </ng-container>

      <ng-template #collapsedCell>
        <table-collapsed-cell [affected]="editedAttribute$ | async | affectedCell:(documents || linkInstances):column"
                              [column]="column"
                              [cursor]="cursor | columnCursor:columnIndex"
                              [documents]="documents"
                              [linkInstances]="linkInstances"
                              [selected]="row.selectedCursor | cursorEquals:(cursor | columnCursor:columnIndex)"
                              [style.width]="column | columnWidth | pixel"
                              [class.transparent-border-top]="cursor | isFirstRow"
                              (mousedown)="onMouseDown($event, columnIndex)"
                              class="d-block table-border-right table-border-bottom">
        </table-collapsed-cell>
      </ng-template>
    </ng-container>

    <ng-template #emptyCell>
      <div [style.width.px]="column | columnWidth"
           class="table-border-right table-border-bottom">
      </div>
    </ng-template>
  </ng-container>
</ng-container>
