<h4 i18n="@@collections.tab.attributes.header">Existing attributes</h4>
<table class="table table-striped table-sm">
  <thead [style.background-color]="collection.color | lightenColor:.5">
  <tr>
    <th class="text-center" style="width: 3rem;">
      <i class="fas fa-fw fa-check-circle cursor-pointer"
         title="Displayed attribute"
         i18n-title="@@collection.tab.attributes.attribute.default"></i>
    </th>
    <th i18n="@@collections.tab.attributes.attribute">Attribute</th>
    <th i18n="@@collections.tab.attributes.usage">Usage Count</th>
    <th style="width: 30%;" class="text-right">
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text" id="search-user1"><i class="fas fa-search"></i></span>
        </div>
        <input id="attributeSearch" class="form-control mr-1" type="search"
               placeholder="Search attribute..."
               i18n-placeholder="@@collections.tab.attributes.search.placeholder"
               title="Search for attributes" i18n-title="@@collections.tab.attributes.search.title"
               aria-describedby="search-attribute1"
               [(ngModel)]="searchString">
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let attribute of collection.attributes | attributeFilter:searchString; trackBy:trackByAttributeId">
    <th scope="row"
        class="icon-hover text-center align-items-center align-middle"
        [class.visible]="attribute | isDefaultAttribute:collection">
      <i *ngIf="attribute | isDefaultAttribute:collection; else notDefaultIcon"
         class="fas fa-fw fa-check-circle cursor-pointer"
         title="Displayed attribute"
         i18n-title="@@collection.tab.attributes.attribute.default"
         (click)="setDefaultAttribute(attribute)"></i>
      <ng-template #notDefaultIcon>
        <i class="fas fa-fw fa-check cursor-pointer"
           title="Set displayed attribute"
           i18n-title="@@collection.tab.attributes.attribute.default.set"
           (click)="setDefaultAttribute(attribute)"></i>
      </ng-template>
    </th>
    <td class="align-middle">
      <input-box
        innerClass="bg-transparent"
        [class.font-weight-bold]="attribute | isDefaultAttribute:collection"
        [canStayEmpty]="true"
        [userData]="false"
        [title]="attribute.name"
        placeholder="Enter attribute name"
        placeholder-i18n="@@collection.tab.attributes.attribute.placeholder"
        [initialValue]="attribute.name"
        [filter]="inputRegex"
        (newValue)="onNewName(attribute, $event)"
        #attributeNameInput>
      </input-box>
    </td>
    <td class="align-middle">
          <span [class.font-weight-bold]="attribute | isDefaultAttribute:collection">
            {{attribute.usageCount}}
          </span>
    </td>
    <td class="text-right align-middle">
      <i class="fas fa-fw fa-trash text-danger cursor-pointer mr-1"
         (click)="onDeleteAttribute(attribute)"
         title="Remove Attribute" i18n-title="@@remove.attribute"
      ></i>
    </td>
  </tr>
  <tr *ngIf="!collection.attributes?.length">
    <td colspan="4" class="align-middle text-center" i18n="@@collection.tab.attributes.none">There are no attributes
      yet. Create one!
    </td>
  </tr>
  </tbody>
</table>
