@import '../../../../styles/bootstrap_var';

:host {
  display: flex;
  height: 100%;
  overflow: auto;
}

@include media-breakpoint-down(xs) {
  .nav-link {
    padding: 0.5rem 0.8rem;
  }
}

.content {
  border-bottom: 1px solid $gray-300;
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: flex-end;

  .nav-tabs {
    border-bottom: 0;
  }
}
