<div class="container-fluid d-block col-12 col-lg-10 col-xl-9" *ngIf="{queryParams: queryParams$ | async} as data">
  <div class="content">
    <ul class="nav nav-tabs">
      <li *ngFor="let tab of tabs$ | async; trackBy: trackByTab" role="presentation" class="nav-item position-relative"
          [attr.data-tour]="'tab-' + tab.id">
        <a [routerLink]="tab.id"
           [queryParams]="data.queryParams"
           routerLinkActive="active"
           class="nav-link">{{tab.title}}</a>
        <hint *ngIf="shouldDisplayTabHint(tab.type) | async"
              class="tab-hint"
              (dismissHint)="onHintDismissed(tab.type)"
              title="{{tab.hintTitle}}">
          <span>{{tab.hintContent}}</span>
        </hint>
      </li>
    </ul>
    <div class="position-relative">
      <i class="fas fa-cog text-primary clickable me-2 py-3" tooltip="Tabs and Dashboards Configuration"
         i18n-tooltip="@@search.tabs.settings.button.title" placement="start"
         (click)="onSettingsClick()">
      </i>
      <hint *ngIf="displayDashboardSettingsHint$ | async"
            class="dashboard-hint"
            (dismissHint)="onHintDismissed('dashboard_settings')"
            title="Dashboard Settings"
            i18n-title="@hint.dashboardSettings.title">
        <span i18n="@@hint.dashboardSettings.content">Configure tabs on your home screen as well as their content to get quick access to the most important data. Of course, you can hide, rename and change the order of the tabs.</span>
      </hint>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
