@import '../../../../styles/bootstrap_var';

:host {
  display: flex;
  height: 100%;
  overflow: auto;
}

@include media-breakpoint-down(md) {
  .nav-link {
    padding: 0.5rem 0.8rem;
  }
}

.content {
  border-bottom: 1px solid $gray-300;
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: flex-end;

  .nav-tabs {
    border-bottom: 0;
  }
}

hint.dashboard-hint {
  position: absolute;
  top: 38px;
  right: 5px;
}

@media screen and (max-width: 767px) {
  hint.tab-hint {
    position: absolute;
    top: 30px;
    right: 6px;
  }
}

@media screen and (min-width: 768px) {
  hint.tab-hint {
    position: absolute;
    top: 30px;
    right: 25px;
  }
}
