<div class="lum-tag">
  <div *ngFor="let oneTag of tags; let tagIndex = index"
       #tagItem
       tabindex="0"
       class="lum-tag-item"
       (focus)="onItemFocus()"
       (dblclick)="onDbClick(tagIndex)"
       (keydown)="onKeyDown($event, tagIndex)">
    <template ngFor let-displayKey let-odd="odd" [ngForOf]="options.toDisplay" >
      <span *ngIf="odd">
        :
      </span>
      <lum-auto-complete *ngIf="isTagEditable(tagIndex, displayKey)"
                         [source]="oneTag.source || options[displayKey]"
                         [options]="autocompleteOptions"
                         [(modelData)]="oneTag[displayKey]">
        <span contenteditable="true"
              [textContent]="oneTag[displayKey]"
              (blur)="addItem(tagIndex, oneTag);"
              (input)="oneTag[displayKey] = $event.target.textContent">
        {{oneTag[displayKey]}}
      </span>
      </lum-auto-complete>
      <span *ngIf="!isTagEditable(tagIndex, displayKey)">
        {{oneTag[displayKey]}}
      </span>
    </template>
    <span (click)="deleteItem(tagIndex)"
          *ngIf="!oneTag.sticky"
          class="lum-remove">
      <i class="fa fa-times" aria-hidden="true"></i>
    </span>
  </div>
  <form (keydown)="onKeyDown($event, -1)">
    <lum-auto-complete [source]="options.values"
                       [options]="autocompleteOptions"
                       [(modelData)]="tagValue">
      <input #tagsInput
             type="text"
             class="lum-editable"
             (focus)="onItemFocus()"
             [(ngModel)]="tagValue" name="text"
             [attr.placeholder]="placeholder"/>
    </lum-auto-complete>
  </form>
</div>
