<div class="pt-2 px-2 pb-0 position-absolute bg-white">
  <i class="fal fa-times close-icon cursor-pointer p-1"
     (click)="onCloseClick()"
     i18n-title="@@close"
     i18n="Close"></i>
</div>
<div class="px-3 pb-3 pt-5">
  <data-resource-detail [resource]="collection"
                        [dataResource]="document"
                        [query]="query"
                        [preventEventBubble]="false"
                        [ignoreSettingsOnReadPermission]="true"
                        [allowSelectDocument]="false"
                        [permissions]="permissions"
                        [attributeSettings]="viewSettings | resourceAttributesSettings:collectionResourceType:collection.id"
                        [viewSettings]="viewSettings">
  </data-resource-detail>
</div>
