@import 'src/styles/bootstrap_var';

@include media-breakpoint-down(sm) {
  .user-box {
    flex-wrap: wrap !important;
  }

  .user-name {
    padding-top: 0.5rem;
  }
}

.user-box {
  display: grid;
  align-items: center;
}
