@import '../../../styles/variables';

user-tag {
  > div {
    background-color: $secondary-color;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 2px 2px 12px #888888;
  }
  .icon {
    float: left;
    width: 50px;
    height: 50px;
    vertical-align: top;
    text-align: center;
    background: $primary-color;
    border-radius: 25px;
    font-size: $font-size-large * 2;
  }

  .info {
    .user {
      font-weight: bold;
    }

    .date-time {
      font-style: italic;
      font-size: $font-size-small;
    }
  }
}
