<div #linkMenu
     [contextMenu]="contextMenu"
     (click)="onClick($event)"
     class="h-100">
  <icons-presenter [colors]="collections | colors"
                   [icons]="collections | icons"
                   [title]="linkType.name">
  </icons-presenter>
</div>

<context-menu #contextMenu>
  <ng-template (execute)="switchParts.emit()"
               contextMenuItem>
    <i class="fa fa-fw fa-exchange mr-1"></i>&nbsp;
    <span i18n="@@table.header.switch.parts">Switch collections order</span>
  </ng-template>
  <ng-template (execute)="removePart.emit()"
               contextMenuItem>
    <i class="fa fa-fw fa-plug mr-1"></i>&nbsp;
    <span i18n="@@table.header.remove.part">Disconnect collection</span>
  </ng-template>
</context-menu>
