<div #linkMenu
     (contextmenu)="onContextMenu()"
     [matMenuTriggerFor]="contextMenu"
     class="d-flex justify-content-center align-items-center h-100 p-1">
  <icons-presenter *ngIf="!hidden; else iconPlaceholder"
                   [colors]="collections | colors"
                   [icons]="collections | icons"
                   [title]="linkType?.name">
  </icons-presenter>
  <ng-template #iconPlaceholder>
    <i class="fa fa-fw fa-caret-down color-gray-600 hover-effect"></i>
  </ng-template>
</div>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent>
    <button (click)="addLinkColumn.emit()"
            [disabled]="!allowedPermissions?.roles.AttributeEdit"
            mat-menu-item>
      <i class="fa fa-fw fa-plus-circle mr-1"></i>&nbsp;
      <span i18n="@@table.header.add.link.column">Add link column</span>
    </button>
    <hr class="my-2">
    <button *ngIf="switchingEnabled"
            (click)="switchParts.emit()"
            [disabled]="!canManageView"
            mat-menu-item>
      <i class="fa fa-fw fa-exchange mr-1"></i>&nbsp;
      <span i18n="@@table.header.switch.parts">Switch tables order</span>
    </button>
    <button (click)="removePart.emit()"
            [disabled]="!canManageView"
            mat-menu-item>
      <i class="fa fa-fw fa-plug mr-1"></i>&nbsp;
      <span i18n="@@table.header.remove.part">Disconnect table</span>
    </button>
  </ng-template>
</mat-menu>
