<div class="header">
  <span [style.color]="data.collection.color" title="{{ data.collection.name }}">
    <i class="fa {{ data.collection.icon }} collection-icon"></i><!--
    --><label class="name">{{ data.collection.name }}</label>
  </span>

  <ng-container *ngIf="data.writeRole">
    <a class="editable" title="Edit Document" (click)="setEditMode(true); select(0, 0)">
      <i class="fa fa-fw fa-pencil"></i>
    </a>
    <a class="editable remove" title="Remove Document" (click)="onRemoveDocumentClick()">
      <i class="fa fa-fw fa-times"></i>
    </a>
  </ng-container>
</div>

<ul class="content" [style.cursor]="data.writeRole ? 'cell' : ''" #content>
  <li *ngFor="let attributePair of attributePairs; let row = index">

    <ng-container *ngIf="data.writeRole; then editablePair else nonEditablePair"></ng-container>

    <ng-template #editablePair>
      <div id="AttributePair{{ index }}[0, {{ row }}]" class="attribute" tabindex="-1"
           (keydown)="onKeyDown($event)"
           (click)="clickOnAttributePair(0, row)">

        <ng2-completer title="{{ attributePair.attribute }}"
                       [datasource]="data.attributes"
                       [minSearchLength]="0"
                       [textNoResults]="null"
                       [ngModel]="attributePair.attribute"
                       (ngModelChange)="updateAttribute(attributePair, $event)"
                       (keydown)="onKeyDown($event)">
        </ng2-completer>
      </div>

      <div id="AttributePair{{ index }}[1, {{ row }}]" tabindex="-1"
           title="{{ attributePair.value }}"
           (keydown)="onKeyDown($event)"
           (click)="clickOnAttributePair(1, row)">

        <ng2-completer title="{{ attributePair.value }}"
                       [datasource]="[]"
                       [textNoResults]="null"
                       [ngModel]="attributePair.value"
                       (ngModelChange)="updateValue(attributePair, $event)"
                       (keydown)="onKeyDown($event)">
        </ng2-completer>
      </div>
    </ng-template>

    <ng-template #nonEditablePair>
      <div class="attribute">
        <input title="{{ attributePair.attribute }}" readonly [ngModel]="attributePair.attribute">
      </div>

      <div>
        <input title="{{ attributePair.value }}" readonly [ngModel]="attributePair.value">
      </div>
    </ng-template>

  </li>

  <li *ngIf="data.writeRole">
    <div id="AttributePair{{ index }}[0, {{ attributePairs.length }}]" class="attribute" tabindex="-1"
         (keydown)="onKeyDown($event)"
         (click)="clickOnAttributePair(0, attributePairs.length)">

      <ng2-completer title="{{ newAttributePair.attribute }}"
                     placeholder=" + "
                     [datasource]="data.attributes"
                     [minSearchLength]="0"
                     [textNoResults]="null"
                     [(ngModel)]="newAttributePair.attribute"
                     (keydown)="onKeyDown($event)">
      </ng2-completer>
    </div>

    <div id="AttributePair{{ index }}[1, {{ attributePairs.length }}]"
         [attr.tabindex]="newAttributePair.attribute ? -1 : ''"
         (keydown)="onKeyDown($event)"
         (click)="newAttributePair.attribute && clickOnAttributePair(1, attributePairs.length)">

      <input title="{{ newAttributePair.value }}"
             [disabled]="!newAttributePair.attribute"
             (keydown)="$event.key.length === 1 && createAttributePair($event.key)"/>
    </div>

  </li>
</ul>

<!-- additional buttons -->
<div class="edit">
  <span class="primary-edit">
    <a title="Details">
      <i class="fa fa-fw fa-search"></i>
    </a>
  </span>

  <span class="secondary-edit">
    <!--the comments remove added space between icons-->
    <a title="Incoming Links"><i class="fa fa-fw fa-sign-in"></i></a><!--
    --><a title="Outgoing Links"><i class="fa fa-fw fa-sign-out"></i></a><!--
    --><a title="History"><i class="fa fa-fw fa-history"></i></a><!--
    --><a title="User Rights"><i class="fa fa-fw fa-users"></i></a>
  </span>
</div>
