@import "../../../../../../styles/variables";

.post-it {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;

  background: $secondary-color;
  box-shadow: $default-shadow-down;

  position: relative;

  margin: 7.5px;
  padding: 6px 10px;

  border: 1px solid #cccccc;
  border-radius: $border-radius-small;

  .header {
    .collection-icon {
      font-size: 20px;

      &:hover {
        background: transparent;
      }
    }

    a {
      float: right;
      font-size: medium;
    }
  }

  .content {
    min-height: 100px;
    margin-top: 5px;
    padding: 0;

    border: 1px solid #e5e5e5;
    border-radius: $border-radius-small;
    overflow: hidden;
  }

  .edit {
    margin-top: 3px;
    font-size: medium;

    .secondary-edit {
      float: right;
    }
  }

  &:hover {
    box-shadow: $default-shadow-up;

    a {
      color: $brand-success;
    }

    .fa-times {
      color: $brand-danger;
    }
  }
}

a, .fa-times {
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;

  color: $secondary-color;
}

i {
  -webkit-transition: background 0.25s;
  -moz-transition: background 0.25s;
  -o-transition: background 0.25s;
  transition: background 0.25s;

  padding: 4px 12px;
  margin: 0;

  border-radius: $border-radius-small;

  &:hover {
    background: #e8e8e8;
  }

  &:before {
    margin: -10px;
  }
}


