<form class="form-inline d-flex flex-nowrap">
  <div (click)="onPerspectiveChooserClick($event)"
       class="form-control dropdown mr-2 p-0" title="Perspective" i18n-title="@@view.perspective">
    <div class="dropdown-toggle py-1 px-2 d-flex flex-nowrap align-items-center"
         id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa-fw {{perspective | perspectiveIcon}}"></i>
      <span class="ml-1 text-nowrap" i18n="@@view.perspective.name">{perspective, select, detail {Detail} postit {Post-it} chart {Chart} search {Search} table {Table} table2 {Table 2} smartdoc {Smart document}}</span>
    </div>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <ng-container *ngFor="let perspective of perspectives | filterPerspectives:view.query">
        <div (click)="onSelectPerspective(perspective)"
             class="dropdown-item">
          <i class="fa-fw {{perspective | perspectiveIcon}}"></i>
          <span class="ml-1 text-nowrap" i18n="@@view.perspective.name">{perspective, select, detail {Detail} postit {Post-it} chart {Chart} search {Search} table {Table} table2 {Table 2} smartdoc {Smart document}}</span>
        </div>
      </ng-container>
    </div>
  </div>
  <input #viewNameInput
         id="viewName"
         name="viewName"
         title="View name" i18n-title="@@view.name"
         class="form-control-lg p-2 border-0 flex-grow-2 no-outline"
         [class.font-italic]="!view.code || nameChanged"
         (input)="onNameInput(viewNameInput.value)"
         placeholder="Untitled view" i18n-placeholder="@@view.untitled"/>
  <i *ngIf="isViewChanged()"
     class="far fa-exclamation-triangle fa-fw text-warning mx-1"
     title="Changes has not been saved" i18n-title="@@view.indicator.not.saved">
  </i>
  <button *ngIf="viewNameInput.value && isViewChanged()"
          title="Save" i18n-title="@@view.button.save"
          class="fa-lg view-button mx-1 clickable"
          (click)="onSave(viewNameInput.value)">
    <i class="fas fa-save fa-fw"></i>
    <!--i class="fal fa-save fa-fw"></i-->
  </button>
  <i *ngIf="!(viewNameInput.value && isViewChanged())"
     class="fal fa-lg fa-save fa-fw text-light mx-1"
     title="Nothing to save" i18n-title="@@view.button.save.disabled">
  </i>
  <button *ngIf="view.code"
          title="Copy" i18n-title="@@view.button.copy"
          class="fa-lg view-button mx-1 clickable"
          (click)="onCopy()">
    <i class="fas fa-copy fa-fw"></i>
    <!--i class="fal fa-copy fa-fw"></i-->
  </button>
  <i *ngIf="!view.code"
     class="fal fa-lg fa-copy fa-fw text-light mx-1"
     title="Nothing to copy" i18n-title="@@view.button.copy.disabled">
  </i>
  <button (click)="onShareClick()"
          class="btn btn-sm btn-success mx-1"
          title="Share" i18n-title="@@view.button.share"
          type="button" i18n="@@view.button.share">
    Share
  </button>
</form>
