@import "../../shared/variables";

.dropdown {
  cursor: default;
}

.dropdown-menu {
  cursor: pointer;
}

.view-button {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.dropdown-item.active {
  color: white;

  &:hover, &:active, &:focus {
    color: white;
    background-color: lighten($primary, 15%);
  }
}
