@import "../../shared/variables";

.view-button {
  background-color: transparent;
  border: 0;
  padding: 0;

  i {
    color: $success;
  }
}

.view-button {
  .fa {
    display: none;
  }
  .fal {
    display: inherit;
  }
}

.view-button:hover {
  .fa {
    display: inherit;
  }
  .fal {
    display: none;
  }
}
