<form class="form-inline d-flex flex-nowrap">
  <div class="form-control dropdown mr-2 p-0" title="Perspective" i18n-title="@@view.perspective">
    <div class="dropdown-toggle py-1 px-2 d-flex flex-nowrap align-items-center"
         id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa-fw {{getIconForPerspective(view.perspective)}}"></i>
      <span class="ml-1" i18n="@@view.perspective">{view.perspective, select, postit {Post-it} search {Search} table {Table}}</span>
    </div>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="dropdown-item" *ngFor="let perspective of perspectives()"
           (click)="onSelectPerspective(perspective)">
        <i class="fa-fw {{getIconForPerspective(perspective)}}"></i>
        <span class="ml-1" i18n="@@view.perspective">{perspective, select, postit {Post-it} search {Search} table {Table}}</span>
      </div>
    </div>
  </div>
  <input #viewName
         id="viewName"
         name="viewName"
         title="Name" i18n-title="@@view.name"
         [value]="view.name"
         class="form-control-lg p-2 border-0 font-italic flex-grow no-outline"
         placeholder="Untitled view" i18n-placeholder="@@view.untitled"/>
  <button title="Save" i18n-title="@@view.button.save"
          class="fa-lg view-button mx-1"
          (click)="onSave()">
    <i class="fa fa-save fa-fw"></i>
    <i class="fal fa-save fa-fw"></i>
  </button>
  <button title="Copy" i18n-title="@@view.button.copy"
          class="fa-lg view-button mx-1"
          *ngIf="view"
          (click)="onCopy()">
    <i class="fa fa-copy fa-fw"></i>
    <i class="fal fa-copy fa-fw"></i>
  </button>
  <button class="btn btn-outline-success ml-2"
          type="button"
          data-toggle="modal"
          data-target="#shareDialogModal"
          i18n="@@view.button.share">Share
  </button>
</form>

<share-dialog></share-dialog>
