<dialog-wrapper [type]="'success'"
                [submitDisabled]="!(initialUserRoles | viewPermissionsChanged:userRoles)"
                (submit)="share()">
  <span class="title" i18n="@@view.share.dialog.title">Share View</span>

  <div class="body">

    <share-view-copy
      [viewShareUrl]="viewShareUrl$ | async"
      (copy)="copyToClipboard()">
    </share-view-copy>

    <hr>

    <share-view-input
      [text]="text$ | async"
      [suggestions]="suggestions$ | async"
      [selectedIndex]="selectedIndex$ | async"
      (inputChanged)="onInputChanged($event)"
      (suggestionChoose)="onSuggestionClick($event)"
      (inputKeyDown)="onKeyDown($event)"
      (suggest)="suggest()">
    </share-view-input>

    <table class="table table-striped table-sm mt-2">
      <thead>
        <tr>
          <th class="border-top-0"><span i18n="@@users.header.email">Email</span></th>
          <th class="border-top-0"><span>Roles</span></th>
        </tr>
      </thead>
      <tbody>
        <tr share-user *ngFor="let user of staticUsers.concat(changeableUsers); trackBy:trackByUser"
            [canRemove]="user | canRemoveUser:currentUser:organization:project"
            [changeRoles]="user.id !== currentUser?.id && (user | canChangeRoles:viewResourceType:organization:project)"
            [roles]="user | userRoles:userRoles"
            [email]="user.email"
            (rolesChange)="onNewRoles(user, $event)"
            (delete)="deleteUser(user)">
        </tr>
      </tbody>

    </table>
  </div>

  <span class="button-cancel" i18n="@@button.cancel">Cancel</span>
  <span class="button-submit" i18n="@@button.share">Share</span>
</dialog-wrapper>
