<dialog-wrapper [type]="'success'"
                (submit)="share()">
  <span class="title" i18n="@@view.share.dialog.title">Share View</span>

  <div class="body">
    <div class="d-flex flex-wrap w-100 pb-1 pr-1">
      <div class="email py-1 px-2 mt-1 ml-1"
           *ngFor="let email of emails">
        {{email}}
      </div>

      <div class="dropdown" *ngIf="text && suggestions.length > 0">
        <div class="dropdown-menu show suggestions">
          <div class="dropdown-item"
               *ngFor="let suggestion of suggestions"
               (click)="onSuggestionClick(suggestion)">
            {{suggestion}}
          </div>
        </div>
      </div>

      <!-- TODO remove once Angular supports ICU messages in attributes -->
      <div hidden>
      <span #inputPlaceholder i18n="@@view.share.dialog.input.placeholder">
        {emails.length, select, 0 {Enter users' emails...} other {}}
      </span>
      </div>

      <input class="border-0 flex-grow-2 no-outline py-1 px-2 mt-1 ml-1"
             [(ngModel)]="text"
             (keydown)="onKeyDown($event)"
             (keyup)="onKeyUp($event)"
             (focus)="suggest()"
             [placeholder]="removeHtmlComments(inputPlaceholder)"/>
    </div>
  </div>

  <span class="button-cancel" i18n="@@view.share.dialog.button.close">Close</span>
  <span class="button-submit" i18n="@@view.share.dialog.button.share">Share</span>
</dialog-wrapper>
