<dialog-wrapper [type]="'success'"
                [submitDisabled]="submitDisabled$ | async"
                (submit)="share()">
  <span class="title" i18n="@@view.share.dialog.title">Share View</span>

  <div class="body">
    <share-view-dialog-body [currentUser]="currentUser$ | async"
                            [organization]="organization$ | async"
                            [project]="project$ | async"
                            [view]="view$ | async"
                            [users]="users$ | async"
                            (submit)="onShare($event)"
                            (rolesChanged)="onRolesChanged($event)">
    </share-view-dialog-body>
  </div>

  <span class="button-cancel" i18n="@@button.cancel">Cancel</span>
  <span class="button-submit" i18n="@@button.share">Share</span>
</dialog-wrapper>
