@import "../../../shared/_lumeer-variables";

:host {

  li {
    transition: height $animation-duration;
    align-items: baseline;
  }

  .new-link-type {
    height: auto;
  }

  .uninitialized {
    border-left-style: dashed;
    border-right-style: dashed;
  }

  .uninitialized  ~ .uninitialized { // all but first with this class
    border-top-style: dashed;
  }

  .start {
    flex: 2;
  }

  .expand {
    transition: color $animation-color-duration, transform $animation-color-duration;

    &:hover {
      color: $brand-success;
    }
  }

  .bigger {
    font-size: 22px;
  }

  .first-collection {
    position: relative;
    bottom: 10px;
    left: 8px;
  }

  .second-collection {
    position: relative;
    top: 10px;
  }

  .name {
    display: inline-flex;
    width: 250px;
  }

  .instance-count {
    display: inline-block;
    width: 100px;
    text-align: right;
  }

}
