<ul class="list-group">
  <li *ngFor="let linkType of linkTypes; let idx = index" class="list-group-item py-2"
      [style.height]="expanded[idx] ? listHeight(linkType) : null"
      [style.border-color]="collection.color">
    <div class="d-flex align-baseline py-1">
        <span class="start">
          <i class="p-2 fa fa-caret-right bigger expand {{ expanded[idx] ? 'fa-rotate-90' : null}}"
             aria-hidden="true" title="Open" (click)="expanded[idx] = !expanded[idx]"></i>
          <i class="fa-fw {{ collection.icon }} first-collection bigger"
             title="{{ collection.name }}"
             [style.color]="collection.color" aria-hidden="true"></i>
          <i class="fa-fw {{ collections[linkType.toCollection].icon }} second-collection bigger"
             title="{{ collections[linkType.toCollection].name }}"
             [style.color]="collections[linkType.toCollection].color" aria-hidden="true"></i>

          <input class="ml-3 border-0 name"
                 [(ngModel)]="linkType.name"
                 (blur)="linkType.name ? updateLinkType(linkType, idx) : deleteLinkType(linkType, idx)">
          <span class="ml-3 instance-count" title="Instance count">
            {{ formatNumber(linkType.instanceCount) }}
          </span>
        </span>

      <span>
          <a [routerLink]="[workspacePath(), 'search', 'links']"
             [queryParams]="searchLinkTypesQueryParams(linkType)"
             class="btn btn-outline-success mr-1" title="Show all searches of this attribute">
            See all
          </a>

          <a [routerLink]="[workspacePath(), 'c', collections[linkType.toCollection].code, 'linktypes']"
             class="btn btn-outline-success"
             title="Go to {{ collections[linkType.toCollection].name }}">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <i class="fa-fw {{ collections[linkType.toCollection].icon }}" aria-hidden="true"></i>
          </a>
        </span>
    </div>
    <div>
      <!--<link-attribute-list-->
        <!--[collection]="collections[linkType.toCollection]"-->
        <!--[limit]="expanded[idx] ? 100 : 3"></link-attribute-list>-->
    </div>
  </li>
  <li class="list-group-item py-3 new-link-type expand"
      [style.border-color]="collection.color"
      (click)="newLinkType()">
    <div class="d-flex align-baseline">
      <i class="fa fa-plus bigger" aria-hidden="true"></i>
      <span class="ml-3">
        Add link Type
      </span>
    </div>
  </li>
</ul>
