<icons-presenter *ngIf="resource | resourceIconsColors as iconsColors"
                 class="me-1"
                 [colors]="iconsColors.colors"
                 [icons]="iconsColors.icons">
</icons-presenter>
<data-input-preview class="fw-bold d-inline-block"
                    *ngIf="title.constraint?.type !== constraintType.Action"
                    [dataValue]="title.dataValue"
                    [configuration]="configuration"
                    [constraint]="title.constraint">
</data-input-preview>
