<div class="card" [style.width.px]="column.width" #cardWrapper>

  <div class="card-header p-0"
       [class.cursor-move]="canManageConfig">
    <kanban-column-header [column]="column"
                          (remove)="onRemoveColumn()">
    </kanban-column-header>
  </div>

  <div class="card-body p-3" cdkDropList id="{{column.id}}"
       #columnBody
       [cdkDropListData]="column"
       [cdkDropListConnectedTo]="dragColumnsIds"
       (cdkDropListDropped)="onDropPostIt($event)">
    <post-it-document
      *ngFor="let card of cards; trackBy: trackByCard; let idx = index; let last = last"
      cdkDrag
      id="{{columnSelectionId}}#{{card.dataResource.id}}"
      class="card post-it"
      [cdkDragDisabled]="!canManageConfig || !(card | kanbanPostItDraggable)"
      [cdkDragData]="card"
      [cdkDragStartDelay]="dragDelay"
      [class.mb-2]="!last"
      [documentModel]="card.dataResource"
      [collection]="collections | collectionById:card.dataResource.collectionId"
      [query]="query"
      [selectionHelper]="selectionHelper"
      [perspectiveId]="columnSelectionId"
      [canDrag]="canManageConfig && (card | kanbanPostItDraggable)"
      [index]="idx"
      [permissions]="permissions[card.dataResource.collectionId] || {}"
      (remove)="onRemoveDocument(card.dataResource)">
    </post-it-document>

  </div>

  <div class="card-footer px-3 py-2" *ngIf="{resources: config | filterWritableResources:collections:permissions} as footerData">
    <kanban-column-footer *ngIf="footerData.resources.length > 0"
                          [resources]="footerData.resources"
                          (selectResource)="createObjectInResource($event)">
    </kanban-column-footer>
  </div>

</div>
