<div class="d-flex flex-nowrap flex-row border-top" *ngIf="{readonly: !permissions?.writeWithView} as data">

  <div class="flex-grow-1 row m-0">

    <div class="col-6 p-0 pr-1 d-flex flex-row flex-nowrap align-items-center justify-content-center">
      <input class="form-control"
             type="text" #keyInput
             [value]="row.attribute.name"
             [readOnly]="!(keyEditing$ | async)"
             [placeholder]="placeholder"
             (dblclick)="onKeyDblClick()"
             (blur)="onKeyBlur()"/>
    </div>

    <div class="col-6 p-0 pl-1 d-flex flex-row flex-nowrap align-items-center justify-content-center">

      <data-input [constraint]="row.attribute?.constraint"
                  [cursor]="cursor"
                  [value]="row.value"
                  [constraintData]="constraintData"
                  [focus]="true"
                  [readonly]="!(editing$ | async)"
                  (save)="onNewValue($event)"
                  (keydown)="dataInputKeyDown($event)"
                  (dblclick)="onDataInputDblClick()"
                  (cancel)="onDataInputCancel()"
                  (dataBlur)="onDataInputBlur()"
                  class="h-100 w-100 p-1 data-input"
                  [class.cursor-pointer]="!data.readonly"
                  [class.read-only]="data.readonly">
      </data-input>

    </div>

  </div>

  <div class="d-flex flex-row flex-nowrap align-items-center justify-content-center">
    <i *ngIf="(row.attribute?.constraint | constraintTypeIcon) as iconName"
       [ngClass]="iconName"
       [title]="row.attribute?.constraint | constraintTypeIconTitle"
       class="text-muted small"></i>
    <i class="fas fa-fw fa-trash text-danger mx-2 clickable text-danger button-remove"
       aria-hidden="true"
       *ngIf="!data.readonly"
       title="Remove Row"
       i18n-title="@@remove.row"
       (click)="onRemove()">
    </i>
    <i class="fa fa-fw fa-shapes mr-2 clickable text-success button-config"
       aria-hidden="true"
       *ngIf="permissions?.manageWithView"
       i18n-title="@@keyValue.configure.constraint"
       title="Set Attribute Type"
       (click)="onAttributeType()">
    </i>&nbsp;
    <i class="fa fa-fw fa-function mr-2 clickable text-success button-function"
       aria-hidden="true"
       *ngIf="permissions?.manageWithView"
       i18n-title="@@keyValue.configure.function"
       title="Set Attribute Function"
       (click)="onAttributeFunction()">
    </i>&nbsp;
  </div>

</div>
