@import "../../../../../shared/variables";

:host {
  background-color: $light;
}

.muuri-item-dragging {
  border-top: 1px solid $light;
  border-left: 1px solid $light;
}

mwlResizable {
  box-sizing: border-box; // required for the enableGhostResize option to work
}
