@import '../../../../../../styles/variables';
@import '../../../../../../styles/bootstrap_var';

:host {
  background-color: $light;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.resize-handle {
  position: absolute;
  right: 0;
  cursor: col-resize;
}

.resize-ghost-element {
  border-right: 2px solid $table-border-color;
  z-index: 10;
}

.resizable-column {
  cursor: default;
}
