@import "../../../../../../styles/variables";
@import "../../../../../../styles/bootstrap_var";

:host {
  background-color: $light;
}

.muuri-item-dragging {
  border-top: 1px solid $table-border-color;
  border-left: 1px solid $table-border-color;
}

mwlResizable {
  box-sizing: border-box; // required for the enableGhostResize option to work
}

.resizable-column {
  cursor: default;
}
