<h6 class="font-weight-bold mt-4" i18n="@@perspective.chart.config.axis.header">
  {yAxisType, select, y1 {Y1 Axis settings} y2 {Y2 Axis settings}}
</h6>

<ng-container *ngVar="config.axes && config.axes[yAxisType] as yAxis">

  <select-item-with-constraint class="d-block w-100 mt-2"
                               [attributesResources]="attributesResources"
                               placeholderText="Values"
                               i18n-placeholderText="perspective.chart.config.value.placeholder"
                               [buttonClasses]="buttonClasses"
                               [selectedId]="yAxis?.axis | chartAxisSelectItemId"
                               [selectedConstraint]="yAxis?.axis?.constraint"
                               [emptyValue]="axisEmptyValue"
                               [removable]="true"
                               [fitParent]="true"
                               (select)="onAxisSelect($event)"
                               (selectConstraint)="onAxisConstraintSelect($event)"
                               (remove)="onAxisRemoved()">
  </select-item-with-constraint>

  <select-item-with-constraint class="d-block w-100 mt-2"
                               [attributesResources]="attributesResources"
                               placeholderText="Data set"
                               i18n-placeholderText="perspective.chart.config.dataSet.placeholder"
                               [buttonClasses]="buttonClasses"
                               [selectedId]="yAxis?.name | chartAxisSelectItemId"
                               [selectedConstraint]="yAxis?.name?.constraint"
                               [emptyValue]="axisEmptyValue"
                               [removable]="true"
                               [fitParent]="true"
                               (select)="onDataNameSelect($event)"
                               (selectConstraint)="onDataNameConstraintSelect($event)"
                               (remove)="onDataNameRemoved()">
  </select-item-with-constraint>

  <select-item class="d-block w-100 mt-2"
               *ngIf="config.type === chartType.Bubble"
               [items]="attributesResources | selectItemsWithConstraint:[]"
               [selectedId]="yAxis?.size | chartAxisSelectItemId"
               placeholderText="Size"
               i18n-placeholderText="@@perspective.chart.config.axis.size"
               emptyValue="Select attribute"
               i18n-emptyValue="@@perspective.chart.config.attribute.empty"
               [removable]="true"
               [buttonClasses]="buttonClasses"
               (selected)="onSizeSelect($event)"
               (remove)="onSizeRemoved()">
  </select-item>

  <select-item class="d-block w-100 mt-2"
               [items]="attributesResources | selectItemsWithConstraint:[]"
               [selectedId]="yAxis?.color | chartAxisSelectItemId"
               placeholderText="Color"
               i18n-placeholderText="@@perspective.chart.config.axis.color"
               emptyValue="Select attribute"
               i18n-emptyValue="@@perspective.chart.config.attribute.empty"
               [removable]="true"
               [buttonClasses]="buttonClasses"
               (selected)="onColorSelect($event)"
               (remove)="onColorRemoved()">
  </select-item>

  <select-item class="d-block w-100 mt-2"
               [items]="chartAggregations | aggregationSelectItems"
               placeholderText="Aggregation"
               i18n-placeholderText="perspective.chart.config.aggregation.placeholder"
               [buttonClasses]="buttonClasses"
               [removable]="false"
               [selectedId]="yAxis?.aggregation"
               (selected)="onAggregationSelect($event)">
  </select-item>

</ng-container>
