target/
dist/
node_modules/
engine/
cypress/videos/
cypress/screenshots/
bin/

.vscode/
.idea/
*.iml
*.log

configuration.ts
src/assets/config/config.json

.classpath
.project
.settings/

**/.DS_Store
