language: java
dist: bionic
cache:
  directories:
    - ~/.cache
    - ~/.embedmongo
    - ~/.engine
    - ~/.m2
  timeout: 900
#jdk:
#  - openjdk14
addons:
  apt:
    packages:
      - xvfb
      - psmisc
before_install:
  - curl -s "https://get.sdkman.io" | bash
  - source "$HOME/.sdkman/bin/sdkman-init.sh"
  - sdk install java 11.0.12-open
  - sdk use java 11.0.12-open
  - 'sudo apt-get install -y libgconf-2-4'
  - 'nvm install v18.18.0'
  - 'nvm use v18.18.0'
  - 'npm i -g npm@latest'
install:
  - './travis-build.sh'
script:
  - './travis.sh'
before_cache:
  - rm -rf ./dist/ ./target/
  - rm -rf ~/.engine/*/target/ ~/.engine/*/*/target
  - rm -rf ~/.m2/repository/io/lumeer/
