<div>
  <input-box
    #nameInput
    innerClass="bg-transparent"
    [canStayEmpty]="false"
    [userData]="false"
    [title]="team.name"
    [editable]="editable"
    [maxLength]="100"
    [initialValue]="team.name"
    (newValue)="onNewName($event, nameInput)">
  </input-box>

  <input-box
    innerClass="bg-transparent muted"
    [canStayEmpty]="true"
    [userData]="false"
    [fontSizeRem]="0.75"
    [maxLength]="1000"
    [editable]="editable"
    placeholder="Enter team description"
    i18n-placeholder="@@team.description.placeholder"
    [title]="team.description"
    [initialValue]="team.description"
    (newValue)="onNewDescription($event)">
  </input-box>

</div>

<div>
  <team-users [class.cursor-pointer]="editable"
              [selectedUserIds]="team.users"
              [users]="users"
              [editable]="editable"
              (save)="onUsersSave($event)">
  </team-users>
  <roles class="mt-3"
         [roles]="permissions | teamRoles:team"
         [resourceType]="resourceType"
         [editable]="true"
         (change)="onChangeRoles($event)">
  </roles>
</div>

<div>
  <i class="far fa-fw fa-trash-alt text-danger m-1 cursor-pointer"
     aria-hidden="true"
     title="Remove team"
     i18n-title="@@team.actions.remove"
     (click)="onDelete()"></i>
</div>


