<div [style.background-color]="queryItem | queryItemBackground"
     [style.border-color]="queryItem | queryItemBorder"
     [class.pr-2]="readonly"
     class="query-item py-1 px-1">
  <icons-presenter [colors]="queryItem.colors"
                   [icons]="queryItem.icons">
  </icons-presenter>

  <span [class.font-weight-bold]="queryItem | isCollectionItem"
        [title]="queryItem.text"
        class="ml-1">
    {{queryItem.text | truncate:30}}
  </span>

  <attribute-condition *ngIf="queryItem | isAttributeItem"
                       [queryItem]="queryItem"
                       [readonly]="readonly">
  </attribute-condition>

  <i *ngIf="!readonly"
     (click)="onRemove()"
     class="mx-1 fas fa-times remove"
     title="Remove query item" i18n-title="@@query.item.button.remove">
  </i>
</div>
