<ul *ngIf="serviceLimits?.serviceLevel == 'FREE'" class="list-group">
  <li class="list-group-item list-group-item-light text-sm-center" i18n="@@organizations.tab.detail.state.trial">You are on <strong>Trial</strong> program now.</li>
  <li class="list-group-item list-group-item-success text-lg-center" i18n="@@organizations.tab.detail.state.getBusiness">Get Lumeer for Business!</li>
  <li class="list-group-item" i18n="@@organizations.tab.detail.state.allInclusive"><i class="far fa-list-ul"></i>&nbsp;All features included</li>
  <li class="list-group-item" i18n="@@organizations.tab.detail.state.newFeature">
    <i class="far fa-check-circle"></i>&nbsp;<em>Verified</em> updates and new features<br/>
    <span class="small text-danger">Features in Trial are tested but can be a little buggy still.</span>
  </li>
  <li class="list-group-item" i18n="@@organizations.tab.detail.state.nextDaySupport">
    <i class="far fa-envelope"></i>&nbsp;<em>Next business day</em> e-mail support<br/>
    <span class="small text-danger">Now you have best effort e-mail support.</span>
  </li>
  <li class="list-group-item" i18n="@@organizations.tab.detail.state.backupAndRecovery">
    <i class="fas fa-database"></i>&nbsp;Data backup and <em>next business day recovery</em><br/>
    <span class="small text-danger">There are no recovery guarantees in Trial.</span>
  </li>
  <li class="list-group-item" i18n="@@organizations.tab.detail.state.powerfulServer">
    <i class="fas fa-server"></i>&nbsp;<em>Powerful</em> shared server resources<br/>
    <span class="small text-danger">You run now on commodity shared virtual machine.</span>
  </li>
  <li class="list-group-item" i18n="@@organizations.tab.detail.state.unlimitedProjects">
    <i class="far fa-file"></i>&nbsp;<em>Unlimited</em> projects, users and tables<br/>
    <span class="small text-danger">Now you have only {{serviceLimits?.users}} users, {{serviceLimits?.projects}} projects, {{serviceLimits?.files}} files.</span>
  </li>
  <li class="list-group-item" i18n="@@organizations.tab.detail.state.dataLimit">
    <i class="far fa-clone"></i>&nbsp;Plenty of data (1,000,000 records in total)<br/>
    <span class="small text-danger">Now you have only {{serviceLimits?.documents}} records available.</span>
  </li>
</ul>
<ul *ngIf="serviceLimits?.serviceLevel == 'BASIC'" class="list-group">
  <li class="list-group-item list-group-item-success text-lg-center" i18n="@@organizations.tab.detail.order.onBusiness">Congratulations, <strong>Business</strong> program active!</li>
  <li class="list-group-item list-group-item-light text-sm-center" i18n="@@organizations.tab.detail.basic.active">Subscription is active until {{serviceLimits.validUntil | date : 'mediumDate'}}</li>
  <li class="list-group-item" i18n="@@organizations.tab.detail.basic.allInclusive"><i class="far fa-list-ul"></i> All features included</li>
  <li class="list-group-item" i18n="@@organizations.tab.detail.basic.newFeature"><i class="far fa-check-circle"></i> <em>Verified</em> updates and new features</li>
  <li class="list-group-item" i18n="@@organizations.tab.detail.basic.nextDaySupport"><i class="far fa-envelope"></i> <em>Next business day</em> e-mail support</li>
  <li class="list-group-item" i18n="@@organizations.tab.detail.basic.backupAndRecovery"><i class="fas fa-database"></i> Data backup and <em>next business day recovery</em></li>
  <li class="list-group-item" i18n="@@organizations.tab.detail.basic.powerfulServer"><i class="fas fa-server"></i> <em>Powerful</em> shared server resources</li>
  <li class="list-group-item" i18n="@@organizations.tab.detail.basic.unlimitedProjects"><i class="far fa-file"></i> <em>Unlimited</em> projects, users and tables</li>
  <li class="list-group-item" i18n="@@organizations.tab.detail.basic.dataLimit"><i class="far fa-clone"></i> Plentyo of data (1,000,000 records in total)</li>
</ul>
