<div class="container-fluid col-12 col-lg-10 col-xl-9">
  <ng-container *ngIf="{selected: selected$ | async, query: query$ | async} as data">
    <preview-results
      class="mb-4 d-block"
      [selectedCollection]="data.selected.collection"
      [selectedDocument]="data.selected.document"
      [query]="data.query"
      [workspace]="workspace$ | async"
      (selectCollection)="selectCollection($event)"
      (selectDocument)="selectDocument($event)">
    </preview-results>

    <div class="card p-4 mb-4" *ngIf="data.selected.collection && data.selected.document">
      <document-detail [collection]="data.selected.collection"
                       [document]="data.selected.document"
                       [query]="data.query"
                       [permissions]="collectionPermission$ | async">
      </document-detail>
      <links-list class="d-block mt-5"
                  [document]="data.selected.document"
                  [collection]="data.selected.collection"
                  (documentSelect)="selectCollectionAndDocument($event)">
      </links-list>
    </div>

  </ng-container>
</div>
