<div class="container-fluid col-12 col-lg-10 col-xl-9">
  <ng-container *ngIf="selected$ | async as selected">
    <preview-results
      [selectedCollection]="selected.collection"
      [selectedDocument]="selected.document"
      (selectCollection)="selectCollection($event)"
      (selectDocument)="selectDocument($event)">
    </preview-results>

    <div class="detail-card">
      <document-detail *ngIf="selected.collection && selected.document"
                       [collection]="selected.collection"
                       [document]="selected.document"
                       [query]="query$ | async"
                       [permissions]="collectionPermission$ | async">
      </document-detail>
      <links-list
        *ngIf="selected.collection && selected.document"
        [document]="selected.document"
        [collection]="selected.collection"
        (documentSelect)="selectCollectionAndDocument($event)">
      </links-list>
    </div>

  </ng-container>
</div>
