<div class="container-fluid col-12 col-lg-10 col-xl-9">
  <preview-results (selectCollection)="selectCollection($event)"
                   (selectDocument)="selectDocument($event)">
  </preview-results>
  <document-detail *ngIf="selectedDocument"
                   [collection]="selectedCollection"
                   [document]="selectedDocument"
                   [hasWriteAccess]="selectedCollection | permissions:'write' | async">
  </document-detail>
  <links-list
    [document]="selectedDocument">
  </links-list>
</div>
