<ng-container *ngIf="{mode: currentMode$ | async, date: currentDate$ | async} as data">
  <calendar-header
    class="d-block mb-3"
    [mode]="data.mode"
    [viewDate]="data.date"
    [locale]="locale"
    (modeChange)="onModeChange($event)"
    (viewDateChange)="onViewDateChange($event)">
  </calendar-header>

  <ng-container [ngSwitch]="data.mode">
    <mwl-calendar-month-view
      *ngSwitchCase="calendarMode.Month"
      [viewDate]="data.date"
      [events]="events"
      [refresh]="refresh"
      [weekStartsOn]="1"
      (dayClicked)="dayClicked($event.day)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="calendarMode.Week"
      [viewDate]="data.date"
      [events]="events"
      [refresh]="refresh"
      [weekStartsOn]="1"
      (dayClicked)="dayClicked($event.day)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="calendarMode.Day"
      [viewDate]="data.date"
      [events]="events"
      [refresh]="refresh"
      (dayClicked)="dayClicked($event.day)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </ng-container>
</ng-container>
