<div class="container" *ngIf="(organization$ | async) as organization">
  <organization-users-header
    [organization]="organization">
  </organization-users-header>

  <ng-container *ngIf="(users$ | async)?.length else emptyResult">
    <organization-user-list
      [organization]="organization"
      [users]="users$ | async">
    </organization-user-list>
  </ng-container>

  <ng-template #emptyResult>
    <h3 class="mx-auto text-center pt-4 text-muted huge-text" i18n="@@organizations.users.no.result">
      Organization has no users...
    </h3>
  </ng-template>
</div>
