<ng-container *ngIf="query$ | async | displayable; else notDisplayable">
  <ng-container *ngIf="{collections: collections$ | async, config: config$ | async, query: query$ | async, linkTypes: linkTypes$ | async} as data">
    <collapsible-sidebar *ngIf="currentView$ | async | canManageConfig | async"
                         [collapsed]="!(sidebarOpened$ | async)"
                         (toggle)="onSidebarToggle()">
      <chart-config
        class="d-block m-3"
        [collections]="data.collections"
        [linkTypes]="data.linkTypes"
        [config]="data.config"
        [query]="data.query"
        (configChange)="onConfigChanged($event)">
      </chart-config>
    </collapsible-sidebar>

    <chart-data
      class="flex-grow-1"
      [collections]="data.collections"
      [documents]="documents$ | async"
      [linkTypes]="linkTypes$ | async"
      [linkInstances]="linkInstances$ | async"
      [query]="data.query"
      [permissions]="permissions$ | async"
      [constraintData]="{users: users$ | async}"
      [config]="data.config"
      (patchData)="patchDocumentData($event)"
      (patchLinkData)="patchLinkInstanceData($event)">
    </chart-data>

  </ng-container>
</ng-container>

<ng-template #notDisplayable>
  <invalid-query class="w-100"
                 [minCollections]="1"
                 [maxCollections]="1">
  </invalid-query>
</ng-template>
