<div *ngIf="query$ | async | displayable; else notDisplayable" class="px-3">
  <ng-container *ngIf="{collection: collection$ | async, config: config$ | async} as data">
    <chart-config
      [collection]="data.collection"
      [canManageConfig]="currentView$ | async | canManageConfig | async"
      [config]="data.config"
      (configChange)="onConfigChanged($event)">
    </chart-config>

    <chart-visualization
      [collection]="data.collection"
      [allowedPermissions]="data.collection | collectionPermissions | async"
      [documents]="documents$ | async"
      [config]="data.config"
      (patchData)="patchDocumentData($event)">
    </chart-visualization>

  </ng-container>
</div>

<ng-template #notDisplayable>
  <div class="alert alert-warning m-3"
       role="alert"
       i18n="@@chart.query.invalid">Chart perspective cannot show the results of your query. The query needs to have exactly one collection.
  </div>
</ng-template>
