<div class="ml-2" data-tour="user-menu" (click)="onMenuClick()"
     #origin>
  <i class="fa fa-user-circle fa-2x"></i>
</div>

<user-menu-dropdown [origin]="origin"
                    [currentUser]="currentUser$ | async"
                    [freePlan]="freePlan$ | async"
                    [url]="url$ | async"
                    (feedback)="onFeedbackClick()"
                    (logout)="onLogoutClick()"
                    (organizationDetail)="goToOrganizationDetail()"
                    (startTour)="onStartTour()">
</user-menu-dropdown>
