<dialog-wrapper [submitDisabled]="formInvalid$ | async"
                [type]="'success'"
                (submit)="onSubmit()">
  <span class="title" i18n="@@dialog.create.calendar.event.title">Create new event</span>

  <div class="body">
    <create-calendar-event-form
      [config]="config$ | async"
      [collections]="collections$ | async"
      [initialTime]="initialTime$ | async"
      (createEvent)="onCreateEvent($event)">
    </create-calendar-event-form>
  </div>

  <span class="button-cancel" i18n="@@button.cancel">Cancel</span>
  <span class="button-submit" i18n="@@button.create">Create</span>
</dialog-wrapper>
