<ng-container *ngIf="{rows: rows$ | async} as table">
  <cdk-virtual-scroll-viewport [itemSize]="31"
                               (scroll)="onScroll($event)"
                               class="h-100">
    <table-primary-row *cdkVirtualFor="let row of table.rows; trackBy: trackByDocumentId; index as rowIndex;"
                       [cursor]="cursor | nextRowCursor : rowIndex"
                       [row]="row"
                       [canManageConfig]="canManageConfig"
                       (unsetCursor)="unsetCursor()">
    </table-primary-row>

    <div>&nbsp;</div>

  </cdk-virtual-scroll-viewport>

  <table-empty-row *ngIf="!table.rows?.length"
                   [canManageConfig]="canManageConfig"
                   [cursor]="cursor"
                   (click)="unsetCursor()">
  </table-empty-row>
</ng-container>
