<ng-container *ngIf="collection | collectionPermissions | async as allowedPermissions">
  <post-it-document-header
    class="card-header px-2 py-1 d-flex w-100"
    [class.cursor-move]="canDrag"
    [collection]="collection"
    [readonly]="!allowedPermissions.writeWithView"
    [directRead]="allowedPermissions.read"
    [favorite]="state.favorite$ | async"
    [initialized]="documentModel.id"
    [tag]="tag"
    [tagColor]="tagColor"
    (remove)="onRemove()"
    (toggleFavorite)="onToggleFavorite()"
    (edit)="onEdit()">
  </post-it-document-header>

  <div class="card-body p-2">
    <ul class="m-0 p-0"
        (keydown)="onParentKeyDown($event)">
      <ng-container *ngFor="let row of state.rows$ | async; trackBy:getTrackBy; let idx = index">

        <li class="w-100" *ngIf="!row.remove">
          <post-it-document-cell
            class="w-50"
            [key]="getDocumentKey()"
            [row]="idx"
            [index]="index"
            [readonly]="!allowedPermissions.writeWithView"
            [column]="0"
            [additionalClasses]="isDefaultAttribute(row.id) ? 'attribute text-default-attribute' : 'attribute'"
            [perspectiveId]="perspectiveId"
            [selectionHelper]="selectionHelper"
            [suggestionListId]="suggestionListId()"
            [model]="row.newName || row.name"
            (remove)="onRemoveRow(idx)"
            (update)="onUpdateRow(idx, $event, row.newValue || row.value)"
            (focus)="selectionHelper?.focusCellSpan(idx, 0, getDocumentKey())"
            (enter)="selectionHelper?.moveToNextInput()">
          </post-it-document-cell>

          <post-it-document-cell
            class="w-50"
            [key]="getDocumentKey()"
            [row]="idx"
            [index]="index"
            [readonly]="!allowedPermissions.writeWithView  || !(collection | collectionAttributeEditable : row.id: permissions: query)"
            [column]="1"
            [perspectiveId]="perspectiveId"
            [selectionHelper]="selectionHelper"
            [model]="row.newValue || row.value"
            [constraint]="(collection | collectionAttribute : row.id)?.constraint"
            [constraintData]="constraintData"
            [dataCursor]="documentModel | dataCursor : row.id"
            (remove)="onUpdateRow(idx, row.newName || row.name, '')"
            (update)="onUpdateRow(idx, row.newName || row.name, $event)"
            (focus)="selectionHelper?.focusCellSpan(idx, 1, getDocumentKey())"
            (enter)="selectionHelper?.moveToNextInput()">
          </post-it-document-cell>
        </li>

      </ng-container>


      <li class="w-100" *ngIf="allowedPermissions.writeWithView">
        <div class="w-100 h-100 clickable" (click)="addAttrRow()">
          <i class="fas fa-plus pt-2 pl-1"></i>
        </div>
      </li>
    </ul>
  </div>

  <datalist *ngIf="documentModel" id="{{ suggestionListId() }}">
    <option *ngFor="let attribute of unusedAttributes$ | async">{{ attribute.name }}</option>
  </datalist>
</ng-container>
