@import '~src/styles/variables';

:host {
  overflow-x: auto;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  justify-content: center;
  grid-template-rows: min-content min-content min-content min-content minmax(300px, 1fr);
}

.main-image {
  border-radius: 0.5rem;
  width: 100%;
  height: 80px;
  background-repeat: no-repeat;
  object-fit: cover;
}

.tag {
  background: #d9ead3;
  border-radius: 0.5rem;
  line-height: 1rem;
}

iframe {
  border: solid 1px $gray-200;
  border-radius: $border-radius-small;
}
