<div class="card-header py-1">
  <span [style.color]="data.collection.color">
    <i class="icon {{ data.collection.icon }} mr-1"></i>{{ data.collection.name }}
  </span>

  <ng-container *ngIf="data.writeRole">
    <a tabindex
       class="editable"
       title="Edit Document" i18n-title="@@document.button.edit"
       (click)="setEditMode(true); select(0, 0)">
      <i class="fa fa-fw fa-pencil"></i>
    </a>
    <a tabindex
       class="editable remove"
       title="Remove Document" i18n-title="@@document.button.remove"
       (click)="onRemoveDocumentClick()">
      <i class="fa fa-fw fa-times"></i>
    </a>
  </ng-container>
</div>

<div class="card-body p-2">
  <ul class="m-0 p-0" #content>

    <ng-container *ngIf="data.writeRole">
      <li *ngFor="let attributePair of attributePairs; let row = index">
        <span id="AttributePair{{ data.index }}[0, {{ row }}]" class="attribute" tabindex="-1"
              (keydown.ArrowLeft)="moveSelection(-1, 0)"
              (keydown.ArrowRight)="moveSelection(1, 0)"
              (keydown.ArrowUp)="moveSelection(0, -1)"
              (keydown.ArrowDown)="moveSelection(0, 1)"
              (keydown.F2)="setEditMode(true); focusSelection()"
              (keydown.enter)="setEditMode(true); focusSelection()"
              (click)="clickOnAttributePair(0, row)">

          <input class="border-0"
                 [(ngModel)]="attributePair.attribute"
                 (keydown)="$event.stopPropagation()"
                 (keydown.F2)="setEditMode(false); focusSelection()"
                 (keydown.Escape)="setEditMode(false); focusSelection()"
                 (keydown.enter)="onEditModeEnter()"
                 (blur)="updateAttribute(attributePair)">
        </span>

        <span id="AttributePair{{ data.index }}[1, {{ row }}]" tabindex="-1"
              title="{{ attributePair.value }}"
              (keydown.ArrowLeft)="moveSelection(-1, 0)"
              (keydown.ArrowRight)="moveSelection(1, 0)"
              (keydown.ArrowUp)="moveSelection(0, -1)"
              (keydown.ArrowDown)="moveSelection(0, 1)"
              (keydown.F2)="setEditMode(true); focusSelection()"
              (keydown.enter)="setEditMode(true); focusSelection()"
              (click)="clickOnAttributePair(1, row)">

        <input class="border-0"
               [(ngModel)]="attributePair.value"
               (keydown)="$event.stopPropagation()"
               (keydown.F2)="setEditMode(false); focusSelection()"
               (keydown.Escape)="setEditMode(false); focusSelection()"
               (keydown.enter)="onEditModeEnter()"
               (blur)="updateValue(attributePair)">
       </span>
      </li>

      <li>
        <span id="AttributePair{{ data.index }}[0, {{ attributePairs.length }}]" class="attribute" tabindex="-1"
              (keydown.ArrowLeft)="moveSelection(-1, 0)"
              (keydown.ArrowRight)="moveSelection(1, 0)"
              (keydown.ArrowUp)="moveSelection(0, -1)"
              (keydown.ArrowDown)="moveSelection(0, 1)"
              (keydown.F2)="setEditMode(true); focusSelection()"
              (keydown.enter)="setEditMode(true); focusSelection()"
              (click)="clickOnAttributePair(0, attributePairs.length)">

          <!-- the list refers to one of the attribute suggestion lists in document perspective -->
          <input class="border-0"
                 placeholder=" + "
                 [attr.list]="data.document.collectionCode"
                 [(ngModel)]="newAttributePair.attribute"
                 (keydown)="$event.stopPropagation()"
                 (keydown.F2)="setEditMode(false); focusSelection()"
                 (keydown.Escape)="setEditMode(false); focusSelection()"
                 (keydown.enter)="onEditModeEnter()">
        </span>

        <span id="AttributePair{{ data.index }}[1, {{ attributePairs.length }}]"
              [attr.tabindex]="newAttributePair.attribute ? -1 : null"
              (keydown.ArrowLeft)="moveSelection(-1, 0)"
              (keydown.ArrowRight)="moveSelection(1, 0)"
              (keydown.ArrowUp)="moveSelection(0, -1)"
              (keydown.ArrowDown)="moveSelection(0, 1)"
              (keydown.F2)="setEditMode(true); focusSelection()"
              (keydown.enter)="setEditMode(true); focusSelection()"
              (click)="newAttributePair.attribute && clickOnAttributePair(1, attributePairs.length)">

        <input class="border-0"
               [disabled]="!newAttributePair.attribute"
               (keydown)="$event.stopPropagation(); $event.key.length === 1 && createAttributePair($event.key)"
               (keydown.F2)="setEditMode(false); focusSelection()"
               (keydown.Escape)="setEditMode(false); focusSelection()"
               (keydown.enter)="onEditModeEnter()"/>
        </span>
      </li>
    </ng-container>

    <ng-container *ngIf="!data.writeRole">
      <li *ngFor="let attributePair of attributePairs">
        <span class="attribute">
          <input class="border-0" readonly [ngModel]="attributePair.attribute">
        </span>

        <span>
          <input class="border-0" title="{{ attributePair.value }}" readonly [ngModel]="attributePair.value">
        </span>
      </li>
    </ng-container>
  </ul>
</div>

      <span>
        <input title="{{ attributePair.value }}" readonly [ngModel]="attributePair.value">
      </span>
    </li>
  </ng-template>
</ul>

<!-- additional buttons -->
<div class="edit">
  <a tabindex
     title="Details" i18n-title="@@document.button.details">
    <i class="fa fa-fw fa-search"></i>
  </a>

  <span class="secondary-edit d-flex">
    <a tabindex
       class="d-block"
       title="Incoming Links" i18n-title="@@document.button.links.incoming">
      <i class="fa fa-fw fa-sign-in"></i>
    </a>
    <a tabindex
       class="d-block"
       title="Outgoing Links" i18n-title="@@document.button.links.outgoing">
      <i class="fa fa-fw fa-sign-out"></i>
    </a>
    <a tabindex
       class="d-block"
       title="History" i18n-title="@@document.button.history">
      <i class="fa fa-fw fa-history"></i>
    </a>
  </span>
</div>
