@import "../../../../shared/variables";

:host {

  .card-header {
    .buttons {
      position: absolute;
      right: 8px;
    }

    .fa-times {
      position: relative;
      top: 1.5px;
    }

    .button {
      transition: background $animation-color-duration, opacity $animation-color-duration;

      &:hover {
        background: $grey-darker-color;
      }
    }
  }

  .remove-document {
    top: 2px;
    padding: 1px 4px;
    font-size: 18px;
  }

  .edit-document {
    font-size: 14px;
    padding: 3px;
  }

  .card-body {
    font-size: 15px;
  }

  .button, .buttons {
    transition: opacity $animation-color-duration;
    opacity: 0;
  }

  .buttons {
    a {
      transition: background-position $animation-color-duration;
      background: linear-gradient(to top, #e8e8e8 50%, transparent 50%);
      background-size: 100% 200%;
      background-position: right top;

      &:hover {
        background-position: right bottom;
      }
    }
  }

  li {
    border-bottom: 1px solid #e5e5e5;
    display: inline-flex;
    padding: 2px 1px;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: $grey-color;
    }
  }

  .attribute input {
    font-weight: bold !important;
    width: 80px;
  }

  span:focus, span input:focus {
    outline: auto !important;
  }

  input {
    padding: 0 3px;
    width: 100%;
    pointer-events: none;
  }

  input:read-only:focus {
    background: inherit;
    color: inherit;
  }
}

:host(.selected), :host:hover {
  .button, .buttons {
    opacity: 1;
  }
}
