<pivot-attribute-config [availableAttributes]="availableAttributes"
                        [pivotAttribute]="pivotAttribute"
                        [icon]="'far fa-function'"
                        (attributeSelect)="onAttributeSelected($event)"
                        (attributeRemove)="onAttributeRemoved()">

  <select-item class="d-block w-100 mt-1"
               *ngIf="pivotAttribute"
               [items]="aggregations | aggregationSelectItems"
               [placeholderText]="aggregationPlaceholder"
               [buttonClasses]="buttonClasses"
               [removable]="false"
               [fitParent]="true"
               [selectedId]="pivotAttribute.aggregation"
               (select)="onAggregationSelect($event)">
  </select-item>

</pivot-attribute-config>

<select-item *ngIf="pivotAttribute"
             class="d-block w-100 mt-2"
             [emptyValue]="''"
             [placeholderIcon]="'far fa-badge-percent'"
             [items]="valueTypes | pivotValueTypeSelectItems"
             [selectedId]="pivotAttribute.valueType || valueType.Default"
             [removable]="false"
             [fitParent]="true"
             [buttonClasses]="buttonClasses"
             (select)="onValueTypeSelected($event)">
</select-item>

