<div [formGroup]="form">

  <div class="form-group row m-0 mt-4">
    <label class="col-sm-12 col-md-3 px-0 col-lg-2 col-form-label" i18n="@@collections.tab.purpose.assignee.label">
      Assignee
    </label>
    <select-item class="col-sm-12 col-md-6 col-lg-4 px-0"
                 [items]="collection | attributesSelectItems:constraintType.User"
                 [removable]="true"
                 emptyValue="Select assignee"
                 i18n-emptyValue="@@collections.tab.purpose.assignee.select"
                 [selectedId]="assigneeControl.value"
                 (select)="assigneeControl.patchValue($event)"
                 (remove)="assigneeControl.patchValue(null)">
    </select-item>
  </div>

  <div class="form-group row m-0 mt-4">
    <label class="col-sm-12 col-md-3 px-0 col-lg-2 col-form-label" i18n="@@collections.tab.purpose.dueDate.label">
      Due Date
    </label>
    <select-item class="col-sm-12 col-md-6 col-lg-4 px-0"
                 [items]="collection | attributesSelectItems:constraintType.DateTime"
                 [removable]="true"
                 emptyValue="Select due date"
                 i18n-emptyValue="@@collections.tab.purpose.dueDate.select"
                 [selectedId]="dueDateControl.value"
                 (select)="dueDateControl.patchValue($event)"
                 (remove)="dueDateControl.patchValue(null)">
    </select-item>
  </div>

  <div class="form-group row m-0 mt-4">
    <label class="col-sm-12 col-md-3 px-0 col-lg-2 col-form-label" i18n="@@collections.tab.purpose.state.label">
      State
    </label>
    <select-item class="col-sm-12 col-md-6 col-lg-4 px-0"
                 [items]="collection | attributesSelectItems:constraintType.Select"
                 [removable]="true"
                 emptyValue="Select state"
                 i18n-emptyValue="@@collections.tab.purpose.state.select"
                 [selectedId]="stateControl.value"
                 (select)="stateControl.patchValue($event)"
                 (remove)="stateControl.patchValue(null)">
    </select-item>
  </div>

  <div class="form-group row m-0 mt-4">
    <label class="col-sm-12 col-md-3 px-0 col-lg-2 col-form-label" i18n="@@collections.tab.purpose.observer.label">
      Observer
    </label>
    <select-item class="col-sm-12 col-md-6 col-lg-4 px-0"
                 [items]="collection | attributesSelectItems:constraintType.User"
                 [removable]="true"
                 emptyValue="Select observer"
                 i18n-emptyValue="@@collections.tab.purpose.observer.select"
                 [selectedId]="observersControl.value"
                 (select)="observersControl.patchValue($event)"
                 (remove)="observersControl.patchValue(null)">
    </select-item>
  </div>


</div>
