<div #dataCell
     *ngIf="row.isCollapsed()"
     [class.highlighted]="highlighted"
     [contextMenu]="collapsedContextMenu"
     (focus)="onFocus()"
     (keydown)="onKeyDown($event, true)"
     class="data-cell"
     tabindex="0">
  <ng-container *ngFor="let doc of row.documents; last as isLast">
    <ng-container *ngIf="doc.data[attribute.name]">
      {{doc.data[attribute.name] + (isLast ? '' : ',')}}
    </ng-container>
  </ng-container>
</div>

<div #dataCell
     *ngIf="!row.isCollapsed()"
     [attr.contenteditable]="editMode"
     [class.highlighted]="highlighted"
     [contextMenu]="expandedContextMenu"
     [style.cursor]="editMode ? 'text' : 'default'"
     [textContent]="row.documents[0].data[attribute.name]"
     (dblclick)="switchEditMode(true)"
     (blur)="onBlur()"
     (focus)="onFocus()"
     (keydown)="onKeyDown($event)"
     class="data-cell"
     tabindex="0">
</div>

<div *ngIf="editMode && row.part.index && !row.documents[0].id"
     class="dropdown">
  <div class="dropdown-menu show">
    <ng-container *ngFor="let doc of suggestLinkedDocuments()">
      <a *ngIf="doc.data.hasOwnProperty([attribute.name])"
         (mousedown)="linkExistingDocument(doc)"
         class="dropdown-item">
        {{doc.data[attribute.name] | highlight: dataCell.textContent}}
      </a>
    </ng-container>
  </div>
</div>

<context-menu #expandedContextMenu>
  <ng-template *ngIf="row.documents.length === 1"
               (execute)="switchEditMode(true)"
               contextMenuItem>
    <i class="fa fa-fw fa-edit mr-1" aria-hidden="true"></i>
    <span i18n="@@table.body.row.edit">Edit value</span>
  </ng-template>
  <ng-template *ngIf="row.documents.length === 1 && row.documents[0].id"
               contextMenuItem
               divider="true"></ng-template>
  <ng-template *ngIf="row.part.index > 0 && row.documents.length === 1 && row.documents[0].id"
               (execute)="confirmUnlink()"
               contextMenuItem>
    <i class="fa fa-fw fa-unlink text-warning mr-1" aria-hidden="true"></i>
    <span i18n="@@table.body.row.unlink">Unlink row</span>
  </ng-template>
  <ng-template *ngIf="row.documents.length === 1 && row.documents[0].id"
               (execute)="onRemoveRow()"
               contextMenuItem>
    <i class="fas fa-fw fa-trash text-danger mr-1" aria-hidden="true"></i>
    <span i18n="@@table.body.row.remove">Remove row</span>
  </ng-template>
  <ng-template *ngIf="row.documents.length === 1"
               contextMenuItem
               divider="true"></ng-template>
  <ng-template *ngIf="row.documents.length === 1"
               (execute)="addNewRow()"
               contextMenuItem>
    <i class="fa fa-fw fa-plus-circle text-success mr-1" aria-hidden="true"></i>
    <span i18n="@@table.body.row.add">Add new row</span>
  </ng-template>
  <ng-template *ngIf="row.documents.length === 1 && row.part.nextPart"
               (execute)="addLinkedRow()"
               contextMenuItem>
    <i class="fa fa-fw fa-link text-success mr-1" aria-hidden="true"></i>
    <span i18n="@@table.body.row.linked.add">Add linked row</span>
  </ng-template>
</context-menu>

<context-menu #collapsedContextMenu>
  <ng-template (execute)="onExpand()"
               contextMenuItem>
    <i class="fa fa-fw fa-expand mr-1" aria-hidden="true"></i>
    <span i18n="@@table.body.row.expand">Expand</span>
  </ng-template>
</context-menu>
