<div [style.height]="table | headerHeight:cursor | pixel">
  <div class="muuri {{columnGroupId | prefix:containerClassPrefix}} h-100">
    <div *ngFor="let column of columns; trackBy: trackByCollectionAndAttribute.bind(this); index as columnIndex"
         class="muuri-item h-100">
      <div class="muuri-item-content h-100">
        <table-compound-column *ngIf="column | isCompoundColumn"
                               [table]="table"
                               [column]="column"
                               [cursor]="cursor | columnChildCursor:columnIndex"
                               class="d-block">
        </table-compound-column>

        <table-hidden-column *ngIf="column | isHiddenColumn"
                             [table]="table"
                             [column]="column"
                             [cursor]="cursor | columnChildCursor:columnIndex"
                             class="d-block h-100">
        </table-hidden-column>
      </div>
    </div>
  </div>
</div>
