@import "../../../../../../../../styles/variables";

.link-cell {
  color: $light;
  width: var(--table-link-info-width);

  &.striped {
    color: $white;
  }

  &:hover {
    color: $primary;
  }
}
