<div class="row">
  <div class="col-5 col-md-4 col-lg-3 d-flex flex-row flex-nowrap align-items-center">
    <i class="fa fa-caret-right clickable mr-1"
       [class.fa-rotate-90]="expanded"
       aria-hidden="true"
       title="{{ expanded ? 'Collapse' : 'Expand' }}"
       i18n-title="@@organizations.user.expand"
       (click)="expandedChange.emit()"></i>

    <input-box
      class="flex-grow-2"
      [placeholder]="'Name'"
      [maxLines]="1"
      [canStayEmpty]="false"
      [initialValue]="user.name"
      (newValue)="onNewName($event)">
    </input-box>
  </div>

  <div class="col-5 col-md-4 col-lg-3 d-flex flex-row flex-nowrap">
    <input-box
      class="flex-grow-2"
      [placeholder]="'User email'"
      [maxLines]="1"
      [canStayEmpty]="false"
      [initialValue]="user.email"
      (focus)="onEmailFocus()"
      (newValue)="onNewEmail($event)">
    </input-box>

    <i *ngIf="showEmailWarning" class="fa fa-exclamation-triangle align-self-center ml-1 text-warning"
       title="Wrong email" i18n-title="@@organization.user.email.incorrect"
       aria-hidden="true"></i>
  </div>

  <div class="col-2 col-md-4 col-lg-6 d-flex flex-nowrap flex-row-reverse align-items-center">
    <i class="fas fa-fw fa-trash text-danger mx-2 cursor-pointer"
       aria-hidden="true"
       title="Remove User"
       i18n-title="@@organizations.users.remove"
       (click)="removeUser()"></i>

    <i class="fas fa-fw {{ blocked ? 'fa-volume-mute' : 'fa-volume-up' }} text-danger mx-2 cursor-pointer"
       aria-hidden="true"
       title="{{ blocked ? 'Unblock' : 'Temporarily Block' }} User"
       i18n-title="@@organizations.users.block"
       (click)="blockUser()"></i>
  </div>

</div>
