<button #buttonElement class="btn btn-info text-nowrap filters-button" (click)="dropdownComponent.toggle()">
  <i class="fal fa-filter pe-2"></i>
  <span i18n="@@audit.filters.button.title">Filters</span>
  <ng-container *ngIf="{count: filters | auditLogFiltersCount} as filtersData">
    <span *ngIf="filtersData.count" class="ms-3 badge num-filters">{{filtersData.count}}</span>
  </ng-container>
</button>

<audit-log-filters-dropdown #dropdownComponent
                            [constraintData]="constraintData"
                            [filters]="filters"
                            [origin]="buttonElement"
                            [viewsMap]="viewsMap"
                            [collectionsMap]="collectionsMap"
                            [configuration]="configuration"
                            [linkTypesMap]="linkTypesMap"
                            (filtersChanged)="filtersChanged.emit($event)"
></audit-log-filters-dropdown>
