<div class="d-flex">
  <div [style.min-width]="table | rowNumberWidth"
       [style.width]="table | rowNumberWidth"></div>
  <ng-container *ngFor="let part of table.parts; trackBy: trackByPartIndex">
    <table-header-collection *ngIf="part.collectionId"
                             [cursor]="cursor | partCursor:part.index"
                             [table]="table"
                             [part]="part">
    </table-header-collection>
    <table-header-link *ngIf="part.linkTypeId"
                       [cursor]="cursor | partCursor:part.index"
                       [table]="table"
                       [part]="part">
    </table-header-link>
  </ng-container>
</div>
