<ng-container *ngIf="{items: query | pivotSelectItems:collections:linkTypes} as data">

  <h6 class="font-weight-bold" i18n="@@perspective.pivot.config.row.header">
    Rows
  </h6>

  <pivot-attribute-config *ngFor="let attribute of config?.rowAttributes; trackBy: trackByAttribute; let first = first"
                          class="d-block"
                          [class.pt-3]="!first"
                          [pivotAttribute]="attribute"
                          [availableAttributes]="data.items | pivotHeaderSelectItems:config:attribute"
                          [isRow]="true"
                          (attributeSelect)="onRowAttributeSelect($event, attribute)"
                          (attributeRemove)="onRowAttributeRemove(attribute)"
                          (attributeChange)="onRowAttributeChange($event)">
  </pivot-attribute-config>

  <pivot-attribute-config class="d-block"
                          [class.pt-3]="config?.rowAttributes?.length > 0"
                          [pivotAttribute]="null"
                          [availableAttributes]="data.items | pivotHeaderSelectItems:config"
                          [isRow]="true"
                          (attributeSelect)="onRowAttributeSelect($event)">
  </pivot-attribute-config>


  <h6 class="font-weight-bold mt-4" i18n="@@perspective.pivot.config.column.header">
    Columns
  </h6>

  <pivot-attribute-config *ngFor="let attribute of config?.columnAttributes trackBy: trackByAttribute; let first = first"
                          class="d-block"
                          [class.pt-3]="!first"
                          [pivotAttribute]="attribute"
                          [availableAttributes]="data.items | pivotHeaderSelectItems:config:attribute"
                          [isColumn]="true"
                          (attributeSelect)="onColumnAttributeSelect($event, attribute)"
                          (attributeRemove)="onColumnAttributeRemove(attribute)"
                          (attributeChange)="onColumnAttributeChange($event)">
  </pivot-attribute-config>

  <pivot-attribute-config class="d-block"
                          [class.pt-3]="config?.columnAttributes?.length > 0"
                          [pivotAttribute]="null"
                          [availableAttributes]="data.items | pivotHeaderSelectItems:config"
                          [isColumn]="true"
                          (attributeSelect)="onColumnAttributeSelect($event)">
  </pivot-attribute-config>


  <h6 class="font-weight-bold mt-4" i18n="@@perspective.pivot.config.value.header">
    Values
  </h6>

  <pivot-attribute-config *ngFor="let attribute of config?.valueAttributes; trackBy: trackByAttribute; let first = first"
                          class="d-block"
                          [class.pt-3]="!first"
                          [pivotAttribute]="attribute"
                          [availableAttributes]="data.items"
                          [isValue]="true"
                          (attributeSelect)="onValueAttributeSelect($event, attribute)"
                          (attributeRemove)="onValueAttributeRemove(attribute)"
                          (attributeChange)="onValueAttributeChange($event)">
  </pivot-attribute-config>

  <pivot-attribute-config class="d-block"
                          [class.pt-3]="config?.valueAttributes?.length > 0"
                          [pivotAttribute]="null"
                          [availableAttributes]="data.items"
                          [isValue]="true"
                          (attributeSelect)="onValueAttributeSelect($event)">
  </pivot-attribute-config>

</ng-container>
