@import '../../../../../../styles/variables';

:host::ng-deep {
  .button-remove,
  .button-config,
  .button-function {
    opacity: 0;
    transition: opacity $animation-color-duration;
  }

  &:hover,
  &:focus,
  &:active {
    .button-remove,
    .button-config,
    .button-function {
      opacity: 1;
    }
  }
}

.wrapper {
  min-height: 40px;
  display: grid;
  width: auto;
  grid-template-columns: 3fr 4fr auto;
  & > div {
    min-width: 0px;
  }
}

:host.key-focused .data-input.key::ng-deep > *,
:host.value-focused .data-input.value::ng-deep > * {
  border: 1px solid $gray-400;
  border-radius: 0.25rem;
}

.data-input.editing::ng-deep > * {
  border: 1px solid $success;
  border-radius: 0.25rem;
}

.data-input.key::ng-deep > * > * {
  font-style: italic !important;
}
