<ng-container *ngIf="{readonly: !permissions?.writeWithView} as data">

  <div class="p-0 pr-1 d-flex flex-row flex-nowrap align-items-center justify-content-center">
    <data-input class="h-100 w-100 p-1 data-input key"
                [cursor]="cursor"
                [focus]="true"
                [readonly]="!(keyEditing$ | async)"
                [dataValue]="keyDataValue"
                [placeholder]="placeholder"
                [preventEventBubble]="preventEventBubble"
                [suggestions]="unusedAttributes | attributesToDataSuggestions"
                (save)="onNewKey($event)"
                (dblclick)="onKeyInputDblClick($event)"
                (cancel)="onKeyInputCancel()"
                (click)="onKeyFocus()"
                (clickOutside)="onKeyInputCancel()"
                [class.editing]="keyEditing$ | async"
                [class.cursor-pointer]="!data.readonly"
                [class.read-only]="data.readonly">
    </data-input>
  </div>

  <div class="p-0 pl-1 d-flex flex-row flex-nowrap align-items-center justify-content-center">
    <data-input class="h-100 w-100 p-1 data-input value"
                [constraint]="row.attribute?.constraint"
                [cursor]="cursor"
                [dataValue]="dataValue"
                [focus]="true"
                [configuration]="configuration"
                [readonly]="readonly || !((editing$ | async) || row.attribute?.constraint?.type === booleanConstraintType)"
                [preventEventBubble]="preventEventBubble"
                (save)="onNewValue($event)"
                (dblclick)="onDataInputDblClick($event)"
                (cancel)="onDataInputCancel()"
                (click)="onValueFocus()"
                (valueChange)="onValueEdit($event)"
                (clickOutside)="onDataInputCancel()"
                [class.editing]="editing$ | async"
                [class.cursor-pointer]="!data.readonly"
                [class.read-only]="data.readonly">
    </data-input>
  </div>

  <data-resource-data-row-icons class="d-flex flex-row flex-nowrap align-items-center ml-1 justify-content-center"
                                [row]="row"
                                [permissions]="permissions"
                                (delete)="deleteRow.emit()"
                                (attributeFunctionClick)="attributeFunctionClick.emit()"
                                (attributeTypeClick)="attributeTypeClick.emit()">
  </data-resource-data-row-icons>

</ng-container>
