<table-cell-group [cursor]="cursor"
                  [rows]="rows"
                  [canManageConfig]="canManageConfig"
                  [style.width.px]="linkInstancePart$ | async | partWidth:canManageConfig">
</table-cell-group>

<table-cell-group [cursor]="cursor | nextPartCursor"
                  [rows]="rows"
                  [canManageConfig]="canManageConfig"
                  [style.width.px]="documentPart$ | async | partWidth:canManageConfig">
</table-cell-group>

<table-linked-rows *ngIf="hasNextParts$ | async"
                   [cursor]="cursor | nextPartCursor"
                   [rows]="rows"
                   [canManageConfig]="canManageConfig"
                   [striped]="striped">
</table-linked-rows>
