@import '../variables';

.fc-toolbar {
  .fc-button-primary {
    background: $primary;
  }

  .fc-button br {
    display: none;
  }
}

.fc .fc-head .fc-widget-header {
  margin-top: 15px;
}

.fc .fc-widget-header {
  border: 0;
}

.fc th {
  text-align: right;
  margin-right: 0.2rem;
  border-bottom-width: 1px;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #9a9a9a;
  font-weight: 400;
  padding-bottom: 3px;
}

.fc td:first-child {
  border-left: 0;
}

.fc td:last-child {
  border-right: 0;
}

.fc-toolbar .fc-center {
  text-align: center;
  min-width: 260px;
}

.fc-dayGrid-view td.fc-day.fc-today {
  background: transparent;
}

.fc .fc-row:last-child td {
  border-bottom: 0;
}

.fc .fc-body .fc-widget-content {
  border-bottom: 0;
}

.fc-dayGrid-view .fc-day-top .fc-day-number {
  margin-top: 0.2rem;
  margin-right: 0.2rem;
}

.fc-dayGrid-view .fc-day-top.fc-today .fc-day-number {
  border: 2px solid $danger;
  background-color: $danger;
  color: white;
  box-sizing: content-box;
  border-radius: 1.4rem;
  width: 1.4rem;
  height: 1.4rem;
  display: flex;
  padding: 0.1rem;
  align-items: center;
  justify-content: center;
}
