.muuri {
  position: relative;
}

.muuri-item {
  position: absolute;
  z-index: 1;

  &.selected {
    z-index: 2;
  }
}

.muuri-item.muuri-item-dragging {
  z-index: 4;
}

.muuri-item.muuri-item-releasing {
  z-index: 3;
}

.muuri-item.muuri-item-hidden {
  z-index: 0;
}

.muuri-item-content {
  position: relative;
}
