<ng-container *ngIf="{pivotData: pivotData$ | async,
                      canManageConfig: currentView | canManageConfig | async} as data">

  <collapsible-sidebar *ngIf="data.canManageConfig"
                       [collapsed]="!sidebarOpened"
                       (toggle)="onSidebarToggle()">

    <pivot-config-wrapper class="d-block m-3"
                          [config]="config"
                          [pivotData]="data.pivotData"
                          [collections]="collections"
                          [linkTypes]="linkTypes"
                          [query]="query"
                          (configChange)="onConfigChange($event)">
    </pivot-config-wrapper>

  </collapsible-sidebar>

  <pivot-table class="flex-grow-1 h-100 overflow-auto px-3"
               [pivotData]="data.pivotData">
  </pivot-table>

</ng-container>
