<ng-container *ngIf="query | perspectiveDisplayable:1; else notDisplayable">

  <ng-container *ngIf="{pivotData: pivotData$ | async} as data">

    <collapsible-sidebar *ngIf="perspectiveConfiguration?.showSidebar && canManageConfig && pivotConfig"
                         [collapsed]="!sidebarOpened"
                         (toggle)="onSidebarToggle()">

      <pivot-config-wrapper class="d-block m-3"
                            [config]="pivotConfig"
                            [pivotData]="data.pivotData"
                            [collections]="collections"
                            [linkTypes]="linkTypes"
                            [query]="query"
                            (configChange)="onConfigChange($event)">
      </pivot-config-wrapper>

    </collapsible-sidebar>

    <pivot-table *ngIf="pivotConfig"
                 class="flex-grow-1 h-100 overflow-auto"
                 [class.mx-4]="perspectiveConfiguration?.additionalSpace"
                 [class.pb-5]="perspectiveConfiguration?.additionalSpace"
                 [pivotData]="data.pivotData"
                 [constraintData]="constraintData"
                 [dataLoaded]="dataLoaded">
    </pivot-table>

  </ng-container>
</ng-container>

<ng-template #notDisplayable>
  <invalid-query class="w-100"
                 [query]="query"
                 [view]="view"
                 [minStems]="1">
  </invalid-query>
</ng-template>
