<hidden-input (newInput)="onNewHiddenInput($event)"
              class="position-fixed">
</hidden-input>

<tr *ngIf="rows.length === 0">
  <td [attr.colspan]="columns.length" class="text-center" i18n="@@shared.preview.results.noResults">
    No records found.
  </td>
</tr>

<tr *ngFor="let row of rows; trackBy: trackByRow; let index = index"
    links-list-table-row #tableRow
    [columns]="columns"
    [constraintData]="constraintData"
    [row]="row"
    [readonly]="!permissions?.writeWithView"
    (onEdit)="onEdit(index,$event)"
    (onFocus)="onFocus(index,$event)"
    (resetFocusAndEdit)="onResetFocusAndEdit(index,$event)"
    (newValue)="onNewValue(index,$event)">
</tr>
