<input #dateTimeInput
       [id]="id"
       [readonly]="readonly"
       [value]="value | formatDate : format"
       (focus)="onFocus()"
       (click)="$event.stopPropagation()"
       (blur)="onBlur()"
       (input)="onInput()"
       (keydown)="onKeyDown($event)"
       (clickOutside)="onClickOutside($event)"
       [clickOutsideEnabled]="!readonly"
       autocomplete="off"
       class="form-control"
       data-test="date-time-input"
       type="text">

<date-time-picker *ngIf="!readonly"
                  [min]="min"
                  [max]="max"
                  [options]="options"
                  [origin]="dateTimeInput"
                  [value]="value"
                  (save)="onSave($event)">
</date-time-picker>
