.show_button {
  background-color: #0d2d44;
  color: white;
  border-radius: 4px;
  border: 0;
  font-family: Arial, serif;
}

.show_button:hover {
  background-color: #156192;
  color: white;
}

.show_button:active {
  background-color: #0b0f1f;
  color: white;
}

.collection_title {
  margin-right: 1.5em;
}
