<dialog-wrapper [submitDisabled]="formInvalid$ | async"
                [type]="'success'"
                (submit)="onSubmit()"
                *ngIf="{update: update$ | async} as data">
  <span class="title" i18n="@@dialog.calendar.event.title">{data.update, select, 1 {Update} other {Create new}} event</span>

  <div class="body">
    <create-calendar-event-form
      [config]="config$ | async"
      [collections]="collections$ | async"
      [initialTime]="initialTime$ | async"
      [stemIndex]="stemIndex$ | async"
      [document]="document$ | async"
      [query]="query$ | async"
      [currentUser]="currentUser$ | async"
      [allowedPermissions]="collectionsPermissions$ | async"
      [constraintData]="{users: users$ | async, durationUnitsMap: durationUnitsMap}"
      (createEvent)="onCreateEvent($event)"
      (updateEvent)="onUpdateEvent($event)">
    </create-calendar-event-form>
  </div>

  <span class="button-cancel" i18n="@@button.cancel">Cancel</span>
  <span class="button-submit" i18n="@@dialog.calendar.event.button">{data.update, select, 1 {Update} other {Create}}</span>
</dialog-wrapper>
