@import 'src/styles/variables';

:host {
  border: 1px solid $gray-400;
  border-radius: 0.25rem;
}

input {
  border: 1px solid transparent !important;
  outline: none !important;
  background-color: transparent !important;
}

.tag {
  background: $success-light;
  border-radius: 0.5rem;
  line-height: 1rem;
}
