<div class="dropdown">
  <button class="btn btn-outline-success dropdown-toggle"
          type="button"
          title="Selected Attribute"
          i18n-title="@@view.chart.attribute.select"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
    <ng-container *ngIf="selectedAttribute; else nothingSelected">
      <i class="{{ selectedAttribute.collectionIcon}}"></i>
      {{ selectedAttribute.attributeName }}
    </ng-container>

    <ng-template #nothingSelected>
      <span>{{ emptyDescription }}</span>
    </ng-template>
  </button>

  <div class="dropdown-menu">
    <h6 *ngIf="selectedAttribute" class="dropdown-header">{{ emptyDescription }}</h6>
    <button *ngFor="let attribute of attributes"
            class="dropdown-item"
            type="button"
            (click)="selectAttribute(attribute)">
      <i class="{{ attribute.collectionIcon }}"></i>
      {{ attribute.attributeName }}
    </button>
  </div>
</div>
