<ul class="list-group mx-5">
  <li *ngFor="let eventModel of events"
      class="list-group-item py-3 {{ !eventModel.initialized ? 'uninitialized' : null }}">
    <div class="d-flex">
        <span class="flex-grow-2">
          <span class="mr-2" i18n="@@collection.config.tab.events.on">On</span>
          <ng-container *ngFor="let fireReason of eventModel.data.fireReasons; let idx = index">
            <span class="text-success"
                  (click)="removeFireReasonFromEvent(eventModel.data, fireReason)"
                  title="Remove event fire reason"
                  i18n.title="@@collection.config.tab.events.remove.event.fire.reason">{{ fireReason }}</span>
            <span *ngIf="idx !== eventModel.data.fireReasons.length - 1">, </span>
          </ng-container>
          <input class="text-success edit-border"/>
        </span>
      <span *ngIf="eventModel.data.automatic" i18n="@@collection.config.tab.events.automatic">
          automatic
      </span>
    </div>

    <div>
      <span class="mr-2" i18n="@@collection.config.tab.events.do">Do</span>
      <input class="text-success edit-border" [(ngModel)]="eventModel.data.callback.name"/>
      <ng-template *ngIf="eventModel.data.callback.hasValue">
        <span>:</span>
        <input class="edit-border" [(ngModel)]="eventModel.data.callback.value"/>
      </ng-template>
    </div>

    <div>
      <span class="mr-2" i18n="@@collection.config.tab.events.parameters">Parameters</span>
      <ng-container *ngFor="let parameter of eventModel.data.parameters">
        <div class="text-success">{{ parameter.name }}</div>
      </ng-container>
      <input class="edit-border"/>
    </div>
  </li>

  <li i18n-title="@@collection.config.tab.events.add.title"
      title="Add new event"
      class="list-group-item py-3 new-event color-transition green-on-hover"
      (click)="addModel()">
    <div class="d-flex align-baseline">
      <i class="fa fa-plus bigger" aria-hidden="true"></i>
      <span class="ml-3" i18n="@@collection.config.tab.events.add">
        Add Event
      </span>
    </div>
  </li>

</ul>
