@import '~src/styles/variables';

.header {
  display: grid;
  grid-template-columns: 1fr 2fr auto;
  grid-gap: 0.5rem;

  .value {
    display: grid;
    grid-template-columns: auto minmax(100px, max-content);
    align-items: center;
  }
}

.variable-row:not(:last-child) {
  border-bottom: 1px solid $gray-200;
}
