<button type="button"
        class="btn btn-sm btn-primary me-2 mt-2 text-nowrap"
        (click)="add()"
        data-tour="collection-add">
  <i class="fa fa-plus-circle me-1" aria-hidden="true"></i>
  <span class="fw-bold" i18n="@@create.new.collection">Create New Table</span>
</button>

<button type="button"
        *ngIf="showAddTaskTable"
        class="btn btn-sm btn-primary mt-2 text-nowrap"
        (click)="onCreate()"
        data-tour="collection-add">
  <i *ngIf="!(creatingData$ | async)" class="fa fa-tasks me-1" aria-hidden="true"></i>
  <span *ngIf="creatingData$ | async" class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
  <span class="fw-bold" i18n="@@tasks.empty.collections.button">Create Tasks Table</span>
</button>
