<td class="align-middle">
  <user-stamp [userName]="userName" [email]="email" [size]="32"></user-stamp>
</td>

<td class="align-middle">
  <div class="text-truncate">{{email}}</div>
</td>

<td class="align-middle">
  <div>
    <i *ngFor="let role of viewResourceType | resourceRoles; let first = first"
       class="fas fa-fw {{role | roleIcon}}"
       [class.mx-1]="!first"
       [class.mr-1]="first"
       [class.role-clickable]="changeRoles"
       [class.role-selected]="roles | includes:role"
       aria-hidden="true"
       [title]="role | roleTitle"
       (click)="toggleRole(role)">
    </i>
    <i class="fal fa-fw fa-times text-danger mx-2 cursor-pointer"
       *ngIf="canRemove"
       aria-hidden="true"
       title="Remove User"
       i18n-title="@@users.actions.remove"
       (click)="onDelete()"></i>
  </div>
</td>
