:host::ng-deep {
  & > * > * {
    padding: 0 !important;
  }

  & > select-data-input > * {
    padding: 4px !important;
    margin: -4px !important;
    width: calc(100% + 8px) !important;
  }

  .ql-editor {
    margin: 0 !important;
  }
}

boolean-data-input {
  justify-content: flex-start;
}

.white-space-normal {
  white-space: normal;
}
