<ng-container *ngIf="{collection: collection$ | async, linkRows: linkRows$ | async} as data">
  <ng-container *ngIf="data.collection && data.linkRows">
    <div class="row">
      <div class="col text-right">
        <strong>{{data.linkRows.length > 0 ? page * pageSize + 1 : 0}}&mdash;{{page | pageEndIndex:pageSize:data.linkRows.length}}</strong>
        &nbsp;<span i18n="@@count.of">of</span>&nbsp;{{data.linkRows.length}}
        <a *ngIf="page - 1 | canActivatePage:pageSize:data.linkRows.length" (click)="page = page - 1"><i
          class="clickable fas fa-angle-double-left"></i></a>
        <i *ngIf="!(page - 1 | canActivatePage:pageSize:data.linkRows.length)" class="fas fa-angle-double-left"></i>
        <a *ngIf="page + 1 | canActivatePage:pageSize:data.linkRows.length" (click)="page = page + 1"><i
          class="clickable fas fa-angle-double-right"></i></a>
        <i *ngIf="!(page + 1 | canActivatePage:pageSize:data.linkRows.length)" class="fas fa-angle-double-right"></i>
      </div>
    </div>
    <div class="h-10em table-responsive">
      <table class="table table-sm" id="preview-results-table">
        <thead links-list-table-header
               [collection]="data.collection">
        </thead>
        <tbody links-list-table-body
               [collection]="data.collection"
               [linkRows]="data.linkRows | slice : (page * pageSize) : ((page + 1) * pageSize)"
               (select)="select.emit($event)"
               (unlink)="unlink.emit($event)">
        </tbody>
      </table>
    </div>
    <span class="small float-right text-primary" title.i18n="@@shared.preview-results.scrollable"
          title="You can scroll the table...">
    <i class="fas fa-arrows-h"></i>
  </span>
    <span class="small float-right text-primary" i18n-title="@@shared.preview-results.scrollable"
          title="You can scroll the table...">
    <i class="fas fa-arrows-v" style="top: -1em; left: 2em; position: relative;"></i>
  </span>
  </ng-container>
</ng-container>
