<div class="row">
  <div class="col small text-right">
    <strong>1&mdash;100</strong>&nbsp;of&nbsp;234
    <a href="#"><i class="fas fa-angle-double-left"></i></a>
    <a href="#"><i class="fas fa-angle-double-right"></i></a>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th *ngIf="linkAttrCount > 0" [attr.colspan]="linkAttrCount" [title]="linkName">
          <icons-presenter [icons]="linkIcons" [colors]="linkColors" [title]="linkName">
          </icons-presenter>
          {{linkName}}
        </th>
        <th [attr.colspan]="attributes.length - linkAttrCount" [title]="collectionName" [class.border-left]="linkAttrCount > 0">
          <i [class]="collectionIcon" [style.color]="collectionColor"></i>&nbsp;{{collectionName}}
        </th>
      </tr>
      <tr>
        <th *ngFor="let attr of attributes; let j = index;" scope="col" title="{{attr}}" [class.border-left]="linkAttrCount == j && linkAttrCount > 0">{{attr}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of data; let idx = index"
          class="clickable-row"
          (click)="openLinked(idx)">
        <td *ngFor="let attr of attributes; let i = index;"
            title="{{r[attr]}}"
            [class.border-left]="linkAttrCount == i && linkAttrCount > 0"
            [class.always-white]="i < linkAttrCount">
          <input-box *ngIf="i < linkAttrCount"
                     class="flex-grow-2 my-1"
                     [maxLines]="1"
                     [editable]="true"
                     [canStayEmpty]="true"
                     [initialValue]="r[attr]"
                     (newValue)="r[attr] = $event">
          </input-box>
          <span *ngIf="i >= linkAttrCount">{{r[attr]}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<span class="small float-right color-success" title.i18n="@@shared.preview-results.scrollable" title="You can scroll the table...">
  <i class="fas fa-arrows-h"></i>
</span>
