<ng-container *ngIf="{collection: collection$ | async, documents: documents$ | async} as data">
  <ng-container *ngIf="data.collection && data.documents">
    <div class="row">
      <div class="col text-right">
        <strong>{{data.documents.length > 0 ? page * pageSize + 1 : 0}}&mdash;{{page | pageEndIndex:pageSize:data.documents.length}}</strong>
        &nbsp;<span i18n="@@count.of">of</span>&nbsp;{{data.documents.length}}
        <a *ngIf="page - 1 | canActivatePage:pageSize:data.documents.length" (click)="page = page - 1"><i
          class="clickable fas fa-angle-double-left"></i></a>
        <i *ngIf="!(page - 1 | canActivatePage:pageSize:data.documents.length)" class="fas fa-angle-double-left"></i>
        <a *ngIf="page + 1 | canActivatePage:pageSize:data.documents.length" (click)="page = page + 1"><i
          class="clickable fas fa-angle-double-right"></i></a>
        <i *ngIf="!(page + 1 | canActivatePage:pageSize:data.documents.length)" class="fas fa-angle-double-right"></i>
      </div>
    </div>
    <div class="table-responsive h-10em">
      <table class="table table-sm" id="preview-results-table">
        <thead>
          <tr>
            <th *ngFor="let attr of data.collection.attributes; trackBy:trackByAttribute" scope="col" title="{{attr.name}}">{{attr.name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="data.documents.length === 0">
            <td [attr.colspan]="data.collection.attributes.length" class="text-center" i18n="@@shared.preview.results.noResults">
              No records found.
            </td>
          </tr>
          <ng-container
            *ngFor="let r of (data.documents | slice : (page * pageSize) : ((page + 1) * pageSize)); trackBy:trackByDocument; let idx = index;">
            <tr class="clickable-row" (dblclick)="documentSelected(data.collection, data.documents[idx + (page * pageSize)])">
              <td *ngFor="let attr of data.collection.attributes" title="{{r.data[attr.id]}}">{{r.data[attr.id]}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <span class="small float-right text-primary" title.i18n="@@shared.preview-results.scrollable"
          title="You can scroll the table...">
    <i class="fas fa-arrows-h"></i>
  </span>
    <span class="small float-right text-primary" i18n-title="@@shared.preview-results.scrollable"
          title="You can scroll the table...">
    <i class="fas fa-arrows-v" style="top: -1em; left: 2em; position: relative;"></i>
  </span>
  </ng-container>
</ng-container>
