<div class="d-flex w-100 justify-content-start">
  <div class="d-flex align-items-center mr-3">
    <i class="fas fa-plus-circle text-success"></i>
  </div>
  <div class="flex-grow-1">
    <form [formGroup]="form" class="">
      <div class="form-group d-flex align-items-baseline justify-content-start flex-wrap">
        <label for="name" class="mb-0">New rule name</label>
        <input type="text" class="form-control ml-3 w-auto" autocomplete="off" id="name" formControlName="name" aria-errormessage="ruleNameError" required="">
        <small *ngIf="(name.dirty || name.touched) && name.invalid && name.errors?.usedRuleName" id="ruleNameError" class="text-danger ml-2">Rule name already used.</small>
      </div>
      <div class="form-group d-flex align-items-center justify-content-start flex-wrap">
        <div class="text-nowrap">
          On record
        </div>
        <div class="form-check ml-3">
          <input class="form-check-input" type="checkbox" formControlName="timingCreate" id="timingCreate">
          <label class="form-check-label" for="timingCreate" i18n="@@rule.timing.create">
            Create
          </label>
        </div>
        <div class="form-check ml-3">
          <input class="form-check-input" type="checkbox" formControlName="timingUpdate" id="timingUpdate">
          <label class="form-check-label" for="timingUpdate" i18n="@@rule.timing.update">
            Update
          </label>
        </div>
        <div class="form-check ml-3">
          <input class="form-check-input" type="checkbox" formControlName="timingDelete" id="timingDelete">
          <label class="form-check-label" for="timingDelete" i18n="@@rule.timing.delete">
            Delete
          </label>
        </div>
      </div>
      <div class="form-group d-flex align-items-center justify-content-start flex-wrap">
        <div class="text-nowrap">
          Fire rule
        </div>
        <select class="custom-select ml-3"
                style="width: initial;"
                formControlName="type"
                id="ruleType">
          <option *ngFor="let type of types"
                  [value]="type"
                  i18n="@@rule.type.value">
            {type, select, AUTO_LINK {Automated link} BLOCKLY {Blockly}}
          </option>
        </select>
      </div>

      <div class="form-group" [ngSwitch]="typeControl.value">
        <auto-link-form
          *ngSwitchCase="'AUTO_LINK'"
          [form]="configForm"
          [collection]="collection"
          [config]="ruleConfiguration">
        </auto-link-form>
        <blockly-form
          *ngSwitchCase="'BLOCKLY'"
          [form]="configForm"
          [config]="ruleConfiguration">
        </blockly-form>
      </div>

      <div class="d-flex justify-content-end align-items-center flex-wrap">
        <button type="button"
                (click)="fireCancelNewRule()"
                class="btn btn-sm btn-outline-secondary">
          <span class="font-weight-bold" i18n="@@button.cancel">Cancel</span>
        </button>
        <button type="button"
                [disabled]="!this.form.valid || !(form.get('timingCreate').value || form.get('timingUpdate').value || (typeControl.value !== 'AUTO_LINK' && form.get('timingDelete').value))"
                class="btn btn-sm btn-primary ml-2">
          <i class="fas fa-plus"></i>&nbsp;
          <span class="font-weight-bold" i18n="@@collection.tab.rules.rule.add">Add Rule</span>
        </button>
      </div>

    </form>
  </div>
</div>

