<section class="lum-autocomplete">
  <ng-content></ng-content>
  <div *ngIf="pickerVisible"
       [@animateHeight]="'in'"
       class="dropdown-select"
       (mouseover)="onMouseOver()">
    <div *ngFor="let oneOption of filteredSource; let idx = index;"
         class="autocomplete-item"
         tabindex="0"
         [@animateHeight]="'in'"
         #autocompleteItem
         (click)="updateData(oneOption)"
         [ngClass]="{active: oneOption.active}">
      <ng-template [ngIf]="!options.limit || idx < options.limit">
        {{options && options.displayKey && oneOption[options.displayKey]}}
      </ng-template>
    </div>
  </div>
</section>
