lum-auto-complete {
  .lum-autocomplete {
    display: inline-block;
    line-height: 25px;

    [contenteditable] {
      display: inline-block;
      min-width: 10px;
    }

    .dropdown-select {
      z-index: 99;
      position: absolute;
      min-width: 400px;
      background-color: #fff;
      overflow: hidden;
      list-style-type: none;
      padding: 0;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      margin-top: 10px;

      .autocomplete-item {
        overflow: hidden;
        padding: 0 1.25rem;
        letter-spacing: 0.05rem;
        font-size: 18px;
        cursor: pointer;
        font-weight: 400;
        line-height: 32px;
        text-transform: none;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.active, &:hover {
          background-color: #3498DB;
          color: #ecf0f1;
        }
      }
    }
  }
}


