<dropdown [origin]="origin"
          [showBackdrop]="false"
          [positions]="dropdownPositions"
          [pushOnScreen]="true">
  <div class="card py-2 overflow-auto" [style.width.rem]="25"
       [style.max-height.vh]="90">
    <a *ngFor="let video of videos; trackBy: trackByVideo"
       class="dropdown-item d-flex"
       (click)="onVideoClick(video)"
       [title]="video.summary">
      <img [src]="video.thumbnail" [style.width.px]="64" class="mr-4"/>
      <div>
        <span class="summary">{{video.summary}}</span>
        <span class="description text-muted">{{video.description}}</span>
      </div>
    </a>
  </div>
</dropdown>
