<dropdown [origin]="origin"
          [showBackdrop]="false"
          [closeOnClickOrigin]="true"
          [positions]="dropdownPositions"
          [pushOnScreen]="true">
  <div class="card py-2 overflow-auto d-block" [style.width.rem]="25"
       [style.max-height.vh]="90">
    <div *ngFor="let video of videos; trackBy: trackByVideo"
       class="dropdown-item d-flex align-items-start cursor-pointer"
       (click)="onVideoClick(video)"
       [title]="video.summary">
      <img [src]="video.thumbnail" [style.width.px]="64" class="mr-4"/>
      <div class="flex-grow-1 d-flex flex-column">
        <span class="summary">{{video.summary}}</span>
        <span class="description text-muted">{{video.description}}</span>
      </div>
    </div>
  </div>
</dropdown>
