.dropdown-item {
  line-height: 1.1rem;

  div {
    display: inline-block;
    width: calc(100% - 64px);
  }

  span.text-muted {
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    line-break: strict;
    display: inline-block;
    max-height: 4.4rem;
  }

  .summary,
  .description {
    display: block;
    white-space: normal;
  }
}
