@import "../../../../shared/variables";

:host {

  display: block;

  input {
    outline: none;
  }

  .search {
    transition: background-color $animation-color-duration, border-color $animation-color-duration;
    background-color: $secondary-color;
  }

  .suggestion-list {
    transform: none !important;
    top: 32px !important;
    left: -130px !important;
    width: 100%;
    overflow: hidden;
  }

  .lumeer {
    transition: background-color $animation-color-duration;
    padding: 1px;
    height: 27px;

    &:hover {
      background-color: $secondary-color;
    }
  }

  table {
    table-layout: fixed;
  }

  thead {
    transition: background-color $animation-color-duration;
  }

  tr {
    .first-row {
      transition: color $animation-color-duration;

      i {
        opacity: 0;
      }

      &:hover {
        color: $success;
      }
    }

    &:hover .first-row i {
        opacity: 1;
    }
  }

  .visible i {
    opacity: 1 !important;
  }

  .constraint {
    transition: background-color $animation-color-duration;
    white-space: nowrap;
    color: $secondary-color;
  }

  input, .no-shrink {
    flex: 2;
  }

  input {
    min-width: 100px;
  }

  .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: $secondary-color;
  }

  .table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
    background-color: #f2f2f2;
  }

  .text-light {
    font-weight: bold;
    color: $secondary-color !important;
  }

  .input-box {
    margin-left: 4px;
    border: 1px solid #ced4da;
    border-radius: $border-radius-small;
  }

}
