<table class="table table-hover {{ colored ? 'table-striped' : null }} table-bordered border-0">
  <thead class="thead-default" [style.background-color]="colored && hexColorOpacity(collection.color, 0.5)">
  <tr>
    <th *ngIf="allowSettingPrimaryAttribute" style="width: 45px" class="border-0"></th>
    <th style="width: 230px"
        class="bg-transparent align-baseline border-0"
        i18n="@@collection.config.tab.attributes.attribute">
      Attribute
    </th>
    <th style="width: 100px"
        class="bg-transparent align-baseline border-0"
        i18n="@@collection.config.tab.attributes.usage">
      Usage
    </th>
    <th class="bg-transparent border-0">
      <div class="d-flex flex-wrap">
        <span class="no-shrink" i18n="@@collection.config.tab.attributes.constraints">Constraints</span>

        <div title="Search" i18n-title="@@collection.config.tab.attributes.search" class="search rounded">
          <input type="search" class="ml-2 border-0" #searchInput
                 [(ngModel)]="searched"
                 (focus)="activeSearch = true"
                 (blur)="activeSearch = !!searched">
          <i class="mr-2 text-success fa fa-search" (click)="searchInput.focus()"></i>
        </div>

        <div class="dropdown">
          <img title="Lumeer suggestions"
               i18n-title="@@collection.config.tab.attributes.suggestions"
               class="lumeer ml-2 rounded"
               src="../../../../..{{publicPath()}}img/lumeer-logo.png"/>

          <div *ngIf="activeAttribute['newConstraint'] && lumeerSuggestions.length"
               class="dropdown-menu suggestion-list show"
               id="suggestions-dropdown">
            <h6 class="dropdown-header">Lumeer suggests:</h6>
            <span *ngFor="let lumeerSuggestion of lumeerSuggestions" class="dropdown-item"
                  [style.color]="lumeerSuggestion.color"
                  (click)="addConstraint(activeAttribute, lumeerSuggestion.name)">{{ lumeerSuggestion.name }}</span>
          </div>
        </div>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let attribute of attributes(); let row = index">
    <tr *ngIf="!activeSearch || matchesSearch(attribute)">
      <th *ngIf="allowSettingPrimaryAttribute" scope="row"
          class="first-row {{ collection.defaultAttribute === attribute ? 'visible' : null }}">
        <i *ngIf="collection.defaultAttribute === attribute"
           class="fas fa-fw fa-check-circle"
           title="Remove default Attribute"
           i18n-title="@@collection.config.tab.attributes.remove.default.attribute"
           (click)="removeDefaultAttribute()"></i>
        <i *ngIf="collection.defaultAttribute !== attribute"
           class="fas fa-fw fa-check"
           title="Set Default Attribute"
           i18n-title="@@collection.config.tab.default.attribute.set"
           (click)="setDefaultAttribute(attribute)"></i>
      </th>
      <td>
        <input #attributeName
               type="text"
               class="{{ collection.defaultAttribute === attribute ? 'font-weight-bold' : null }} border-0"
               [(ngModel)]="attribute.name"
               (focus)="editedAttributeId = attribute.id"
               (blur)="attribute.name ? updateAttribute(attribute) : removeAttribute(attribute, row)"
               (keyup.enter)="attributeName.blur()"
               (keyup.Escape)="attributeName.blur()">
      </td>
      <td class="text-right">{{ formatNumber(attribute.usageCount) }}</td>
      <td>
        <div class="d-flex flex-wrap position-relative"
             (keydown.ArrowUp)="suggestions.length && selectUpperSuggestion()"
             (keydown.ArrowDown)="suggestions.length && selectLowerSuggestion()"
             (keydown.enter)="suggestions.length && selectedSuggestionIndex !== -1 && addSelectedSuggestion(attribute)">
          <div class="constraint px-2 my-1 ml-1 rounded"
               *ngFor="let constraint of attribute.constraints; let idx = index; trackBy:trackByIndex"
               [style.background-color]="darken(constraintColor(constraint), mouseOver.attribute === attribute && mouseOver.constraint === constraint ? 40 : 0)"
               (mouseenter)="mouseOver = {attribute: attribute, constraint: constraint}"
               (mouseleave)="mouseOver = {attribute: null, constraint: ''}">
            <input class="border-0 input text-light" #input
                   [(ngModel)]="attribute.constraints[idx]"
                   [attr.id]="'constraint' + idx"
                   [style.width]="((input.value.length + 1) * 8) + 'px'"
                   (blur)="updateAttribute(attribute)"/>
            <i class="fas fa-times remove font-weight-light" aria-hidden="true"
               (click)="removeConstraint(attribute, idx)"
               title="Remove Constraint"
               i18n="@@collection.config.tab.attributes.constraint.remove"></i>
          </div>
          <div class="dropdown input-box">
            <input class="px-2 my-1 ml-1 border-0"
                   [attr.id]="attribute.id"
                   [(ngModel)]="attribute['newConstraint']"
                   (ngModelChange)="refreshSuggestions(); selectedSuggestionIndex = -1"
                   (focus)="activeAttribute = attribute"
                   (keyup.enter)="attribute['newConstraint'] && addConstraint(attribute, attribute['newConstraint'])"
                   (keydown.backspace)="constraintBackspace(attribute)"
                   placeholder="{{ attribute.constraints.length ? '...' : '+' }}"/>
            <div *ngIf="attribute['newConstraint'] && suggestions.length"
                 class="dropdown-menu show">
            <span *ngFor="let suggestion of suggestions; let suggestionIdx = index"
                  class="dropdown-item"
                  tabindex="1"
                  [style.color]="suggestion.color"
                  [attr.id]="'suggestion' + suggestionIdx"
                  (click)="addConstraint(attribute, suggestion.name)">{{ suggestion.name }}</span>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </ng-container>
  <tr *ngIf="allowCreatingAttributes">
    <th *ngIf="allowSettingPrimaryAttribute" scope="row" class="first-row"></th>
    <td colspan="3">
      <input #newAttrubute
             class="border-0"
             type="text"
             [(ngModel)]="newAttributeName"
             (blur)="newAttributeName && createAttribute(newAttributeName)"
             (keyup.enter)="newAttrubute.blur()"
             placeholder=" + ">
    </td>
  </tr>
  </tbody>
</table>
