<ng-container *ngIf="{readonly: !permissions?.writeWithView} as data">

  <div *ngIf="!editableKey; else editableKeyInput" class="p-0 px-1 d-flex flex-row flex-nowrap align-items-center font-italic data-input key">
    {{keyDataValue.value}}
  </div>

  <ng-template #editableKeyInput>
    <div class="p-0 pr-1 d-flex flex-row flex-nowrap align-items-center justify-content-center" >
      <data-input class="h-100 w-100 p-1 data-input key"
                  [cursor]="cursor"
                  [focus]="true"
                  [readonly]="!(keyEditing$ | async)"
                  [dataValue]="keyDataValue"
                  [placeholder]="placeholder"
                  [preventEventBubble]="preventEventBubble"
                  [suggestions]="unusedAttributes | attributesToDataSuggestions"
                  (save)="onNewKey($event)"
                  (dblclick)="onKeyInputDblClick($event)"
                  (cancel)="onKeyInputCancel()"
                  (click)="onKeyFocus()"
                  (clickOutside)="onKeyInputCancel()"
                  [class.editing]="keyEditing$ | async"
                  [class.cursor-pointer]="!data.readonly"
                  [class.read-only]="data.readonly">
      </data-input>
    </div>
  </ng-template>

  <div class="p-0 pl-1 d-flex flex-row flex-nowrap align-items-center justify-content-center"
       *ngIf="row.attribute | dataInputEditInfo:dataValue:editable: (editing$ | async) as dataInputInfo">
    <data-input class="h-100 w-100 p-1 data-input value"
                [constraint]="row.attribute?.constraint"
                [cursor]="cursor"
                [dataValue]="dataValue"
                [focus]="true"
                [configuration]="configuration"
                [readonly]="dataInputInfo.readonly"
                [editableInReadonly]="!data.readonly"
                [preventEventBubble]="preventEventBubble"
                (save)="onNewValue($event)"
                (dblclick)="onDataInputDblClick($event)"
                (cancel)="onDataInputCancel()"
                (click)="onValueFocus()"
                (valueChange)="onValueEdit($event)"
                (clickOutside)="onDataInputCancel()"
                [class.editing]="(editing$ | async) && !row.attribute?.constraint?.isDirectlyEditable"
                [class.cursor-pointer]="!dataInputInfo.readonly"
                [class.read-only]="dataInputInfo.readonly">
    </data-input>
  </div>

  <data-resource-data-row-icons class="d-flex flex-row flex-nowrap align-items-center ml-1 justify-content-center"
                                [row]="row"
                                [permissions]="permissions"
                                (delete)="deleteRow.emit()"
                                (attributeFunctionClick)="attributeFunctionClick.emit()"
                                (attributeTypeClick)="attributeTypeClick.emit()">
  </data-resource-data-row-icons>

</ng-container>
