<div class="d-inline-flex flex-nowrap w-100">
  <span *ngIf="tag" class="d-flex align-items-center mr-2">
    <span class="text-white badge badge-pill align-text-bottom tag" [style.background-color]="tagColor">
      {{tag}}
    </span>
  </span>

  <span class="mr-1 d-flex overflow-hidden align-items-center"
        [style.color]="collection?.color"
        [title]="collection?.name">
    <i class="fa-fw {{ collection?.icon }} mr-1"></i>&nbsp;
    <span class="flex-grow-1 text-truncate">
      {{ collection?.name }}
    </span>
  </span>

  <div class="d-flex align-self-center ml-auto">
    <i class="icon text-danger fas fa-trash p-1 cursor-pointer"
       *ngIf="!readonly"
       title="Delete Record" i18n-title="@@document.button.remove"
       (click)="onRemove()"></i>
    <i class="icon text-success fas fa-pencil p-1 cursor-pointer"
       *ngIf="!readonly"
       title="Edit Record" i18n-title="@@document.button.edit"
       (click)="onEdit()"></i>
    <i *ngIf="initialized && directRead"
       class="icon text-warning fa-star button p-1 cursor-pointer"
       [class.always-visible]="favorite"
       title="{{ favorite ?  'Remove from favorites' : 'Add to favorites'}}"
       i18n-title="@@collection.document.favorite"
       [ngClass]="favorite ? 'fas' : 'far'"
       (click)="onToggleFavorite()"></i>
  </div>
</div>
