<select-item class="d-block w-100"
             [items]="selectItems | ganttChartPropertyItems:property:config"
             [selectedId]="config[property] | cleanQueryAttribute"
             [placeholderText]="property | ganttChartBarPlaceholder"
             [emptyValue]="property | ganttChartBarEmptyValue"
             [removable]="true"
             [buttonClasses]="buttonClasses"
             (selected)="onBarPropertySelect($event)"
             (remove)="onBarPropertyRemoved()">
</select-item>
