@import "../../../styles/variables";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  a {
    background-image: url("../../../img/lumeer-logo.png");
    display: block;
    height: 50px;
    width: 150px;

    span {
      display: none;
    }
  }
}

.search {
  display: flex;
  flex-grow: 2;
  justify-content: center;
  margin: 0 10px;

  input {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 3px;
    height: 30px;
    width: 100%;
    padding: 5px;
  }

  button {
    background: url("../../../img/search-button.png");
    border: 0;
    display: block;
    height: 35px;
    width: 35px;
    margin: 0 10px;

    span {
      display: none;
    }
  }
}

.project {
  font-size: 22px;
  margin: 0 10px;

  a:hover {
    text-decoration: none;
  }
}

.notifications {
  background-color: #eeeeee;
  border-radius: 15px;
  color: #18bc9c;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0 10px;
}

.profile {
  height: 45px;
  width: 45px;
  background-color: #eeeeee;
  border-radius: 25px;

  > * {
    cursor: default;
    z-index: 999;
  }

  &:hover, &:focus {
    text-decoration: none;
  }

  .arrow-up {
    position: relative;
    width: 0;
    height: 0;
    top: 50px;
    left: 17.5px;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #cccccc;
  }

  ul {
    box-shadow: $default-shadow;
    min-width: 160px;
    position: relative;
    top: 50px;
    right: 110px;

    padding: 6px 0;
    border: 1px solid #cccccc;
    border-radius: 3px;
    overflow: hidden;

    color: black;

    li {

      > * {
        display: block;
        padding: 6px 6px 6px 20px;
      }

      &.divider {
        height: 1px;
        overflow: hidden;
        margin: 6px 0;
        background-color: #e5e5e5;

        padding: 0;
      }

      &:hover {
        background-color: #eeeeee;
      }
    }
  }
}
