.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  a {
    background-image: url("../../../img/lumeer-logo.png");
    display: block;
    height: 50px;
    width: 150px;

    span {
      display: none;
    }
  }
}

.search {
  display: flex;
  flex-grow: 2;
  justify-content: center;
  margin: 0 10px;

  input {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 3px;
    height: 30px;
    width: 100%;
    padding: 5px;
  }

  button {
    background: url("../../../img/search-button.png");
    border: 0;
    display: block;
    height: 30px;
    width: 30px;
    margin: 0 10px;

    span {
      display: none;
    }
  }
}

.project {
  font-size: 22px;
  margin: 0 10px;

  a:hover {
    text-decoration: none;
  }
}

.notifications {
  background-color: #eeeeee;
  border-radius: 15px;
  color: #18bc9c;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0 10px;
}

.profile {
  background-color: #eeeeee;
  border-radius: 25px;
  height: 50px;
  width: 50px;
}
