@import "../../../styles/variables";

:host {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  a {
    background-image: url("../../../img/lumeer-logo.png");
    display: block;
    height: 50px;
    width: 150px;

    span {
      display: none;
    }
  }
}

.search {
  margin: 0 10px;
  width: 60%;
}

.menu {
  display: flex;
}

.project {
  font-size: 22px;
  line-height: 50px;
  margin: 0 10px;

  a:hover {
    text-decoration: none;
  }
}

.notifications {
  background-color: #eeeeee;
  border-radius: 15px;
  color: $brand-success;
  flex-shrink: 0;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  margin: 10px;
}

.profile {
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background-color: #eeeeee;
  border-radius: 25px;

  > * {
    cursor: default;
    z-index: 999;
  }

  &:hover, &:focus {
    text-decoration: none;
  }

  .arrow-up {
    position: relative;
    width: 0;
    height: 0;
    top: 50px;
    left: 20px;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #cccccc;
  }

  ul {
    box-shadow: $default-shadow-down;
    background: $secondary-color;
    min-width: 160px;
    position: relative;
    top: 50px;
    right: 110px;

    padding: 6px 0;
    border: 1px solid #cccccc;
    border-radius: 3px;
    overflow: hidden;

    color: black;

    li {

      > * {
        display: block;
        padding: 6px 6px 6px 20px;
      }

      &.divider {
        height: 1px;
        overflow: hidden;
        margin: 6px 0;
        background-color: #e5e5e5;

        padding: 0;
      }

      &:hover {
        background-color: #eeeeee;
      }
    }
  }
}
