<div class="logo">
  <a href="index.html">
    <img src="../../../img/lumeer-logo.png" height="40">
    <label>Lumeer</label>
  </a>
</div>

<div class="search">
  <search-box *ngIf="isSearchBoxShown()"></search-box>
</div>

<div class="menu">
  <div class="project" *ngIf="workspaceService.isWorkspaceSet()">
    <a tabindex [routerLink]="['/workspace']">
      <span>{{workspaceService.projectCode}}@{{workspaceService.organizationCode}}</span>
    </a>
  </div>
  <div class="notifications">0</div>

  <!-- User icon -->
  <a tabindex #profile class="profile">
    <i class="fa fa-user profile-picture"></i>
  </a>

  <div class="profile-dropdown-menu" #dropdown>
    <div *ngIf="optionsVisible" class="arrow-up"></div>
    <ul *ngIf="optionsVisible" [@animateHeight]="'in'">
      <li><a tabindex title="Settings" routerLink="/user/settings">
        <i class="fas fa-fx fa-cog" data-fa-transform="left-4" aria-hidden="true"></i>Settings</a>
      </li>

      <li><a title="Account" href="https://auth.lumeer.io/auth/realms/lumeer/account">
        <i class="fas fa-fx fa-user" data-fa-transform="left-4" aria-hidden="true"></i>Account</a>
      </li>

      <li class="divider">
      </li>

      <li><a title="Sign Out" href="https://auth.lumeer.io/auth/realms/lumeer/protocol/openid-connect/logout?redirect_uri=https%3A%2F%2Fwww.lumeer.io%2F">
        <i class="fas fa-fx fa-sign-in" data-fa-transform="left-4" aria-hidden="true"></i>Sign Out</a>
      </li>

      <li><span>Licence: {{this.licence}}</span></li>
    </ul>
  </div>
</div>
