<div class="logo">
  <a href="index.html">
    <img src="../../../img/lumeer-logo.png" height="40">
    <label>Lumeer</label>
  </a>
</div>

<div class="search">
  <search-box *ngIf="isSearchBoxShown()"></search-box>
</div>

<div class="menu">
  <div class="project" *ngIf="workspaceService.isWorkspaceSet()">
    <a [routerLink]="['/workspace']">
      <span>{{workspaceService.projectCode}}@{{workspaceService.organizationCode}}</span>
    </a>
  </div>
  <div class="notifications">0</div>

  <!-- User icon -->
  <a #profile class="profile">

    <div *ngIf="optionsVisible" class="arrow-up"></div>
    <ul *ngIf="optionsVisible" [@animateHeight]="'in'">
      <li><a title="Settings" href="javascript: void(0)" routerLink="/user/settings"><i class="fa fa-cog" aria-hidden="true"></i>Settings</a></li>
      <li><a title="Account" href="https://auth.lumeer.io/auth/realms/lumeer/account"><i class="fa fa-user" aria-hidden="true"></i>Account</a></li>
      <li class="divider"></li>
      <li><a title="Sign Out" href="https://auth.lumeer.io/auth/realms/lumeer/protocol/openid-connect/logout?redirect_uri=https%3A%2F%2Fwww.lumeer.io%2F"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign Out</a></li>
      <li><span>Licence: {{this.licence}}</span></li>
    </ul>
  </a>
</div>
