<div class="header">
  <div class="logo">
    <a href="index.html">
      <span>Lumeer</span>
    </a>
  </div>
  <!-- TODO search box will be provided by another component -->
  <div class="search">
    <input class="search-box" placeholder="Type anything you search for..."/>
    <button class="search-button">
      <span>Search</span>
    </button>
  </div>
  <div class="project">
    <a routeLink="/workspace">
      <span *ngIf="workspaceService.organization && workspaceService.project">
        {{workspaceService.organization.code}}@{{workspaceService.project.code}}</span></a>
  </div>
  <div class="notifications">0</div>
  <div class="profile"></div>
</div>
