@import '../../../../styles/variables';

:host {
  background: $white !important;

  display: block;

  .nav-link {
    padding: 0 1.5px;
  }

  .tab-content-container {
    height: 153px;
    overflow: auto;
  }
  .tab-content {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    padding: 0 1rem;

    .icon {
      color: $primary;
      padding: 5px;
      margin: 2px;
      width: 26px;
      height: 26px;

      &.selected {
        color: white;
        background-color: $primary;
      }

      &.active {
        color: white;
        background-color: $primary;
      }
    }
  }
}
