<div class="text-center text-muted px-0" i18n="@@icon-picker.select.icon">2. Choose icon</div>
<div class="d-flex mx-3 my-1">
  <input
    class="form-control form-control-sm flex-fill"
    (input)="filterInput($event)"
    [(value)]="filter"
    placeholder="Search for icon..."
    i18n-placeholder="@@icon-picker.select.icon.search"
  />
</div>
<div class="tab-content-container">
  <div class="tab-content align-self-start justify-content-center">
    <i *ngFor="let iconOption of filteredIcons" class="fa-fw {{ iconOption }} text-center rounded icon"
       [class.selected]="iconOption === selected"
       [class.active]="iconOption === icon"
       (mouseenter)="preview(iconOption)"
       (mouseleave)="preview(null)"
       (click)="select(iconOption)"
       id="{{iconOption | iconId:dropdownId }}"
       aria-hidden="true"
    >
    </i>
  </div>
</div>
