<ul class="nav nav-tabs" role="tablist" (click)="$event.stopPropagation()">
  <li *ngFor="let i of range(0, TABS)" (click)="tab = i" class="nav-item"><a
    class="nav-link text-success {{ i === tab ? 'active' : null }}"><i class="fa-fw {{ i === tab ? 'fa-inverse' : null }} {{ tabIcon(i) }}"></i></a></li>
</ul>

<div class="tab-content">
  <div *ngFor="let iconOption of iconsInTab(tab)" class="text-center {{ iconHighlight(iconOption) }} rounded icon"
       (mouseenter)="preview(iconOption)"
       (mouseleave)="preview()"
       (click)="select(iconOption)">
    <i class="fa-fw {{ iconOption }}" aria-hidden="true"></i>
  </div>
</div>
