<team-table *ngIf="{serviceLimits: serviceLimits$ | async} as data"
            [users]="users"
            [teams]="teams"
            [view]="view"
            [color]="view | viewColor:(collectionsMap$ | async)"
            [resourceType]="resourceType"
            [permissions]="permissions"
            [editableTeams]="data.serviceLimits?.groups"
            [organization]="organization"
            [project]="project"
            [changeRoles]="data.serviceLimits?.groups"
            [emitAllChanges]="true"
            (teamRolesChange)="teamRolesChange.emit($event)">
</team-table>
