@import "../../../../styles/variables";

.arrow-up {
  position: absolute;
  left: 27.5px;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #cccccc;
}

.stickerPicker {
  position: absolute;
  margin-top: 5px;
  z-index: 20;

  box-shadow: $default-shadow;
  background: $secondary-color;

  padding: 6px 0;
  border: 1px solid #cccccc;
  border-radius: $border-radius-small;
  overflow: hidden;

  .divider {
    height: 1px;
    margin: 6px 0;
    background-color: #e5e5e5;
  }

}
