@import "../../../shared/lumeer-variables";

:host {
  display: block;
  width: 263px;
  z-index: 9999;

  .arrow-up {
    position: absolute;
    left: 210px;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #cccccc;
  }

  .stickerPicker {
    position: relative;
    top: 5px;

    box-shadow: $shadow-down;
    background: $secondary-color;

    padding: 6px 0;
    border: 1px solid #cccccc;
    border-radius: $border-radius-small;
    overflow: hidden;

    .divider {
      height: 1px;
      margin: 6px 0;
      background-color: #e5e5e5;
    }

  }

}
