<ng-container *ngIf="{loading: loading$ | async} as data">
  <button class="btn btn-sm small text-truncate mx-1" [style.background]="value.config.background"
          [disabled]="!(enabled$ | async) || data.loading"
          [style.color]="value.config.background | contrastColor"
          (click)="onClick($event)">
    <span *ngIf="data.loading" class="spinner-grow spinner-grow-sm mr-2" role="status" aria-hidden="true"></span>
    <ng-container><i [ngClass]="value.config.icon"></i>&nbsp;</ng-container>
    {{value.config.title}}
  </button>
</ng-container>
