<ng-container *ngIf="{loading: loading$ | async, stats: stats$ | async} as data">
  <button class="btn btn-sm small text-truncate mx-1 text-nowrap"
          *ngIf="{opacity: (!data.stats?.satisfy || data.loading) ? 0.5 : 1} as buttonData"
          [style.background]="value?.config?.background"
          [class.disabled]="!data.stats?.satisfy || data.loading"
          [tooltip]="statsTooltip"
          containerClass="bigger-tooltip"
          [isDisabled]="data.stats?.satisfy || !(!!cursor?.documentId || !!cursor?.linkInstanceId)"
          [style.color]="value?.config?.background | contrastColor:null:buttonData.opacity"
          (click)="onClick($event)">
    <span *ngIf="data.loading" class="spinner-grow spinner-grow-sm mr-2" role="status" aria-hidden="true"></span>
    <i *ngIf="icon" [ngClass]="icon"></i>
    <ng-container *ngIf="title && icon || !title && !icon">&nbsp;</ng-container>
    <span *ngIf="title">{{title}}</span>
  </button>

  <ng-template #statsTooltip>
    <action-filters-tooltip [stats]="data.stats"></action-filters-tooltip>
  </ng-template>

</ng-container>
