<td class="d-flex flex-row no-wrap align-items-center">
  <icons-presenter
    [colors]="linkType.collections | colors"
    [icons]="linkType.collections | icons"
    [title]="linkType.name">
  </icons-presenter>

  <span class="ml-2 flex-grow-1">{{linkType.name}}</span>

</td>

<td class="text-right align-middle">

  <span class="mr-3" title="Number of links" i18n-title="@@links.count">
    <i class="far fa-link mr-1" aria-hidden="true"></i>
    <span>{{ linksCount | async }}</span>
  </span>

  <i class="fas fa-fw fa-trash mr-2 text-danger cursor-pointer delete"
     (click)="onDelete()"
     title="Delete" i18n-title="@@delete"
     aria-hidden="true"></i>

</td>
