<td class="d-flex flex-row no-wrap align-items-center ps-2 py-3">
  <icons-presenter
    [colors]="linkType.collections | colors"
    [icons]="linkType.collections | icons"
    [title]="linkType.name">
  </icons-presenter>

  <a class="ms-2 flex-grow-1" [routerLink]="['/o', workspace?.organizationCode, 'p', workspace?.projectCode, 'l', linkType.id]">{{linkType.name}}</a>

</td>

<td class="text-end align-middle">

  <span class="me-3" title="Number of links" i18n-title="@@links.count">
    <i class="far fa-link me-1" aria-hidden="true"></i>
    <span>{{linkType.linksCount || 0}}</span>
  </span>

  <i *ngIf="permissions?.roles?.Manage" class="far fa-fw fa-trash-alt text-danger cursor-pointer delete"
     (click)="onDelete()"
     title="Delete" i18n-title="@@delete"
     aria-hidden="true"></i>

</td>
