<input #durationInput
       [title]="value | formatDataValueTitle"
       [value]="readonly ? (value | formatDataValue | unescapeHtml) : (value | formatDataValueForEdit)"
       type="text"
       class="border-0 w-100 h-100 px-1 bg-transparent"
       (blur)="onBlur()"
       (focus)="onFocus()"
       (input)="onInput($event)"
       [readonly]="readonly"
       [class.invalid-value]="!configuration?.skipValidation && !valid"
       [ngClass]="readonly || valid || configuration?.skipValidation ? 'bg-transparent ' + inputClass : 'bg-danger-light ' + inputClass">
