<input *ngIf="readonly; else durationEditing"
       [title]="value | formatDataValue"
       [value]="value | formatDataValue"
       (focus)="onFocus.emit($event)"
       type="text"
       class="border-0 w-100 h-100 px-1 bg-transparent"
       [class.invalid-value]="!valid"
       data-test="duration-data-input"
       readonly>

<ng-template #durationEditing>
  <input #durationInput
         [title]="value | formatDataValue"
         [value]=""
         (blur)="onBlur()"
         (input)="onInput($event)"
         type="text"
         class="border-0 w-100 h-100 px-1 {{ skipValidation || valid ? 'bg-transparent' : 'bg-danger-light' }}"
         data-test="duration-data-input">
</ng-template>
