<div class="d-flex flex-row justify-content-start align-items-center" *ngIf="resource" id="dropdown-header">
  <i class="fas fa-chevron-left chevron mr-2 cursor-pointer clickable"
     title="Back" i18n-title="@@resource.settings.back"
     (click)="onBack()"></i>
  <i class="fa-fw {{ resource.icon }} cursor-pointer icon-edit"
     [style.fontSize.rem]="2"
     [style.color]="resource.color" data-toggle="dropdown" (click)="storeIconAndColor($event)"></i>
  <div class="dropdown-menu">
    <color-picker dropdownId="dropdown-header" class="dropdown-item" [(color)]="resource.color"
    ></color-picker>
    <div class="dropdown-divider"></div>
    <icon-picker dropdownId="dropdown-header" class="dropdown-item" [(icon)]="resource.icon"
    ></icon-picker>
    <div class="dropdown-divider"></div>
    <div class="text-right mx-2">
      <button class="btn btn-outline-secondary btn-sm" (click)="revertSelectedColor()" i18n="@@button.cancel">Cancel</button>
      <button class="btn btn-primary btn-sm mx-2" (click)="saveSelectedColor()" i18n="@@button.select">Select</button>
    </div>
  </div>

  <input-box
    class="flex-grow-1 px-2"
    [style.width.px]="1"
    [initialValue]="firstLineValue()"
    [color]="resource.color"
    [canStayEmpty]="false"
    [emitAllChanges]="true"
    [fontSizeRem]="2"
    [maxLines]="1"
    [title]="firstLineValue()"
    (blur)="onFirstLineBlur()"
    (focus)="onFirstLineFocus()"
    [placeholder]="firstLinePlaceholder()"
    (newValue)="onNewFirstLine($event)">
  </input-box>

  <div class="d-flex flex-row flex-nowrap align-items-center ml-auto">
    <i *ngIf="!resource.nonRemovable" class="fas fa-fw fa-trash text-danger mr-2 cursor-pointer"
       (click)="onDelete()"
       title="Delete" i18n-title="@@resource.settings.delete"
       aria-hidden="true"></i>
    <ng-content></ng-content>

  </div>

</div>

<small class="position-relative text-danger" [style.left.px]="80"
       *ngIf="isDuplicate" i18n="@@resource.value.error.duplicity">
  This {resourceType, select, organization {code} project {code} collection {name}} is already taken. Try another!
</small>

<div class="col mr-auto py-2 px-0"
     *ngIf="hasVisibleCode()">
  <input-box
    [initialValue]="secondLineValue()"
    [color]="resource.color"
    [canStayEmpty]="false"
    [fontSizeRem]="1.5"
    [maxLines]="1"
    [title]="secondLineValue()"
    [placeholder]="secondLinePlaceholder()"
    (newValue)="onNewSecondLine($event)">
  </input-box>

</div>

<div class="pt-3 px-3 d-flex">
  <i class="fas fa-2x fa-quote-right pr-2 mt-2"></i>
  <input-box
    class="d-flex pb-3 pt-1"
    [initialValue]="resource.description"
    [canStayEmpty]="true"
    [fontSizeRem]="1"
    [maxLines]="2"
    [title]="resource.description"
    [placeholder]="getDescriptionPlaceholder()"
    (newValue)="onNewDescription($event)">
  </input-box>
</div>
