@import '../../../../styles/variables';

.chevron {
  font-size: 24px;
}

.dropdown-menu {
  width: 230px;
  .dropdown-item {
    padding-right: 0;
    padding-left: 0;
  }
}

.icon-edit:before {
  border-bottom: dotted $gray-400;
}
