<modal-wrapper
  [dialogType]="dialogType.Primary"
  (onClose)="hideDialog()"
  (onSubmit)="onSubmit()"
  [submitDisabled]="!(selectedDocumentId$ | async)">

  <span class="title" i18n="@@modal.kanban.chooseDocument.title">Choose a record</span>

  <div class="body p-3">
    <div class="text-muted text-center"
         i18n="@@modal.kanban.chooseDocument.description">
      Select to which record you want to link the new one.
    </div>
    <preview-results-table class="d-block mt-2" [documents]="documents"
                           [collection]="collection"
                           [selectedDocumentId]="selectedDocumentId$ | async"
                           [loaded]="true"
                           [resizeable]="false"
                           (selectDocument)="onSelectDocument($event)">
    </preview-results-table>
  </div>

  <span class="button-cancel">
      <i class="fal fa-times"></i>&nbsp;<span i18n="@@button.cancel">Cancel</span>
  </span>

  <span class="button-submit">
      <i class="far fa-check"></i>&nbsp;<span i18n="@@modal.kanban.chooseDocument.submit">Choose</span>
  </span>

</modal-wrapper>
