:host {
  display: grid;
  grid-template-rows: min-content minmax(0, 1fr);
}

.image {
  width: 100%;
  height: 100%;

  &.fit {
    object-fit: contain;
  }

  &.crop {
    object-fit: cover;
  }
}

.cell-header {
  display: grid;
  grid-template-columns: 1fr auto;
}

.preview {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}
