<div class="d-flex flex-row-reverse flex-wrap">
  <dashboard-tab-action *ngFor="let action of dashboardCell?.actions"
                        class="p-1"
                        [action]="action"
                        [views]="views">
  </dashboard-tab-action>
</div>
<ng-container [ngSwitch]="dashboardCell?.type">
  <img *ngSwitchCase="cellType.Image" class="image" [ngClass]="scale" [src]="url" alt=""/>

  <perspective-preview *ngSwitchCase="cellType.View"
                       class="preview"
                       [view]="view"
                       [perspectiveConfiguration]="configuration">
  </perspective-preview>

  <dashboard-notes *ngSwitchCase="cellType.Notes">
  </dashboard-notes>

</ng-container>

