<select-item2 class="d-inline-block mr-4"
              [items]="stem | queryStemResourcesSelectItems:collections:linkTypes:true"
              [selectedId]="config?.collection"
              (select)="onResourceSelected($event)">
</select-item2>

<select-item-with-constraint2 class="d-inline-block"
                              [attributesResources]="attributesResourcesOrder"
                              [restrictedIds]="[]"
                              [emptyValue]="'Select grouping Attribute'"
                              [selectedConstraint]="config?.attribute?.constraint"
                              [selectedId]="config | workflowSelectedItem"
                              [removable]="true"
                              (select)="onAttributeSelected($event)"
                              (selectConstraint)="onConstraintSelect($event)"
                              (remove)="onAttributeRemoved()">
</select-item-with-constraint2>
