<ng-container *ngIf="query$ | async | perspectiveDisplayable:1:1; else notDisplayable">
  <form-perspective-content [config]="config$ | async"
                            [query]="query$ | async"
                            [collections]="collections$ | async"
                            (configChange)="onConfigChanged($event)">
  </form-perspective-content>
</ng-container>

<ng-template #notDisplayable>
  <invalid-query class="w-100"
                 [query]="query$ | async"
                 [view]="currentView$ | async"
                 [minStems]="1"
                 [maxStems]="1">
  </invalid-query>
</ng-template>

