<div class="row">
  <div class="col-5 col-md-4 col-lg-3 d-flex flex-row flex-nowrap">
    <i class="fa fa-caret-right align-self-center mr-1"
       aria-hidden="true"></i>

    <input-box
      class="flex-grow-2"
      [placeholder]="'Name'"
      [canStayEmpty]="true"
      [maxLines]="1"
      [initialValue]="name"
      (focus)="onNameFocus()"
      (newValue)="name = $event">
    </input-box>

    <i *ngIf="showNameWarning" class="fa fa-exclamation-triangle align-self-center ml-1 text-warning"
       title="Wrong name (invalid characters or too short)" i18n-title="@@organization.user.name.incorrect"
       aria-hidden="true"></i>
  </div>

  <div class="col-5 col-md-4 col-lg-3 d-flex flex-row flex-nowrap">
    <input-box
      class="flex-grow-2"
      [placeholder]="'User email'"
      [canStayEmpty]="true"
      [maxLines]="1"
      [initialValue]="email"
      (focus)="onEmailFocus()"
      (newValue)="email = $event">
    </input-box>

    <i *ngIf="showEmailWarning" class="fa fa-exclamation-triangle align-self-center ml-1 text-warning"
       title="Wrong email" i18n-title="@@organization.user.email.incorrect"
       aria-hidden="true"></i>
  </div>
  <div class="col-2 col-md-4 col-lg-6 d-flex flex-nowrap flex-row-reverse align-items-center">
    <i class="fas fa-fw fa-plus mx-2 clickable"
       aria-hidden="true"
       title="Add User"
       i18n-title="@@organizations.users.add"
       (click)="onAddUser()">
    </i>
  </div>
</div>
