<ng-container
  *ngIf="dataResource | dataResourcePermissions:resource:allowedPermissions:(currentUser$ | async):constraintData as dataPermissions">
  <hidden-input (newInput)="onNewHiddenInput($event)"
                class="position-fixed">
  </hidden-input>

  <post-it-header *ngIf="(resource | resourceIconsColors) as data"
                  class="card-header p-2"
                  cdkDragHandle
                  [class.cursor-move]="canDrag"
                  [resource]="resource"
                  [dataPermissions]="dataPermissions"
                  [tag]="tag"
                  [icons]="data.icons"
                  [colors]="data.colors"
                  [favorite]="dataResource | dataResourceFavorite"
                  [resourceType]="resourceType"
                  (remove)="onRemove()"
                  (toggleFavorite)="toggleFavorite.emit()"
                  (detail)="onDetail()">
  </post-it-header>

  <div class="card-body px-2 pt-0 pb-1">

    <post-it-row
      *ngFor="let row of (dataRowService.rows$ | async); trackBy:trackByRow; let index = index;"
      [class.row-top-divider]="index > 0"
      [row]="row"
      [ngClass]="layoutType | postItLayoutTypeClass"
      [layoutType]="layoutType"
      [permissions]="allowedPermissions"
      [cursor]="dataResource | dataCursor : row.attribute?.id:viewId"
      [constraintData]="constraintData"
      [lockStats]="resource | attributeLockStats :dataResource: row.attribute:constraintData"
      [readonly]="!dataPermissions?.edit"
      [unusedAttributes]="unusedAttributes"
      [editableKey]="editableKeys"
      (newValue)="onNewValue($event, row, index)"
      (newKey)="onNewKey($event, index)"
      (deleteRow)="onRemoveRow(index)"
      (onFocus)="onFocus(index, $event)"
      (onEdit)="onEdit(index, $event)"
      (resetFocusAndEdit)="onResetFocusAndEdit(index, $event)">
    </post-it-row>

  </div>
</ng-container>
