<hidden-input (newInput)="onNewHiddenInput($event)"
              class="position-fixed">
</hidden-input>

<post-it-header *ngIf="(resource | resourceIconsColors) as data"
                class="card-header p-2"
                cdkDragHandle
                [class.cursor-move]="canDrag"
                [resource]="resource"
                [allowedPermissions]="allowedPermissions"
                [tag]="tag"
                [icons]="data.icons"
                [colors]="data.colors"
                [favorite]="dataResource | dataResourceFavorite"
                [resourceType]="resourceType"
                (remove)="onRemove()"
                (toggleFavorite)="toggleFavorite.emit()"
                (detail)="onDetail()">
</post-it-header>

<div class="card-body px-2 py-0">

  <post-it-row
    *ngFor="let row of (dataRowService.rows$ | async); trackBy:trackByRow; let index = index; let first = first"
    class="d-block"
    [row]="row"
    [permissions]="allowedPermissions"
    [cursor]="dataResource | dataCursor : row.attribute?.id"
    [constraintData]="constraintData"
    [readonly]="!(resource | resourceAttributeEditable : row.id: allowedPermissions: query)"
    [unusedAttributes]="unusedAttributes"
    (newValue)="onNewValue($event, row, index)"
    (newKey)="onNewKey($event, index)"
    (deleteRow)="onRemoveRow(index)"
    (onFocus)="onFocus(index, $event)"
    (onEdit)="onEdit(index, $event)"
    (resetFocusAndEdit)="onResetFocusAndEdit(index, $event)">
  </post-it-row>

  <div *ngIf="allowedPermissions?.writeWithView" class="py-2 clickable" (click)="onCreateRow()">
    <i class="fas fa-plus mx-1"></i>
  </div>

</div>
