<div>
  <h4>Document Rights</h4>
  <filter-input [value]="''"
                [placeholder]="'Select User'"
                [source]="documentService.documentDetail.rights"
                [options]="autocompleteOptions"
                (onChange)="onFilterChange($event)"></filter-input>
  <div>
    <user-tag class="rights-record"
              *ngFor="let oneRecord of documentService.documentDetail.rights"
              [user]="oneRecord.name"
              [action]="'has rights'">
      <div class="rights-list">
        <div class="label" [ngClass]="{active: oneRecord.rightBits[0] === 1}">R</div>
        <div class="label" [ngClass]="{active: oneRecord.rightBits[1] === 1}">W</div>
        <div class="label" [ngClass]="{active: oneRecord.rightBits[2] === 1}">X</div>
      </div>
    </user-tag>
  </div>
</div>
