@import '../../../styles/variables';

document-history {

  .history-record div {
    margin-bottom: 10px;

    .more-info {
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
