<div class="row">
  <div class="document-detail-content">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading" [ngStyle]="{'background-color': document.collection.color}">
          <h3>
            <span class="header-font">
              <i class="fa" [ngClass]="document.collection.icon" aria-hidden="true"></i>
              {{document.collection.name}}
            </span>
          </h3>
          <div>
            <h4>
          <span class="header-font">
            {{document.collection.default.key}}: {{document.collection.default.value}}
          </span>
            </h4>
          </div>
        </div>
        <div class="panel-content">
          <div *ngFor="let doc of document.attributes; let ixDoc = index">
            <div class="row attributes-value">
              <div class="col-lg-2"><strong>{{doc.key}}</strong></div>
              <div class="col-lg-4">{{doc.value}}</div>
              <div class="col-lg-2"><strong>Type:</strong> {{doc.type ? doc.type : "free"}}</div>
              <div class="col-lg-4">
                <div class="document-constraints-container">
                  <div class="document-constraints"><strong>Constraints:</strong>
                    <span *ngFor="let constr of doc.constraints | keys; let lastConstr = last">
                    {{constr.key}}: {{lastConstr ? constr.value : constr.value + ", "}}
                    </span>
                  </div>
                  <div class="document-constraints-icon">
                    <button class="btn btn-link">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <hr class="without-margin" *ngIf="ixDoc < document.attributes.length - 1">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
