@import '../../../styles/variables';

document-detail {

  .row {
    margin: 0;
  }

  .document-detail-content {
    margin: 15px 15px 0 15px;

    .table {
      width: 0;
    }

    .header-font {
      color: black;
    }

  }
}
