@import '../../../styles/variables';

document-attributes {

  .document-attributes-content {

    .attributes-value {
      margin: 5px 0 5px 0;
    }

    .without-margin {
      margin: 0;
    }

    .button-padding{
      padding: 1px 6px;
    }
    .document-constraints-container {
      display: flex;

      .document-constraints {
        flex-grow: 1;
      }
      .document-constraints-icon {
        width: 30px;
      }

    }
  }

}
