@import '../../../styles/variables';

document-rights {
  filter-input form {
    margin-bottom: 10px;
  }

  .dropdown-select {
    min-width: 200px !important;
    margin-top: 0 !important;
  }

  .rights-record div {
    margin-bottom: 10px;

    .rights-list {
      padding-left: 60px;
      font-size: 18px;

      .label {
        color: black;
        background: $brand-danger;

        &.active {
          background-color: $brand-success;
        }
      }
    }
  }
}
