@import '../../../styles/variables';

document-detail {

  .row {
    margin: 0;
  }

  .document-detail-content {
    margin: 15px 15px 0 15px;

    .table {
      width: 0;
    }

    .header-font {
      color: black;
    }

    .attributes-value {
      margin: 5px 0 5px 0;
    }

    .without-margin {
      margin: 0;
    }

    .document-constraints-container {
      display: flex;

      .document-constraints {
        flex-grow: 1;
      }
      .document-constraints-icon {
        width: 50px;
      }

    }

  }
}
