<div class="row">
  <div class="document-detail-content">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading" [ngStyle]="{'background-color': document.collection.color}">
          <h3>
            <span class="header-font">
              <i class="fa" [ngClass]="document.collection.icon" aria-hidden="true"></i>
              {{document.collection.name}}
            </span>
          </h3>
          <div>
            <h4>
          <span class="header-font">
            {{document.collection.default.key}}: {{document.collection.default.value}}
          </span>
            </h4>
          </div>
        </div>
        <div class="panel-body lum-no-padding">
          <div class="document-attributes-content">
            <document-attributes [attributes]="document.attributes"></document-attributes>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" [ngStyle]="{'background-color': document.collection.color}">
          <h4>History</h4>
        </div>
        <div class="panel-body lum-no-padding">
          <div class="document-history-content">
            <!--<document-history [history]="document.history"></document-history>-->
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" [ngStyle]="{'background-color': document.collection.color}">
          <h4>Rights</h4>
        </div>
        <div class="panel-body">
          <div class="document-rights-content">
            <document-rights [rights]="document.rights"></document-rights>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" [ngStyle]="{'background-color': document.collection.color}">
          <h4>Links</h4>
        </div>
        <div class="panel-body">
          <div class="document-links-content">
            <document-links [links]="document.links"></document-links>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
