<div>
  <div class="document-filter">
    <filter-save (onChanged)="onFilterChanged($event)"></filter-save>
  </div>
  <div class="pick-item-content">
    <tabular-result *ngIf="documentInfoService.filterResults"
                    [data]="documentInfoService.filterResults"
                    (onSelectionChange)="selectItem($event)"></tabular-result>
    <document-detail *ngIf="documentInfoService.documentDetail"
                     [document]="documentInfoService.documentDetail"></document-detail>
  </div>
</div>
