<div>
  <div>
    <div class="document-filter">
      <filter-save (onChanged)="onFilterChanged($event)" [otherActions]="actions" (onActionClick)="actionClick($event)"></filter-save>
    </div>
  </div>
  <div class="pick-item-content row">
    <div class="document-info" [ngClass]="{'col-lg-10': activeAction(), 'col-lg-12': !activeAction()}">
      <tabular-result *ngIf="documentService.filterResults"
                      [data]="documentService.filterResults"
                      (onSelectionChange)="selectItem($event)"></tabular-result>
      <document-detail *ngIf="documentService.documentDetail"
                       [document]="documentService.documentDetail"></document-detail>
    </div>
    <div *ngIf="activeAction() && documentService.documentDetail" class="col-lg-2 active-action" [@animateIn]="'in'">
      <document-history *ngIf="activeAction().id === 'history'"></document-history>
      <document-rights *ngIf="activeAction().id === 'rights'"></document-rights>
    </div>
    <!--<div class="row">-->
      <!--<div class="col-lg-2">-->
        <!--<user-tag [user]="user" [action]="'changed something'" [time]="time">-->
          <!--Click to find out more!dfdfdgfdas dsfgsdfg sdfg sd-->
        <!--</user-tag>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
