<div>
  <div class="document-filter-nav">
    <div class="document-filter">
      <filter-save (onChanged)="onFilterChanged($event)" (onActionClick)="actionClick($event)"></filter-save>
    </div>
    <div class="document-navigation row">
      <div *ngFor="let route of activeRoutes" class="col-lg-2">
        <a (click)="onNavigationClick(route)">
          <i class="fa" [ngClass]="route.data.icon"></i>
          <span>{{route.data.title}}</span>
        </a>
      </div>
      <div class="dashboard-display pull-right col-lg-1" *ngIf="documentService.documentDetail">
        <!-- [otherActions]="actions"-->
        <a *ngFor="let oneAction of actions" (click)="actionClick({action: oneAction})">
          <i class="fa" [ngClass]="oneAction.icon"></i>
        </a>
        <!-- Tile to grid and back -->
      </div>
    </div>
  </div>
  <div class="pick-item-content row">
    <perfect-scrollbar class="document-info" [ngClass]="{'col-lg-10': activeAction(), 'col-lg-12': !activeAction()}">
      <tabular-result *ngIf="documentService.filterResults"
                      [data]="documentService.filterResults"
                      (onSelectionChange)="selectItem($event)"></tabular-result>
      <document-detail *ngIf="documentService.documentDetail"
                       [document]="documentService.documentDetail"></document-detail>
    </perfect-scrollbar>
    <div *ngIf="activeAction() && documentService.documentDetail" class="col-lg-2 active-action" [@animateIn]="'in'">
      <document-history *ngIf="activeAction().id === 'history'"></document-history>
      <document-rights *ngIf="activeAction().id === 'rights'"></document-rights>
    </div>
    <!--<div class="row">-->
      <!--<div class="col-lg-2">-->
        <!--<user-tag [user]="user" [action]="'changed something'" [time]="time">-->
          <!--Click to find out more!dfdfdgfdas dsfgsdfg sdfg sd-->
        <!--</user-tag>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
