@import '../../../styles/variables';

tabular-result {

  .row {
    margin: 0;
  }

  .tabular-result-content {

    max-height: 400px;

    .panel-group {
      margin: 0;
      max-height: 400px;

      .panel + .panel {
        margin-top: 0;
      }
    }

    .table {
      width: 0;
      margin-bottom: 0;
    }

    .row-hover {
      cursor: pointer;
      padding: 0 15px 15px 15px;
      &:hover {
        background-color: #dfdfdf;
      }
    }

    .panel-collapse {
      background-color: #F0F8FF;
    }

    .panel-body {
      padding: 0;
    }

    .panel-heading:hover {
      background-color: #dfdfdf;
    }

    a:hover, a:focus {
      text-decoration: none;
    }
  }
}
