<ng-container *ngIf="document$ | async as document">

  <preview-results class="mb-4 d-block"
                   *ngIf="mode === modeType.Update"
                   [selectedCollection]="collection"
                   [selectedDocument]="document"
                   [attributesSettings]="attributesSettings"
                   [query]="query"
                   [view]="view"
                   [initialSelectDocument]="true"
                   (selectDocument)="selectDocument($event)">
  </preview-results>

  <ng-container *ngIf="mode | isFormViewVisible:document">

    <form-view-section *ngFor="let section of config?.sections; trackBy: trackBySection; let index = index; let first = first"
                       class="d-block card p-3 shadow-light"
                       [class.mt-3]="mode === modeType.Update || !first"
                       [dataValues]="documentDataValues$ | async"
                       [section]="section"
                       [collection]="collection"
                       [documentId]="document?.id"
                       [formErrors]="(validation$ | async).errors | formErrorsBySection:section.id"
                       [collectionLinkTypes]="collectionLinkTypes"
                       (attributeValueChange)="onAttributeValueChange($event)">
    </form-view-section>

    <form-view-submit class="mt-4"
                      [document]="document"
                      [buttons]="config?.buttons"
                      [loading]="performingAction$ | async"
                      [validation]="validation$ | async"
                      (submit)="onSubmit()">
    </form-view-submit>

  </ng-container>

</ng-container>
