<input #dateTimeInput
       [readonly]="readonly"
       [tooltip]="value | formatDataValue"
       [value]="value | formatDataValue"
       [class.invalid-value]="!(value | isDataValueValid)"
       (input)="onInput($event)"
       [ngClass]="inputClass"
       class="border-0 w-100 h-100 px-1 bg-transparent"
       autocomplete="off"
       type="text">

<date-time-picker *ngIf="!readonly"
                  [min]="skipValidation ? null : value?.config?.minValue"
                  [max]="skipValidation ? null : value?.config?.maxValue"
                  [options]="options"
                  [origin]="element"
                  [value]="date"
                  (save)="onSave($event)"
                  (valueChange)="onValueChange($event)"
                  (saveOnClose)="onSaveOnClose(dateTimeInput.value, $event)"
                  (cancel)="onCancel()">
</date-time-picker>
