<input *ngIf="readonly; else datePicker"
       readonly="true"
       [title]="value | dateTimeDataValue: constraintConfig"
       [value]="value | dateTimeDataValue: constraintConfig"
       class="border-0 w-100 h-100 px-1 bg-transparent"
       [class.invalid-value]="!(value | dateTimeValid:constraintConfig)"
       data-test="datetime-data-input"
       type="text">

<ng-template #datePicker>
  <input #dateInput
         bsDatepicker
         [bsConfig]="{ containerClass: 'theme-default', dateInputFormat: constraintConfig?.format }"
         [bsValue]="value | parseDate: constraintConfig?.format"
         [value]="value | dateTimeDataValue: constraintConfig"
         [minDate]="constraintConfig?.minDateTime | parseDate"
         [maxDate]="constraintConfig?.maxDateTime | parseDate"
         (bsValueChange)="onValueChange($event)"
         (input)="onInput($event)"
         class="border-0 w-100 h-100 px-1 bg-transparent"
         data-test="datetime-data-input"
         type="text">
</ng-template>
