<dropdown [origin]="origin"
          [minHeight]="(files?.length || 0) * 30 + 60"
          [minWidth]="uploadProgress ? 300 : 100"
          [positions]="dropdownPositions"
          [pushOnScreen]="true"
          [showBackdrop]="false">
  <div class="card p-3"
       (click)="onClick($event)">
    <table *ngIf="files?.length > 0"
           class="table table-sm">
      <tbody>
      <tr *ngFor="let file of files; index as fileIndex">
        <td [class.border-top-0]="fileIndex === 0"
            [class.text-secondary]="file.uploading">
          {{ file.fileName }}
        </td>
        <td [class.border-top-0]="fileIndex === 0"
            class="text-right">
          <i *ngIf="!file.uploading"
             (click)="onRemove(file.id)"
             title="Delete file"
             i18n-title="@@files.dropdown.button.delete"
             class="far fa-trash-alt text-danger cursor-pointer">
          </i>
        </td>
      </tr>
      </tbody>
    </table>

    <div *ngIf="fileSizeError$ | async as fileSizeError"
         class="text-danger">
      {{ fileSizeError }}
    </div>

    <div *ngIf="uploadProgress"
         class="progress mb-3"
         [style.min-width.px]="300">
      <div class="progress-bar"
           role="progressbar"
           [style.width.%]="uploadProgress"
           [attr.aria-valuenow]="uploadProgress"
           aria-valuemin="0"
           aria-valuemax="100">
      </div>
    </div>

    <div class="d-flex flex-grow-0 justify-content-end">
      <button class="btn btn-sm btn-outline-secondary"
              data-test="files-dropdown-cancel-button"
              (click)="onCancel()">
        <span i18n="@@button.cancel">Cancel</span>
      </button>
      <div class="ml-1">
        <input type="file"
               class="d-none"
               id="inputGroupFile01"
               [attr.disabled]="!!uploadProgress || null"
               (change)="onFileChange($event)">
        <label for="inputGroupFile01"
               class="btn btn-sm btn-primary m-0 cursor-pointer"
               i18n="@@files.dropdown.button.add">Add file</label>
      </div>
    </div>
  </div>
</dropdown>
