<span *ngFor="let role of translatedRoles; trackBy:trackByRole" class="badge badge-lg mr-2 mb-2 cursor-pointer"
      (click)="onClick()"
      [class.badge-outline-secondary]="role.fromParentOrTeams"
      [class.badge-outline-success]="!role.fromParentOrTeams"
      [tooltip]="role | roleTooltip:resourceType">{{role.title}}</span>

<ng-container *ngIf="editable">
  <div class="btn btn-sm btn-link mb-1 text-nowrap" #buttonElement
       (click)="$event.stopPropagation(); onClick()">
    <i class="far fa-pencil mr-1"></i>
    <span *ngIf="!(translatedRoles | empty)" i18n="@@edit">Edit</span>
    <span *ngIf="translatedRoles | empty" i18n="@@roles.add">Add Rights</span>
  </div>

  <roles-dropdown [origin]="buttonElement"
                  [selectedRoles]="roles"
                  [resourceType]="resourceType"
                  [groups]="groups"
                  [emitAllChanges]="emitAllChanges"
                  (change)="onRolesChange($event)">
  </roles-dropdown>
</ng-container>
