<span *ngFor="let role of translatedRoles; trackBy:trackByRole" class="badge badge-outline-success mr-2 mb-1">
  {{role.title}}
</span>

<ng-container *ngIf="editable">
  <div class="btn btn-sm btn-primary mb-1" #buttonElement (click)="dropdownComponent.open()">
    <span class="small">Edit roles</span>
  </div>

  <roles-dropdown #dropdownComponent
                  [origin]="buttonElement"
                  [selectedRoles]="roles"
                  [groups]="groups"
                  (change)="change.emit($event)">
  </roles-dropdown>
</ng-container>
