<div>
  <user-stamp class="d-block p-2" [email]="user.email" [userName]="user.name" [size]="32"></user-stamp>
</div>

<div>
  <user-teams [class.cursor-pointer]="changeTeams"
              [teams]="teams"
              [selectedTeamIds]="user | filterUserTeams:teams"
              [editable]="changeTeams"
              (save)="onTeamsSave($event)">
  </user-teams>
  <roles class="mt-3"
         [resourceType]="resourceType"
         [editable]="true"
         [roles]="permissions | userRoles:user"
         (change)="rolesUpdate.emit($event)">
  </roles>
</div>

<div>
  <i class="far fa-fw fa-trash-alt text-danger m-1 cursor-pointer"
     *ngIf="deletable"
     aria-hidden="true"
     title="Delete User"
     i18n-title="@@users.actions.delete"
     (click)="onDelete()"></i>
  <i class="far fa-fw fa-times text-danger m-1 cursor-pointer"
     *ngIf="removable"
     aria-hidden="true"
     title="Remove User"
     i18n-title="@@users.actions.remove"
     (click)="onRemove()"></i>
  <i class="fa fa-fw fa-none m-1" *ngIf="!deletable && !removable"></i>
</div>
