@import '../../../../../styles/variables';

.fa-youtube {
  color: #c4302b;
}

.panel-item.video {
  height: var(--top-panel-line-height);
  line-height: var(--top-panel-line-height);
  white-space: nowrap;
}
