<div class="panel-item video mx-2" *ngIf="(videos$ | async) && (videos$ | async).length > 0">
  <div class="dropdown show">
    <a href="#"
       role="button"
       id="videoDropdownLink"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false">
        <i class="fab fa-lg fa-youtube"></i>
    </a>

    <div class="dropdown-menu dropdown-menu-right video-dropdown"
         aria-labelledby="videoDropdownLink">

      <a
        *ngFor="let video of videos$ | async"
        (click)="openPlayer(video.id)"
        class="dropdown-item"
        [title]="video.summary">
        <img [src]="video.thumbnail" width="64px" class="mr-2"/>
        <div>
          <span>{{video.summary}}</span><br/>
          <span class="text-muted">{{video.description}}</span>
        </div>
      </a>

    </div>
  </div>
</div>
