@import "../../../../shared/variables";

:host {
  .record-mover {
    color: $light;
    cursor: move;
    text-align: center;
  }

  &:hover {
    .record-mover {
      color: $secondary;
    }
  }
}
