<custom-checkbox class="mt-2 d-block"
                 [checked]="config?.positionSaved"
                 [checkboxId]="savePositionId"
                 (checkedChange)="onSavePositionChange($event)"
                 i18n-checkboxTitle="@@perspective.gantt.config.position.save"
                 checkboxTitle="Save position to view">
</custom-checkbox>

<custom-checkbox class="mt-2 d-block"
                 [checked]="config?.lockResize"
                 [checkboxId]="lockResizeId"
                 (checkedChange)="onLockResizeChange($event)"
                 i18n-checkboxTitle="@@perspective.gantt.config.resize.lock"
                 checkboxTitle="Lock dependent task position">
</custom-checkbox>
