<ng-container *ngIf="{mode: currentMode$ | async, tasksData: data$ | async} as data">
  <ng-container *ngIf="{range: data.tasksData?.tasks | tasksInvalidRangeInfo} as invalidInfo">
    <ng-container *ngIf="!invalidInfo.range">
      <gantt-chart-header [currentMode]="data.mode"
                          [canManageConfig]="canManageConfig"
                          (scrollToToday)="visualizationComponent.scrollToToday()"
                          (modeChange)="onModeChanged($event)">
      </gantt-chart-header>
      <gantt-chart-visualization
        [canManageConfig]="canManageConfig"
        [ganttChartId]="ganttChartId"
        [currentMode]="data.mode"
        [tasks]="data.tasksData?.tasks"
        [options]="data.tasksData?.options"
        (datesChange)="onDatesChanged($event)"
        (progressChange)="onProgressChanged($event)"
        (addDependency)="onAddDependency($event)"
        (removeDependency)="onRemoveDependency($event)"
        #visualizationComponent>
      </gantt-chart-visualization>
    </ng-container>

    <gantt-chart-invalid-range *ngIf="invalidInfo.range"
                               [info]="invalidInfo.range">
    </gantt-chart-invalid-range>
  </ng-container>
</ng-container>
