<span *ngIf="tag" class="d-flex align-items-center me-2">
    <span class="text-white badge rounded-pill align-text-bottom tag" [style.background-color]="tag?.color">
      {{tag?.title}}
    </span>
  </span>

<icons-presenter [colors]="colors" [icons]="icons">
</icons-presenter>&nbsp;

<span class="flex-grow-1 text-truncate">
      {{ resource?.name }}
</span>

<div class="d-flex align-self-center ms-auto">
  <i *ngIf="dataPermissions?.read"
     class="icon text-primary far fa-file-search p-1 cursor-pointer"
     title="Show detail" i18n-title="@@show.detail"
     (click)="onDetail()"></i>
  <i *ngIf="dataPermissions?.delete"
     class="icon text-danger far fa-trash-alt p-1 cursor-pointer"
     title="Delete" i18n-title="@@button.remove"
     (click)="onRemove()"></i>
  <i *ngIf="dataPermissions?.read && resourceType === resourceTypeCollection"
     class="icon text-warning fa-star p-1 cursor-pointer"
     [class.always-visible]="favorite"
     title="{{ favorite ?  'Remove from favorites' : 'Add to favorites'}}"
     i18n-title="@@collection.document.favorite"
     [ngClass]="favorite ? 'fas' : 'far'"
     (click)="onToggleFavorite()"></i>
</div>
