<div class="mt-2">
  <ng-container *ngIf="loading()">
    Loading...
  </ng-container>

  <ng-container *ngIf="!loading()">
    <div *ngIf="emptySearch()" class="alert alert-warning" i18n="@@search.result.empty">
      We are sorry, but we have not found anything. Please do a more accurate search.
    </div>
    <div *ngIf="collections.length > 0">
      <div class="h3 ml-3 my-2">
        Files
      </div>
      <post-it-collections [editable]="false"></post-it-collections>
    </div>
    <div *ngIf="documents.length > 0">
      <div class="h3 ml-3 my-2">
        Records
      </div>
      <post-it-perspective [editable]="false"></post-it-perspective>
    </div>
    <div *ngIf="views.length > 0">
      <div class="h3 ml-3 my-2">
        Views
      </div>
      <div class="alert alert-warning">
        Views perspective has not been implemented yet.
      </div>
    </div>
  </ng-container>
</div>
