<div class="mt-2" *ngIf="dataLoaded$ | async">

  <ng-container *ngIf="hasCollection || hasView || hasDocument; else noData">

    <ng-container *ngIf="hasCollection">
      <div class="h3 ml-3 my-2" i18n="@@search.all.collections">
        Collections
      </div>
      <post-it-collections [maxShown]="5"></post-it-collections>
    </ng-container>

    <ng-container *ngIf="hasDocument">
      <hr *ngIf="hasCollection">
      <div class="h3 ml-3 my-2" i18n="@@search.all.records">
        Records
      </div>
      <search-documents [maxLines]="5"></search-documents>
    </ng-container>

    <ng-container *ngIf="hasView">
      <hr *ngIf="hasCollection || hasDocument">
      <div class="h3 ml-3 my-2" i18n="@@search.all.views">
        Views
      </div>
      <search-views [maxLines]="5"></search-views>
    </ng-container>

  </ng-container>

</div>

<ng-template #noData>
  <empty-search *ngIf="!(query | emptyQuery)"></empty-search>
  <empty-state *ngIf="query | emptyQuery"
               [icon]="'fa fa-file-times'">
    <h3 i18n="@@search.records.empty.title">Your project is empty!</h3>
    <div i18n="@@search.records.empty.subtitle">Go to the Collections tab and create your first collection.</div>
  </empty-state>
</ng-template>
