<div class="mt-2">
  <div *ngIf="loading()" i18n="@@search.all.loading">
    Loading...
  </div>

  <ng-container *ngIf="!loading()">
    <div *ngIf="emptySearch()" class="alert alert-warning" i18n="@@search.result.empty">
      We are sorry, but we have not found anything. Please do a more accurate search.
    </div>
    <div *ngIf="collections.length > 0">
      <div class="h3 ml-3 my-2" i18n="@@search.all.files">
        Files
      </div>
      <post-it-collections class="perspective"></post-it-collections>
    </div>
    <div *ngIf="documents.length > 0">
      <hr *ngIf="collections.length > 0">
      <div class="h3 ml-3 my-2" i18n="@@search.all.records">
        Records
      </div>
      <post-it-perspective [useOwnScrollbar]="true" class="perspective"></post-it-perspective>
    </div>
    <div *ngIf="views.length > 0">
      <hr *ngIf="collections.length > 0 || documents.length > 0">
      <div class="h3 ml-3 my-2" i18n="@@search.all.views">
        Views
      </div>
      <search-views class="perspective"></search-views>
    </div>
  </ng-container>
</div>
