<ng-container *ngIf="{user: user$ | async, organization: organization$ | async, project: project$ | async} as data">
  <user-views class="d-block mt-4"
              [user]="data.user"
              [organization]="data.organization"
              [project]="data.project"
              [views]="views$ | async"
              [loaded]="viewsLoaded$ | async">
  </user-views>
  <user-collections class="d-block mt-4"
                    [user]="data.user"
                    [organization]="data.organization"
                    [project]="data.project"
                    [collections]="collections$ | async"
                    [loaded]="collectionsLoaded$ | async">
  </user-collections>
  <user-link-types class="d-block mt-4 mb-6"
                   [user]="data.user"
                   [organization]="data.organization"
                   [project]="data.project"
                   [linkTypes]="linkTypes$ | async"
                   [loaded]="linkTypesLoaded$ | async">
  </user-link-types>
</ng-container>
