<div class="dropdown">
  <div class="dropdown-menu show">
    <ng-container *ngIf="attributeNotExists()">
      <div class="dropdown-header"
           i18n="@@table.header.suggestion.attribute.new">Create new attribute
      </div>
      <a class="dropdown-item">
        <icons-presenter [colors]="[collection.color]"
                         [icons]="[collection.icon]">
        </icons-presenter>
        <span>{{attributeName}}</span>
      </a>
    </ng-container>

    <ng-container *ngIf="attributeNotExists() && arePartsSuggested()">
      <div class="dropdown-divider"></div>
    </ng-container>

    <ng-container *ngIf="arePartsSuggested()">
      <div class="dropdown-header"
           i18n="@@table.header.suggestion.link.existing">Use existing link
      </div>
      <a *ngFor="let linkedAttribute of suggestLinkedAttributes() | async"
         (mousedown)="useLinkType(linkedAttribute)"
         class="dropdown-item">
        <icons-presenter [colors]="[linkedAttribute.collection.color]"
                         [icons]="[linkedAttribute.collection.icon]">
        </icons-presenter>
        <span>{{linkedAttribute.collection.name}}.</span><span [innerHtml]="linkedAttribute.attribute.name | highlight: attributeName"></span>
        <small class="text-secondary ml-1">({{linkedAttribute.linkType.name}})</small>
      </a>

      <div class="dropdown-divider"></div>
      <div class="dropdown-header"
           i18n="@@table.header.suggestion.link.new">Create new link
      </div>
      <a *ngFor="let linkedAttribute of suggestAllAttributes() | async"
         (mousedown)="createLinkType(linkedAttribute)"
         class="dropdown-item">
        <icons-presenter [colors]="[linkedAttribute.collection.color]"
                         [icons]="[linkedAttribute.collection.icon]">
        </icons-presenter>
        <span>{{linkedAttribute.collection.name}}.</span><span [innerHtml]="linkedAttribute.attribute.name | highlight: attributeName"></span>
      </a>
    </ng-container>
  </div>
</div>
