@import './template/bootswatch';
@import './bootstrap.min.css';
@import './template/custom.min.css';
@import 'navbar-left.min.css';
$fa-font-path: '~font-awesome/fonts';
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

@import 'variables';

li {
  list-style: none;
}
a {
  i {
    margin-right: 5px;
  }
  &:hover {
    text-decoration: none;
  }
}

.lum-no-padding {
  padding: 0 !important;
}

.container-fluid {
  padding-right: 0 !important;
  .row {
    margin-right: 0;
  }
}

.lum-white-container {
  background-color: $secondary-color;
}

.lum-nav-collaps {
  font-size: 40px;
  margin-right: 20px;
  margin-top: 10px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948 !important; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442 !important; /* red */
}

