:host {
  display: flex;
  align-items: center;
  position: relative;

  &:not(.multiline) {
    max-height: 200px;
  }
}

.icon-fullscreen {
  position: absolute;
  right: -10px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  z-index: 3;
}

.quill-editor.edit {
  z-index: 2;
}

.quill-editor.single-line::ng-deep .ql-editor {
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: auto;
}

.quill-editor::ng-deep {
  .ql-editor {
    padding: 0 !important;
    margin: 0 0.25rem !important;
  }

  .ql-tooltip {
    min-width: 220px;
  }
}
