<quill-view-html class="quill-editor overflow-hidden {{inputClass}}"
                 *ngIf="readonly"
                 [ngClass]="multilineMode ? 'multiline' : 'single-line'"
                 [content]="value | previewDataValue"
                 [title]="value | formatDataValueTitle"
                 [class.invalid-value]="!skipValidation && !valid">
</quill-view-html>

<span *ngIf="!readonly" class="icon-fullscreen"
      (mousedown)="$event.stopImmediatePropagation(); $event.preventDefault();"
      (click)="openTextEditor($event)">
  <i class="fa fa-expand-alt"></i>
</span>

<quill-editor *ngIf="!readonly"
              class="w-100 quill-editor edit {{inputClass}}"
              [ngClass]="multilineMode ? 'multiline' : 'single-line'"
              [class.h-100]="isMultiline"
              [(ngModel)]="text"
              [readOnly]="readonly"
              [modules]="modules"
              [maxLength]="value.config.maxLength"
              [minLength]="value.config.minLength"
              [placeholder]="''"
              theme="bubble"
              (onEditorCreated)="onEditorCreated($event)"
              (onContentChanged)="contentChanged()"
              (onBlur)="onBlur($event)">
</quill-editor>
