<ng-container *ngIf="{rows: dataRowService.rows$ | async, collection: collection$ | async} as data">

  <document-detail-header class="d-block mb-4"
                          [collection]="data.collection"
                          [document]="document$ | async"
                          [row]="data.rows | defaultDataRow"
                          [constraintData]="constraintData"
                          [permissions]="permissions"
                          [workspace]="workspace"
                          (switchToTable)="switchToTable.emit()"
                          (removeDocument)="removeDocument.emit()">
  </document-detail-header>

  <hidden-input (newInput)="onNewHiddenInput($event)"
                class="position-fixed">
  </hidden-input>

  <ng-container *ngIf="toolbarRef" [ngTemplateOutlet]="toolbarRef"></ng-container>

  <document-data-row *ngFor="let row of data.rows; trackBy:trackByRow; let index = index"
                     [row]="row"
                     [permissions]="permissions"
                     [cursor]="document | dataCursor : row.attribute?.id"
                     [constraintData]="constraintData"
                     [readonly]="!(data.collection | resourceAttributeEditable : row.id: permissions: query)"
                     [unusedAttributes]="unusedAttributes$ | async"
                     (newValue)="onNewValue($event, row, index)"
                     (newKey)="onNewKey($event, index)"
                     (deleteRow)="onRemoveRow(index)"
                     (attributeFunctionClick)="onAttributeFunction(row)"
                     (attributeTypeClick)="onAttributeType(row)"
                     (onFocus)="onFocus(index, $event)"
                     (onEdit)="onEdit(index, $event)"
                     (resetFocusAndEdit)="onResetFocusAndEdit(index, $event)">
  </document-data-row>

  <div *ngIf="permissions?.writeWithView" class="pt-2 border-top">
    <button class="btn btn-sm btn-light btn-block" (click)="onCreateRow()">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;
      <span i18n="@@document.detail.attribute.add">Add Row</span>
    </button>
  </div>

</ng-container>
