<div class="container-fluid px-5 whole"
     [style.opacity]="collection ? '1' : '0'"
     *ngIf="collection">
  <div class="d-flex flex-row justify-content-start">
    <i class="fas fa-chevron-left bigger mr-3 clickable" (click)="goToCollectionsPage()"></i>
    <i class="color-class fa-fw {{ collection.icon }} collection-icon cursor-pointer"
       [style.color]="collection.color"
       data-toggle="dropdown"></i>
    <div class="dropdown-menu">
      <color-picker class="dropdown-item"
                    [(color)]="collection.color"
                    (selectedChange)="updateCollection()">
      </color-picker>
      <div class="dropdown-divider"></div>
      <icon-picker class="dropdown-item"
                   [(icon)]="collection.icon"
                   (selectedChange)="updateCollection()">
      </icon-picker>
    </div>

    <div class="color-class name flex-grow-2 mr-4 cursor-text"
         [textContent]="collection.name"
         (blur)="name.scrollTo(0,0); onNewColectionName(name.textContent)"
         [style.color]="collection.color"
         contenteditable="true"
         placeholder="Set name"
         i18n-placeholder="@@collection.name.placeholder"
         [attr.spellcheck]="false"
         i18n-title="@@header.collection.name"
         title="Edit name of the file"
         #name>
    </div>

    <div class="float-right d-flex flex-row flex-nowrap document-count color-class">
      <i class="fas fa-trash text-danger mr-3 cursor-pointer"
         aria-hidden="true"
         i18n-title="@@header.collection.remove"
         title="Remove file"
         *ngIf="collection"
         (click)="confirmDeletion()"></i>

      <a i18n-title="@@header.collection.documents.count"
         class="count d-flex"
         title="Number of records in this file"
         [style.color]="collection.color"
         [routerLink]="[workspacePath(), 'view', 'postit']"
         [queryParams]="{ query: documentsQuery(collection.id) }">
        <i class="far fa-file align-self-center mr-1" aria-hidden="true"></i>
        <span>{{ collection.documentsCount }}</span>
      </a>
    </div>
  </div>

  <div class="description d-flex py-3">
    <i class="fas fa fa-pencil edit pr-1 mr-1 clickable"
       (click)="description.focus()"></i>
    <div #description
         placeholder="Description" i18n-placeholder="@@collection.settings.description"
         class="text flex-grow-2 p-1 cursor-text edit-border"
         contenteditable="true"
         [attr.spellcheck]="false"
         [textContent]="collection.description"
         (blur)="onNewColectionDescription(description.textContent)">
    </div>

  </div>

  <ul class="nav nav-tabs px-5" *ngIf="collection">
    <li role="presentation" class="nav-item">
      <a [routerLink]="['attributes']"
         routerLinkActive="active"
         class="nav-link"
         i18n="@@collection.config.tab.attributes">
        Attributes
      </a>
    </li>
    <li role="presentation" class="nav-item">
      <a [routerLink]="['linktypes']"
         routerLinkActive="active"
         class="nav-link"
         i18n="@@collection.config.tab.link.types">
        Link Types
      </a>
    </li>
    <li role="presentation" class="nav-item">
      <a [routerLink]="['events']"
         routerLinkActive="active"
         class="nav-link"
         i18n="@@collection.config.tab.events">
        Events
      </a>
    </li>
    <li *ngIf="hasManageRole(collection)" role="presentation" class="nav-item">
      <a [routerLink]="['permissions']"
         routerLinkActive="active"
         class="nav-link"
         i18n="@@collection.config.tab.permissions">
        Access Rights
      </a>
    </li>
  </ul>

  <div class="container-fluid my-4">
    <router-outlet *ngIf="collection"></router-outlet>
  </div>
</div>
