@import '../../shared/variables';

:host {
  display: block;
}

.bigger {
  font-size: 22px;
}

.dropdown-menu {
  width: 230px;
  .dropdown-item {
    padding-right: 0;
  }
}

.flex-row {
  align-items: center;
}

.name {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 30px;
  white-space: nowrap;
  cursor: text;
  text-overflow: ellipsis;
  overflow: hidden;

  &:focus {
    text-overflow: clip;
  }
}

.code {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 20px;
  width: 300px;
  font-style: italic;
  margin-left: 38px;
}

.collection-icon {
  font-size: 30px;
  margin-right: 10px;
}

.fa-arrow-left {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.color-class {
  transition: color $animation-color-duration;
}

.count {
  font-size: 20px;
}

.description {

  &:hover .edit {
    opacity: 1;
  }

  .text {
    font-size: 17px;
    overflow: hidden;
    max-height: 50px;
  }

  .edit {
    opacity: 0;
    transition: opacity $animation-duration;
  }

  [contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
    color: $grey-color;
  }

  [contenteditable]:focus {
    outline: 0 solid transparent;
  }

}

.whole {
  transition: opacity $animation-duration;
}
