<button type="button"
        class="btn btn-sm btn-success"
        ondragover="return false;"
        *ngIf="!disabled"
        title="Import file"
        i18n-title="@@collection.post.it.import.title"
        (click)="fileInput.click()"
        (drop)="handleDrop($event)"
        (dragenter)="dragging = true"
        (dragleave)="dragging = false"
        [class.dragging]="dragging">
  <i class="fa fa-cloud-upload" aria-hidden="true"></i>
  <span class="font-weight-bold"
        i18n="@@collection.post.it.import">Import File
  </span>
  <input hidden
         type="file"
         #fileInput
         (click)="$event.stopPropagation()"
         (change)="fileChange($event.target.files)"
         accept=".csv, text/csv">
</button>
