<div class="card p-2 mb-1 view"
     (click)="onClicked()">
  <div class="d-flex flex-row">
    <i class="fa fa-fw {{getIconForPerspective(view.perspective)}} align-self-center" aria-hidden="true"></i>
    <span class="ml-1 text-nowrap text-truncate">{{view.name}}</span>
  </div>

  <div class="d-flex flex-wrap">
    <query-item *ngFor="let queryItem of queryItems; let isLast = last"
                [queryItem]="queryItem"
                [readonly]="true"
                class="d-inline-flex mt-1 align-items-center"
                [class.mr-1]="!isLast">
    </query-item>
  </div>

</div>
