@import '../../../../../../styles/variables';
@import '../../../../../../styles/bootstrap_var';

.view {
  &.card {
    border: $card-border-width solid transparent;
  }
}

.view-hover {
  &:hover {
    border: $card-border-width solid $card-border-color;
    box-shadow: $shadow-default;
    -webkit-box-shadow: $shadow-default;
    -moz-box-shadow: $shadow-default;
  }

  .title {
    font-size: 1rem;
  }

  cursor: pointer;
  transition: box-shadow $animation-duration;
}
