@import "../../../../../shared/variables";

.view {
  cursor: pointer;
  transition: box-shadow $animation-duration;

  &:hover {
    box-shadow: $shadow-default;
    -webkit-box-shadow: $shadow-default;
    -moz-box-shadow: $shadow-default;
  }

  .name{
    overflow: hidden;
    text-overflow: ellipsis;
  }

}
