<h6 class="font-weight-bold mt-4" i18n="@@perspective.chart.config.axis.header">
  {yAxisType, select, y1 {Y1 Axis settings} y2 {Y2 Axis settings}}
</h6>

<select-item-with-constraint class="d-block w-100 mt-2"
                             [attributesResources]="attributesResources"
                             [restrictedIds]="yAxisType | axisRestrictedIds:config"
                             [placeholderText]="yAxisType.toString().toUpperCase()"
                             [buttonClasses]="buttonClasses"
                             [selectedId]="config.axes && (config.axes[yAxisType] | chartAxisSelectItemId)"
                             [selectedConstraint]="config.axes && (config.axes[yAxisType]?.constraint)"
                             [emptyValue]="axisEmptyValue"
                             [removable]="true"
                             [fitParent]="true"
                             (select)="onAxisSelect($event)"
                             (selectConstraint)="onAxisConstraintSelect($event)"
                             (remove)="onAxisRemoved()">
</select-item-with-constraint>

<select-item-with-constraint class="d-block w-100 mt-2"
                             [attributesResources]="attributesResources"
                             [restrictedIds]="yAxisType | axisRestrictedIds:config:true"
                             [placeholderText]="yAxisType | dataSetSelectPlaceholder"
                             [buttonClasses]="buttonClasses"
                             [selectedId]="config.names && (config.names[yAxisType] | chartAxisSelectItemId)"
                             [selectedConstraint]="config.names && (config.names[yAxisType]?.constraint)"
                             [emptyValue]="axisEmptyValue"
                             [removable]="true"
                             [fitParent]="true"
                             (select)="onDataNameSelect($event)"
                             (selectConstraint)="onDataNameConstraintSelect($event)"
                             (remove)="onDataNameRemoved()">
</select-item-with-constraint>

<select-item class="d-block w-100 mt-2"
             [items]="chartAggregations | aggregationSelectItems"
             [placeholderText]="yAxisType | aggregationSelectPlaceholder"
             [buttonClasses]="buttonClasses"
             [removable]="false"
             [selectedId]="config.aggregations && config.aggregations[yAxisType]"
             (select)="onAggregationSelect(yAxisType, $event)">
</select-item>
