<input *ngIf="readonly; else textEditing"
       [readonly]="readonly"
       [title]="value | formatDataValue"
       [value]="value | formatDataValue"
       [class.invalid-value]="!(value | isDataValueValid)"
       (focus)="onFocus.emit($event)"
       class="border-0 w-100 h-100 px-1 bg-transparent"
       data-test="coordinates-data-input"
       type="text">

<ng-template #textEditing>
  <input #coordinatesInput
         [title]="value | formatDataValue"
         [value]="value | formatDataValue"
         (blur)="onBlur()"
         (input)="onInput($event)"
         class="border-0 w-100 h-100 px-1 bg-transparent"
         data-test="coordinates-data-input"
         type="text">
</ng-template>
