<ng-container *ngIf="{writableCollections: collections | filterWritableCollections | async} as data">
  <div class="d-flex flex-row flex-nowrap my-2 align-items-center"
       *ngIf="data.writableCollections?.length || documents?.length">

    <button *ngIf="data.writableCollections?.length"
            type="button"
            class="btn btn-sm btn-primary cursor-pointer"
            title="Create New Record"
            i18n-title="@@create.new.document"
            (click)="onAdd(data.writableCollections)">
      <i class="fa fa-plus-circle mr-1" aria-hidden="true"></i>
      <span class="font-weight-bold" i18n="@@create.new.document">Create New Record</span>
    </button>

    <size-slider class="ml-auto" *ngIf="documents?.length"
                 [defaultSize]="config?.size" (newSize)="onSizeChange($event)"></size-slider>
  </div>
</ng-container>

<div class="mt-2 mb-5" *ngIf="documents?.length; else noDocuments">

  <div class="detail card p-0 mb-2"
       (click)="toggleDocument(document)"
       (dblclick)="onDetailClick(document)"
       *ngFor="let document of (maxDocuments > 0 ? (documents | slice:0:maxDocuments) :documents); trackBy:trackByDocument">

    <search-document-header
      class="p-2"
      (detail)="onDetailClick(document)"
      [size]="config?.size"
      [document]="document"
      [isOpened]="document | isDocumentOpened:config"
      [collection]="collections | collectionById:document.collectionId"
      [constraintData]="constraintData"
      (toggleFavorite)="onFavoriteToggle(document)">

      <div class="d-flex flex-row flex-wrap align-items-center">
        <ng-container
          *ngFor="let entry of document | dataValueEntries:collections:constraintData:config; let first = first">
          <span class="mt-1 align-self-end" *ngIf="!first">,&nbsp;</span>
          <span *ngIf="entry.label"
                class="text-attribute text-nowrap mt-1 align-self-end" [class.text-default-attribute]="entry.isDefault">{{entry.label}}:&nbsp;</span>
          <data-input-preview class="data-input d-inline-block mt-1"
                              [dataValue]="entry.dataValue"
                              [cursor]="document | dataCursor:entry.attributeId"
                              [inline]="false"
                              [constraint]="entry.constraint">
          </data-input-preview>
        </ng-container>
      </div>

    </search-document-header>
  </div>

  <div class="clickable d-flex justify-content-center" [style.font-size.%]="150"
       *ngIf="maxDocuments > 0 && maxDocuments < documents?.length"
       (click)="onShowAll()">
    <i class="fas fa-angle-double-right mr-2 align-sub"></i>
    <span i18n="@@search.result.more">See more</span>
    <i class="fas fa-angle-double-right ml-2 align-sub"></i>
  </div>
</div>

<ng-template #noDocuments>
  <empty-documents
    (tablePerspective)="switchPerspectiveToTable()"
    [collections]="collections"
    [query]="query">
  </empty-documents>
</ng-template>
