@import "../../../variables";

:host {
  display: inline-block;
}

.condition {
  display: inline-block;
  min-width: 30px;
  outline: none;
}

.invalid {
  border-radius: $border-radius;
  box-shadow: 0 0 0 2px $danger inset;
}
