<div [formGroup]="form">
  <div #conditionInput
       editable-div
       class="cursor-text"
       [attr.contenteditable]="!readonly"
       [attr.placeholder]="'='"
       [class.invalid]="!queryItem.isComplete()"
       [(ngModel)]="queryItem.condition"
       (blur)="onBlur()"
       formControlName="condition"
       (focus)="onFocus()"
       (keydown)="onKeyDown($event)"
       (keyup.enter)="onEnterKeyUp()"
       spellcheck="false">
  </div>
</div>

<condition-suggestions *ngIf="!readonly && focused"
                       [attribute]="queryItem.attribute"
                       [text]="this.queryItem.condition"
                       [moveSelection$]="moveSuggestionSelection$"
                       [useSelection$]="useSuggestionSelection$"
                       (useSuggestion)="onUseSuggestion($event)">
</condition-suggestions>
