<div #conditionInput
     [attr.contenteditable]="!readonly"
     [class.invalid]="!queryItem.isComplete()"
     [textContent]="queryItem.condition"
     (blur)="onBlur()"
     (focus)="onFocus()"
     (input)="onInput($event)"
     (keydown)="onKeyDown($event)"
     (keydown.enter)="onEnterKeyUp(); conditionInput.blur()"
     class="condition px-1"
     spellcheck="false">
</div>

<condition-suggestions *ngIf="!readonly && focused"
                       [attribute]="queryItem.attribute"
                       [text]="this.queryItem.condition"
                       [moveSelection$]="moveSuggestionSelection$"
                       [useSelection$]="useSuggestionSelection$"
                       (useSuggestion)="onUseSuggestion($event)">
</condition-suggestions>
