<div class="title-row mb-1">
  <input-box placeholder="Title"
             [canStayEmpty]="false"
             [maxLines]="1"
             [initialValue]="cell?.title"
             (newValue)="onNewTitle($event)">
  </input-box>
  <form-editor-cell-actions [config]="cell?.config"
                            [type]="cell?.type"
                            [collectionId]="collection?.id"
                            (configChange)="onConfigChange($event)">
  </form-editor-cell-actions>
</div>

<select-item2 [items]="items"
              [selectedPath]="selectedItemPath"
              bordered="true"
              emptyValue="Select"
              (selectPath)="onSelectPath($event)">
</select-item2>

<input-box class="d-block mt-1"
           placeholder="Description"
           [fontSizeRem]="0.8"
           [color]="descriptionColor"
           [canStayEmpty]="true"
           [initialValue]="cell?.description"
           (newValue)="onNewDescription($event)">
</input-box>

<form-editor-cell-config class="d-block mt-2"
                         [config]="cell?.config"
                         [type]="cell?.type"
                         (configChange)="onConfigChange($event)">
</form-editor-cell-config>
