<empty-state icon="far fa-map-marker-slash">
  <ng-container [ngSwitch]="result">
    <ng-container *ngSwitchDefault>
      <h3 i18n="@@map.image.fetch.failure.title">Image was not found</h3>
      <div i18n="@@map.image.fetch.failure.description">Make sure you have provided a correct image address. Try opening the address in a browser.</div>
    </ng-container>
    <ng-container *ngSwitchCase="loadResult.SizeExceeded">
      <h3 i18n="@@map.image.fetch.sizeExceeded.title">Image is too large</h3>
      <div i18n="@@map.image.fetch.sizeExceeded.description">Maximum allowed image size is 20MB. Try scaling it to a smaller resolution.
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="loadResult.NotSupported">
      <h3 i18n="@@map.image.fetch.notSupported.title">This type of image is not supported</h3>
      <div i18n="@@map.image.fetch.notSupported.description">Please select one of the following image types: svg, jpg, or png.</div>
    </ng-container>
  </ng-container>

</empty-state>
