<dialog-wrapper [submitDisabled]="!form.valid"
                [type]="'success'"
                [width]="350"
                (submit)="onSubmit()">
  <span class="title" i18n="@@link.new.dialog.title">Create new link</span>

  <div class="body">
    <form [formGroup]="form">
      <link-name-input [colors]="colors()"
                       [icons]="icons()"
                       [focused]="true"
                       [formGroup]="linkTypeFormGroup">
      </link-name-input>
    </form>
  </div>

  <span class="button-cancel" i18n="@@link.new.dialog.button.cancel">Cancel</span>
  <span class="button-submit" i18n="@@link.new.dialog.button.create">Create</span>
</dialog-wrapper>
