<ng-container *ngIf="{manage: row.attribute && row.attribute.id && permissions?.manageWithView} as attributeData">
  <i class="fa fa-fw fa-shapes mr-2 clickable text-success button-config"
     aria-hidden="true"
     *ngIf="attributeData.manage"
     title="Attribute settings..."
     i18n-title="@@table.header.menu.changeType"
     tooltip="Attribute settings..."
     i18n-tooltip="@@table.header.menu.changeType"
     (click)="onAttributeType()">
  </i>
  <i *ngIf="!attributeData.manage" class="fa-fw fa fa-icon-none mr-2"
     aria-hidden="true">
  </i>

  <i class="fa fa-fw fa-function mr-2 clickable text-success button-function"
     aria-hidden="true"
     *ngIf="row?.attribute?.constraint?.type !== type.Action && attributeData.manage"
     title="Edit function..."
     i18n-title="@@table.header.menu.editFunction"
     tooltip="Edit function..."
     i18n-tooltip="@@table.header.menu.editFunction"
     (click)="onAttributeFunction()">
  </i>
  <i class="fa fa-fw fa-function mr-2 clickable text-success button-function"
     aria-hidden="true"
     *ngIf="row?.attribute?.constraint?.type === type.Action && attributeData.manage"
     title="Edit automation..."
     i18n-title="@@table.header.menu.editAutomation"
     tooltip="Edit automation..."
     i18n-tooltip="@@table.header.menu.editAutomation"
     (click)="onAttributeFunction()">
  </i>
  <i *ngIf="!attributeData.manage" class="fa-fw fa fa-icon-none mr-2"
     aria-hidden="true">
  </i>
</ng-container>

<ng-container *ngIf="{iconName: (row.attribute?.constraint | constraintTypeIcon)} as typeData">
  <i *ngIf="typeData.iconName"
     [ngClass]="typeData.iconName"
     [title]="row.attribute?.constraint | constraintTypeIconTitle"
     class="mr-2 text-muted small fa-fw"></i>
  <i *ngIf="!typeData.iconName" class="mr-2 fa-fw fa fa-icon-none small"
     aria-hidden="true">
  </i>
</ng-container>
