<modal-wrapper
  [dialogType]="dialogType.Primary"
  (onClose)="onClose()"
  [showSubmit]="!dataResource.id"
  [performingAction]="performingAction$ | async"
  [showHeader]="false"
  (onSubmit)="onSubmit()">

  <div class="body p-3"
       *ngIf="{resource: resource$ | async, dataResource: dataResource$ | async, viewSettings: viewSettings$ | async} as data">
    <data-resource-detail *ngIf="data.resource && data.dataResource"
                          [resource]="data.resource"
                          [dataResource]="data.dataResource"
                          [query]="query$ | async"
                          [preventEventBubble]="true"
                          [ignoreSettingsOnReadPermission]="true"
                          [permissions]="permissions$ | async"
                          [toolbarRef]="toolbarRef"
                          [attributeSettings]="data.viewSettings | resourceAttributesSettings:resourceType:data.resource.id"
                          (dataResourceChanged)="onDataResourceChanged($event)"
                          (routingPerformed)="onClose()">
    </data-resource-detail>
    <links-list class="d-block mt-5"
                *ngIf="resourceType === collectionResourceType && data.dataResource?.id"
                [document]="data.dataResource"
                [preventEventBubble]="true"
                [ignoreSettingsOnReadPermission]="true"
                [collection]="data.resource"
                [viewSettings]="data.viewSettings"
                (documentSelect)="selectCollectionAndDocument($event)">
    </links-list>
  </div>

  <span class="button-cancel">
      <i class="fal fa-times"></i>&nbsp;<span i18n="@@button.close">Close</span>
  </span>

  <span class="button-submit">
      <i class="fal fa-check"></i>&nbsp;<span i18n="@@button.create">Create</span>
  </span>

</modal-wrapper>
