<modal-wrapper
  [dialogType]="dialogType.Primary"
  (onClose)="onClose()"
  [showSubmit]="!dataResource.id"
  [performingAction]="performingAction$ | async"
  [showHeader]="false"
  (onSubmit)="onSubmit()">

  <div class="body p-3" *ngIf="{} as data">

  </div>

  <span class="button-cancel">
      <i class="fal fa-times"></i>&nbsp;<span i18n="@@button.close">Close</span>
  </span>

  <span class="button-submit">
      <i class="fal fa-check"></i>&nbsp;<span i18n="@@button.create">Create</span>
  </span>

</modal-wrapper>
