@import '../../../../../styles/variables';

table {
  table-layout: fixed;

  th {
    vertical-align: middle;
  }

  tr {
    .icon-hover {
      transition: color $animation-color-duration;

      i {
        opacity: 0;
      }

      &:hover {
        color: $primary;
      }
    }

    &:hover .icon-hover i {
      opacity: 1;
    }
  }

  .visible i {
    opacity: 1 !important;
  }
}
