<notifications-menu-wrapper
  [organizations]="organizations$ | async"
  [currentProject]="currentProject$ | async"
  [unreadNotifications]="unreadNotifications$ | async"
  [unreadOnly]="unreadOnly$ | async"
  [workspace]="currentWorkspace$ | async"
  [allNotifications]="notifications$ | async"
  (deleteNotification)="deleteNotification($event)"
  (readNotification)="setNotificationReadEvent($event)"
  (clickNotification)="navigateToTarget($event)"
  (toggleUnread)="toggleUnreadFilter()">
</notifications-menu-wrapper>
