<empty-search *ngIf="!(query | emptyQuery)"></empty-search>
<empty-state *ngIf="query | emptyQuery"
             [icon]="'fa fa-file-times'">
  <h3 i18n="@@search.records.empty.project.title"
      class="text-center"
      data-test="empty-project-header">Your project is empty!</h3>

  <ng-container *ngIf="(projectPermissions$ | async)?.roles.CollectionContribute; else noPermission">
    <ng-container *ngIf="hasCollectionsTab$ | async; else noTab">
      <div i18n="@@search.records.empty.project.subtitle"
           class="text-center mb-3">Go to the Tables tab and create your first table.
      </div>

      <button type="button"
              class="btn btn-sm btn-primary"
              data-test="empty-data-create-collection"
              (click)="onSwitchToCollectionsTab()"
              data-tour="collection-create">
        <i class="fa fa-plus-circle me-1" aria-hidden="true"></i>
        <span class="fw-bold"
              i18n="@@create.new.collection">Create New Table</span>
      </button>

      <table-import-button class="ms-2"></table-import-button>

    </ng-container>
  </ng-container>

</empty-state>

<ng-template #noPermission>
  <div i18n="@@collections.empty.subtitle.norights"
       class="text-center">I am sorry but you do not have permissions to add tables.
  </div>
</ng-template>

<ng-template #noTab>
  <div i18n="@@collections.empty.subtitle.notab"
       class="text-center">I am sorry but your tables tab is hidden. Show the tab in the dashboard settings to create a new table.
  </div>
</ng-template>

