<div class="form-view-row position-relative" [style.grid-template-columns]="templateColumns" #hintsOrigin>

  <form-view-cell *ngFor="let cell of row.cells | filterValidCells; let index = index; trackBy:trackByCell"
                  [cell]="cell"
                  [dataValues]="dataValues"
                  [linkValues]="linkValues"
                  [collection]="collection"
                  [documentId]="documentId"
                  [workspace]="workspace"
                  [lockStats]="cell | formCellLockStats:originalDocument:collection:constraintData"
                  [constraintData]="constraintData"
                  [editable]="documentEditable"
                  [attributesSettings]="attributesSettings"
                  [hintsOrigin]="hintsOrigin"
                  [editing]="editedCell | formCellIsEdited:sectionId:row.id:cell.id"
                  [formErrors]="formErrors | formErrorsByCell:cell.id"
                  (attributeValueChange)="onAttributeValueChange($event, cell.id)"
                  (linkValueChange)="onLinkValueChange($event, cell.id)"
                  (editCancel)="onEditCancel(cell.id)"
                  (editStart)="onEditStart(cell.id)">
  </form-view-cell>

</div>
