<div class="form-view-row" [style.grid-template-columns]="templateColumns">

  <form-view-cell *ngFor="let cell of row.cells | filterValidCells; let index = index; trackBy:trackByCell"
                  [cell]="cell"
                  [dataValues]="dataValues"
                  [linkValues]="linkValues"
                  [collection]="collection"
                  [documentId]="documentId"
                  [editable]="editable"
                  [formErrors]="formErrors | formErrorsByCell:cell.id"
                  (attributeValueChange)="attributeValueChange.emit($event)"
                  (linkValueChange)="linkValueChange.emit($event)">
  </form-view-cell>

</div>
