<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">
      <i *ngIf="placeholderIcon" class="fa-fw {{placeholderIcon}}"></i>
      {{placeholderText}}
    </span>
  </div>

  <button aria-expanded="false"
          aria-haspopup="true"
          class="btn btn-outline-gray-600 sharp-top-left sharp-bottom-left dropdown-toggle"
          data-toggle="dropdown"
          id="selectItemDropdown"
          [disabled]="disabled"
          [ngClass]="disabled ? 'cursor-not-allowed' : 'cursor-pointer'"
          type="button">

    <span *ngIf="!(selectedId | getSelectItem:items)">{{emptyValue}}</span>

    <ng-container *ngIf="selectedId | getSelectItem:items as selectedItem">

      <icons-presenter *ngIf="selectedItem.icon && selectedItem.iconColor"
                       [colors]="[selectedItem.iconColor]"
                       [icons]="[selectedItem.icon]">
      </icons-presenter>
      <i *ngIf="selectedItem.icon && !selectedItem.iconColor" class="fa-fw {{selectedItem.icon}}"></i>
      <span class="ml-sm-1 text-nowrap">
        {{selectedItem.value}}
      </span>
      <i *ngIf="removable && !disabled" class="fa-fw fal fa-times mx-1 clear" (click)="onRemove($event)"></i>
    </ng-container>
  </button>

  <div aria-labelledby="selectItemDropdown"
       class="dropdown-menu">
    <a *ngFor="let item of items"
       [class.active]="selectedId | areIdsEqual:item.id"
       (click)="onSelect(item)"
       class="dropdown-item">
      <icons-presenter *ngIf="item.icon && item.iconColor"
                       [colors]="[item.iconColor]"
                       [icons]="[item.icon]">
      </icons-presenter>
      <i *ngIf="item.icon && !item.iconColor" class="fa-fw {{item.icon}}"></i>
      <span class="ml-sm-1 text-nowrap">
        {{item.value}}
      </span>
    </a>
  </div>

</div>
