<div class="input-group flex-nowrap"
     #selectItemParent>
  <div *ngIf="placeholderIcon || placeholderText"
       class="input-group-prepend">
    <span [style.color]="placeholderColor"
          [title]="placeholderTitle"
          class="input-group-text">
      <i *ngIf="placeholderIcon"
         [title]="placeholderTitle"
         class="fa-fw {{placeholderIcon}}"></i>
      {{placeholderText}}
    </span>
  </div>

  <button class="btn btn-outline-gray-600 dropdown-toggle flex-grow-1 d-flex align-items-center {{buttonClasses}}"
          [class.sharp-top-left]="placeholderIcon || placeholderText"
          [class.sharp-bottom-left]="placeholderIcon || placeholderText"
          [disabled]="disabled"
          [ngClass]="disabled ? 'cursor-not-allowed' : 'cursor-pointer'"
          (click)="onDropdownClick()"
          (keydown)="onKeyDown($event)"
          *ngIf="{selectedItem: selectedId | getSelectItem:items } as data">

    <span class="flex-grow-1 text-left empty-text text-truncate"
          *ngIf="!data.selectedItem"
          [title]="emptyValue">{{emptyValue}}</span>

    <ng-container *ngIf="data.selectedItem">

      <icons-presenter *ngIf="data.selectedItem.icons && data.selectedItem.iconColors"
                       class="d-block mr-2"
                       [colors]="data.selectedItem.iconColors"
                       [icons]="data.selectedItem.icons">
      </icons-presenter>
      <i *ngIf="data.selectedItem.icons && !data.selectedItem.iconColors && data.selectedItem.icons.length === 1"
         class="fa-fw mr-2 {{data.selectedItem.icons[0]}}"></i>
      <span class="text-nowrap flex-grow-1 text-left text-truncate"
            [title]="data.selectedItem.value">
        {{data.selectedItem.value}}
      </span>
      <i *ngIf="removable && !disabled"
         class="fa-fw fal fa-times mx-1 clear"
         (click)="onRemove($event)"></i>
    </ng-container>
  </button>

  <options-dropdown [fitParent]="fitParent"
                    [options]="dropdownOptions"
                    [showBackdrop]="false"
                    [origin]="selectItemParent"
                    [selectedValue]="selectedId"
                    (selectOption)="onSelect($event)">
  </options-dropdown>

</div>
