<div class="d-flex overflow-auto">
  <button class="btn btn-primary text-nowrap me-2"
          (click)="onScrollToTodayClick()"
          i18n="@@perspective.gantt.header.scroll.today">Scroll to Today
  </button>
  <div class="btn-group ms-auto">
    <button class="btn btn-primary text-nowrap" *ngFor="let mode of ganttChartModes"
            [class.active]="mode === currentMode"
            (click)="onModeSelect(mode)">
      {{mode | ganttChartModeText}}
    </button>
  </div>

</div>
<div *ngIf="sortChanged" class="small text-end text-warning mt-1">
  <i class="far fa-exclamation-triangle me-1 text-warning" title="Sorted tasks changed!" i18n-title="@@perspective.gantt.sort.changes"></i>
  <span class="text-warning" i18n="@@perspective.gantt.sort.changes">Sorted tasks changed!</span>
  <span class="btn-link text-success ms-1 cursor-pointer text-underline" (click)="resetSort.emit()" i18n="@@perspective.gantt.sort.changes.reset">Reset sort</span>
</div>
