<calendar-visualization [events]="events$ | async"
                        (eventClick)="onEventClicked($event)"
                        [currentMode]="config.mode"
                        [currentDate]="config.date"
                        [list]="list$ | async"
                        [canCreateEvents]="canCreateEvents"
                        (newEvent)="onNewEvent($event)"
                        (listToggle)="onListToggle($event)"
                        (rangeChanged)="onRangeChanged($event)"
                        (eventRangeChanged)="onEventRangeChanged($event)">
</calendar-visualization>
