<calendar-visualization [events]="events$ | async"
                        [currentMode]="config.mode"
                        [currentDate]="config.positionSaved ? config.date : null"
                        [list]="config.list"
                        [canCreateEvents]="canCreateEvents"
                        (eventClick)="onEventClicked($event)"
                        (newEvent)="onNewEvent($event)"
                        (listToggle)="onListToggle($event)"
                        (rangeChanged)="onRangeChanged($event)"
                        (eventRangeChanged)="onEventRangeChanged($event)">
</calendar-visualization>
