<ng-container *ngIf="{columnGroups: tableModel.columns | groupTableColumns} as data">
  <table-alternative-header [columnGroups]="data.columnGroups"
                            [selectedCell]="selectedCell"
                            [editedCell]="editedCell"
                            [scrollId]="scrollId">
  </table-alternative-header>
  <table-resize-header [columnGroups]="data.columnGroups"
                       (resizeColumn)="columnResize.emit($event)"
                       [scrollId]="scrollId">
  </table-resize-header>
  <cdk-virtual-scroll-viewport lmrItemSize
                               class="h-100"
                               [id]="scrollId"
                               (scroll)="onScroll()"
                               [disabled]="scrollDisabled$ | async"
                               [columns]="tableModel.columns">
    <table #table class="table table-without-padding table-borderless lmr-table position-relative">
      <thead table-header [columnGroups]="data.columnGroups"
             [selectedCell]="selectedCell"
             [editedCell]="editedCell"
             (dragStart)="scrollDisabled$.next(true)"
             (dragEnd)="scrollDisabled$.next(false)"
             (onClick)="onHeaderCellClick($event)"
             (onDoubleClick)="onHeaderCellDoubleClick($event)"
             (moveColumn)="onMoveColumn($event)"
             (onCancel)="onHeaderCancel($event)"
             (sortChanged)="columnSortChanged.emit($event)"
             (filterChange)="columnFilterChange.emit($event)"
             (filterRemove)="columnFilterRemove.emit($event)"
             (onRename)="columnRename.emit($event)"
             (menuSelected)="columnMenuSelected.emit($event)"
             (hiddenMenuSelected)="columnHiddenMenuSelected.emit($event)">
      </thead>
      <tbody>
      <ng-container *cdkVirtualFor="let row of rows; trackBy:trackByRow">
        <tr table-row #tableRow
            *ngIf="row"
            [class.selected]="row.documentId === selectedDocumentId"
            [class.uncreated]="!row.documentId"
            [row]="row"
            [viewId]="viewId"
            [tableColor]="tableModel.color"
            [selectedCell]="selectedCell"
            [editedCell]="editedCell"
            [constraintData]="constraintData"
            [columnGroups]="data.columnGroups"
            [detailColumnId]="detailColumnId"
            [hierarchyColumnId]="hierarchyColumnId"
            [collectionId]="tableModel.collectionId"
            [linkTypeId]="tableModel.linkTypeId"
            (newValue)="onBodyRowNewValue(row, $event)"
            (onClick)="onBodyCellClick(row, $event)"
            (onCancel)="onBodyCancel(row, $event)"
            (onDoubleClick)="onBodyCellDoubleClick(row, $event)"
            (menuSelected)="onBodyMenuSelected($event)"
            (linkedDocumentSelect)="onRowLinkedDocumentSelect(row, $event)"
            (onDetail)="rowDetail.emit(row)"
            (toggleHierarchy)="rowHierarchyToggle.emit(row)">
        </tr>
        <tr *ngIf="!row"
            [style.height.px]="toolbarHeight">
        </tr>
      </ng-container>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>
  <table *ngIf="tableModel.footer"
         class="table table-without-padding table-borderless table-footer"
         [style.bottom.px]="toolbarMarginBottom">
    <tbody>
    <tr table-footer
        [columnGroups]="data.columnGroups"
        [constraintData]="constraintData"
        [selectedCell]="selectedCell"
        [footer]="tableModel.footer">
    </tr>
    </tbody>
  </table>
  <div *ngIf="tableModel?.bottomToolbar"
       class="more-content"
       [style.height.px]="toolbarHeight"
       [style.bottom.px]="toolbarMarginBottom + (tableModel.footer?.height || 0)"
       [style.right.px]="toolbarMarginRight">
    <table-new-row *ngIf="tableModel?.newRow"
                   [actionTitle]="tableModel.newRow.actionTitle"
                   class="d-inline-block h-100 new-row"
                   #tableNewRow
                   (onNewRowClick)="rowNewClick.emit()">
    </table-new-row>
  </div>
</ng-container>
