@import '~src/styles/variables';

:host {
  overflow: hidden;
  display: block;
  height: 100%;
  position: relative;
}

.table {
  table-layout: fixed;
  width: min-content;
  border: 0.5px $gray-200 dotted;
  margin: 0;
}

.more-content {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.95), white);
  bottom: 0;
  position: absolute;
  width: 100%;

  .new-row {
    background: rgba(255, 255, 255, 0.75);
  }
}

.table-footer {
  position: absolute;
  background: $gray-100;
}
