<modal-wrapper
  [icon]="'fas fa-user-plus'"
  [type]="dialogType.Primary"
  (close)="hideDialog()"
  (submit)="onSubmit()"
  [submitDisabled]="!(newUsers$ | async) || (newUsers$ | async).length === 0">

  <span class="title" i18n="@@inviteUser.dialog.title">Invite colleagues</span>

  <div class="body p-3">

    <div class="d-block">
      <h5>First enter colleague's email:</h5>
    </div>

    <new-user [users]="newUsers$ | async" [existingUsers]="existingUsers$ | async" (userCreated)="onAddUser($event)"></new-user>

    <div class="d-block mt-2 lh-2" *ngIf="newUsers$ | async as users">
      <span i18n="@@InviteUser.dialog.users.list">Colleagues to invite: </span>
      <span *ngIf="!users || users.length === 0">&mdash;</span>

      <ng-container *ngFor="let user of users;">
        <span class="badge badge-pill badge-light mx-1">
          {{user}}&nbsp;
          <i class="fas fa-times cursor-pointer" (click)="onRemoveUser(user)"></i>
        </span>
      </ng-container>
    </div>

    <div class="d-block mt-3">
      <h5>Invited colleagues can:</h5>
    </div>
    <div class="list-group">
      <a class="list-group-item list-group-item-action" [class.active]="accessType === invitationType.JoinOnly" (click)="accessType = invitationType.JoinOnly;">
        <span i18n="@@inviteUser.dialog.readOnlyNoAccess.title">Invite to project but do not share anything yet</span>
        <small class="text-muted d-block">
          <span i18n="@@inviteUser.dialog.readOnlyNoAccess.description1">
            New colleagues can join the project, they won't see exiting tables and views.
          </span>
        </small>
      </a>
      <a class="list-group-item list-group-item-action" [class.active]="accessType === invitationType.ReadOnly" (click)="accessType = invitationType.ReadOnly;">
        <span i18n="@@inviteUser.dialog.readOnly.title">Invite as read only</span>
        <small class="text-muted d-block">
          <span i18n="@@inviteUser.dialog.readOnly.description1">
            New colleagues will see everything in the project, they cannot change anything.
          </span>
        </small>
      </a>
      <a class="list-group-item list-group-item-action" [class.active]="accessType === invitationType.ReadWrite" (click)="accessType = invitationType.ReadWrite;">
        <span i18n="@@inviteUser.dialog.write.title">Invite for collaboration</span>
        <small class="text-muted d-block">
          <span i18n="@@inviteUser.dialog.write.description1">
            New colleagues will see everything in the project and they will be able to change and add data.
          </span>
        </small>
      </a>
      <a class="list-group-item list-group-item-action" [class.active]="accessType === invitationType.Manage" (click)="accessType = invitationType.Manage;">
        <span i18n="@@inviteUser.dialog.manage.title">Invite as managers</span>
        <small class="text-muted d-block">
          <span i18n="@@inviteUser.dialog.manage.description1">
            You give your newly invited colleagues full control over the project. They can read, write and manage everything.
          </span>
        </small>
      </a>
    </div>

    <div class="d-block mt-3 px-3">
      <span i18n="@@inviteUser.dialog.settings.description1">
        Use the cog icon
      </span>
      <i class="fas fa-cog text-success"></i>
      <span i18n="@@inviteUser.dialog.settings.description2">
        next to the table, or the Share button to change access rights later (especially
        for the newly created tables and views).
      </span>
    </div>

  </div>

  <span class="button-cancel">
      <i class="fal fa-times"></i>&nbsp;<span i18n="@@button.cancel">Cancel</span>
  </span>

  <span class="button-submit">
      <i class="far fa-check"></i>&nbsp;<span i18n="@@inviteUser.button.text">Invite</span>
  </span>

</modal-wrapper>
