@import "variables";
@import "~bootstrap/scss/bootstrap";

html, body {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

*[contenteditable] {
  -webkit-user-select: auto !important;
}

a {
  cursor: pointer;
  transition: color $animation-color-duration;
}

.flex-grow-2 {
  flex-grow: 2;
}

.no-outline {
  &:focus {
    outline: none;
  }
}

ul {
  list-style-type: none;
}

input {
  background: transparent;
}

.snotify-success, .snotify-confirm, .snotify-prompt {
  background-color: $success;
}

.snotify-info, .snotify-async  {
  background-color: $info;
}

.snotify-warning {
  background-color: $warning;
}

.snotify-error {
  background-color: $danger;
}
