@import "variables";
@import "~bootstrap/scss/bootstrap";

html, body {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

*[contenteditable] {
  -webkit-user-select: auto !important;
}

a {
  cursor: pointer;
  transition: color $animation-color-duration;
}

.flex-grow-2 {
  flex-grow: 2;
}

.no-outline {
  &:focus {
    outline: none;
  }
}

ul {
  list-style-type: none;
}

input {
  background: transparent;
}

// notifications
.snotifyToast__title, .snotifyToast__body, .snotifyToast__buttons button {
  color: $primary !important;
}

.snotify-success, .snotify-confirm, .snotify-prompt, .snotify-info, .snotify-async, .snotify-warning, .snotify-error {
  border: 2px solid;
  box-shadow: $shadow-up;
  background: $secondary-color;
}

.snotify-success, .snotify-prompt {
  border-color: $success;
}

.snotify-info, .snotify-async  {
  border-color: $info;
}

.snotify-warning {
  border-color: $warning;
}

.snotify-error, .snotify-confirm {
  border-color: $danger;
}
