<input [readonly]="readonly" #colorInput
  [title]="value | formatDataValueTitle"
  [value]="(!valid || !readonly ? (value | formatDataValue) : '') | unescapeHtml"
  class="border-0 w-100 h-100 px-1 outline-none"
  [class.bg-transparent]="!readonly || !(value | serializeDataValue) || !valid"
  [class.bg-danger-light]="!skipValidation && readonly && !valid"
  [class.invalid-value]="!skipValidation && readonly && !(value | isDataValueValid)"
  (input)="onInput($event.target.value)"
  (blur)="onBlur()"
  (focus)="onFocus()"
  [ngStyle]="{'background-color': valid ? (value | formatDataValue) : ''}"
  [ngClass]="inputClass"
  [spellcheck]="false"
  type="text">

<color-picker *ngIf="!readonly"
  [color]="value | formatDataValue:'#00B388'"
  [origin]="element"
  (valueChange)="onValueChange($event)"
  (save)="onSave($event)"
  (saveOnClose)="onSaveOnClose(colorInput.value || $event)"
  (cancel)="onCancel()">
</color-picker>
