<ng-container *ngIf="query$ | async | perspectiveDisplayable:1; else notDisplayable">

  <ng-container *ngIf="{collections: collections$ | async,  config: config$ | async,
  canManageConfig: currentView$ | async | canManageConfig | async, linkTypes: linkTypes$ | async,
  query: query$ | async, documentsAndLinks: documentsAndLinks$ | async} as data">

    <collapsible-sidebar *ngIf="data.canManageConfig"
                         [collapsed]="!(sidebarOpened$ | async)"
                         (toggle)="onSidebarToggle()">
      <gantt-chart-config
        class="d-block m-3"
        [collections]="data.collections"
        [linkTypes]="data.linkTypes"
        [query]="data.query"
        [config]="data.config"
        (configChange)="onConfigChanged($event)">
      </gantt-chart-config>

    </collapsible-sidebar>

    <gantt-chart-tasks class="flex-grow-1 mx-4"
                       [style.width.px]="1"
                       [canManageConfig]="data.canManageConfig"
                       [collections]="data.collections"
                       [ganttChartId]="ganttChartId"
                       [permissions]="permissions$ | async"
                       [documents]="data.documentsAndLinks.documents"
                       [linkTypes]="data.linkTypes"
                       [linkInstances]="data.documentsAndLinks.linkInstances"
                       [config]="data.config"
                       [constraintData]="constraintData$ | async"
                       [query]="data.query"
                       (patchDocumentData)="patchDocumentData($event)"
                       (patchLinkData)="patchLinkInstanceData($event)"
                       (patchMetaData)="patchDocumentMetaData($event)"
                       (createDocument)="createDocument($event)"
                       (updateLinkDocuments)="updateLinkDocuments($event)"
                       (configChange)="onConfigChanged($event)">
    </gantt-chart-tasks>

  </ng-container>

</ng-container>

<ng-template #notDisplayable>
  <invalid-query class="w-100"
                 [minCollections]="1">
  </invalid-query>
</ng-template>
