<ng-container *ngIf="query$ | async | displayable; else notDisplayable">

  <ng-container *ngIf="{collections: collections$ | async,  config: config$ | async,
  canManageConfig: currentView$ | async | canManageConfig | async} as data">

    <collapsible-sidebar *ngIf="data.canManageConfig">
      <gantt-chart-config
        class="d-block m-3"
        [collections]="data.collections"
        [config]="data.config"
        (configChange)="onConfigChanged($event)">
      </gantt-chart-config>

    </collapsible-sidebar>

    <gantt-chart-tasks *ngIf="{users: users$ | async} as constraintData"
                       class="flex-grow-1 mx-3"
                       [style.width.px]="1"
                       [canManageConfig]="data.canManageConfig"
                       [collections]="data.collections"
                       [ganttChartId]="ganttChartId"
                       [permissions]="permissions$ | async"
                       [documents]="documents$ | async"
                       [config]="data.config"
                       [constraintData]="constraintData"
                       [query]="query$ | async"
                       (patchData)="patchDocumentData($event)"
                       (patchMetaData)="patchDocumentMetaData($event)"
                       (configChange)="onConfigChanged($event)">
    </gantt-chart-tasks>

  </ng-container>

</ng-container>

<ng-template #notDisplayable>
  <invalid-query class="w-100"
                 [minCollections]="1">
  </invalid-query>
</ng-template>
