<gantt-chart-collection-config *ngFor="let stem of query?.stems; trackBy:trackByStem; let index = index"
                               class="d-block mt-4"
                               [config]="config?.stemsConfigs && config?.stemsConfigs[index] || defaultStemConfig"
                               [stem]="stem"
                               [collections]="collections"
                               [linkTypes]="linkTypes"
                               [selectItems]="stem | ganttChartSelectItems:collections:linkTypes"
                               (configChange)="onConfigChange($event, index)">
</gantt-chart-collection-config>



