<gantt-chart-config-settings [config]="config"
                             (configChange)="configChange.emit($event)">
</gantt-chart-config-settings>

<gantt-chart-stem-config *ngFor="let stem of query?.stems; trackBy:trackByStem; let index = index"
                         class="d-block mt-4"
                         [config]="config?.stemsConfigs && config?.stemsConfigs[index] || defaultStemConfig"
                         [stem]="stem"
                         [collections]="collections"
                         [linkTypes]="linkTypes"
                         [selectItems]="stem | queryStemAttributesSelectItems:collections:linkTypes"
                         (configChange)="onStemConfigChange($event, stem, index)"
                         (categoryRemove)="onCategoryRemoved($event, index)"
                         (attributeRemove)="onAttributeRemoved($event, index)">
</gantt-chart-stem-config>

<h6 class="mt-4 fw-bold" i18n="@@perspective.gantt.config.display.size">Display size</h6>
<values-slider class="d-block w-100"
               [items]="displaySizeItems"
               [selectedId]="config?.displayMultiplier || displaySizeMultiplier.Default"
               (itemSelected)="onDisplaySizeChanged($event)">
</values-slider>


