@import '../styles/variables';

.lum-content {
  background-color: $primary-color;

  .lum-page-content {
    // height: 100%; // commented out because it does not display background color for whole page
    background-color: $primary-color;
    .row{
      margin: 0;
    }

    ol li{
      display: inline-block;

      &:not(:first-child):before{
        content: "/\00a0";
        padding: 0 5px;
      }
    }
  }
}

