@import "../styles/variables";

home-content {
  .company-project {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 99;
    background: $primary-color;
    box-shadow: $default-shadow;
    top: 60px;
    padding-right: 0;
    left: 0;
  }
  .document-filter {
    line-height: 1.5;
    margin-left: 10%;
    margin-bottom: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: $secondary-color;
  }

  .document-filter-nav {
    margin-left: -6%;
    padding-left: 6%;
    box-shadow: inset 0 -1px 0 rgba(108, 108, 108, 0.3);

    a {
      text-decoration: none;
    }

    .document-navigation {
      margin-left: 10%;
      margin-right: 15%;

      div:not(.dashboard-display) {
        text-align: center;

        &.active {
          border-bottom: thick solid $brand-success;
        }
      }
    }
  }

  a {
    text-decoration: none;
  }

}
