<nav class="navbar navbar-default navbar-fixed-side" [ngClass]="{'lum-collapsed': collapsedValue}">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="javascript:;" (click)="onHomeClick()">
        <img style="height: 48px; padding-top: 6px;" src="../../img/lumeer-small.png">
        <span>Lumeer</span>
      </a>
      <a href="javascript:;" (click)="onHomeClick()"
         data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="lum-nav-collaps pull-right">
        <i class="fa fa-align-justify" aria-hidden="true"></i>
      </a>
    </div>

    <div class="collapse navbar-collapse lum-navbar" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <template ngFor let-item [ngForOf]="router.config">
          <li *ngIf="item.data && item.data.title && item.data.id">
            <a class="lum-nav-item"
               [ngClass]="{'collapsed': item.data.collapsed}"
               (click)="item.data.collapsed = !item.data.collapsed">
              <span><i class="fa" [ngClass]="item.data.icon" aria-hidden="true"></i></span>
              <span>{{item.data.title}}</span>
            </a>
            <div>
              <ul class="lum-collapsed" [ngClass]="{'lum-in': !item.data.collapsed}">
                <template ngFor let-child [ngForOf]="item.children">
                  <li *ngIf="child.data && child.data.title && child.data.id"
                      [ngClass]="{'active': child.data.active}">
                    <a href="javascript:;" (click)="onItemClick(child, item)"><i class="fa" [ngClass]="child.data.icon" aria-hidden="true"></i>{{child.data.title}}</a>
                    <ul class="lum-collapsed"
                        [ngClass]="{'lum-in': !item.data.collapsed}"
                        *ngIf="child.data.contentUrl">
                      <li>
                        <a href="javascript:;" (click)="child.data.visible = !child.data.visible">Show items</a>
                      </li>
                    </ul>
                    <ul class="lum-collapsed lum-child-links"
                        [ngClass]="{'lum-in': !item.data.collapsed}"
                        [@animateVisible]="'in'"
                        *ngIf="child.data.contentUrl && child.data.visible && !item.data.collapsed">
                      <li *ngFor="let oneLink of child.data.childContent; let i = index;">
                          <a href="javascript:;"
                             (click)="onItemClick(child, item, oneLink); child.data.visible = false">
                            {{oneLink.title}}
                          </a>
                      </li>
                    </ul>
                  </li>
                </template>
              </ul>
            </div>
          </li>
        </template>
      </ul>
    </div>
  </div>
</nav>
