@import '../styles/variables';

top-panel {
  .lum-top-nav {
    margin-left: 0;

    a {
      text-decoration: none;
      color: $secondary-color;

      &:hover {
        color: $brand-success;
      }
    }

    .lum-credentials {
      background: $brand-primary;
      margin-left: 0;
      vertical-align: baseline;
      line-height: 3;

      > div {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }

    .lum-options {
      height: 100%;
      display: table;

      a {
        cursor: pointer;
        margin-right: 5px;
        display: table-cell; vertical-align: middle;
      }
    }

    .breadcrumbs ol {
      margin: 0;
      color: $secondary-color;
      li{
        display: inline-block;

        &:not(:first-child):before{
          content: "/\00a0";
          padding: 0 5px;
        }
      }
    }
  }
}
@media (min-width: $mobile-width) {
  top-panel {
    .lum-nav-toggle {
      display: inherit;
    }
  }
}

@media (max-width: $mobile-width) {
  top-panel {
    .lum-top-nav {
      padding-top: 15px;
    }
    .lum-options {
      width: 100%;
    }

    .lum-nav-toggle {
      display: none;
    }
  }
}
