<div class="lum-top-nav lum-white-container">
  <div class="row lum-credentials">
    <div class="col-lg-1 lum-nav-toggle">
      <a class="lum-brand" href="javascript:;" (click)="onHomeClick()">
        <img src="../img/lumeer-small.png">
        <span>Lumeer</span>
      </a>
    </div>
    <div class="col-lg-8 breadcrumbs">
      <ol>
        <li>Home</li>
        <li *ngFor="let crumb of breadCrumbService.breadcrumbs">{{crumb.data && crumb.data.title}}</li>
      </ol>
    </div>
    <div class="col-sm-12 col-lg-3 lum-options pull-right">
      <a><i class="fa fa-cog" aria-hidden="true"></i>Settings</a>&nbsp;
      <a href="https://auth.lumeer.io/auth/realms/lumeer/account"><i class="fa fa-user" aria-hidden="true"></i>Account</a>&nbsp;
      <a href="https://auth.lumeer.io/auth/realms/lumeer/protocol/openid-connect/logout?redirect_uri=https%3A%2F%2Fwww.lumeer.io%2F"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign Out</a>
    </div>
  </div>
</div>
