<div class="lum-top-nav lum-white-container">
  <div class="row lum-credentials">
    <div class="col-sm-12 col-lg-2 lum-options pull-right">
      <a><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
      <a (click)="onLogout()"><i class="fa fa-sign-in" aria-hidden="true"></i> Log Out</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 lum-nav-toggle">
      <a href="javascript:;" class="lum-nav-collaps" (click)="onCollapse()">
        <i class="fa fa-align-justify" aria-hidden="true"></i>
      </a>
    </div>
    <query-filter (filterChanged)="onFilterChanged($event)" class="col-sm-12 col-lg-9"></query-filter>
    <div class="col-lg-1 filter-options">
      <a (click)="showSave = !showSave"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
      <a (click)="showSave = !showSave"><i class="fa fa-clipboard" aria-hidden="true"></i></a>
      <div class="lum-filter-saver"
           *ngIf="showSave">
        <form>
          <input name="filter-name" type="text" placeholder="Name of this filter" [(ngModel)]="newFilterName">
          <button class="btn btn-default btn-sm" (click)="onSaveClick()">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
