@import '../styles/variables';

top-panel {
  .user-options ul {
    min-width: 160px;
    position: absolute;
    background: white;
    z-index: 999;
    left: -10%;
    top: 105%;
    box-shadow: $default-shadow;
    overflow: hidden;
    padding: 15px;

    li {
      line-height: 1.5;

      &.divider {
        height: 1px;
        overflow: hidden;
        margin: 5px -15px;
        background-color: #e5e5e5;
      }
    }
  }

  .company-project {
    cursor: pointer;
    text-align: right;
    color: $brand-success;
    font-size: $font-size-h4;
    line-height: 2.5;
  }

  .lum-top-nav {
    margin-left: 0;

    a:not(.icon) {
      text-decoration: none;
    }

    .lum-credentials {
      background: $brand-primary;
      margin-left: 0;
      vertical-align: baseline;
      line-height: 3;

      > div {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }

    .lum-options {
      height: 100%;
      display: table;

      a {
        cursor: pointer;
        margin-right: 5px;
        vertical-align: middle;
      }
    }

    .breadcrumbs ol {
      margin: 0;
      color: $secondary-color;
      li{
        display: inline-block;

        &:not(:first-child):before{
          content: "/\00a0";
          padding: 0 5px;
        }
      }
    }
  }

  .icon {
    line-height: initial;
    color: $brand-success;
    background: white;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    text-align: center;
    display: table-cell;

    &.notification {
      text-decoration: none;
      width: 30px;
      height: 30px;
      top: 9px;
      position: relative;
    }

    i {
      margin-right: initial;
      font-size: 35px;
    }
  }

  .notifications-center {
    left: -140px;
    top: 55px;
    position: absolute;
    line-height: 1;
    background: white;
    width: 350px;
    height: 350px;
    z-index: 999;
    box-shadow: $default-shadow;

    .title {
      text-align: center;
    }

    div {
      border-bottom: 1px solid #d1d1d1;
      background: $primary-color;
      padding: 5px 20px;
    }
  }
}
@media (min-width: $mobile-width) {
  top-panel {
    .lum-nav-toggle {
      display: inherit;
    }
  }
}

@media (max-width: $mobile-width) {
  top-panel {
    .lum-top-nav {
      padding-top: 15px;
    }
    .lum-options {
      width: 100%;
    }

    .lum-nav-toggle {
      display: none;
    }
  }
}
