<resizable-sidebar [opened]="!!selectedDocument && !!selectedCollection"
                   [width]="sidebarWidth"
                   (widthChanged)="sidebarResize.emit($event)">

  <workflow-tables class="d-block ml-3 content"
                   [class.mr-3]="!selectedDocument || !selectedCollection"
                   [collections]="collections"
                   [data]="data"
                   [linkTypes]="linkTypes"
                   [config]="config"
                   [canManageConfig]="canManageConfig"
                   [query]="query"
                   [permissions]="permissions"
                   [viewSettings]="viewSettings"
                   [constraintData]="constraintData"
                   [dataLoaded]="dataLoaded"
                   [selectedDocumentId]="selectedDocument?.id"
                   (configChange)="configChange.emit($event)">
  </workflow-tables>

  <workflow-sidebar class="d-block sidebar mr-1"
                    *ngIf="selectedDocument && selectedCollection"
                    [query]="query"
                    [collection]="selectedCollection"
                    [document]="selectedDocument"
                    (close)="closeSidebar.emit()">
  </workflow-sidebar>

</resizable-sidebar>
