<resizable-sidebar [opened]="!!selectedDocument && !!selectedCollection"
                   [width]="sidebarWidth"
                   (widthChanged)="sidebarResize.emit($event)">

  <workflow-tables class="d-block mx-3 content"
                   [collections]="collections"
                   [documents]="documents"
                   [linkTypes]="linkTypes"
                   [linkInstances]="linkInstances"
                   [config]="config"
                   [canManageConfig]="canManageConfig"
                   [query]="query"
                   [permissions]="permissions"
                   [viewSettings]="viewSettings"
                   [constraintData]="constraintData"
                   (configChange)="configChange.emit($event)">
  </workflow-tables>

  <workflow-sidebar class="d-block sidebar"
                    *ngIf="selectedDocument && selectedCollection"
                    [viewSettings]="viewSettings"
                    [query]="query"
                    [permissions]="permissions && permissions[selectedCollection.id]"
                    [collection]="selectedCollection"
                    [document]="selectedDocument"
                    (close)="closeSidebar.emit()">
  </workflow-sidebar>

</resizable-sidebar>
