<ng-container *ngIf="query | perspectiveDisplayable:1; else notDisplayable">

  <hidden-input (newInput)="onNewHiddenInput($event)"
                class="position-fixed">
  </hidden-input>

  <div
    *ngIf="{constraintData: constraintData$ | async, selectedCell: selectedCell$ | async, editedCell: editedCell$ | async} as data"
    class="mb-3"
    (clickOutside)="onClickOutsideTables()"
    (click)="onClickInsideTables($event)">
    <lmr-table *ngFor="let table of tables$ | async; trackBy: trackByTable"
               #lmrTable
               [style.height.px]="600"
               [tableModel]="table"
               [constraintData]="data.constraintData"
               [selectedCell]="data.selectedCell?.tableId === table.id ? data.selectedCell : null"
               [editedCell]="data.editedCell"
               (columnMove)="onColumnMove(table, $event)"
               (columnResize)="onColumnResize(table, $event)"
               (columnRename)="onColumnRename($event)"
               (columnMenuSelected)="onColumnMenuSelected($event)"
               (columnHiddenMenuSelected)="onColumnHiddenMenuSelected($event)"
               (cellClick)="onTableCellClick($event)"
               (cellCancel)="onTableCellCancel($event)"
               (cellDoubleClick)="onTableCellDoubleClick($event)"
               (rowNewValue)="onRowNewValue($event)"
               (rowMenuSelected)="onRowMenuSelected($event)">
    </lmr-table>
  </div>

</ng-container>

<ng-template #notDisplayable>
  <invalid-query class="w-100"
                 [minStems]="1">
  </invalid-query>
</ng-template>
