<ng-container *ngIf="query | perspectiveDisplayable:1; else notDisplayable">

  <div
    *ngIf="{constraintData: constraintData$ | async, selectedCell: selectedCell$ | async, editedCell: editedCell$ | async} as data"
    (clickOutside)="onClickOutsideTables()"
    (click)="onClickInsideTables($event)">
    <lmr-table *ngFor="let table of tables$ | async; trackBy: trackByTable"
               class="my-3" #lmrTable
               [style.height.px]="300"
               [tableModel]="table"
               [constraintData]="data.constraintData"
               [selectedCell]="data.selectedCell?.tableId === table.id ? data.selectedCell : null"
               [editedCell]="data.editedCell"
               (columnMove)="onColumnMove(table, $event)"
               (columnResize)="onColumnResize(table, $event)"
               (onCellClick)="onTableCellClick($event)"
               (onCellDoubleClick)="onTableCellDoubleClick($event)">
    </lmr-table>
  </div>

</ng-container>

<ng-template #notDisplayable>
  <invalid-query class="w-100"
                 [minStems]="1">
  </invalid-query>
</ng-template>
