<div class="static-table">
  <table-header [header]="header"
                [settings]="settings"
                (newColumn)="onNewColumn()"
                (removeColumn)="onRemoveColumn($event)"
                (headerChange)="onHeaderChange($event)"
                (hideColumn)="showHideColumn($event, true)"
                (showColumn)="showHideColumn($event, false)"
                class="static-header"></table-header>
  <div class="static-rows"
       (focusout)="onTableBlur()">
    <table-row *ngFor="let oneRow of rows; trackBy: trackByFn; let index = index"
               [settings]="settings"
               [rowIndex]="index"
               [isActive]="index === activeRow"
               [row]="oneRow"
               (itemHighlight)="onItemHighlight(index, $event)"
               (updateCell)="onUpdateCell(index, $event)"
               class="static-row"></table-row>
  </div>
  <button (click)="onNewRow()"
          type="button"
          class="btn btn-xs">
    <i class="fa fa-plus"></i>
  </button>
</div>
