@import "../../lumeer-variables";

.row-item {
  display: table-cell;
  padding: 2px 5px;
  border: 1px solid #888;

  span {
    display: block;
  }
}

[contenteditable]:focus {
  outline: 0 solid transparent;
}
