.header-item {
  display: table-cell;
  padding: 2px 5px;
  border: 1px solid #888;

  &.active {
    background-color: red !important;
  }

  .placeholder {
    width: 22px;
  }

  .dropdown, .placeholder {
    display: inline-block;

    .dropdown-toggle {
      background: none;
    }

    li {
      cursor: pointer;
    }
  }
}
