<input-box class="d-block mt-1 mx-2"
           innerClass="font-weight-bold"
           placeholder="Section title"
           [canStayEmpty]="true"
           [initialValue]="section?.title"
           (newValue)="onNewTitle($event)">
</input-box>

<input-box class="d-block mt-1 mx-2"
           placeholder="Section description"
           [initialValue]="section?.description"
           [color]="descriptionColor"
           [canStayEmpty]="true"
           [fontSizeRem]="0.8"
           (newValue)="onNewDescription($event)">
</input-box>

<div class="px-1 py-3" cdkDropList id="{{section.id}}"
     [cdkDropListConnectedTo]="sectionIds"
     [cdkDropListData]="section"
     (cdkDropListDropped)="rowDropped($event)">
  <form-editor-row *ngFor="let row of section?.rows; let index = index; trackBy:trackByRow"
                   cdkDrag
                   cdkDragLockAxis="y"
                   [cdkDragData]="row"
                   class="d-block px-2"
                   [row]="row"
                   [collection]="collection"
                   [collectionLinkTypes]="collectionLinkTypes"
                   [usedAttributeIds]="usedAttributeIds"
                   [usedLinkTypeIds]="usedLinkTypeIds"
                   (rowChange)="onRowChange($event, index)"
                   (delete)="onRowDelete(index)">
    <i class="fa-fw fa fa-grip-vertical cursor-move mr-1 text-black-50" cdkDragHandle></i>
  </form-editor-row>
</div>

<div class="d-flex justify-content-between px-3 mb-2">
  <button #buttonElement class="btn btn-link px-0" (click)="layout.toggle()">
    <i class="far fa-plus mr-2"></i>
    <span i18n="@@perspective.form.editor.row.action.add">Add a Row</span>
  </button>


  <button class="btn btn-link text-danger px-0" (click)="delete.emit()">
    <i class="far fa-trash-alt mr-2"></i>
    <span i18n="@@perspective.form.editor.row.action.delete">Delete a Section</span>
  </button>
</div>

<row-layout-dropdown #layout
                     [origin]="buttonElement"
                     (layoutSelected)="addRow($event)">
</row-layout-dropdown>
