<div class="header">
  <i class="fa {{ collection.icon }} collection-icon" title="{{ collection.name }}" [style.color]="collection.color"></i>
  <label [style.color]="collection.color" class="name">{{ collection.name }}</label>

  <i class="fa fa-fw fa-pencil editable" aria-hidden="true"></i>
  <i class="fa fa-fw fa-times editable" aria-hidden="true"></i>
</div>

<table>
  <tr *ngFor="let attribute of attributeInputs; let idx = index">
    <div>
      <td>
        <!--IDs folow the sturcure: Input[x, y]-->
        <input type="text" [attr.id]="generateId(0, idx)"
               [(ngModel)]="attribute.name"
               (ngModelChange)="attributeChange(idx)"
               (keyup)="onKeyOnInput($event, 0, idx)"/>
        <label>:</label>
      </td>
      <td>
        <input type="text" [attr.id]="generateId(1, idx)"
               [disabled]="!attribute.name"
               [(ngModel)]="attribute.value"
               (ngModelChange)="attributeChange(idx)"
               (keyup)="onKeyOnInput($event, 1, idx)"/>
      </td>
    </div>
  </tr>

  <tr>
    <div>
      <td>
        <input type="text" placeholder="Attribute" list="attributes" [attr.id]="generateId(0, attributeInputs.length)"
               [(ngModel)]="newAttributeInput.name"
               (keyup)="onKeyOnInput($event, 0, attributeInputs.length)"/>
        <label>:</label>
      </td>
      <td>
        <input type="text" [attr.id]="generateId(1, attributeInputs.length)"
               [disabled]="!newAttributeInput.name"
               [(ngModel)]="newAttributeInput.value"
               (keyup)="onKeyOnInput($event, 1, attributeInputs.length)"
               (keydown)="newAttributeValue($event.key)"/>
      </td>
    </div>

  </tr>
</table>

<datalist id="attributes">
  <option *ngFor="let attributeSuggestion of possibleAttributes()" value="{{ attributeSuggestion }}">
</datalist>

<div class="edit">
    <span class="primary-edit">
      <i class="fa fa-fw fa-search" aria-hidden="true"></i>
    </span>

  <span class="secondary-edit">
      <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i><!--
      --><i class="fa fa-fw fa-sign-out" aria-hidden="true"></i><!--
      --><i class="fa fa-fw fa-history" aria-hidden="true"></i><!--
      --><i class="fa fa-fw fa-users" aria-hidden="true"></i>
    </span>
</div>
