@import "../../../../../../styles/variables";

.post-it {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;

  color: #a0a1ad;
  background: $secondary-color;
  box-shadow: $default-shadow-down;

  position: relative;

  margin: 7.5px;
  padding: 10px;

  border: 1px solid #cccccc;
  border-radius: $border-radius-small;

  i {
    -webkit-transition: color 0.25s;
    -moz-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;

    color: $secondary-color;
  }

  .header {
    overflow: hidden;

    .collection-icon {
      padding-left: 7.5px;
      font-size: 20px;
      display: table-cell;
    }

    .name {
      width: 100%;
      display: table-cell;
      padding-left: 10px;

      color: $brand-primary;
      font-size: large;
      letter-spacing: 0.5px;
    }

    .editable {
      display: table-cell;
      vertical-align: middle;

      font-size: medium;
      padding: 4px;
    }
  }

  .content {
    min-height: 100px;
    margin-top: 5px;
    padding: 0;

    border: 1px solid #e5e5e5;
    border-radius: $border-radius-small;

    ul {
      color: $brand-primary;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        padding-left: 10px;
        margin: 3.5px 0;

        & > * {
          margin: 0;
          padding: 0;
        }

        input {
          flex: 2;
          min-width: 100px;
          font-weight: bold;
          border: 0;
          margin: 0 3.5px;
          padding-left: 6.5px;
          background: transparent;

          &:focus {
            outline: auto;
          }
        }

        &.new-attribute {
          padding-left: 0;
        }

        &:hover {
          background: #f7f7f7;
        }
      }
    }

    .delimiter {
      width: 100%;
      height: 1px;
      background: #e5e5e5;
    }
  }

  .edit {
    padding-top: 5px;
    padding-left: 7.5px;
    font-size: medium;

    .secondary-edit {
      float: right;
    }
  }

  &:hover {
    box-shadow: $default-shadow-up;
    i {
      color: #a0a1ad;
    }
  }
}
