<div class="post-it">

  <div class="header">
    <span class="icon"><i class="fa fa-fw {{ collection.icon }}"></i></span>
    <label class="name">{{ collection.name }}</label>
    <span class="editable"><i #edit class="fa fa-pencil" aria-hidden="true" [style.padding-left]="'4px'"></i></span>
  </div>

  <div class="content">
    <ul>
      <ng-container *ngFor="let attribute of attributes; let idx = index">
        <li>
          <label>{{ attribute }}:</label>
          <input type="text" #attributeInput (input)="attributeChange($event.target.value, attribute, attributeInput)"/>
        </li>
        <div class="delimiter"></div>
      </ng-container>
      <li class="new-attribute">
        <input type="text" #newAttributeInput placeholder="New Attribute" (input)="newAttributeChange($event.target.value, newAttributeInput)"/>
      </li>
    </ul>
  </div>

  <div class="edit">
    <span class="primary-edit">
      <i class="fa fa-search" aria-hidden="true"></i>
    </span>

    <span class="secondary-edit">
      <i class="fa fa-sign-in" aria-hidden="true"></i>
      <i class="fa fa-sign-out" aria-hidden="true"></i>
      <i class="fa fa-history" aria-hidden="true"></i>
      <i class="fa fa-users" aria-hidden="true"></i>
    </span>
  </div>
</div>
