<i *ngIf="size !== sizeType.L" class="fa fa-fw text-primary clickable chevron first-line-element mt-1"
   [ngClass]="isOpened ? 'fa-caret-down' : 'fa-caret-right'"
   aria-hidden="true" (click)="toggleOpen.emit()">
</i>

<i *ngIf="size === sizeType.L" class="fa chevron me-2"></i>

<i class="{{collection?.icon}} fa-fw collection-icon me-2 first-line-element"
   [title]="collection?.name"
   [ngClass]="medium || large ? 'fa-2x mt-2' : 'bigger-icon mt-1'"
   [style.color]="collection?.color" aria-hidden="true">
</i>

<task-first-line [constraintData]="constraintData"
                        [document]="document"
                        [attributes]="attributes"
                        [view]="view"
                        [collection]="collection"
                        [dataPermissions]="document | dataResourcePermissions:collection:permissions:currentUser:constraintData"
                        [large]="large"
                        (detail)="onDetail()"
                        (toggleFavorite)="onToggleFavorite()">
</task-first-line>

<task-second-line *ngIf="medium || large"
                         [attributes]="attributes"
                         [view]="view"
                         [document]="document"
                         [constraintData]="constraintData"
                         (commentClick)="onDetail()">
</task-second-line>

<ng-content></ng-content>
