<div [formGroup]="form" *ngIf="ruleSelectItems.length; else emptyRules">

  <div class="d-flex">
    <span class="text-muted" i18n="@@constraint.action.description">
      An action button that executes an automation based on specified conditions.
    </span>
  </div>

  <div class="form-group mt-4 mb-0">
    <label i18n="@@constraint.action.automation.label">Automation</label>
    <select-item class="w-100 d-block"
                 [selectedId]="ruleControl.value"
                 [removable]="false"
                 emptyValue="Select automation"
                 i18n-emptyValue="@@constraint.action.automation.empty"
                 [items]="ruleSelectItems"
                 (selected)="ruleControl.setValue($event)"
                 buttonClasses="flex-grow-1 text-truncate">
    </select-item>
  </div>

  <action-constraint-permissions-form class="d-block mt-4"
                                      [role]="roleControl.value"
                                      [roleControl]="roleControl">
  </action-constraint-permissions-form>

  <action-constraint-conditions-form class="d-block mt-4"
                                     [filtersArray]="filtersControl"
                                     [equation]="config?.equation"
                                     [resource]="resource"
                                     [attribute]="attribute">
  </action-constraint-conditions-form>

  <div class="form-group mt-4">
    <label [for]="formControlName.TitleUser"
           i18n="@@constraint.action.title.label">Button Design</label>
    <input class="form-control"
           [formControlName]="formControlName.TitleUser"
           i18n-placeholder="@@constraint.action.title.placeholder"
           placeholder="Enter button label..."
           [id]="formControlName.TitleUser" type="text">
  </div>

  <div class="d-flex align-items-center flex-column">

    <span class="small mb-1" i18n="@@constraint.action.color.label">Click on the button to set its icon and color</span>

    <button class="btn text-truncate text-nowrap mw-100" [style.background]="colorControl.value"
            #buttonElement (click)="togglePicker()"
            [style.color]="colorControl.value | contrastColor">
      <ng-container><i [ngClass]="iconControl.value"></i>&nbsp;</ng-container>
      {{titleControl.value}}
    </button>

    <icon-color-picker [color]="colorControl.value"
                       [icon]="iconControl.value"
                       [origin]="buttonElement"
                       (preview)="onIconColorChange($event)"
                       (selected)="onIconColorChange($event)"
                       (cancel)="onIconColorChange($event)">
    </icon-color-picker>

  </div>

  <action-constraint-confirmation-form [form]="form">
  </action-constraint-confirmation-form>
</div>


<ng-template #emptyRules>
  <action-constraint-config-empty [permissions]="permissions"
                                  [resource]="resource">
  </action-constraint-config-empty>
</ng-template>
