<input *ngIf="readonly; else textEditing"
       [attr.maxlength]="value?.config?.maxLength"
       [readonly]="readonly"
       [title]="value | formatDataValue"
       [value]="value | formatDataValue"
       [placeholder]="placeholder || ''"
       class="border-0 w-100 h-100 px-1 bg-transparent"
       [class.invalid-value]="!skipValidation && !valid"
       [ngClass]="inputClass"
       type="text">

<ng-template #textEditing>
  <input #textInput
         [(ngModel)]="text"
         [attr.maxlength]="skipValidation ? null : value?.config?.maxLength"
         (blur)="onBlur()"
         (ngModelChange)="onInput()"
         (focus)="onFocused()"
         [spellcheck]="false"
         class="border-0 w-100 h-100 px-1 {{inputClass}}"
         [ngClass]="valid || skipValidation ? 'bg-transparent' : 'bg-danger-light'"
         type="text">
  <options-dropdown [options]="suggestions | filterDataSuggestions:text"
                    [showBackdrop]="false"
                    [closeOnClickOutside]="false"
                    [origin]="textInput"
                    [firstItemActive]="text?.length > 0"
                    (selectOption)="onSelectOption($event)">
  </options-dropdown>

</ng-template>

