<table *ngIf="!linkedAttributes.length" class="table table-sm table-hover mt-1" style="width: 475px">
  <thead class="add"
         (click)="addLinkedAttribute()">
  <tr>
    <th class="border-0">
      <span>No Attributes</span>
      <i class="fa fa-fw fa-plus"></i>
    </th>
  </tr>
  </thead>
</table>
<table *ngIf="linkedAttributes.length >= 1" class="table table-sm table-hover mt-1" style="width: 475px">
  <thead>
  <tr>
    <th class="border-0 attribute-row">
      Attribute
    </th>
    <th class="border-0 count-row">
      Usage
    </th>
    <th class="border-0 constraints-row">
      Constraints
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let attribute of attributes(); let row = index">
    <td class="attrbute-row">
      {{ attribute.name }}
    </td>
    <td class="text-right count-row">{{ formatNumber(attribute.usageCount) }}</td>
    <td class="constraints-row">
      <div class="d-flex flex-wrap">
            <span class="constraint px-2 ml-1 rounded"
                  *ngFor="let constraint of attribute.constraints; let idx = index"
                  title="Remove Constraint">{{ constraint }}</span>
      </div>
    </td>
  </tr>
  </tbody>
</table>
