<table class="table table-sm border-0 table-hover" style="width: 475px">
  <thead>
    <tr>
      <th>
        Attribute
      </th>
      <th>
        Usage
      </th>
      <th>
        Constraints
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let attribute of attributes(); let row = index">
      <td>
        {{ attribute.name }}
      </td>
      <td class="text-right">{{ formatNumber(attribute.usageCount) }}</td>
      <td>
        <div class="d-flex flex-wrap">
            <span class="constraint px-2 ml-1 rounded"
                  *ngFor="let constraint of attribute.constraints; let idx = index"
                  title="Remove Constraint">{{ constraint }}</span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
