<div class="text-nowrap" *ngIf="collections | collectionById:stem.collectionId as collection">
  <i [style.color]="collection.color" aria-hidden="true" class="{{collection.icon}} fa-fw"></i>&nbsp;
  <b>{{collection.name}}</b>
</div>

<select-item *ngFor="let propertyRequired of propertiesRequired"
             class="d-block w-100 mt-2"
             [items]="selectItems | ganttChartPropertyItems:propertyRequired:config"
             [selectedId]="config.barsProperties && config.barsProperties[propertyRequired]"
             [placeholderText]="propertyRequired | ganttChartBarPlaceholder"
             [emptyValue]="propertyRequired | ganttChartBarEmptyValue"
             [removable]="true"
             [buttonClasses]="buttonClasses"
             (select)="onBarPropertySelect(propertyRequired, $event)"
             (remove)="onBarPropertyRemoved(propertyRequired)">
</select-item>


<select-item class="d-block w-100 mt-2"
             *ngFor="let propertyOptional of propertiesOptionalSimple"
             [items]="selectItems | ganttChartPropertyItems:propertyOptional:config"
             [selectedId]="config.barsProperties && config.barsProperties[propertyOptional]"
             [placeholderText]="propertyOptional | ganttChartBarPlaceholder"
             [emptyValue]="propertyOptional | ganttChartBarEmptyValue"
             [buttonClasses]="buttonClasses"
             [removable]="true"
             (select)="onBarPropertySelect(propertyOptional, $event)"
             (remove)="onBarPropertyRemoved(propertyOptional)">
</select-item>

<select-item-with-constraint class="d-block w-100 mt-2"
                             *ngFor="let propertyOptional of propertiesOptionalConstraint"
                             [attributesResources]="stem | queryStemAttributesResources:collections:linkTypes"
                             [restrictedIds]="propertyOptional | ganttChartRestrictedItemsWithConstraint:config"
                             [selectedId]="(config.barsProperties && config.barsProperties[propertyOptional]) | ganttChartSelectedItemWithConstraint"
                             [placeholderText]="propertyOptional | ganttChartBarPlaceholder"
                             [selectedConstraint]="config.barsProperties && config.barsProperties[propertyOptional]?.constraint"
                             [emptyValue]="propertyOptional | ganttChartBarEmptyValue"
                             [buttonClasses]="buttonClasses"
                             [removable]="true"
                             (select)="onBarConstraintPropertySelect(propertyOptional, $event)"
                             (selectConstraint)="onBarConstraintSelect(propertyOptional, $event)"
                             (remove)="onBarPropertyRemoved(propertyOptional)">

</select-item-with-constraint>
