<div class="position-absolute"
     [style.left.px]="contextMenuPosition.x"
     [style.top.px]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent>
    <button *ngIf="false && cursor.partIndex === 0"
            [disabled]="!canManageConfig"
            mat-menu-item
            (click)="onClick($event); onSort(false)">
      <i class="fa fa-fw fa-sort-alpha-down mr-1"
         aria-hidden="true">
      </i>
      <span i18n="@@table.header.menu.sort.ascending">Sort ascending</span>
    </button>
    <button *ngIf="false && cursor.partIndex === 0"
            [disabled]="!canManageConfig"
            mat-menu-item
            (click)="onClick($event); onSort(true)">
      <i class="fa fa-fw fa-sort-alpha-up mr-1"
         aria-hidden="true">
      </i>
      <span i18n="@@table.header.menu.sort.descending">Sort descending</span>
    </button>
    <hr class="my-2" *ngIf="false && cursor.partIndex === 0">
    <button mat-menu-item
            [disabled]="!allowedPermissions?.manageWithView"
            (click)="onClick($event); edit.emit()"
            data-test="table-column-menu-edit-name">
      <i class="fa fa-fw fa-edit mr-1"
         aria-hidden="true">
      </i>
      <span i18n="@@table.header.menu.edit">Edit name</span>
    </button>
    <ng-container *ngIf="attribute.id">
      <button mat-menu-item
              [disabled]="!allowedPermissions?.manageWithView"
              (click)="onClick($event); configure.emit()"
              data-test="table-column-menu-change-constraint">
        <i class="fa fa-fw fa-shapes mr-1"
           aria-hidden="true">
        </i>
        <span i18n="@@table.header.menu.changeType">Attribute settings...</span>
      </button>
      <button mat-menu-item
              [disabled]="!allowedPermissions?.manageWithView"
              (click)="onClick($event); functionEdit.emit()">
        <i class="fa fa-fw fa-function mr-1" aria-hidden="true"></i>
        <span *ngIf="attribute?.constraint?.type !== type.Action"
              i18n="@@table.header.menu.editFunction">Edit function...</span>
        <span *ngIf="attribute?.constraint?.type === type.Action" i18n="@@table.header.menu.editAutomation">Edit automation...</span>
      </button>
      <hr class="my-2">
      <button mat-menu-item
              [disabled]="!allowedPermissions?.manageWithView"
              (click)="onClick($event); descriptionEdit.emit()">
        <i class="fa fa-fw fa-file-edit mr-1" aria-hidden="true"></i>
        <span i18n="@@table.header.menu.editDescription">Edit description...</span>
      </button>
      <button *ngIf="!defaultAttribute"
              mat-menu-item
              [disabled]="!allowedPermissions?.manageWithView"
              (click)="onClick($event); setDefaultAttribute.emit()">
        <i class="fa fa-fw fa-check-square mr-1"
           aria-hidden="true">
        </i>
        <span i18n="@@table.header.menu.defaultAttribute">Set as displayed attribute</span>
      </button>
    </ng-container>
    <hr class="my-2">
    <button mat-menu-item class="prevent-click" [matMenuTriggerFor]="copyMenu">
      <div class="d-flex align-items-baseline">
        <i class="far fa-fw fa-copy mr-1" aria-hidden="true"></i>
        <span class="flex-grow-1" i18n="@@copy">Copy</span>
      </div>
    </button>
    <hr class="my-2">
    <button (click)="onClick($event); addNextColumn()"
            [disabled]="!allowedPermissions?.manageWithView"
            mat-menu-item
            data-test="table-column-menu-add-right">
      <i class="fa fa-fw fa-arrow-alt-circle-right mr-1"
         aria-hidden="true">
      </i>
      <span i18n="@@table.header.menu.add.column.next">Add column right</span>
    </button>
    <button (click)="onClick($event); addPreviousColumn()"
            [disabled]="!allowedPermissions?.manageWithView"
            mat-menu-item
            data-test="table-column-menu-add-left">
      <i class="fa fa-fw fa-arrow-alt-circle-left mr-1"
         aria-hidden="true">
      </i>
      <span i18n="@@table.header.menu.add.column.previous">Add column left</span>
    </button>
    <hr class="my-2">
    <button *ngIf="false && leaf && attribute.id"
            [disabled]="!allowedPermissions?.writeWithView"
            (click)="onClick($event); split.emit()"
            mat-menu-item>
      <i class="fa fa-fw fa-columns text-warning mr-1"
         aria-hidden="true">
      </i>
      <span i18n="@@table.header.menu.split">Split column</span>
    </button>
    <button *ngIf="attribute.id"
            [disabled]="!canManageConfig"
            mat-menu-item
            (click)="onClick($event); hide.emit()">
      <i class="fa fa-fw fa-eye-slash mr-1"
         aria-hidden="true">
      </i>
      <span i18n="@@table.header.menu.hide">Hide column</span>
    </button>
    <button (click)="onClick($event); remove.emit()"
            [disabled]="!allowedPermissions?.manageWithView"
            mat-menu-item>
      <i class="far fa-fw fa-trash-alt text-danger mr-1"
         aria-hidden="true">
      </i>
      <span i18n="@@table.header.menu.remove">Delete column</span>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #copyMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="onClick($event); onCopyName()">
      <div class="d-flex align-items-baseline">
        <i class="far fa-fw fa-copy mr-1" aria-hidden="true"></i>
        <span class="flex-grow-1" i18n="@@resource.attribute.name">Copy column name</span>
        <small class="text-secondary ml-3">{{macOS ? '⌘ C' : 'Ctrl + C'}}</small>
      </div>
    </button>
    <button mat-menu-item (click)="onClick($event); onCopyValues()">
      <div class="d-flex align-items-baseline">
        <i class="far fa-fw fa-copy mr-1" aria-hidden="true"></i>
        <span class="flex-grow-1" i18n="@@table.header.menu.copy.values">Copy all column values</span>
      </div>
    </button>
    <button mat-menu-item (click)="onClick($event); onCopyValues(true)">
      <div class="d-flex align-items-baseline">
        <i class="far fa-fw fa-copy mr-1" aria-hidden="true"></i>
        <span class="flex-grow-1" i18n="@@table.header.menu.copy.values.unique">Copy unique column values</span>
      </div>
    </button>
  </ng-template>
</mat-menu>
