<ng-container *ngIf="linkTypes$ | async as linkTypes">
  <ng-container *ngIf="linkTypes.length > 0">
    <links-list-tabs
      [linkTypes]="linkTypes"
      [selectedLinkType]="selectedLinkType$ | async"
      (select)="onSelectLink($event)">
    </links-list-tabs>
    <links-list-table
      class="d-block mt-2"
      [linkType]="selectedLinkType$ | async"
      [document]="document"
      [collection]="otherCollection$ | async"
      [permissions]="permissions$ | async"
      [query]="query$ | async"
      [allowSelectDocument]="allowSelectDocument"
      [preventEventBubble]="preventEventBubble"
      [viewSettings]="viewSettings"
      (unLink)="unLinkDocument($event)"
      (detail)="onSelectDocument($event)">
    </links-list-table>
  </ng-container>
</ng-container>
