<ng-container *ngIf="linkTypes$ | async as linkTypes">
  <ng-container *ngIf="linkTypes.length > 0">
    <div class="row justify-content-center">
      <div class="col">
        <h5 i18n="@@shared.links.title">Links to other records</h5>
        <links-list-tabs
          [linkTypes]="linkTypes"
          [selectedLinkType]="activeLinkType"
          (select)="onSelectLink($event)">
        </links-list-tabs>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <links-list-table
          [linkType]="activeLinkType"
          [document]="document"
          (unlink)="unLinkDocument($event)"
          (select)="select.emit($event)">
        </links-list-table>
      </div>
    </div>
  </ng-container>
</ng-container>
