<ng-container *ngIf="{selectedCursor: selectedCursor$ | async, documents: documents$ | async, linkInstances: linkInstances$ | async, part: part$ | async} as data">

  <ng-container *ngIf="{linkInstance: data.linkInstances && data.linkInstances[0] | linkInstancePermissions | async,
                        document: data.documents | dataCellDocument : data.part : rows[0] | async | documentPermissions | async} as permissions">
    <ng-container *ngFor="let column of columns$ | async; trackBy: trackByAttributeIds; let columnIndex = index">
      <ng-container *ngIf="column | isSingleColumn; else emptyCell">
        <table-data-cell *ngIf="rows.length < 2; else collapsedCell"
                         [column]="column"
                         [cursor]="cursor | columnCursor:columnIndex"
                         [document]="data.documents | dataCellDocument : data.part : rows[0] | async"
                         [canManageConfig]="canManageConfig"
                         [linkInstance]="data.linkInstances ? data.linkInstances[0] : null"
                         [selected]="data.selectedCursor | cursorEquals:(cursor | columnCursor:columnIndex)"
                         [table]="table$ | async"
                         [allowedPermissions]="data.linkInstances ? permissions.linkInstance : permissions.document">
        </table-data-cell>

        <ng-template #collapsedCell>
          <table-collapsed-cell [column]="column"
                                [cursor]="cursor | columnCursor:columnIndex"
                                [documents]="data.documents"
                                [linkInstances]="data.linkInstances"
                                [selected]="data.selectedCursor | cursorEquals:(cursor | columnCursor:columnIndex)"
                                [style.width]="column | columnWidth | pixel"
                                [style.width]="column | columnWidth:canManageConfig | pixel"
                                class="d-block table-border-right table-border-bottom">
          </table-collapsed-cell>
        </ng-template>
      </ng-container>

      <ng-template #emptyCell>
        <div *ngIf="canManageConfig"
             [style.width.px]="column | columnWidth:canManageConfig"
             class="table-border-right table-border-bottom">
        </div>
      </ng-template>
    </ng-container>
  </ng-container>
</ng-container>
