<div [formGroup]="form">

  <div class="d-flex flex-row flex-nowrap pt-1 align-items-center">
    <label class="switch">
      <input type="checkbox" formControlName="forceSign">
      <span class="slider round" (click)="$event.stopPropagation()"></span>
    </label>
    <span class="ml-2" i18n="@@constraint.number.sign.label">Force sign</span>
  </div>
  <div class="d-flex flex-row flex-nowrap pt-2 align-items-center">
    <label class="switch">
      <input type="checkbox" formControlName="negative">
      <span class="slider round" (click)="$event.stopPropagation()"></span>
    </label>
    <span class="ml-2" i18n="@@constraint.number.negative.label">Accounting negative numbers</span>
  </div>

  <div class="d-flex flex-row flex-nowrap pt-2 align-items-center">
    <label class="switch">
      <input type="checkbox" formControlName="compact">
      <span class="slider round" (click)="$event.stopPropagation()"></span>
    </label>
    <span class="ml-2" i18n="@@constraint.number.compact.label">Compact mode</span>
  </div>

  <div class="d-flex flex-row flex-nowrap pt-2 align-items-center">
    <label class="switch">
      <input type="checkbox" formControlName="separated">
      <span class="slider round" (click)="$event.stopPropagation()"></span>
    </label>
    <span class="ml-2" i18n="@@constraint.number.space.label">Thousand/space separated</span>
  </div>

  <div class="d-flex flex-column pt-3">
    <label for="numberDecimals">
        <span class="d-inline-block"
              i18n="@@constraint.number.decimals.label">
          Round to no. of decimal digits (0-10):
        </span>
    </label>
    <input class="form-control"
           formControlName="decimals"
           id="numberDecimals"
           integer
           maxValue="10"
           min="0"
           minValue="0"
           max="10"
           type="number">
    <span class="d-inline-block text-muted small"
          i18n="@@constraint.number.decimals.description">
          Leave empty for no rounding.
    </span>
  </div>

  <p class="text-secondary m-0 mt-2">
    <span i18n="@@constraint.example">Example:</span>&nbsp;
    <span>{{ exampleValue$ | async | formatDataValue }}</span>
  </p>

  <div class="d-flex mt-3">
    <div class="form-group flex-grow-1">
      <label for="numberMinValue"
             i18n="@@constraint.number.minValue.label">
        Minimum value
      </label>
      <input class="form-control"
             formControlName="minValue"
             id="numberMinValue"
             type="number">
    </div>

    <div class="form-group ml-3 flex-grow-1">
      <label for="numberMaxValue"
             i18n="@@constraint.number.maxValue.label">
        Maximum value
      </label>
      <input class="form-control"
             formControlName="maxValue"
             id="numberMaxValue"
             type="number">
    </div>
  </div>

  <div
    *ngIf="form.errors && form.errors['minMaxInvalid'] && form.controls['maxValue'].touched && form.controls['minValue'].touched"
    class="text-danger"
    i18n="@@form.errors.minMaxInvalid">
    Minimum must be less or equal than maximum.
  </div>
</div>
