<dialog-wrapper [submitDisabled]="!form.valid"
                [type]="'success'"
                [width]="350"
                (submit)="onSubmit()">
  <span class="title" i18n="@@collection.new.dialog.title">Create new linked file</span>

  <div class="body">
    <form [formGroup]="form">
      <div class="form-group">
        <icon-chooser [(color)]="color"
                      [(icon)]="icon"
                      class="d-block mb-3">
        </icon-chooser>
      </div>
      <collection-name-input [formGroup]="collectionFormGroup"
                             (change)="onCollectionNameChange()">
      </collection-name-input>
      <link-name-input *ngIf="linkedCollection"
                       [colors]="colors()"
                       [icons]="icons()"
                       [formGroup]="linkTypeFormGroup">
      </link-name-input>
    </form>
  </div>

  <span class="button-cancel" i18n="@@collection.new.dialog.button.cancel">Cancel</span>
  <span class="button-submit" i18n="@@collection.new.dialog.button.create">Create</span>
</dialog-wrapper>
