<div class="position-absolute"
     [style.left.px]="contextMenuPosition.x"
     [style.top.px]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent *ngIf="{numberOfParts: (tableParts$ | async)?.length} as data">
    <button (click)="onClick($event); edit.emit()"
            [disabled]="!allowedPermissions?.writeWithView"
            mat-menu-item>
      <div class="d-flex align-items-baseline">
        <i class="fa fa-fw fa-edit mr-1"
           aria-hidden="true"></i>
        <span class="flex-grow-1" i18n="@@table.body.row.edit">Edit value</span>
        <small class="text-secondary ml-3">{{macOS ? '↩' : 'Enter'}}</small>
      </div>
    </button>

    <ng-container *ngIf="created">
      <button *ngIf="allowedPermissions?.read" mat-menu-item
              (click)="onDocumentDetail()">
        <i class="far fa-fw fa-file-search mr-1"
           aria-hidden="true"></i>
        <span i18n="@@table.body.row.show.detail">Show detail</span>
      </button>
      <button mat-menu-item (click)="onClick($event); onCopyValue()">
        <div class="d-flex align-items-baseline">
          <i class="far fa-fw fa-copy mr-1"
             aria-hidden="true"></i>
          <span class="flex-grow-1" i18n="@@table.body.row.copy.value">Copy value</span>
          <small class="text-secondary ml-3">{{macOS ? '⌘ C' : 'Ctrl + C'}}</small>
        </div>
      </button>
      <hr class="my-2">
      <button (click)="onClick($event); onAddRow(0)"
              [disabled]="!allowedPermissions?.writeWithView"
              mat-menu-item>
        <i class="fa fa-fw fa-arrow-to-top mr-1"
           aria-hidden="true"></i>
        <span *ngIf="cursor?.partIndex > 0" i18n="@@table.body.row.link.above">Link new row above</span>
        <small *ngIf="cursor?.partIndex > 0" class="text-secondary ml-3">{{macOS ? '⌥ Q' : 'Alt + Q'}}</small>
        <span *ngIf="!cursor?.partIndex" i18n="@@table.body.row.add.above">Add row above</span>
      </button>
      <button (click)="onClick($event); onAddRow(1)"
              [disabled]="!allowedPermissions?.writeWithView"
              mat-menu-item>
        <i class="fa fa-fw fa-arrow-to-bottom mr-1"
           aria-hidden="true"></i>
        <span *ngIf="cursor?.partIndex > 0" i18n="@@table.body.row.link.below">Link new row below</span>
        <small *ngIf="cursor?.partIndex > 0" class="text-secondary ml-3">{{macOS ? '⌥ A' : 'Alt + A'}}</small>
        <span *ngIf="!cursor?.partIndex" i18n="@@table.body.row.add.below">Add row below</span>
      </button>
    </ng-container>

    <ng-container *ngIf="tableRow$ | async">
      <ng-container *ngIf="allowedPermissions?.writeWithView && canManageConfig">
        <hr class="my-2">
        <button (click)="onClick($event); onMoveUp()"
                mat-menu-item>
          <div class="d-flex align-items-baseline">
            <i class="fa fa-fw fa-arrow-alt-up mr-1"
               aria-hidden="true"></i>
            <span class="flex-grow-1"
                  i18n="@@table.body.row.move-up">Move up</span>
            <small class="text-secondary ml-3">{{macOS ? '⇧ ⌥ ↑' : 'Shift + Alt + ↑'}}</small>
          </div>
        </button>
        <button (click)="onClick($event); onMoveDown()"
                mat-menu-item>
          <div class="d-flex align-items-baseline">
            <i class="fa fa-fw fa-arrow-alt-down mr-1"
               aria-hidden="true"></i>
            <span class="flex-grow-1"
                  i18n="@@table.body.row.move-down">Move down</span>
            <small class="text-secondary ml-3">{{macOS ? '⇧ ⌥ ↓' : 'Shift + Alt + ↓'}}</small>
          </div>
        </button>
      </ng-container>

      <ng-container *ngIf="cursor.partIndex === 0 && allowedPermissions?.writeWithView && canManageConfig">
        <hr class="my-2" *ngIf="(indentable$ | async) || (outdentable$ | async)">
        <button *ngIf="indentable$ | async"
                (click)="onClick($event); onIndent()"
                mat-menu-item>
          <div class="d-flex align-items-baseline">
            <i class="fa fa-fw fa-indent mr-1"
               aria-hidden="true"></i>
            <span class="flex-grow-1"
                  i18n="@@table.body.row.indent">Indent</span>
            <small class="text-secondary ml-3">{{macOS ? '⇧ ⌥ →' : 'Shift + Alt + →'}}</small>
          </div>
        </button>
        <button *ngIf="outdentable$ | async"
                (click)="onClick($event); onOutdent()"
                mat-menu-item>
          <div class="d-flex align-items-baseline">
            <i class="fa fa-fw fa-outdent mr-1"
               aria-hidden="true"></i>
            <span class="flex-grow-1"
                  i18n="@@table.body.row.outdent">Outdent</span>
            <small class="text-secondary ml-3">{{macOS ? '⇧ ⌥ ←' : 'Shift + Alt + ←'}}</small>
          </div>
        </button>

        <ng-container *ngIf="created && data.numberOfParts < 4">
          <hr class="my-2">
          <button (click)="onClick($event); onCloneRow()"
                  mat-menu-item>
            <div class="d-flex align-items-baseline">
              <i class="far fa-fw fa-clone mr-1"
                 aria-hidden="true"></i>
              <span class="flex-grow-1"
                    i18n="@@table.body.row.clone">Duplicate row</span>
            </div>
          </button>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="setLinks$ | async">
        <hr class="my-2">
        <button (click)="onClick($event); onUpdateLinks()" mat-menu-item>
          <div class="d-flex align-items-baseline">
            <i class="far fa-fw fa-link mr-1" aria-hidden="true"></i>
            <span class="flex-grow-1" i18n="@@table.body.row.links.update">Add/Remove links</span>
          </div>
        </button>
      </ng-container>

      <hr class="my-2">
      <button *ngIf="created && cursor.partIndex > 0"
              (click)="onClick($event); onUnlinkRow()"
              [disabled]="!allowedPermissions?.writeWithView"
              mat-menu-item>
        <i class="fa fa-fw fa-unlink text-warning mr-1"
           aria-hidden="true"></i>
        <span i18n="@@table.body.row.unlink">Unlink row</span>
      </button>
      <button *ngIf="!created || cursor.partIndex === 0"
              (click)="onClick($event); onRemoveRow()"
              [disabled]="!allowedPermissions?.writeWithView"
              mat-menu-item>
        <i class="far fa-fw fa-trash-alt text-danger mr-1"
           aria-hidden="true"></i>
        <span i18n="@@remove.row">Remove row</span>
      </button>
    </ng-container>
  </ng-template>
</mat-menu>
