<div class="d-flex">

  <div class="input-group flex-row">
    <input class="form-control form-control-sm flex-fill"
           [ngModel]="text"
           (keydown)="onKeyDown($event)"
           (input)="onInputChanged($event.target.value); onSuggest()"
           (focus)="onSuggest()"
           placeholder="Enter user email and press Enter"
           i18n-placeholder="@@view.share.dialog.input.placeholder"/>

    <div class="input-group-append">
      <button type="button"
              *ngIf="canAddNewUsers"
              class="btn btn-sm btn-primary text-nowrap"
              [disabled]="!(text | canAddNewUser:currentUsers)"
              (click)="onAddUser()">
        <i class="fas fa-plus mr-2"></i>
        <span class="font-weight-bold" i18n="@@view.share.dialog.input.button">Add</span>
      </button>
    </div>
  </div>

</div>

<div class="dropdown" *ngIf="text && suggestions.length > 0">
  <div class="dropdown-menu show suggestions">
    <div class="dropdown-item"
         *ngFor="let suggestion of suggestions; let index = index"
         [class.selected]="index === selectedIndex"
         (click)="onSuggestionClick(suggestion)">
      {{suggestion}}
    </div>
  </div>
</div>
