<table>
  <tr *ngFor="let attributePair of attributePairs; let idx = index">
    <td class="name-column">
      <!--IDs folow the sturcure: Input_documentIndex_[x, y]-->
      <input type="text"
             [attr.id]="inputId(0, idx)"
             [disabled]="!editable"
             [ngModel]="attributePair.attribute"
             (ngModelChange)="attributePairChange(attributePair, $event)"
             (keydown)="onInputKey($event)"
             (click)="selectInput(0, idx)"/>
    </td>
    <td class="value-column">
      <input [attr.id]="inputId(1, idx)"
             [disabled]="!editable"
             [ngModel]="attributePair.value"
             (ngModelChange)="attributePairChange(attributePair, $event)"
             (keydown)="onInputKey($event)"
             (click)="selectInput(1, idx)"/>
    </td>
  </tr>

  <tr *ngIf="editable">
    <td class="name-column">
      <input type="text" placeholder=" + "
             [attr.id]="inputId(0, attributePairs.length)"
             [(ngModel)]="newAttributePair.attribute"
             (keydown)="onInputKey($event)"
             (click)="selectInput(0, attributePairs.length)"/>
    </td>
    <td class="value-column">
      <input title="value"
             [attr.id]="inputId(1, attributePairs.length)"
             [disabled]="!newAttributePair.attribute"
             (keydown)="onInputKey($event); $event.key.length === 1 && createAttributePair($event.key)"
             (click)="selectInput(1, attributePairs.length)"/>
    </td>
  </tr>

</table>
