@import "../../../../../../styles/variables";

:host {
  display: block;
}

tr {
  border-bottom: 1px solid #e5e5e5;

  &:last-child {
    border-bottom: none;
  }

  input {
    padding: 0 3px;
    width: 100%;
    border: 0;
    background-color: transparent;

    &:focus {
      outline-offset: -3px;
      outline: #2c3e50 auto medium;
      -moz-outline-radius: 4px;
    }
  }

  &:hover {
    background: #f7f7f7;
  }
}

td {
  padding: 2px 4px;

  &.name-column {
    width: 40%;
    font-weight: bold;
  }
}
