@import "../../../../../../styles/variables";

:host {
  display: block;
}

tr {
  display: inline-flex;
  padding: 3.5px 0;

  border-bottom: 1px solid #e5e5e5;

  &:last-child {
    border-bottom: none;
  }

  div {
    display: inherit;
    padding: 0 3px;

    &:hover {
      background: #f7f7f7;
    }
  }

  td {
    display: inline-flex;
  }

  input {
    width: 100%;
    border: 0;
    padding-left: 6.5px;
    background-color: transparent;

    &:focus {
      outline-color: #2c3e50;
      outline-offset: -3px;
      outline-width: medium;
      outline-style: auto;
      -moz-outline-radius: 4px;
    }
  }
}

.name-column {
  width: 125px;
  font-weight: bold;
}
