@import '~src/styles/variables';

$height: 2rem;
$width: 0.8rem;

.sticky-header {
  white-space: nowrap;
}

.header-content {
  display: grid;
  grid-template-columns: 1fr auto;
}

.dragging {
  background-color: $light !important;
}

.hidden {
  visibility: hidden;
}

th {
  z-index: 2;
  position: sticky;
  height: $height;
  vertical-align: middle !important;
  padding: 0.4rem $width / 2 !important;
  font-style: italic;
}

.resize-handle {
  height: $height;
  width: $width;
  background: transparent;
  cursor: col-resize;
  position: absolute;
  z-index: 7;
}

.icons {
  font-size: 13px;
}

.fa-caret-down {
  color: $secondary;
}
