<data-resource-detail-modal [resource]="resource$ | async"
                            [dataResource]="dataResource$ | async"
                            [toolbarRef]="toolbar"
                            [viewId]="view?.id"
                            [createDirectly]="true">
</data-resource-detail-modal>

<ng-template #toolbar>

  <div class="d-flex flex-row flex-nowrap align-items-center my-3" *ngIf="{
  stemIndex: stemIndex$ | async,
  collections: collections$ | async,
  linkTypes: linkTypes$ | async,
  permissions: permissions$ | async
  } as data">

    <select-item *ngIf="!dataResource"
                 class="d-block me-2"
                 [items]="query$ | async | stemCollectionsItems:config:data.collections:data.linkTypes:data.permissions"
                 [removable]="false"
                 [fitParent]="false"
                 [selectedId]="stemIndex$ | async"
                 (selected)="onStemIndexSelect($event)">
    </select-item>

  </div>
</ng-template>
