<data-resource-detail-modal [resource]="resource$ | async"
                            [dataResource]="dataResource$ | async"
                            [toolbarRef]="toolbar"
                            [view]="view"
                            [createDirectly]="true"
                            (dataResourceChanged)="onDataResourceChanged($event)">
</data-resource-detail-modal>

<ng-template #toolbar>

  <div class="d-flex flex-row flex-nowrap align-items-center my-3" *ngIf="{
  stemIndex: stemIndex$ | async,
  collections: collections$ | async,
  linkTypes: linkTypes$ | async,
  permissions: permissions$ | async
  } as data">

    <select-item *ngIf="!dataResource"
                 class="d-block mr-2"
                 [items]="query$ | async | stemCollectionsItems:config:data.collections:data.linkTypes:data.permissions"
                 [removable]="false"
                 [fitParent]="false"
                 [selectedId]="stemIndex$ | async"
                 (selected)="onStemIndexSelect($event)">
    </select-item>

    <div class="custom-control custom-checkbox"
         *ngIf="config | canToggleAllDay:data.stemIndex:data.collections:data.linkTypes:data.permissions">
      <input id="allDayCheckbox"
             [attr.checked]="allDay$ | async"
             [checked]="allDay$ | async"
             (change)="onAllDayChecked($event.target.checked)"
             type="checkbox"
             class="custom-control-input">
      <label for="allDayCheckbox"
             class="custom-control-label">
      </label>
      <span i18n="@@dialog.create.calendar.event.allDay">All day event</span>
    </div>

  </div>
</ng-template>
