<div *ngIf="query$ | async | perspectiveDisplayable:1:1; else notDisplayable"
     (clickOutside)="onClickOutside($event)"
     class="flex-grow-1 d-flex flex-column m-0 h-100 content">
  <ng-container *ngIf="{canManageConfig: canManageConfig$ | async, tableId: tableId$ | async, view: view$ | async, query: query$ | async} as data">
    <table-hidden-input [canManageConfig]="data.canManageConfig"
                        [tableId]="data.tableId"
                        [view]="data.view"
                        class="position-fixed">
    </table-hidden-input>

    <table-header *ngIf="table$ | async as table"
                  [table]="table"
                  [query]="data.query"
                  [view]="data.view"
                  [canManageConfig]="data.canManageConfig"
                  [embedded]="embedded"
                  [id]="data.tableId + '-header'"
                  cdkScrollable>
    </table-header>
    <table-body [tableId]="data.tableId"
                [query]="data.query"
                [view]="data.view"
                [perspectiveConfiguration]="perspectiveConfiguration"
                [canManageConfig]="data.canManageConfig"
                class="d-flex flex-grow-1">
    </table-body>
  </ng-container>
</div>

<ng-template #notDisplayable>
  <invalid-query class="w-100"
                 [query]="query$ | async"
                 [view]="view$ | async"
                 [minStems]="1"
                 [maxStems]="1">
  </invalid-query>
</ng-template>
