<div *ngIf="!(query | displayable)"
     class="alert alert-warning m-3"
     role="alert"
     i18n="@@table.query.invalid">Your query results cannot be shown using table perspective. The query needs to specify exactly one collection.
</div>

<div #positioner></div>
<div *ngIf="query | displayable"
     (clickOutside)="onClickOutside($event)"
     class="table-wrapper d-flex flex-column m-0">
  <table-header [table]="table"
                class="pl-3">
  </table-header>
  <table-body [table]="table"
              [query]="query"
              (scroll)="onBodyScroll($event)"
              class="flex-grow-1 pl-3 pb-3">
  </table-body>
</div>
