<div *ngIf="!(query | displayable)"
     class="alert alert-warning m-3"
     role="alert"
     i18n="@@table.query.invalid">Table perspective cannot show the results of your query. The query needs to have exactly one collection.
</div>

<div *ngIf="query | displayable"
     (clickOutside)="onClickOutside($event)"
     class="flex-grow-1 d-flex flex-column m-0 overflow-x-auto">
  <table-header [table]="table"></table-header>
  <table-body [tableId]="tableId"
              [query]="query"
              (scroll)="onBodyScroll($event)"
              class="flex-grow-1 pl-3">
  </table-body>
</div>
