<ng-container [ngSwitch]="type">
  <datetime-constraint-config-form *ngSwitchCase="constraintTypes.DateTime"
                                   [config]="config"
                                   [form]="form">
  </datetime-constraint-config-form>

  <number-constraint-config-form *ngSwitchCase="constraintTypes.Number"
                                 [config]="config"
                                 [form]="form">
  </number-constraint-config-form>

  <percentage-constraint-config-form *ngSwitchCase="constraintTypes.Percentage"
                                     [config]="config"
                                     [form]="form">
  </percentage-constraint-config-form>

  <select-constraint-config-form *ngSwitchCase="constraintTypes.Select"
                                 [config]="config"
                                 [form]="form">
  </select-constraint-config-form>

  <text-constraint-config-form *ngSwitchCase="constraintTypes.Text"
                               [config]="config"
                               [form]="form">
  </text-constraint-config-form>

  <user-constraint-config-form *ngSwitchCase="constraintTypes.User"
                               [config]="config"
                               [form]="form">
  </user-constraint-config-form>
</ng-container>
