<div class="card post-it"
     *ngIf="collection | collectionPermissions | async as allowedPermissions"
     [class.selected]="selected"
     [class.uninitialized]="!collection.id"
     [class.initialized]="collection.id">
  <div class="card-body text-center">
    <div *ngIf="!collection.id" class="text-center small text-muted" i18n="@@collection.document.icon.set">Click icon to set it</div>
    <div *ngIf="!collection.id" id="{{newDropdownId}}">
      <a class="icon icon-edit" [style.color]="collection.color"
         [title]="collection.name"
         [routerLink]="null"
         [queryParams]="null"
         [attr.data-toggle]="'dropdown'">
        <i class="fa-3x {{ collection.icon }}" aria-hidden="true" (click)="togglePanelVisible($event, false);"
           (clickOutside)="onPickerBlur(false)"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right uninitialized-dropdown">
        <color-picker [dropdownId]="newDropdownId" class="dropdown-item" [(color)]="collection.color"></color-picker>
        <div class="dropdown-divider"></div>
        <icon-picker [dropdownId]="newDropdownId" class="dropdown-item"
                     [(icon)]="collection.icon"></icon-picker>
        <div class="dropdown-divider"></div>
        <div class="text-right mx-2">
          <button class="btn btn-outline-secondary btn-sm" data-toggle="dropdown" (click)="revertSelectedColor($event)" i18n="@@button.cancel">Cancel
          </button>
          <button class="btn btn-primary btn-sm mx-2" data-toggle="dropdown" (click)="saveSelectedColor($event)" i18n="@@button.select">Select</button>
        </div>
      </div>
    </div>

    <a *ngIf="collection.id" class="icon" [style.color]="collection.color"
       [title]="collection.name"
       [routerLink]="[workspacePath(), 'view', 'table']"
       [queryParams]="{ query: queryForCollectionDocuments() }">
      <i class="fa-3x {{ collection.icon }}" aria-hidden="true" (click)="togglePanelVisible($event, false);"
         (clickOutside)="onPickerBlur(false)"></i>
    </a>

    <div *ngIf="collection.id" class="document-count opacity-content clickable"
         [ngClass]="{'panel-visible' : focused}">
      <a title="Record Count" i18n-title="@@collection.document.count"
         [routerLink]="[workspacePath(), 'view', 'table']"
         [queryParams]="{ query: queryForCollectionDocuments() }">
        <i class="far fa-file" aria-hidden="true"></i>&nbsp;{{ collection.documentsCount }}
      </a>
    </div>

    <div *ngIf="collection.id && allowedPermissions.read" class="toggle-favorite opacity-content clickable clickable-warning"
         [ngClass]="{'panel-visible' : focused}"
         [class.always-visible]="collection.favorite">
      <a *ngIf="collection.favorite" title="Remove from favorites"
         i18n-title="@@collection.favorite.remove" (click)="toggleFavorite()">
        <i class="fas fa-star"
           aria-hidden="true"></i>
      </a>
      <a *ngIf="!collection.favorite" title="Add to favorites"
         i18n-title="@@collection.favorite.add" (click)="toggleFavorite()">
        <i class="far fa-star"
           aria-hidden="true"></i>
      </a>
    </div>

    <div *ngIf="collection.id" class="buttons opacity-content d-flex flex-column"
         [ngClass]="{'panel-visible' : focused}">
      <div id="dropdown-{{collection.id}}">
        <a title="Configure" i18n-title="@@collection.button.configure"
           class="rounded-left"
           *ngIf="allowedPermissions.manage"
           [routerLink]="[workspacePath(), 'c', collection.id, 'attributes']">
          <i class="fas fa-fw fa-cog" aria-hidden="true"></i></a>
      </div>
    </div>
    <div *ngIf="!collection.id" class="button-remove opacity-content d-flex flex-column"
         [class.panel-visible]="focused">
      <a (click)="onDelete()"
         class="text-danger rounded-left"
         title="Delete Collection" i18n-title="@@collection.button.remove">
        <i class="fas fa-fw fa-trash" aria-hidden="true"></i>
      </a>
    </div>

  </div>

  <post-it-collection-name
    [collectionName]="collection.name"
    [editable]="!collection.id || allowedPermissions.manage"
    (changed)="onNameChanged($event)"
    (selected)="onNameSelect()"
    (unselected)="onNameUnselect()">
  </post-it-collection-name>
</div>
