@import '../../../../styles/variables';
@import '../../../../styles/bootstrap_var';

.buttons a {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

.post-it {
  transition: box-shadow $animation-duration, transform $animation-duration;

  &:not(.uninitialized) {
    border: 1px transparent;

    .card-body {
      padding-top: 2rem;
    }
  }

  &.uninitialized {
    .card-body {
      padding-top: 0.75rem;
    }
  }

  .card-body {
    padding-bottom: 0.25rem;
  }
}

.post-it:hover {
  box-shadow: $shadow-default;

  .toggle-favorite {
    top: 3px;
    right: 4px;
  }

  .opacity-content {
    opacity: 1;
  }
}

.selected {
  z-index: $z-index-selected;
}

.initialized {
  padding-top: 0.75px;
  padding-bottom: 0.75px;
}

.opacity-content {
  transition: opacity $animation-color-duration;
  opacity: 0;
  position: absolute;
}

.document-count {
  top: 3px;
  left: 8px;
}

.always-visible {
  opacity: 1 !important;
}

.toggle-favorite {
  top: 3px;
  right: 4px;

  &.always-visible {
    top: 20px;
    right: 20px;

    transition: top 0.25s, right 0.25s ease;
  }
}

.uninitialized {
  border-width: 1.75px;
  border-style: dashed;
}

.buttons {
  width: 25px;
  right: 0;
  top: 1.5rem;
}

.button-remove {
  top: 0;
  right: 0;
  width: 25px;
}

.dropdown-menu {
  width: 230px;
  transform: translate3d(-195px, 71px, 0px) !important;

  .dropdown-item {
    padding-right: 0;
    padding-left: 0;
  }
}

.panel-visible {
  opacity: 1 !important;
}

.uninitialized-dropdown {
  transform: translate3d(-8px, 120px, 0px) !important;
}
