<ng-container
  *ngIf="{changeableUsers: changeableUsers$| async, newUsers: newUsers$ | async, userRoles: userRoles$ | async} as data">

  <share-view-copy
    [viewShareUrl]="viewShareUrl$ | async"
    (onCopy)="copyToClipboard()">
  </share-view-copy>

  <div class="p-3">

    <ng-container *ngIf="selectedTab$ | async as selectedTab">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link text-truncate"
             [class.active]="selectedTab === viewTab.Users"
             i18n="@@view.share.tabs.users"
             (click)="selectedTab$.next(viewTab.Users)">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-truncate"
             [class.active]="selectedTab === viewTab.Teams"
             i18n="@@view.share.tabs.teams"
             (click)="selectedTab$.next(viewTab.Teams)">Teams</a>
        </li>
      </ul>

      <ng-container *ngIf="selectedTab === viewTab.Users">
        <share-view-input
          class="d-block my-2 mt-4"
          [readableUsers]="usersWithReadPermission"
          [currentUsers]="[staticUsers, data.changeableUsers, data.newUsers] | concat"
          (selectUser)="onUserSelected($event)"
          (addUser)="addNewUser($event)">
        </share-view-input>

        <view-users [view]="view"
                    [organization]="organization"
                    [project]="project"
                    [currentUser]="currentUser"
                    [staticUsers]="staticUsers"
                    [teams]="teams"
                    [permissions]="view | viewUserPermissions:data.userRoles"
                    [otherUsers]="[data.changeableUsers, data.newUsers] | concat"
                    (userRemoved)="deleteUser($event)"
                    (userRolesChange)="onNewRoles($event.user, $event.roles)">
        </view-users>

      </ng-container>

      <view-teams *ngIf="selectedTab === viewTab.Teams"
                  [view]="view"
                  [organization]="organization"
                  [project]="project"
                  [users]="users"
                  [teams]="teams"
                  [currentUser]="currentUser"
                  (teamRolesChange)="onNewTeamRoles($event.team, $event.roles)">
      </view-teams>
    </ng-container>

  </div>
</ng-container>
