<div *ngIf="views?.length; else noViews"
     [class.pt-2]="perspectiveConfiguration?.additionalSpace"
     [class.pb-5]="perspectiveConfiguration?.additionalSpace" class="position-relative">
  <ng-container *ngIf="{truncateContent: truncateContent$ | async} as data">
    <size-slider class="d-flex justify-content-end mb-4"
                 [defaultSize]="currentSize" (newSize)="onSizeChange($event)">
    </size-slider>
    <div
      *ngFor="let view of (data.truncateContent ? (views | slice:0:maxViews) : views); trackBy:trackByView; let index = index"
      class="position-relative">
      <view-detail [view]="view"
                   [queryData]="queryData"
                   [viewSize]="currentSize"
                   [workspace]="workspace"
                   [permissions]="data.truncateContent && index >= maxViews - 2 ? null : permissions && permissions[view.id]"
                   (favoriteToggle)="onFavoriteToggle(view)">
      </view-detail>
      <div *ngIf="data.truncateContent && index >= maxViews - 2"
           class="view-background cursor-pointer"
           [class.last]="index === maxViews - 1"
           [class.second-last]="index === maxViews - 2"
           (click)="onShowAll(); $event.stopPropagation()"></div>
    </div>
    <div *ngIf="data.truncateContent" class="d-flex p-2">
      <i [ngClass]="currentSize | viewIconSize"
         class="fa-fw fa-none align-self-center mr-3" aria-hidden="true">
      </i>
      <see-more-button (clicked)="onShowAll()"></see-more-button>
    </div>
  </ng-container>
</div>

<ng-template #noViews>
  <empty-views [query]="query"></empty-views>
</ng-template>
