@import "../../../../../../../../styles/variables";

:host {
  display: block;
}

table {
  width: 100%;
}

tr {
  border-bottom: 1px solid #e5e5e5;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background: #f7f7f7;
  }
}

td {
  padding: 2px 4px;

  &.name-column {
    width: 40%;
    font-weight: bold;
  }
}

div:focus {
  background-color: black;
}

/deep/ input {
  padding: 0 3px;
  width: 100%;
  border: 0;
  background-color: transparent;

  &:focus {
    outline-offset: -3px;
    outline: #2c3e50 auto medium;
    -moz-outline-radius: 4px;
  }
}

/deep/ .completer-dropdown-holder {
  position: relative;

  .completer-dropdown {
    overflow: hidden;

    border-color: #cccccc !important;
    border-radius: $border-radius-small !important;

    width: 100% !important;
    margin: 0 !important;
    padding: 4px 0 !important;
  }

  .completer-row {
    color: $brand-primary !important;

    display: block !important;

    width: 100% !important;
    padding: 1px 6px !important;
    margin: 0 !important;
  }

  .completer-selected-row {
    background-color: $brand-success !important;
    color: $secondary-color !important;
  }
}
