<table>
  <tr *ngFor="let attributePair of attributePairs; let idx = index">
    <td class="name-column">
      <div>
        <!--IDs folow the sturcure: Input_documentIndex_[x, y]-->
        <ng2-completer #attributeinput
                       [inputId]="inputId(0, idx)"
                       [datasource]="suggestedAttributes()"
                       [minSearchLength]="0"
                       [textNoResults]="''"
                       [disableInput]="!editable"
                       [ngModel]="attributePair.attribute"
                       (ngModelChange)="attributePairChange(attributePair, $event)"
                       (keydown)="!attributeinput.isOpen() && onInputKey($event)"
                       (click)="selectInput(0, idx)">
        </ng2-completer>
      </div>
    </td>
    <td class="value-column">
      <div>
        <input [attr.id]="inputId(1, idx)"
               [disabled]="!editable"
               [ngModel]="attributePair.value"
               (ngModelChange)="attributePairChange(attributePair, $event)"
               (keydown)="onInputKey($event)"
               (click)="selectInput(1, idx)"/>
      </div>
    </td>
  </tr>

  <tr *ngIf="editable">
    <td class="name-column">
      <div>
        <ng2-completer #newattributeinput
                       placeholder=" + "
                       [inputId]="inputId(0, attributePairs.length)"
                       [datasource]="suggestedAttributes()"
                       [minSearchLength]="0"
                       [textNoResults]="''"
                       [disableInput]="!editable"
                       [(ngModel)]="newAttributePair.attribute"
                       (keydown)="!newattributeinput.isOpen() && onInputKey($event)"
                       (click)="selectInput(0, attributePairs.length)">
        </ng2-completer>
      </div>
    </td>
    <td class="value-column">
      <div>
        <input title="value"
               [attr.id]="inputId(1, attributePairs.length)"
               [disabled]="!newAttributePair.attribute"
               (keydown)="onInputKey($event); $event.key.length === 1 && createAttributePair($event.key)"
               (click)="selectInput(1, attributePairs.length)"/>
      </div>
    </td>
  </tr>

</table>
