<div>
  <i class="fa fa-fw clickable-primary clickable" (click)="onToggleDocument()"
     [ngClass]="isOpened ? 'fa-caret-down':'fa-caret-right'"
     aria-hidden="true"></i>
</div>

<div>
  <i class="{{collection?.icon}} fa-fw"
     [class.bigger-icon]="size !== sSize || isOpened"
     [style.color]="collection?.color"
     *ngIf="collection" aria-hidden="true"></i>
</div>

<div class="ml-1 flex-grow-1">
  <div class="d-flex flex-row">
    <span *ngIf="collection" [style.color]="collection?.color">{{collection?.name}}</span>
    <div class="ml-3" [innerHTML]="createDefaultAttributeHtml()"></div>
    <div class="ml-auto">
      <!--span class="clickable" (click)="onLinkClick(document)"><i class="fas fa-link" aria-hidden="true"></i><span class="ml-1">10</span></span>
      <span class="clickable ml-2" (click)="onCommentClick(document)"><i class="fas fa-comment" aria-hidden="true"></i><span class="ml-1">30</span></span-->
      <span class="clickable ml-2"
            *ngIf="collection | permissions:collectionType:'read' | async"
            (click)="onDetail()"><i class="fas fa-eye" aria-hidden="true"></i></span>
    </div>
  </div>
  <ng-content></ng-content>
</div>
