<ng-container *ngIf="pivotTables?.length && !(pivotData | pivotDataEmpty); else emptyCells">
  <table *ngFor="let pivotTable of pivotTables; let first"
         class="table table-without-padding table-borderless table-md"
         [class.mt-4]="!first">
    <tr *ngFor="let rowCells of pivotTable.cells; let rowIndex = index">

      <ng-container *ngFor="let cell of rowCells; let cellIndex = index">
        <td *ngIf="cell && {hasValue: cell | pivotTableCellHasValue} as cellData"
            class="cell {{cell.constraint ? (cell.constraint.type | lowercase) : ''}} text-truncate"
            [style.max-width.px]="300"
            [class.sticky-start]="cell.stickyStart"
            [class.sticky-top]="cell.stickyTop"
            [rowSpan]="cell.rowSpan"
            [colSpan]="cell.colSpan"
            [style.top.px]="cell.stickyTop ? (rowIndex * 40) : undefined"
            [style.left.px]="cell.stickyStart ? (cellIndex * 150) : undefined"
            [ngClass]="cell.cssClass"
            [style.background]="cell.background"
            [style.color]="cell.background && (cell.background | contrastColor)">
          <ng-container *ngIf="cell.summary">
            <div class="d-flex align-items-center h-100">
              <span class="summary">{{cell.summary}}</span>
              <data-input-preview *ngIf="cellData.hasValue"
                                  class="ms-2 flex-grow-1 h-100 text-truncate d-inline-block"
                                  [class.clickable-cell]="cell | pivotCellClickable"
                                  [constraint]="cell.constraint"
                                  [configuration]="cell | pivotCellConfiguration"
                                  [dataValue]="cell.value | dataValue:cell.constraint:constraintData"
                                  (click)="onCellClick(cell)">
              </data-input-preview>
            </div>
          </ng-container>
          <ng-container *ngIf="!cell.summary">
            <data-input-preview *ngIf="cellData.hasValue"
                                class="d-inline-block"
                                [class.clickable-cell]="cell | pivotCellClickable"
                                [constraint]="cell.constraint"
                                [configuration]="cell | pivotCellConfiguration"
                                [dataValue]="cell.value | dataValue:cell.constraint:constraintData"
                                (click)="onCellClick(cell)">
            </data-input-preview>
            <ng-container *ngIf="!cellData.hasValue">&nbsp;</ng-container>
          </ng-container>
        </td>
      </ng-container>
    </tr>
  </table>
</ng-container>

<ng-template #emptyCells>
  <empty-state *ngIf="dataLoaded" class="w-100" icon="far fa-empty-set">
    <h3 i18n="@@perspective.pivot.table.empty.title">Cannot display anything</h3>
    <div i18n="@@perspective.pivot.table.empty.description">
      Please make sure your query results in some data (by switching to the Detail view for example).
      Also check your pivot table configuration in the sidebar on the left.
    </div>
  </empty-state>
</ng-template>
