<ng-container *ngIf="pivotTables$ | async as pivotTables">
  <ng-container *ngIf="pivotTables.length; else emptyCells">
    <table *ngFor="let pivotTable of pivotTables; let first"
           class="table table-bordered table-md"
           [class.mt-4]="!first">
      <tr *ngFor="let row of pivotTable.cells">

        <ng-container *ngFor="let cell of row">
          <td *ngIf="cell"
              [rowSpan]="cell.rowSpan"
              [colSpan]="cell.colSpan"
              [ngClass]="cell.cssClass"
              [style.background]="cell.background"
              [style.color]="cell.background && (cell.background | contrastColor)">
            {{cell.value}}
          </td>
        </ng-container>
      </tr>
    </table>
  </ng-container>
</ng-container>

<ng-template #emptyCells>
  <empty-state class="w-100"
               icon="far fa-empty-set">
    <h3 i18n="@@perspective.pivot.table.empty.title">Cannot display anything</h3>
    <div i18n="@@perspective.pivot.table.empty.description">Please configure your view in the sidebar on the left first.</div>
  </empty-state>
</ng-template>
