@import 'src/styles/variables';

.table {
  border-spacing: 0;
  border-collapse: separate;
}

.pivot-data-cell,
.pivot-data-group-cell {
  text-align: right;
}

.pivot-column-header-cell,
.pivot-row-header-cell,
.pivot-data-group-cell,
.pivot-row-group-header-cell,
.pivot-column-group-header-cell {
  font-weight: bold;
  border: 1px $gray-100 solid;
}

.pivot-row-header-cell,
.pivot-row-group-header-cell,
.pivot-empty-cell {
  &.sticky-start {
    position: sticky;
    width: 150px;
    min-width: 150px;
    max-width: 150px !important;
    z-index: 9;
  }
}

.pivot-column-header-cell,
.pivot-column-group-header-cell,
.pivot-empty-cell {
  &.sticky-top {
    position: sticky;
    z-index: 10;
  }
}

.pivot-empty-cell {
  background: white;
  border: 1px white solid;

  &.sticky-top {
    z-index: 11;
  }
}

.cell.color {
  padding: 0 !important;
  height: 30px;

  .summary {
    padding-left: 0.5rem;
  }
}

data-input-preview.clickable-cell {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.data-input {
  min-height: 30px;
}
