@import '~src/styles/variables';

.pivot-data-cell,
.pivot-group-data-cell {
  text-align: right;
}

.pivot-column-header-cell,
.pivot-row-header-cell,
.pivot-group-data-cell,
.pivot-group-header-cell {
  font-weight: bold;
  border: 1px $gray-100 solid;
}

.pivot-empty-cell {
  border: 1px transparent solid;
}

.cell.color {
  padding: 0 !important;
  height: 30px;
}

.cell.select,
.cell.user {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.data-input {
  min-height: 30px;
}

.data-input::ng-deep > boolean-data-input {
  justify-content: flex-start;
}
