<div class="row border-top">
  <div class="col-5 d-flex flex-row flex-nowrap align-items-center justify-content-center">
    <input-box
      class="flex-grow-1 my-1"
      [class.text-default-attribute]="defaultAttribute"
      [textAttribute]="true"
      [userData]="true"
      [placeholder]="i18n({ id: 'document.key-value.attribute.placeholder', value: 'Enter attribute name' })"
      [editable]="!readOnly"
      [canStayEmpty]="false"
      [initialValue]="key"
      [emitAllChanges]="false"
      (newValue)="onNewKey($event)">
    </input-box>
  </div>

  <div class="col-7 d-flex flex-row flex-nowrap align-items-center justify-content-center">
    <data-input [constraint]="constraint"
                [value]="value"
                [focus]="true"
                [readonly]="readOnly || !((editing$ | async) || constraint?.type === constraintTypeBoolean)"
                (save)="onNewRowValue($event)"
                (click)="editing$.next(true)"
                (onFocus)="editing$.next(true)"
                (cancel)="editing$.next(false)"
                (blur)="editing$.next(false)"
                (keydown)="dataInputKeyDown($event, constraint)"
                class="flex-grow-1 h-100 p-1 data-input"
                [class.read-only]="readOnly">
    </data-input>
    <div>
      <i class="fas fa-fw fa-trash text-danger mx-2 clickable clickable-danger button-remove"
         aria-hidden="true"
         *ngIf="!readOnly"
         title="Remove Row"
         i18n-title="@@remove.row"
         (click)="invokeRemove()"
      ></i>
      <i class="fa fa-fw fa-shapes mr-1 clickable text-success button-config"
         aria-hidden="true"
         *ngIf="configurable"
         i18n-title="@@keyValue.configure.constraint"
         title="Set Attribute Type"
         (click)="invokeConstraintConfig()">
      </i>&nbsp;
      <i class="fa fa-fw fa-function mr-2 clickable text-success button-function"
         aria-hidden="true"
         *ngIf="configurable"
         i18n-title="@@keyValue.configure.function"
         title="Set Attribute Function"
         (click)="invokeFunctionConfig()">
      </i>&nbsp;
    </div>
  </div>

  <div *ngIf="warning"
       class="col">
    <span class="text-danger small">{{warning}}</span>
  </div>

</div>
