@import '../../../../../styles/variables';

:host {
  .button-remove {
    opacity: 0;
    transition: opacity $animation-color-duration;
  }

  &:hover,
  &:focus,
  &:active {
    .button-remove {
      opacity: 1;
    }
  }
}
