<div class="input"
     [style.paddingTop.rem]="mPaddingVRem"
     [style.paddingBottom.rem]="mPaddingVRem"
     #inputParent>

  <div [ngClass]=""
       [class.frame]="alwaysFrame"
       [class.user]="userData"
       [class.text-attribute]="textAttribute"
       [class.form-control]="editable"
       [class.cursor-text]="editable"
       [textContent]="mCurrentValue"
       (blur)="input.scrollTo(0,0); onNewValue(input.textContent)"
       [style.color]="color"
       [style.fontSize.rem]="mFontSizeRem"
       [style.paddingLeft.rem]="mPaddingHRem"
       [style.paddingRight.rem]="mPaddingHRem"
       (focus)="onFocus()"
       [attr.contenteditable]="editable"
       [attr.placeholder]="mPlaceholder"
       [attr.title]="title"
       (input)="onInterimNewValue(input.textContent)"
       (keydown.enter)="input.blur()"
       (keydown.Escape)="input.textContent = mCurrentValue; input.blur()"
       [attr.spellcheck]="false" #input>
  </div>

</div>
