<div class="input"
     [class.input-border]="editable && isMultiLine()"
     [class.input-border-bottom]="editable && !isMultiLine()"
     [style.paddingTop.rem]="mPaddingRem"
     [style.paddingBottom.rem]="mPaddingRem"
     #inputParent>

  <div [ngClass]="isMultiLine() ? 'input-box-multiline' : 'input-box'"
       [class.cursor-text]="editable"
       [textContent]="mCurrentValue"
       (blur)="input.scrollTo(0,0); onNewValue(input.textContent)"
       [style.color]="color"
       [style.fontSize.rem]="mFontSizeRem"
       [style.maxHeight.rem]="mMaxHeightRem"
       [style.paddingLeft.rem]="mPaddingRem"
       [style.paddingRight.rem]="mPaddingRem"
       (focus)="onFocus()"
       [attr.contenteditable]="editable"
       [attr.placeholder]="mPlaceholder"
       [attr.title]="title"
       (keydown.enter)="input.blur()"
       (keydown.Escape)="input.textContent = mCurrentValue; input.blur()"
       [attr.spellcheck]="false" #input>
  </div>

</div>
