@import '../../variables';

.input-box {
  cursor: text;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;

  &:focus {
    text-overflow: clip;
  }
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: $grey-darker-color;
}

[contenteditable]:focus {
  outline: 0 solid transparent;
}
