@import '~src/styles/variables';

.card {
  min-width: 100px;
}

.dropdown-item {
  padding: 0.25rem 1rem !important;

  .option {
    border-radius: 0.5rem;
    padding: 0 0.5rem;
  }

  .option-background {
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.10);
  }
}

.dropdown-item-multi {
  padding-left: 0.5rem !important;
}
