<dropdown [closeOnClickOutside]="closeOnClickOutside"
          [showBackdrop]="showBackdrop"
          [fitParent]="fitParent"
          [origin]="origin"
          [pushOnScreen]="true"
          [positions]="dropdownPositions">
  <div *ngIf="options?.length > 0"
       class="dropdown-menu show position-static w-100">
    <a *ngFor="let option of options"
       dropdownOption
       [value]="option.value"
       (click)="onOptionClick($event, option)"
       class="dropdown-item text-truncate"
       data-test="select-item-option"
       tabindex>
      <icons-presenter *ngIf="option.icons && option.iconColors"
                       [colors]="option.iconColors"
                       [icons]="option.icons">
      </icons-presenter>

      <i *ngIf="option.icons && !option.iconColors && option.icons.length === 1"
         class="fa-fw {{option.icons[0]}}">
      </i>

      <span class="ml-sm-1 text-nowrap">
        {{ option.displayValue || option.value }}
      </span>
    </a>
  </div>
</dropdown>
