@import '~src/styles/variables';

.card {
  min-width: 100px;
}

.dropdown-item {
  padding: 0.25rem 1rem !important;
  min-height: 30px;
  max-height: 100px;

  &.dropdown-item-disabled {
    background-color: transparent !important;
    color: $primary !important;
  }

  .option {
    border-radius: 0.5rem;
    padding: 0 0.5rem;
  }

  .option-border {
    border: 1px solid;
  }

  .option-background {
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
  }
}

.dropdown-item-multi {
  padding-left: 0.5rem !important;
}

.option-description {
  max-width: 250px;
  white-space: normal;
}
