<dropdown [closeOnClickOutside]="closeOnClickOutside"
          [showBackdrop]="showBackdrop"
          [fitParent]="fitParent"
          [origin]="origin"
          [pushOnScreen]="true"
          [minHeight]="(options?.length || 0) * 30"
          [minWidth]="100"
          [positions]="dropdownPositions">
  <div *ngIf="options?.length > 0"
       class="card" [class.w-100]="fitParent">
    <a *ngFor="let option of options; let index = index"
       [class.active]="(activeValue$ | async) === option.value"
       (mousedown)="$event.stopImmediatePropagation(); $event.preventDefault();"
       (click)="onOptionSelect($event, option)"
       class="dropdown-item text-truncate"
       [class.dropdown-item-multi]="multiSelect"
       data-test="select-item-option"
       tabindex>

      <i *ngIf="multiSelect" class="fa-fw far mr-2"
         [ngClass]="(selectedValues | includes:option.value) ? 'fa-check' : 'fa-none'">
      </i>

      <div class="option d-inline-block"
           [style.background]="option.background"
           [class.option-background]="!!option.background"
           [style.color]="option.background && (option.background | contrastColor)">

        <img ngxGravatar
             *ngIf="option.gravatar"
             [email]="option.gravatar"
             [size]="avatarSize"
             class="mr-2">

        <icons-presenter *ngIf="option.icons && option.iconColors"
                         class="mr-1"
                         [colors]="option.iconColors"
                         [icons]="option.icons">
        </icons-presenter>

        <i *ngIf="option.icons && !option.iconColors && option.icons.length === 1"
           class="fa-fw {{option.icons[0]}} mr-1">
        </i>
        <span class="text-nowrap">
        {{ option.displayValue || option.value }}
      </span>
      </div>
    </a>
  </div>
</dropdown>
