@import '~src/styles/variables';
@import '~src/styles/bootstrap_var';

a {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  tab-index: 99999;
  z-index: $z-index-help;

  button {
    transition: $transition-base;
    box-shadow: $shadow-up !important;

    &:hover {
      box-shadow: $shadow-up-up !important;
      transform: translate(-2px, -2px);
    }
  }
}
