@import '~src/styles/variables';
@import '~src/styles/bootstrap_var';

.wrapper {
  position: fixed;
  bottom: 1rem;
  right: 1.5rem;
  tab-index: 99999;
  z-index: $z-index-help;
  transition: $transition-base;
  box-shadow: $shadow-up !important;
  border-radius: 1rem;

  &:hover {
    box-shadow: $shadow-up-up !important;
    transform: translate(-2px, -2px);
  }

  .header {
    display: grid;
    align-items: center;
    grid-template-columns: min-content 1fr min-content;
  }
}
