@import 'src/styles/variables';
@import 'src/styles/bootstrap_var';

.wrapper {
  position: fixed;
  bottom: 1rem;
  right: 1.5rem;
  tab-index: 99999;
  z-index: $z-index-help;
  transition: all 0.3s ease;
  box-shadow: $shadow-up !important;
  border-radius: 1rem;

  &.open {
    border-radius: 0.5rem;
  }

  &:hover {
    box-shadow: $shadow-up-up !important;
  }

  .header {
    display: flex;
    align-items: center;

    .header-label {
      display: grid;
      grid-template-columns: min-content 1fr min-content;

      .spacer {
        width: 0.5rem;
      }
    }

    .header-chevron {
      display: grid;
      grid-template-columns: min-content min-content;

      .spacer {
        width: 0.5rem;
      }
    }
  }

  .first-item {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
}

.help-icon {
  color: white;
  --fa-secondary-color: #{$danger};
  --fa-secondary-opacity: 1;
}
