<ng-container [ngSwitch]="constraint.type">
  <boolean-data-input *ngSwitchCase="constraintType.Boolean"
                      [label]="configuration?.boolean?.additionalLabel"
                      [class.justify-content-center]="configuration?.boolean?.center"
                      [readonly]="true"
                      [editableInReadonly]="true"
                      [value]="dataValue"
                      (save)="save.emit($event.dataValue)">
  </boolean-data-input>

  <select-data-input-compact *ngSwitchCase="constraintType.Select"
                             [configuration]="configuration?.select"
                             [value]="dataValue"
                             [placeholder]="placeholder"
                             [readonly]="readonly"
                             (save)="save.emit($event)"
                             (cancel)="cancel.emit()">
  </select-data-input-compact>

  <user-data-input-compact *ngSwitchCase="constraintType.User"
                           [configuration]="configuration?.user"
                           [value]="dataValue"
                           [readonly]="readonly"
                           [placeholder]="placeholder"
                           (save)="save.emit($event)"
                           (cancel)="cancel.emit()">
  </user-data-input-compact>

  <data-input-preview *ngSwitchDefault
                      [configuration]="configuration"
                      [constraint]="constraint"
                      [cursor]="cursor"
                      [dataValue]="dataValue">
  </data-input-preview>

</ng-container>
