@import '../../../../styles/variables';

.post-it {
  width: $post-it-width;
  height: $post-it-width;
  border-color: transparent;

  transition: box-shadow $animation-duration, transform $animation-duration;

  &:hover {
    box-shadow: $shadow-default;
  }

  &.active {
    background: lighten($success, 60%);
    box-shadow: $shadow-default !important;
  }
}
