<ng-container *ngIf="{collections: collections$ | async,  config: config$ | async,
                canManageConfig: currentView$ | async | canManageConfig | async, documents: documents$ | async} as data">

  <collapsible-sidebar *ngIf="data.canManageConfig"
                       class="h-100"
                       (toggle)="onSidebarToggle()">
    <kanban-config
      class="d-block m-3"
      [collections]="data.collections"
      [documents]="data.documents"
      [config]="data.config"
      (configChange)="onConfigChanged($event)"
      [constraintData]="{users: users$ | async}">
    </kanban-config>
  </collapsible-sidebar>

  <kanban-columns
    class="flex-grow-1 h-100"
    [collections]="data.collections"
    [config]="data.config"
    [query]="query$ | async"
    [documents]="data.documents"
    [canManageConfig]="data.canManageConfig"
    (configChange)="onConfigChanged($event)"
    (patchData)="onPatchData($event)"
    (removeDocument)="onRemoveDocument($event)">

  </kanban-columns>

</ng-container>
