<ng-container *ngIf="{documentsAndLinks: documentsAndLinks$ | async, config: config$ | async} as data">
  <kanban-content *ngIf="data.config"
                  [config]="data.config"
                  [collections]="collections$ | async"
                  [linkTypes]="linkTypes$ | async"
                  [documents]="data.documentsAndLinks.documents"
                  [constraintData]="constraintData$ | async"
                  [canManageConfig]="canManageConfig$ | async"
                  [query]="query$ | async"
                  [permissions]="permissions$ | async"
                  [workspace]="workspace$ | async"
                  [linkInstances]="data.documentsAndLinks.linkInstances"
                  (configChange)="onConfigChanged($event)">
  </kanban-content>
</ng-container>
