<kanban-content *ngIf="config$ | async as config"
                [config]="config"
                [collections]="collections$ | async"
                [linkTypes]="linkTypes$ | async"
                [data]="data$ | async"
                [constraintData]="constraintData$ | async"
                [canManageConfig]="canManageConfig$ | async"
                [query]="query$ | async"
                [sidebarOpened]="sidebarOpened$ | async"
                [settings]="viewSettings$ | async"
                [permissions]="permissions$ | async"
                [linkTypesPermissions]="linkTypesPermissions$ | async"
                [workspace]="workspace$ | async"
                (configChange)="onConfigChanged($event)"
                (sidebarToggle)="onSidebarToggle()">
</kanban-content>
