@import "../../../../../../../styles/variables";

:host {
  background: $secondary-color;
  box-shadow: $default-shadow-down;
  display: block;
  padding: 6px 10px;

  border: 1px solid #cccccc;
  border-radius: $border-radius-small;

  .header {
    overflow: hidden;

    .collection-icon {
      font-size: 20px;
      &:hover {
        background: transparent;
      }
    }

    .name {
      opacity: 0.75;
      padding-left: 10px;
      margin: 0;

      font-size: large;
      font-weight: normal;
    }

    .editable {
      float: right;
      padding: 4px;
    }
  }

  .content {
    margin-top: 5px;
    border: 1px solid #e5e5e5;
    border-radius: $border-radius-small;
  }

  .edit {
    margin-top: 3px;

    .secondary-edit {
      float: right;
    }
  }

  &:hover {
    box-shadow: $default-shadow-up;

    a {
      color: $brand-success;
    }

    .fa-times {
      color: $brand-danger;
    }
  }
}

a {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;

  color: $secondary-color;
  font-size: medium;

  border-radius: $border-radius-small;
  padding: 4px 12px;
  margin: 0 0 0 3px;

  &:hover {
    background: #e8e8e8;
  }

  &:before {
    margin: -10px;
  }
}


