<pivot-attribute-config [availableAttributes]="attributesSelectItems"
                        [pivotAttribute]="pivotAttribute"
                        [icon]="isRow ? 'far fa-arrow-right' : 'far fa-arrow-down'"
                        (attributeSelect)="onAttributeSelected($event)"
                        (attributeRemove)="onAttributeRemoved()">

  <div class="custom-control custom-checkbox mt-1" *ngIf="pivotAttribute">
    <input [id]="showSumsId"
           [attr.checked]="pivotAttribute.showSums"
           [checked]="pivotAttribute.showSums"
           (change)="onShowSumsChange($event.target.checked)"
           type="checkbox"
           class="custom-control-input">
    <label [for]="showSumsId"
           class="custom-control-label">
    </label>
    <span i18n="@@perspective.pivot.config.attribute.sums">Show summary</span>
  </div>

</pivot-attribute-config>

<pivot-attribute-sort
  *ngIf="pivotAttribute"
  [pivotAttribute]="pivotAttribute"
  [attributeSelectItem]="attributesSelectItems | findSelectItemById:(pivotAttribute | pivotCleanAttribute)"
  [pivotData]="pivotData"
  [isRow]="isRow"
  (attributeChange)="attributeChange.emit($event)">
</pivot-attribute-sort>
