<div class="px-5 py-4">
  <div class="pb-2">
    <h4 i18n="@@collections.tab.purpose.heading">What best describes your intentions?</h4>
    <p class="text-muted" i18n="@@collections.tab.purpose.subHeading">Lumeer provides you most help when he understands what do you plan to store in the table.</p>
  </div>
  <div>
    <collection-purpose-content class="d-block"
                                [style.padding-bottom.px]="100"
                                [collection]="collection$ | async"
                                [workspace]="workspace$ | async">
    </collection-purpose-content>
  </div>
</div>
