<div class="text-nowrap">
  <i [style.color]="collection.color" aria-hidden="true" class="{{collection.icon}} fa-fw"></i>&nbsp;
  <b>{{collection.name}}</b>
</div>

<select-item class="d-block w-100 mt-2"
             *ngFor="let propertyRequired of calendarBarsPropertiesRequired"
             [items]="collection | calendarPropertyItems:propertyRequired:config "
             [selectedId]="config.barsProperties && config.barsProperties[propertyRequired]"
             [placeholderText]="propertyRequired | calendarPropertyPlaceholder"
             [emptyValue]="propertyRequired | calendarPropertyEmptyValue"
             [removable]="true"
             [fitParent]="true"
             [buttonClasses]="buttonClasses"
             (select)="onBarPropertySelect(propertyRequired, $event)"
             (remove)="onBarPropertyRemoved(propertyRequired)">
</select-item>

<ng-container *ngFor="let propertyOptional of calendarBarsPropertiesOptional">
  <select-item class="d-block w-100 mt-2"
               *ngIf="config | calendarRequiredPropertiesSet:propertyOptional"
               [items]="collection | calendarPropertyItems:propertyOptional:config "
               [selectedId]="config.barsProperties && config.barsProperties[propertyOptional]"
               [placeholderText]="propertyOptional | calendarPropertyPlaceholder"
               [emptyValue]="propertyOptional | calendarPropertyEmptyValue"
               [buttonClasses]="buttonClasses"
               [removable]="true"
               [fitParent]="true"
               (select)="onBarPropertySelect(propertyOptional, $event)"
               (remove)="onBarPropertyRemoved(propertyOptional)">
  </select-item>
</ng-container>


