<div class="font-weight-bold" i18n="@@perspective.map.config.sidebar.image.title">
  Image layer
</div>

<div [formGroup]="form" class="mt-1">
  <input [formControlName]="formControlName"
         [id]="formControlName"
         placeholder="Enter image address"
         i18n-placeholder="@@perspective.map.config.sidebar.image.placeholder"
         class="form-control"
         spellcheck="false"
         [title]="imageUrlControl?.value || ''"
         (keydown.enter)="inputElement.blur(); inputElement.value = inputElement.value.trim()"
         (keydown.tab)="inputElement.blur(); inputElement.value = inputElement.value.trim()"
         (keydown.escape)="resetInput(); inputElement.blur()"
         type="text"
         #inputElement>
</div>

<div class="text-muted small mt-1">
  <span i18n="@@perspective.map.config.sidebar.image.cors">Read about <a [href]="helpLink"
                                                                         target="_blank">CORS settings</a> to host map files.</span>
</div>

