@import 'src/styles/variables';

.cdk-drag-preview {
  z-index: 1100 !important; // otherwise shown under modal
}

.cdk-drag-placeholder {
  background-color: $light;
  border-radius: $border-radius-base;

  & > * {
    visibility: hidden;
  }
}

.select-input-wrapper.disabled {
  opacity: 0.6;
}
