<div class="my-4">
  <table class="table table-borderless table-sm">
    <thead [style.background-color]="(collection$ | async).color | lightenColor:.5">
    <tr>
      <th i18n="@@collections.tab.linkTypes.name" class="pl-2">Link Type</th>
      <th [style.width.%]="30" class="text-right">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control mr-1" type="search"
                 placeholder="Search link type..."
                 i18n-placeholder="@@collections.tab.linkTypes.search.placeholder"
                 title="Search for link types" i18n-title="@@collections.tab.linkTypes.search.title"
                 (input)="onSearchInputChanged($event.target.value)">
        </div>
      </th>
    </tr>
    </thead>

    <ng-container *ngIf="linkTypes$ | async as linkTypes">
      <tbody *ngFor="let linkType of linkTypes | linkTypeFilter:(searchString$ | async); trackBy:trackByLinkType">
        <tr link-type
            [linkType]="linkType"
            [allLinkTypes]="linkTypes"
            (delete)="onDeleteLinkType(linkType, $event)"
            (newName)="onNewName(linkType, $event)"
            class="border-top">
        </tr>
        <tr>
          <td colspan="2">
            <link-type-rules [linkType]="linkType" (linkTypeUpdate)="updateLinkType($event)"></link-type-rules>
          </td>
        </tr>
      </tbody>
    </ng-container>

    <tr *ngIf="!(linkTypes$ | async)?.length">
      <td colspan="2" class="align-middle text-center" i18n="@@collection.tab.linkTypes.none">
        There are no link types yet.
      </td>
    </tr>

  </table>

</div>
