<div class="my-4">
  <table class="table table-striped table-sm">
    <thead [style.background-color]="(collection$ | async).color | lightenColor:.5">
      <tr>
        <th i18n="@@collections.tab.linkTypes.name">Name</th>
        <th [style.width.%]="30" class="text-right">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control" type="search"
                   placeholder="Search link type..."
                   i18n-placeholder="@@collections.tab.linkTypes.search.placeholder"
                   title="Search for link types" i18n-title="@@collections.tab.linkTypes.search.title"
                   (input)="onSearchInputChanged($event.target.value)">
          </div>
        </th>
      </tr>
    </thead>
    <tbody>

      <tr link-type
          *ngFor="let linkType of linkTypes$ | async | linkTypeFilter:(searchString$ | async); trackBy:trackByLinkType"
          [linkType]="linkType"
          (delete)="onDeleteLinkType(linkType, $event)">
      </tr>

    </tbody>
  </table>

</div>
