@import "../../../../shared/variables";

:host {
  display: block;

  .color-transition {
    transition: color $animation-color-duration, border-color $animation-color-duration;
  }

  li {
    transition: height $animation-duration;
    align-items: baseline;
  }

  .new-link-type {
    height: auto;
  }

  .uninitialized {
    border-left-style: dashed;
    border-right-style: dashed;
  }

  .uninitialized ~ .uninitialized { // all but first with this class
    border-top-style: dashed;
  }

  .start {
    flex: 2;
  }

  .green-on-hover:hover {
    color: $success;
  }

  .expand {
    transition: all $animation-color-duration;
  }

  .greyed-out {
    transition: opacity $animation-color-duration;
    opacity: 0.5;

    &:hover {
      opacity: 1 !important;
    }
  }

  .bigger {
    font-size: 22px;
  }

  .first-collection {
    position: relative;
    bottom: 10px;
    left: 8px;
  }

  .second-collection {
    position: relative;
    top: 10px;
  }

  .name {
    display: inline-flex;
    width: 250px;
  }

  .instance-count {
    display: inline-block;
    width: 100px;
    text-align: right;
  }

}
