<ng-container *ngIf="{attributesResources: stem | queryStemAttributesResources:collections:linkTypes} as data">

  <h6 class="fw-bold" i18n="@@perspective.pivot.config.row.header">
    Rows
  </h6>

  <div cdkDropList
       class="py-2"
       [id]="rowsListId"
       [cdkDropListConnectedTo]="[columnsListId, valuesListId]"
       [cdkDropListEnterPredicate]="rowsListPredicate.bind(this)"
       (cdkDropListDropped)="onDrop($event)">

    <div *ngFor="let attribute of config?.rowAttributes; trackBy: trackByAttribute; let index = index"
         cdkDrag
         cdkDragLockAxis="y"
         [cdkDragStartDelay]="dragDelay"
         [cdkDragData]="attribute">

      <div class="d-flex py-3">

        <div class="flex-grow-0 d-flex align-items-center">
          <i cdkDragHandle
             class="fas fa-fw fa-lg fa-grip-vertical cursor-move text-black-50"
             title="Reorder attributes"
             i18n-title="@@perspective.pivot.config.reorder">
          </i>
        </div>

        <pivot-header-attribute-config class="flex-grow-1 d-block draggable-attribute ps-2"
                                       [pivotAttribute]="attribute"
                                       [attributesResources]="data.attributesResources"
                                       [selectedAttributes]="config.rowAttributes || []"
                                       [pivotData]="pivotData"
                                       [isRow]="true"
                                       [canSetSticky]="config?.rowAttributes | pivotHeaderCanSetSticky:index"
                                       (attributeSelect)="onRowAttributeSelect($event, attribute)"
                                       (attributeRemove)="onRowAttributeRemove(index)"
                                       (attributeChange)="onRowAttributeChange(index, $event)">
        </pivot-header-attribute-config>

      </div>

    </div>

  </div>

  <pivot-header-attribute-config class="d-block"
                                 [pivotAttribute]="null"
                                 [attributesResources]="data.attributesResources"
                                 [selectedAttributes]="config.rowAttributes || []"
                                 [isRow]="true"
                                 (attributeSelect)="onRowAttributeSelect($event)">
  </pivot-header-attribute-config>


  <h6 class="fw-bold mt-4" i18n="@@perspective.pivot.config.column.header">
    Columns
  </h6>

  <div cdkDropList
       class="py-2"
       [id]="columnsListId"
       [cdkDropListConnectedTo]="[rowsListId, valuesListId]"
       [cdkDropListEnterPredicate]="columnsListPredicate.bind(this)"
       (cdkDropListDropped)="onDrop($event)">

    <div *ngFor="let attribute of config?.columnAttributes; trackBy: trackByAttribute; let index = index"
         cdkDrag
         cdkDragLockAxis="y"
         [cdkDragStartDelay]="dragDelay"
         [cdkDragData]="attribute">

      <div class="d-flex py-3">

        <div class="flex-grow-0 d-flex align-items-center">
          <i cdkDragHandle
             class="fas fa-fw fa-lg fa-grip-vertical cursor-move text-black-50"
             title="Reorder attributes"
             i18n-title="@@perspective.pivot.config.reorder">
          </i>
        </div>

        <pivot-header-attribute-config class="flex-grow-1 d-block draggable-attribute ps-2"
                                       [pivotAttribute]="attribute"
                                       [attributesResources]="data.attributesResources"
                                       [selectedAttributes]="config.columnAttributes || []"
                                       [pivotData]="pivotData"
                                       [canSetSticky]="config?.columnAttributes | pivotHeaderCanSetSticky:index"
                                       (attributeSelect)="onColumnAttributeSelect($event, attribute)"
                                       (attributeRemove)="onColumnAttributeRemove(index)"
                                       (attributeChange)="onColumnAttributeChange(index, $event)">
        </pivot-header-attribute-config>

      </div>

    </div>

  </div>

  <pivot-header-attribute-config class="d-block"
                                 [pivotAttribute]="null"
                                 [attributesResources]="data.attributesResources"
                                 [selectedAttributes]="config.columnAttributes || []"
                                 (attributeSelect)="onColumnAttributeSelect($event)">
  </pivot-header-attribute-config>


  <h6 class="fw-bold mt-4" i18n="@@perspective.pivot.config.value.header">
    Values
  </h6>

  <div cdkDropList
       class="py-2"
       [id]="valuesListId"
       [cdkDropListConnectedTo]="[rowsListId, columnsListId]"
       (cdkDropListDropped)="onDrop($event)">

    <div *ngFor="let attribute of config?.valueAttributes; trackBy: trackByAttribute; let index = index"
         cdkDrag
         cdkDragLockAxis="y"
         [cdkDragStartDelay]="dragDelay"
         [cdkDragData]="attribute">

      <div class="d-flex py-3">

        <div class="flex-grow-0 d-flex align-items-center">
          <i cdkDragHandle
             class="fas fa-fw fa-lg fa-grip-vertical cursor-move text-black-50"
             title="Reorder attributes"
             i18n-title="@@perspective.pivot.config.reorder">
          </i>
        </div>

        <pivot-value-attribute-config class="flex-grow-1 d-block draggable-attribute ps-2"
                                      [pivotAttribute]="attribute"
                                      [attributesResources]="data.attributesResources"
                                      (attributeSelect)="onValueAttributeSelect($event, attribute)"
                                      (attributeRemove)="onValueAttributeRemove(index)"
                                      (attributeChange)="onValueAttributeChange(index, $event)">
        </pivot-value-attribute-config>

      </div>

    </div>

  </div>

  <pivot-value-attribute-config class="d-block"
                                [pivotAttribute]="null"
                                [attributesResources]="data.attributesResources"
                                (attributeSelect)="onValueAttributeSelect($event)">
  </pivot-value-attribute-config>

</ng-container>
