<div class="d-flex justify-content-center flex-wrap" *ngIf="modes?.length; else empty">

  <button *ngFor="let mode of modes"
          [ngClass]="selectedMode === mode ? 'btn-success' : 'btn-outline-success'"
          class="btn badge-pill mx-2 px-4 mt-2"
          (click)="modeChange.emit(mode)">
    <i class="mr-1" [ngClass]="mode | formModeIcon"></i>&nbsp;<span i18n="@@perspective.form.view.mode">{mode, select, build {Build The Form} create {Create New Record} update {Update Record}}</span></button>
</div>

<ng-template #empty>

  <empty-state class="d-block py-5" icon="fas fa-user-times" [compact]="true">
    <h5 i18n="@@perspective.form.view.mode.empty">I am sorry, but you could not create/update records or build the form.</h5>
  </empty-state>

</ng-template>
