<ng-container *ngIf="modes?.length; else empty">
  <div *ngIf="modes.length > 1" class="d-flex justify-content-end">

    <toggle-checkbox [checked]="selectedMode === mode.Build"
                     label="Designer Mode"
                     tooltip="Active designer mode allows you to change the form fields and layout"
                     i18n-tooltip="@@perspective.form.view.mode.designer.tooltip"
                     (checkedChange)="onCheckedModeChange($event)">
    </toggle-checkbox>
  </div>
</ng-container>

<ng-template #empty>

  <empty-state class="d-block py-5" icon="fas fa-user-times" [compact]="true">
    <h5 i18n="@@perspective.form.view.mode.empty">I am sorry, but you could not create/update records or build the form.</h5>
  </empty-state>

</ng-template>
