<ng-container *ngIf="{stemsLength: stemsLength$ | async} as data">

  <ng-container *ngIf="minStems === 1 && !maxStems">
    <h3 class="text-center mt-5" i18n="@@invalid-query.at-least-one-collection">Start by selecting any collection
      bellow.</h3>
    <ng-container *ngTemplateOutlet="selectCollection"></ng-container>
  </ng-container>

  <ng-container *ngIf="minStems === 1 && maxStems === 1">

    <ng-container *ngIf="data.stemsLength === 0">
      <h3 class="text-center mt-5" i18n="@@invalid-query.at-least-one-collection">Start by selecting any collection
        bellow.</h3>
      <ng-container *ngTemplateOutlet="selectCollection"></ng-container>
    </ng-container>

    <ng-container *ngIf="data.stemsLength > 1">
      <h3 class="text-center mt-5" i18n="@@invalid-query.exactly-one-collection">Select only one table to make
        perspective work.</h3>
      <ng-container *ngTemplateOutlet="selectCollection"></ng-container>
    </ng-container>


  </ng-container>

</ng-container>

<ng-template #selectCollection>
  <select-collection [collections]="collections$ | async"
                     class="w-100 mt-3 px-3 d-block"
                     (onSelect)="onCollectionSelect($event)">
  </select-collection>
</ng-template>

