<div class="text-nowrap" *ngIf="collections | collectionById:stem?.collectionId as collection">
  <i [style.color]="collection.color" aria-hidden="true" class="{{collection.icon}} fa-fw"></i>&nbsp;
  <b>{{collection.name}}</b>
</div>

<select-item-with-constraint class="d-block w-100 mt-2"
                             [attributesResources]="stem | queryStemAttributesResources:collections:linkTypes"
                             [restrictedIds]="stem | kanbanRestrictedSelectItemIds:collections:linkTypes"
                             [emptyValue]="emptyValueString"
                             [placeholderIcon]="'far fa-fw fa-columns'"
                             [selectedConstraint]="config?.attribute?.constraint"
                             [selectedId]="config | kanbanSelectedItem"
                             [removable]="true"
                             [fitParent]="true"
                             [buttonClasses]="buttonClasses"
                             (select)="onAttributeSelected($event)"
                             (selectConstraint)="onConstraintSelected($event)"
                             (remove)="onAttributeRemoved()">
</select-item-with-constraint>

<select-item class="d-block w-100 mt-2"
             *ngIf="config?.attribute"
                             [items]="stem | kanbanDueDateSelectItems:collections:linkTypes:config?.attribute"
                             [emptyValue]="dueDateEmptyValueString"
                             [placeholderText]="dueDateString"
                             [selectedId]="config?.dueDate"
                             [removable]="true"
                             [fitParent]="true"
                             [buttonClasses]="buttonClasses"
                             (select)="onDueDateSelected($event)"
                             (remove)="onDueDateRemoved()">
</select-item>
<ng-container *ngFor="let columnTitle of config?.doneColumnTitles; let idx = index">
  <select-data-item class="d-block w-100 mt-2"
                    *ngIf="config?.dueDate"
                    [items]="columnTitles | kanbanSelectDataItems:config?.attribute"
                    [emptyValue]="doneAttributeEmptyValueString"
                    [placeholderText]="doneAttributeString"
                    [selectedId]="columnTitle"
                    [removable]="true"
                    [fitParent]="true"
                    [buttonClasses]="buttonClasses"
                    (select)="onDoneColumnSelected($event, idx)"
                    (remove)="onDoneColumnRemoved(idx)">
  </select-data-item>
</ng-container>

<select-data-item class="d-block w-100 mt-2"
                  *ngIf="config?.dueDate && (columnTitles.length - (config?.doneColumnTitles?.length || 0) > 0)"
                  [items]="columnTitles | valueFilter:config?.doneColumnTitles | kanbanSelectDataItems:config?.attribute"
                  [emptyValue]="doneAttributeEmptyValueString"
                  [placeholderText]="doneAttributeString"
                  [removable]="false"
                  [fitParent]="true"
                  [buttonClasses]="buttonClasses"
                  (select)="onDoneColumnSelected($event, -1)">
</select-data-item>
