<div class="text-nowrap" *ngIf="collections | collectionById:stem?.collectionId as collection">
  <i [style.color]="collection.color" aria-hidden="true" class="{{collection.icon}} fa-fw"></i>&nbsp;
  <b>{{collection.name}}</b>
</div>

<select-item-with-constraint class="d-block w-100 mt-2"
                             [attributesResources]="stem | queryStemAttributesResources:collections:linkTypes"
                             [restrictedIds]="stem | kanbanRestrictedSelectItemIds:collections:linkTypes"
                             [emptyValue]="emptyValueString"
                             [placeholderIcon]="'far fa-fw fa-columns'"
                             [selectedConstraint]="config?.attribute?.constraint"
                             [selectedId]="config | kanbanSelectedItem"
                             [removable]="true"
                             [fitParent]="true"
                             [buttonClasses]="buttonClasses"
                             (select)="onAttributeSelected($event)"
                             (selectConstraint)="onConstraintSelected($event)"
                             (remove)="onAttributeRemoved()">
</select-item-with-constraint>
