<div class="d-flex flex-column align-items-start">
  <table-caption [collection]="collection$ | async"
                 [style.width]="part | partWidth | pixel"
                 (click)="onCaptionClick()">
  </table-caption>
  <table-column-group [table]="table"
                      [cursor]="cursor"
                      [columns]="part.columns"
                      [class.table-border-left]="cursor | isFirstPart"
                      class="d-block table-border-top">
  </table-column-group>
</div>
