@import '../../styles/variables';

organization-chooser {
  > div {
    padding-left: 5%;
    margin: 2% 8%;
    .chooser {
      display: inline-block;
      max-width: calc(100% - 100px);
      overflow-x: scroll;
    }
  }

  .horizontal-chooser {
    .ps-content {
      margin-top: 10px;
    }

    &.project .ps-content {
      height: 170px;
    }

    .ps-scrollbar-x-rail {
      top: 0;
    }
  }

  .slide {
    vertical-align: top;
    margin-top: 55px;
    display: inline-block;
    font-size: 50px;

    &:last-of-type {
      margin-left: 10px;
    }
  }

  .organization {
    height: 165px;
    > div {
      box-shadow: $default-shadow;
      cursor: pointer;
      width: 150px;
      height: 150px;
      background: $secondary-color;
      display: inline-block;
      margin: 10px;
      text-align: center;
      font-size: 50px;

      &.active {
        border: 5px solid $brand-danger;
        position: absolute;
      }
    }
  }
  .row{
    margin-left: 0;
  }

  .pointer {
    margin-top: 8px;
    margin-left: 15px;

    div {
      display: inline-block;
      height: 5px;
      overflow: hidden;
      margin: 5px 0;
      background-color: $brand-primary;
      transition: width 0.5s;

      &.arrow-start {
        width: 25px;
        transform: rotate(-45deg) translate(0px, -10px);
      }

      &.arrow-end {
        width: 25px;
        transform: rotate(45deg) translate(-20px, 10px)
      }

      &:last-of-type {
        transform: translateX(-30px);
      }
    }
  }

  .project-description {
    > div {
      display: inline-block;
    }

    .submit-button {
      right: 55px;
      position: relative;
    }

    .information {
      box-shadow: $default-shadow;
      height: 150px;
      width: 490px;
      background: $secondary-color;
      margin: 10px 55px;
      padding: 10px;

      .description {
        width: 69%;
        display: inline-block;
      }

      .icon {
        display: inline-block;
        width: 30%;
        text-align: center;
        font-size: 50px;
      }
    }
  }
}
