<ng-container [ngSwitch]="view?.perspective">

  <table-perspective *ngSwitchCase="perspective.Table"
                     class="h-100"
                     [tableId]="view.id"
                     [config]="view.config?.table"
                     [query]="view.query">
  </table-perspective>

  <pivot-perspective *ngSwitchCase="perspective.Pivot"
                     [view]="view"
                     [perspectiveConfiguration]="perspectiveConfiguration?.pivot">
  </pivot-perspective>

  <gantt-chart-perspective *ngSwitchCase="perspective.GanttChart"
                           [view]="view"
                           [perspectiveConfiguration]="perspectiveConfiguration?.gantt">
  </gantt-chart-perspective>

  <chart-perspective *ngSwitchCase="perspective.Chart"
                     [view]="view"
                     [perspectiveConfiguration]="perspectiveConfiguration?.chart">
  </chart-perspective>

  <calendar-perspective *ngSwitchCase="perspective.Calendar"
                        [view]="view"
                        [perspectiveConfiguration]="perspectiveConfiguration?.calendar">
  </calendar-perspective>

  <kanban-perspective *ngSwitchCase="perspective.Kanban"
                      [view]="view"
                      [perspectiveConfiguration]="perspectiveConfiguration?.kanban">
  </kanban-perspective>

  <workflow-perspective *ngSwitchCase="perspective.Workflow"
                        [view]="view"
                        [perspectiveConfiguration]="perspectiveConfiguration?.workflow">
  </workflow-perspective>

  <map-perspective *ngSwitchCase="perspective.Map"
                   [view]="view"
                   [perspectiveConfiguration]="perspectiveConfiguration?.map">
  </map-perspective>

  <detail-perspective *ngSwitchCase="perspective.Detail"
                      [view]="view"
                      [perspectiveConfiguration]="perspectiveConfiguration?.detail">
  </detail-perspective>

  <ng-container *ngSwitchCase="perspective.Search">
    <search-all *ngIf="view.config?.search?.searchTab == searchTab.All">
    </search-all>
    <search-tasks *ngIf="view.config?.search?.searchTab == searchTab.Tasks" [view]="view"
                  [compactEmptyPages]="true">
    </search-tasks>
  </ng-container>


</ng-container>
