<div class="d-flex align-items-center flex-column">

  <div class="image" *ngIf="project.templateMetadata?.imageUrl">
    <img [src]="project.templateMetadata?.imageUrl" alt=""/>
  </div>

  <h4 class="mb-0 mt-1" [style.color]="project.color">{{project.code}}</h4>
</div>

<h3 class="mt-2 mb-0 mb-1 text-center" [class.mt-2]="project.name || project.description">{{project.name}}</h3>

<div>
  <div class="mb-1 text-center" *ngIf="project.description">{{project.description}}</div>
</div>

<div class="pt-3">
  <iframe [src]="publicViewUrl" width="100%" height="100%"></iframe>
</div>
