<div class="d-flex align-items-center flex-column">

  <div class="image" *ngIf="project.templateMetadata?.imageUrl">
    <img [src]="project.templateMetadata?.imageUrl" alt=""/>
  </div>

  <h4 class="mb-0 mt-1" [style.color]="project.color">{{project.code}}</h4>
</div>

<div class="mt-2 d-flex align-items-center flex-column">

  <h3 class="mb-0 mb-1 text-center">{{project.name}}</h3>

  <div class="mb-1 text-center" *ngIf="project.description">{{project.description}}</div>

  <iframe class="mt-3" [src]="publicViewUrl" width="100%" height="300px"></iframe>
</div>
