<custom-checkbox class="mt-2 d-block"
                 [checked]="config.lockAxes"
                 [id]="lockAxesId"
                 i18n-checkboxTitle="@@perspective.chart.config.lockAxes"
                 checkboxTitle="Lock axes">
</custom-checkbox>

<custom-checkbox class="mt-2 d-block"
                 [checked]="config.rangeSlider"
                 [id]="rangeSliderId"
                 i18n-checkboxTitle="@@perspective.chart.config.rangeSlider"
                 checkboxTitle="Show range slider">
</custom-checkbox>
