<custom-checkbox class="mt-2 d-block"
                 [checked]="config.lockAxes"
                 [checkboxId]="lockAxesId"
                 (checkedChange)="onLockAxesChange($event)"
                 i18n-checkboxTitle="@@perspective.chart.config.lockAxes"
                 checkboxTitle="Lock axes">
</custom-checkbox>

<custom-checkbox class="mt-2 d-block"
                 [checked]="config.rangeSlider"
                 [checkboxId]="rangeSliderId"
                 (checkedChange)="onRangeSliderChange($event)"
                 i18n-checkboxTitle="@@perspective.chart.config.rangeSlider"
                 checkboxTitle="Show range slider">
</custom-checkbox>
