<div class="fadedown"></div>
<div class="perspective" [style.height]="height + 'px'">
  <div class="layout" #layout>
    <add-document class="layout-item" *ngIf="editable"
                  (newDocument)="createDocument()"></add-document>

    <post-it-document *ngFor="let document of documents; let idx = index" class="layout-item"
                      [style.z-index]="documents.length - idx"
                      [index]="idx"
                      [attributes]="attributes"
                      [collection]="collection"
                      [document]="document"
                      [editable]="editable"
                      [selectedInput]="selectedInput"
                      (removed)="removeDocument(idx)"
                      (attributePairChange)="onAttributePairChange(document, $event)">
    </post-it-document>
  </div>
</div>
<div class="fadeup"></div>

<a (click)="onSeeMore(layout)" class="see-more">See More<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
