@import "../../../../../styles/variables";

.perspective-block {
  position: relative;
  overflow: hidden;

  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;

  // Fadeout
  &:after {
    content: "";
    position: absolute;
    z-index: 50;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), $secondary-color 100%);
    width: 100%;
    height: 4em;
  }
}

.perspective {
  @media all and (max-width: 1023px) {
    column-width: 250px;
  }
  @media all and (min-width: 1024px) and (max-width: 1499px) {
    column-count: 4;
  }
  @media all and (min-width: 1500px) {
    column-count: 5;
  }
  column-gap: 0;

  // Padding between post-its
  .post-it-block {
    width: 100%;
    display: inline-block;
  }
}

.load-more {
  font-size: x-large;
  float: right;
  margin: 10px;

  i {
    padding-left: 10px;
  }
}
