<div [style.width]="column | columnWidth | pixel"
     (mousedown)="onMouseDown($event)"
     class="table-border-right table-border-bottom h-100">
  <ng-container *ngIf="column | isSingleColumn">
    <table-data-cell *ngIf="!collapsed"
                     [column]="column"
                     [cursor]="cursor"
                     [document]="documents ? documents[0] : null"
                     [linkInstance]="linkInstances ? linkInstances[0] : null"
                     [selected]="selected$ | async"
                     [table]="table"
                     class="d-block h-100">
    </table-data-cell>
    <table-collapsed-cell *ngIf="collapsed"
                          [column]="column"
                          [cursor]="cursor"
                          [documents]="documents"
                          [linkInstances]="linkInstances"
                          [selected]="selected$ | async"
                          class="d-block h-100">
    </table-collapsed-cell>
  </ng-container>
</div>
