@import '~src/styles/variables';

.filter-row {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
}

.sort {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .sort-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    font-size: 85%;
    position: relative;

    .active-icon {
      position: absolute;
      top: 5px;
      right: 5px;
    }

    &.active {
      background: lighten($success, 60%);
      box-shadow: $shadow-default !important;
    }

    &:hover {
      box-shadow: $shadow-default;
    }
  }
}
