<dropdown [origin]="origin"
          [positions]="dropdownPositions"
          [closeOnClickOutside]="true"
          [pushOnScreen]="true"
          [static]="false"
          [showBackdrop]="false">

  <div class="card d-flex flex-column flex-nowrap p-2 overflow-auto"
       *ngIf="{constraintData: constraintData$ | async} as data">

    <div class="btn-group mb-3 sort" role="group">
      <button type="button" class="btn card sort-item" (click)="sortChanged.emit(null)"
              [class.active]="!sort">
        <i class="far fa-align-left"></i><span i18n="@@table.cell.sort.none">None</span>
        <i *ngIf="!sort" class="active-icon fas fa-check text-success"></i>
      </button>
      <button type="button" class="btn card sort-item"
              (click)="sortChanged.emit(sortType.Ascending)"
              [class.active]="sort === sortType.Ascending">
        <i class="far fa-sort-amount-down-alt"></i><span i18n="@@table.cell.sort.ascending">Ascending</span>
        <i *ngIf="sort === sortType.Ascending" class="active-icon fas fa-check text-success"></i>
      </button>
      <button type="button" class="btn card sort-item" (click)="sortChanged.emit(sortType.Descending)"
              [class.active]="sort === sortType.Descending">
        <i class="far fa-sort-amount-up"></i><span i18n="@@table.cell.sort.descending">Descending</span>
        <i *ngIf="sort === sortType.Descending" class="active-icon fas fa-check text-success"></i>
      </button>
    </div>

    <div *ngFor="let filter of filters; let index = index" class="filter-row cursor-pointer px-2 mr-2 dropdown-item"
         [class.active]="selectedIndex === index" (click)="selectedIndex = index">
      <filter-preview [style.max-width.px]="300"
                      [constraintData]="data.constraintData"
                      [conditionValues]="filter.conditionValues"
                      [condition]="filter.condition"
                      [attribute]="filterAttribute">
      </filter-preview>
      <div>
        <i *ngIf="filter.deletable" class="far fa-trash text-danger" (click)="onRemove(index)"></i>
      </div>
    </div>
    <div class="px-2">
      <button class="btn btn-link px-0 small mx-1" (click)="$event.stopPropagation(); onNewFilter()">
        <i class="fas fa-plus-circle mr-2"></i><span
        i18n="@@table.cell.filters.new">Add new filter</span>
      </button>
    </div>

    <ng-container *ngIf="filters && filters[selectedIndex]">
      <hr>
      <filter-builder-content [attribute]="filterAttribute"
                              [selectedCondition]="filters[selectedIndex].condition"
                              [selectedValues]="filters[selectedIndex].conditionValues"
                              [constraintData]="constraintData$ | async"
                              (finishEditing)="onFinishEditing()"
                              (valueChange)="onValueChange($event)">
      </filter-builder-content>
    </ng-container>
  </div>

</dropdown>
