<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary"
           mwlCalendarPreviousView
           [view]="view"
           [(viewDate)]="viewDate"
           (viewDateChange)="viewDateChange.next(viewDate)"
           i18n="@@previous">
        Previous
      </div>
      <div class="btn btn-outline-secondary"
           mwlCalendarToday
           [(viewDate)]="viewDate"
           (viewDateChange)="viewDateChange.next(viewDate)"
           i18n="@@today">
        Today
      </div>
      <div class="btn btn-primary"
           mwlCalendarNextView
           [view]="view"
           [(viewDate)]="viewDate"
           (viewDateChange)="viewDateChange.next(viewDate)"
           i18n="@@next">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h4>{{ viewDate | calendarDate: view + 'ViewTitle'}}</h4>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="viewChange.emit(calendarView.Month)"
        [class.active]="view === calendarView.Month"
        i18n="@@month">
        Month
      </div>
      <div
        class="btn btn-primary"
        (click)="viewChange.emit(calendarView.Week)"
        [class.active]="view === calendarView.Week"
        i18n="@@week">
        Week
      </div>
      <div
        class="btn btn-primary"
        (click)="viewChange.emit(calendarView.Day)"
        [class.active]="view === calendarView.Day"
        i18n="@@day">
        Day
      </div>
    </div>
  </div>
</div>
