@import "../../shared/lumeer-variables";

.panel-item {
  height: 48px;
  line-height: 48px;
}

.profile-dropdown {
  a {
    color: $brand-success;

    &:hover {
      color: darken($brand-success, 15%);
    }
  }
}
