@import "../../shared/lumeer-variables";

$top-panel-height: 48px;

.panel-item {
  height: $top-panel-height;
  line-height: $top-panel-height;
}

.logo {
  height: $top-panel-height;
  position: relative;
  bottom: 3px;
}

.profile-dropdown {
  a {
    color: $brand-success;

    &:hover {
      color: darken($brand-success, 15%);
    }
  }
}
