@import "../../shared/variables";

$top-panel-height: 48px;

.panel-item {
  height: $top-panel-height;
  line-height: $top-panel-height;
}

.logo {
  height: $top-panel-height;
  position: relative;
  bottom: 3px;
}

.profile-dropdown {
  a {
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }
  }
}
