<div *ngIf="title"
     class="font-weight-bold" >{{title}}</div>
<div *ngIf="description"
     class="text-muted small"
     [class.mt-1]="title">{{description}}</div>

<form-view-row *ngFor="let row of section?.rows; let index = index; trackBy:trackByRow; let first = first"
               class="d-block"
               [class.mt-3]="!first || title || description"
               [row]="row"
               [constraintData]="constraintData"
               [collection]="collection"
               [document]="document"
               [collectionLinkTypes]="collectionLinkTypes"
               (attributeValueChange)="attributeValueChange.emit($event)">
</form-view-row>
