<select-item
  [items]="attributesResources | selectItemWithConstraint:restrictedIds"
  [selectedId]="selectedId"
  [removable]="removable"
  [disabled]="disabled"
  [buttonClasses]="buttonClasses"
  [placeholderIcon]="placeholderIcon"
  [placeholderText]="placeholderText"
  placeholderTitle="Select header attribute"
  i18n-placeholderTitle="@@shared.select.selectConstraintItem.headerAttribute"
  [emptyValue]="emptyValue"
  [fitParent]="fitParent"
  (select)="onSelect($event)"
  (remove)="onRemove()">
</select-item>

<ng-container *ngIf="selectedId">
  <ng-container *ngIf="{configItems: attributesResources | selectItemWithConstraintConfig:selectedId} as data">
    <select-item
      *ngIf="data.configItems.length > 1"
      class="d-block mt-1"
      [items]="data.configItems"
      [selectedId]="(data.configItems | findSelectItemById:selectedConstraint)?.id || data.configItems[0].id"
      [removable]="false"
      placeholderIcon="fas fa-eye"
      placeholderTitle="Select values aggregation"
      i18n-placeholderTitle="@@shared.select.selectConstraintItem.headerValuesAggregation"
      [buttonClasses]="buttonClasses"
      [disabled]="disabled"
      [fitParent]="fitParent"
      [emptyValue]="''"
      (select)="onSelectConstraint($event)">
    </select-item>
  </ng-container>
</ng-container>
