<div>
  <mwl-utils-calendar-header
    class="d-block mb-3"
    [(view)]="view"
    [(viewDate)]="viewDate">
  </mwl-utils-calendar-header>

  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="calendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [weekStartsOn]="1"
      [cellTemplate]="monthCellTemplate"
      (dayClicked)="dayClicked($event.day)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="calendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [weekStartsOn]="1"
      (dayClicked)="dayClicked($event.day)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="calendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (dayClicked)="dayClicked($event.day)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>
</div>

<ng-template
  #popContent
  class="popover-block">
  <div *ngFor="let event of shownEvents">
    <i class="fa fa-circle" [style.color]="event.color.primary"></i>
    <b *ngIf="event.allDay !== true">
      {{event.start | date:'shortTime'}}
    </b>
    {{event.title}}
  </div>
</ng-template>

<ng-template
  #monthCellTemplate
  let-day="day"
  let-openDay="openDay"
  let-locale="locale"
  let-tooltipPlacement="tooltipPlacement"
  let-highlightDay="highlightDay"
  let-unhighlightDay="unhighlightDay"
  let-eventClicked="eventClicked">

  <div class="fill-height"
       [popoverTitle]="viewDate | date"
       [popover]="popContent">
    <div class="cal-cell-top">
      <span class="cal-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
      <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <div class="cal-events">
      <div
        class="cal-event"
        *ngFor="let event of day.events"
        [style.backgroundColor]="event.color.primary"
        [ngClass]="event?.cssClass"
        (mouseenter)="highlightDay.emit({event: event})"
        (mouseleave)="unhighlightDay.emit({event: event})"
        [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event"
        mwlDraggable
        [class.cal-draggable]="event.draggable"
        dragActiveClass="cal-drag-active"
        [dropData]="{event: event, draggedFrom: day}"
        [dragAxis]="{x: event.draggable, y: event.draggable}"
        [tooltipPlacement]="tooltipPlacement"
        (mwlClick)="eventClicked.emit({ event: event })">
      </div>
    </div>
  </div>
</ng-template>
