<div class="card border-light mb-3">
  <div class="card-header">
    <lumeer-logo [height]="48"
                 [text]="'Lumeer'">
    </lumeer-logo>
  </div>
  <div class="card-body">
    <p i18n="@@agreement.welcome.message">Welcome to Lumeer! This is your first login. Please accept the terms and subscribe to our Newsletter before using the application. Thank you!</p>
    <form [formGroup]="form"
          (submit)="onSubmit()">
      <div class="form-group form-check">
        <input [formControlName]="agreementName"
               [id]="agreementName"
               [name]="agreementName"
               class="form-check-input"
               type="checkbox">
        <label [for]="agreementName"
               class="form-check-label">
          <span i18n="@@label.terms.start">I have read</span>
          <a [href]="termsOfServiceLink"
             i18n="@@termsOfService"
             target="_blank">Terms of Service</a>
          <span i18n="@@and">and</span>
          <a [href]="privacyPolicyLink"
             i18n="@@privacyPolicy"
             target="_blank">Privacy Policy</a>
          <span i18n="@@label.terms.end">and I agree to them.</span>
        </label>
      </div>
      <div class="form-group form-check">
        <input [formControlName]="newsletterName"
               [id]="newsletterName"
               [name]="newsletterName"
               class="form-check-input"
               type="checkbox">
        <label [for]="newsletterName"
               class="form-check-label">
        <span i18n="@@label.newsletter.start">Keep me informed about productivity ideas via newsletter (see </span>
          <a [href]="dataProcessingAgreementLink"
             i18n="@@dpa"
             target="_blank">Data Processing Agreement</a>
          <span i18n="@@label.newsletter.end">).</span>
        </label>
      </div>
      <button [disabled]="form.invalid || loading"
              class="btn btn-success"
              type="submit">
        <span class="text-uppercase"
              i18n="@@button.continue">Continue</span>
        &nbsp;
        <i class="fa fa-chevron-right"></i>
      </button>
    </form>
  </div>
</div>
