<div *ngIf="document" [@animateHeight]="'in'">
  <div class="document-header row" [ngStyle]="{'background-color': document.color}">
    <span class="col-lg-11 col-xs-11">
      <i *ngIf="document.icon" class="fa" [ngClass]="document.icon" aria-hidden="true"></i>
      {{document.title}}
    </span>
    <div class="col-lg-1 col-xs-1 lum-document-navigation">
      <i class="fa fa-file-text" aria-hidden="true" (click)="onEditLinksClick()"></i>
      <i class="fa fa-history" aria-hidden="true" (click)="onVersionsToggleClick()"></i>
      <i class="fa fa-user" aria-hidden="true" (click)="onRightsToggleClick()"></i>
      <i class="fa fa-times" aria-hidden="true" (click)="onCloseClick()"></i>
    </div>
  </div>
  <div class="lum-info-content row">
    <document-content [document]="document"></document-content>
    <div class="document-right-panel">
      <document-versions [documentVersions]="document.versions" *ngIf="versionsVisible"></document-versions>
      <div class="no-link" *ngIf="document.links.length === 0">
        <a (click)="onEditLinksClick($event)"><i class="fa fa-external-link" aria-hidden="true"></i> Edit links in Pick item</a>
      </div>
      <div class="link-titles" *ngIf="document.links.length !== 0">
        <div class="link-title"
             *ngFor="let link of document.links; let linkIndex = index;"
             [ngStyle]="{'background': link.color}"
             [ngClass]="{'active': activeIndexes.indexOf(linkIndex) !== -1}"
             (click)="onLinkClick(linkIndex)">
          <div *ngIf="activeIndexes.indexOf(linkIndex) === -1">
            <i *ngIf="link.icon" class="fa" [ngClass]="link.icon" aria-hidden="true"></i>{{link.title}}</div>
          <div  class="link-info"
                *ngIf="activeIndexes.indexOf(linkIndex) !== -1">
            <div>
              <i *ngIf="link.icon" class="fa" [ngClass]="link.icon" aria-hidden="true"></i>{{link.title}}
            </div>
            <div class="link-title">Name</div>
            <perfect-scrollbar class="link-items"
                               #linkInfo>
              <div *ngFor="let linkInfo of link.info | async">
                {{linkInfo.title}}
              </div>
            </perfect-scrollbar>
            <div class="link-edit">
              <a (click)="onEditLinksClick($event)"><i class="fa fa-external-link" aria-hidden="true"></i> Edit links in Pick item</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
