@import "../../../styles/variables";

document-post-it {
  .lum-preview-content {
    border-radius: 10px;
    margin: 15px;
    background: $secondary-color;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    padding: 10px;
    height: 270px;

    ul:not(.nested) {
      height: 180px;
      overflow: hidden;
    }

    .detail-actions {
      float: right;
    }

    .view-detail {
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }

    .load-more {
      display: inline-block;
      margin-top: -35px;
      text-align: center;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }

    &.active {
      position: absolute;
      height: inherit;
      box-sizing: content-box;
      z-index: 8;
      width: 90%;

      ul {
        height: initial;
      }

      .preview-icon {
        top: -10px;
        left: -10px;
      }
    }
  }

  .preview-icon {
    cursor: pointer;
    position: absolute;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    top: 5px;
    left: 5px;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 25px;
    z-index: 1;
  }

  .document-title {
    font-weight: bold;
  }

}
