@import '../../../styles/variables';

document-info {
  .row {
    margin-left: 0 !important;
  }

  > div {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    height: 300px;
  }

  .no-link {
    display: inline-block;
    float: right;
    padding-right: 20px;
  }

  .lum-info-content {
    height: 100%;
    background-color: $secondary-color;

    > div {
      height: 300px;
    }

    .document-values {
      height: 270px;
      padding: 15px;
      display: inline-block;

      .ps-content {
        height: 250px;
      }
    }

    .document-right-panel {
      float: right;

      .document-versions {
        width: 300px;
        float: right;
      }

      .link-titles {
        padding-right: 0 !important;
        display: inline-block;
        float: right;
        height: 100%;
        transform: rotate(90deg);
      }

      .link-title {
        letter-spacing: 0.05rem;
        font-size: $font-size-large;
        width: 300px;
        cursor: pointer;
        height: 29px;
        padding-left: 5px;

        &.active {
          transform: rotate(-90deg);
          height: 100%;
          padding: 5px;
        }

        .link-info {
          height: 100%;
        }

        .link-items {
          padding-left: 5px;
          margin-right: -5px;
          height: 66%;
          overflow-y: auto;
        }

        .link-title {
          font-style: italic;
          padding: 0 5px;
        }

        .link-edit, .link-title {
          font-size: $font-size-small;
        }
      }
    }
  }

  .document-header {
    height: $font-size-large + 10px;
    letter-spacing: 0.05rem;
    font-size: $font-size-large;
    transition: all 0.25s;
  }

  .lum-document-navigation {
    text-align: right;

    i {
      cursor: pointer;
    }
  }
}

@media (max-width: $mobile-width) {
  document-info {
    .document-right-panel {
      margin-right: 0;
    }
  }
}

.ps-container > .ps-scrollbar-y-rail {
  opacity: 0.6 !important;
}

.ps-scrollbar-y {
  background-color: black !important;
  opacity: 0.6 !important;
}
