<div class="lum-preview-content">
  <div class="preview-icon" [ngStyle]="{'background-color': document.color}">
    <i class="fa" [ngClass]="document.icon"
       aria-hidden="true"></i>
  </div>
  <div class="document-title">Document title</div>
  <div>
    <ul class="list-group">

      <li *ngFor="let entry of entries " class="list-group-item">
        <b>{{entry.key}}</b> :

        <ul *ngIf="entry.nested">
          <li *ngFor="let subentry of entry.value">
            {{subentry.key}} :
            <span *ngIf="!subentry.value.hasOwnProperty('title')">{{subentry.value}}</span>
            <span *ngIf="subentry.value.hasOwnProperty('title')">{{subentry.value.title}}</span>
          </li>
        </ul>

        <span *ngIf="!entry.nested">
          {{entry.value}}
        </span>
      </li>

    </ul>

    <button (click)="clickedForDetail()" class="btn-default center-block">Click for detail</button>
  </div>
</div>
