<div class="document-values">
  <perfect-scrollbar>
    <ul>
      <li *ngFor="let entry of entries ">
        <b>{{entry.key}}</b> :

        <ul *ngIf="entry.nested">
          <li *ngFor="let subentry of entry.value">
            {{subentry.key}} :
            <span *ngIf="!isNested(subentry.value)">{{subentry.value.title || subentry.value}}</span>
            <span *ngIf="isNested(subentry.value)">
              <ng-template ngFor let-oneValue [ngForOf]="fetchKeys(subentry.value)">
                {{oneValue}}: {{subentry.value[oneValue]}}
              </ng-template>
            </span>
          </li>
        </ul>

        <span *ngIf="!entry.nested">
          {{entry.value}}
        </span>
      </li>

    </ul>
  </perfect-scrollbar>
</div>
