@import "../../../styles/variables";

empty-result {
  .submit-pane, .info-pane {

    position: absolute;
    right: 37.5%;
    top: 45%;

    .confirm {
      .btn {
        border-radius: 25px;
        border-color: transparent;

        i {
          margin-top: 2px;
        }
      }
    }
    .txt-lbl {
      text-align: center;
    }
  }

  .lum-collection-record, .new-document-preview {
    & .submit-pane, & .info-pane {
      top: 34%;
    }
  }

  .lum-collection-record {
    .info-pane {
      width: 100%;
      right: 0;
      text-align: center;
    }
  }


  .row {
    margin-left: 0 !important;
  }
  .lum-document-preview {
    height: 400px;
    padding:0;
    display: inline-table;
  }

  .lum-preview-content {
    border-radius: 10px;
    margin: 15px;
    background: $secondary-color;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    padding: 10px;
    height: 270px;
  }

  .preview-icon {
    cursor: pointer;
    position: absolute;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    top: 5px;
    left: 5px;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 25px;
    z-index: 1;

    &.collection-icon {
      left: 20px;
    }
  }

  .new-document-preview, .new-collection-preview {
    background: $secondary-color;
    min-height: 125px;

    .dropdown-select {
      margin-top: 0;
    }

    .preview-icon {
      &:not(.no-rotate) {
        transform: rotate(45deg);
      }

      &:not(.no-color) {
        background: $secondary-color;
      }

      i {
        margin-top: 4px;
        margin-right: 1px;
      }
    }

    .new-document-info {
      height: 50px;
    }

    .confirm {
      text-align: center;
    }

    .color-icon {
      width: 150px;
      height: 100px;
      overflow: hidden;
      position: absolute;
      background: $secondary-color;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
      padding-bottom: 5px;

      .color-picker span, .icon-picker span {
        height: 75%;
        width: 17%;
        border-radius: 25px;
        margin: 2px;
        display: inline-block;
        cursor: pointer;
        font-size: $font-size-h3;
        &.active i {
          border: solid 2px $brand-primary;
        }
      }

      .color-picker span.active {
        border: solid 2px $brand-primary;
      }

      div:not(.confirm) {
        width: 100%;
        height: 37%;
      }

      .confirm input {
        width: 50%;
        padding: 0;
        border: solid 2px black;
        background-color: transparent;
        box-shadow: none;
        border-radius: 4px;
        outline: 0;

        &:hover {
          background: $brand-success;
        }
      }
    }

    form input {
      width: 100%;
      border: none;
      background-color: transparent;
      box-shadow: none;
      padding-left: 15px;

      &:focus {
        border-bottom: 1px solid black;
        border-radius: 0 !important;
        outline: 0;
      }
    }
  }

  .lum-active-document {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 90%;

    .lum-preview-content {
      margin: 0;
    }
  }

  .lum-document-preview {
    padding-right: 15px;
  }

}
