<div>
  <div class="document-filter">
    <filter-save (onChanged)="onFilterChanged($event)"></filter-save>
  </div>
  <div class="document-preview" >
    <empty-result *ngIf="!isFiltered()"
                  (onNewCollection)="collectionAdd($event)"
                  (onNewDocument)="documentAdd($event)"
                  (onShowCollection)="showCollection($event)"></empty-result>
    <document-preview [documents]="documentInfoService.documents"
                      *ngIf="isFiltered()">
    </document-preview>
  </div>
</div>
