@import 'src/styles/variables';

:host {
  position: relative;
}

td {
  padding: 0;
  border: 0.5px $gray-200 dotted;
}

.html-input ::ng-deep * {
  margin: 0;
}

td.focused {
  .detail-trigger {
    right: 1px;
  }
}

:host.selected {
  background: lighten($success, 60%);

  .detail-trigger.has-comments {
    background: lighten($success, 60%);
  }
}

:host:hover {
  background: lighten($success, 60%);

  .detail-text {
    visibility: visible;
    display: block;
  }

  .detail-trigger {
    background: lighten($success, 60%);
  }
}

.detail-text {
  visibility: hidden;
  display: none;
}

.detail-trigger {
  &.has-comments {
    background: white;
  }

  display: flex;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 1px;
  height: calc(100% - 2px);
  z-index: 3;
}
