<ng-container *ngFor="let group of columnGroups; let index = index; trackBy: trackByColumn">

  <ng-container
    *ngIf="{dataValue: row.data[group.column?.id],
    constraintType: group.column?.attribute?.constraint?.type,
    editing: editedCell | tableCellEdited:group.column:cellType:row} as data">

    <ng-container
      *ngIf="group.column?.attribute | dataInputEditInfo:data.dataValue:group.column?.editable:data.editing as dataInputInfo">
      <td class="table-cell position-relative"
          [style.width.px]="group.width"
          [style.height.px]="row.height"
          [style.max-height.px]="row.height"
          [ngClass]="dataInputInfo.showDataInput ? '' : 'text-pre overflow-hidden px-1 align-middle'"
          [class.focused]="selectedCell | tableBodyCellSelected:editedCell:group.column:cellType:row"
          [class.editing]="data.editing && !group.column?.attribute?.constraint?.isDirectlyEditable"
          [class.affected]="editedCell | tableCellEdited:group.column:cellType:row: true"
          [class.cursor-pointer]="group.column?.editable"
          [title]="dataInputInfo?.showDataInput && data.dataValue ? '' : (data.dataValue | formatDataValueTitle)"
          (click)="onDataInputClick(group.column, $event)"
          (dblclick)="onDataInputDblClick(group.column, $event)"
          (contextmenu)="onContextMenu(group.column?.id, $event)">
        <data-input
          *ngIf="group.column && dataInputInfo.showDataInput"
          class="d-block h-100"
          [constraint]="group.column.attribute?.constraint"
          [cursor]="row | tableRowDataCursor:group.column"
          [style.height.px]="row.height - 1"
          [style.max-height.px]="row.height - 1"
          [dataValue]="(editedValue | isNotNullOrUndefined) && data.editing ? editedValue : data.dataValue"
          [focus]="true"
          [readonly]="dataInputInfo.readonly"
          [configuration]="configuration"
          (keydown)="onDataInputKeyDown($event)"
          (valueChange)="onValueChange($event)"
          (saveAction)="onNewValue(group.column, $event)"
          (cancel)="onDataInputCancel(group.column)">
        </data-input>
        <div class="d-flex align-items-center html-input"
             *ngIf="group.column && !dataInputInfo.showDataInput"
             [innerHTML]="data.dataValue | previewDataValue | safeHtml">
        </div>
        <div class="detail-trigger small pl-1 pr-1" *ngIf="!data.editing && group.column && group.column.id === detailColumnId"
             [class.has-comments]="row.commentsCount"
             (click)="onDetailClick($event)"
             (dblclick)="$event.preventDefault(); $event.stopPropagation()">
          <span class="detail-text btn-link pl-1 mr-2">Detail&nbsp;&gt;</span>
          <span *ngIf="row.commentsCount" [class.fa-stack]="row.commentsCount">
            <i class="fal fa-comment text-success"
               [class.fa-stack-1x]="row.commentsCount">
            </i>
            <span *ngIf="row.commentsCount" class="fa-stack-1x">
              <span class="comments-count">{{row.commentsCount < 10 ? row.commentsCount : '9+'}}</span>
            </span>
          </span>
        </div>
      </td>
    </ng-container>
  </ng-container>
</ng-container>
<table-menu #tableMenu (selected)="onMenuSelected(row, tableMenu.id, $event)"></table-menu>
<document-hints
  *ngIf="suggestedColumn?.attribute && (suggestedColumn?.attribute | canShowAttributeHints) && (row.linkInstanceId ||  linkedDocumentId)"
  [attributeId]="suggestedColumn?.attribute?.id"
  [correlationId]="row.correlationId"
  [dataValue]="suggesting$ | async"
  [collectionId]="collectionId"
  [columns]="columnGroups | documentHintsColumns"
  [offsetLeft]="columnGroups | calculateHintsOffset"
  [excludedDocumentIds]="row.documentId ? [row.documentId] : []"
  [linkedDocumentId]="linkedDocumentId"
  [linkInstanceId]="row.linkInstanceId"
  [linkTypeId]="linkTypeId"
  [createLinkDirectly]="false"
  [constraintData]="constraintData"
  [origin]="element"
  (useHint)="onUseHint($event)">
</document-hints>
