@import 'src/styles/variables';

:host {
  position: relative;
}

td {
  padding: 0;
  border: 0.5px $gray-200 dotted;
}

.html-input ::ng-deep * {
  margin: 0;
}

td.focused {
  .detail-trigger {
    right: 1px;
  }
}

:host.selected {
  background: lighten($success, 60%);

  .detail-trigger.has-comments {
    background: lighten($success, 60%);
  }
}

:host.uncreated {
  background: $gray-200;
}

:host:hover {
  background: lighten($success, 60%);

  .detail-text {
    visibility: visible;
    display: block;
  }

  .detail-trigger,
  .lock-icon {
    background: lighten($success, 60%);
  }
}

.detail-text {
  visibility: hidden;
  display: none;
}

.detail-trigger {
  &.has-comments {
    background: white;
  }

  &.has-lock {
    right: 20px;
  }

  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 1px;
  height: calc(100% - 2px);
  z-index: 3;
}

.lock-icon {
  position: absolute;
  display: inline-flex;
  align-items: center;
  top: 1px;
  height: calc(100% - 2px);
  right: 0;
  padding: 0 0.35rem;
  z-index: 3;
}

.hierarchy {
  position: absolute;
  top: 0;
}

.hierarchy-control {
  position: absolute;
  top: 50%;
  transition: none;
  transform: translateY(-50%);

  &.default {
    font-size: 50%;
  }

  &.collapsed {
    margin-left: 2px;
    font-size: 130%;
  }

  &.expanded {
    font-size: 130%;
    margin-left: -2px;
  }
}
