@import 'src/styles/variables';

:host {
  position: relative;
}

td {
  padding: 0;
  border: 0.5px $gray-200 dotted;
}

.html-input ::ng-deep * {
  margin: 0;
}

:host.selected {
  background: lighten($success, 60%);
}

:host:hover {
  background: lighten($success, 60%);

  .detail-trigger {
    visibility: visible;
  }
}

.detail-trigger {
  visibility: hidden;
  display: flex;
  align-items: center;
  position: absolute;
  background: lighten($success, 60%);
  right: 1px;
  top: 1px;
  height: calc(100% - 2px);
  z-index: 3;
}
