<dropdown [origin]="origin"
          [closeOnClickOutside]="true"
          [pushOnScreen]="true"
          [showBackdrop]="false">

  <resource-filters class="card p-2 overflow-auto"
                    [style.min-width.px]="280"
                    [resource]="resource"
                    [resourceType]="resourceType"
                    [filters]="filters"
                    [inline]="true"
                    (filtersChange)="filtersChange.emit($event)">
  </resource-filters>

</dropdown>
