<ng-container *ngIf="suggestions$ | async as suggestions">
  <div class="dropdown" *ngIf="suggestions.length > 0">
    <div class="dropdown-menu show suggestions">
      <search-suggestion-item *ngFor="let suggestion of suggestions; let suggestionIndex = index"
                              class="dropdown-item d-flex justify-content-between cursor-pointer"
                              [class.selected]="suggestionIndex === (selectedIndex$ | async)"
                              [suggestion]="suggestion"
                              [text]="text"
                              (mousedown)="onUseSuggestion(suggestion)">
      </search-suggestion-item>
    </div>
  </div>
</ng-container>
