<dropdown
  *ngIf="suggestions$ | async as suggestions"
  [origin]="origin"
  [showBackdrop]="false"
  [closeOnClickOutside]="true"
  [pushOnScreen]="true">

  <div class="card suggestions">
    <search-suggestion-item *ngFor="let suggestion of suggestions; let suggestionIndex = index"
                            class="dropdown-item d-flex justify-content-between cursor-pointer"
                            [class.selected]="suggestionIndex === (selectedIndex$ | async)"
                            [suggestion]="suggestion"
                            [text]="text"
                            (mousedown)="$event.stopImmediatePropagation(); $event.preventDefault()"
                            (click)="onUseSuggestion(suggestion, $event)">
    </search-suggestion-item>
  </div>

</dropdown>
