<top-panel-wrapper>
  <div class="col-12 col-lg-11 col-xl-10 container-fluid mx-auto content" *ngIf="collection$ | async as collection">
    <resource-header
      [resource]="collection"
      [resourceType]="collectionType"
      [permissions]="permissions$ | async"
      (back)="onBack()"
      (delete)="onDelete()"
      (colorIconChange)="onNewColorOrIcon($event)"
      (descriptionChange)="onNewDescription($event)"
      (nameChange)="onNewName($event)">
      <div class="d-flex flex-row text-primary flex-nowrap align-items-center me-3"
           title="Number of users" i18n-title="@@collection.settings.users.count">
        <i class="far fa-user" aria-hidden="true"></i>&nbsp;<span>{{ userCount$ | async }}</span>
      </div>

      <div class="d-flex flex-row text-success flex-nowrap align-items-center cursor-pointer color-success me-3"
           (click)="onDocumentsClick()"
           title="Number of records" i18n-title="@@collection.settings.records.count">
        <i class="far fa-file" aria-hidden="true"></i>&nbsp;<span>{{ collection.documentsCount }}</span>
      </div>

    </resource-header>

    <div class="d-flex flex-row-reverse text-end mb-3" *ngIf="(organizationAndProject$ | async) as realWorkspace">
      <copy-text-box [label]="tableIdLabel"
                     [value]="realWorkspace.organization?.id + '/' + realWorkspace.project?.id + '/' + collection.id"></copy-text-box>
    </div>

    <ul class="nav nav-tabs px-5" *ngIf="permissions$ | async as permissions">
      <li role="presentation" class="nav-item" *ngIf="permissions?.roles?.TechConfig">
        <a [routerLink]="['purpose']"
           routerLinkActive="active"
           class="nav-link"
           i18n="@@collection.config.tab.workflow">
          Workflow
        </a>
      </li>
      <li role="presentation" class="nav-item position-relative" *ngIf="permissions?.roles?.AttributeEdit">
          <a [routerLink]="['attributes']"
             routerLinkActive="active"
             class="nav-link"
             i18n="@@collection.config.tab.attributes">
            Attributes
          </a>
          <hint *ngIf="displayTableAttributesHint$ | async"
                title="Table Attributes"
                i18n-title="@hint.tableAttributes.title"
                (dismissHint)="onHintDismissed('attributes')">
            <span i18n="@@hint.tableAttributes.content">Attributes are essentially individual columns in the table. They form the shape of data in your table. Add new attributes, rename them, change their types, or delete them. Set the display attribute, which is used to represent records (rows) in a condensed format (e.g. in a timeline or calendar).</span>
          </hint>
      </li>
      <li role="presentation" class="nav-item position-relative" *ngIf="permissions?.roles?.TechConfig">
          <a [routerLink]="['rules']"
             routerLinkActive="active"
             class="nav-link"
             i18n="@@collection.config.tab.automation">
            Automation
          </a>
          <hint *ngIf="displayTableRulesHint$ | async"
                (dismissHint)="onHintDismissed('rules')"
                title="Table Automation"
                i18n-title="@hint.tableAutomation.title">
            <span i18n="@@hint.tableAutomation.content">Now we get to the fun part... Automation is a very powerful tool in Lumeer, which can save you an enormous amount of time wasted on repeating the same tasks over and over again. With automation, you can set the states of your tasks, assign them to other members, and much more. For more information, we recommend reading the documentation or checking our video tutorial on automation.</span>
          </hint>
      </li>
      <li role="presentation" class="nav-item">
        <a [routerLink]="['linktypes']"
           routerLinkActive="active"
           class="nav-link"
           i18n="@@collection.config.tab.link.types">
          Link Types
        </a>
      </li>
      <li role="presentation" class="nav-item" *ngIf="permissions?.roles?.UserConfig">
        <a [routerLink]="['users']"
           routerLinkActive="active"
           class="nav-link"
           i18n="@@collection.config.tab.permissions">
          Users
        </a>
      </li>
      <li role="presentation" class="nav-item" *ngIf="permissions?.roles?.UserConfig">
        <a [routerLink]="'teams'"
           routerLinkActive="active"
           class="nav-link"
           i18n="@@collection.config.tab.teams">Teams</a>
      </li>
      <li role="presentation" class="nav-item" *ngIf="permissions?.roles?.Manage">
        <a [routerLink]="['activity']"
           routerLinkActive="active"
           class="nav-link"
           i18n="@@collection.config.tab.activity">
          Activity
        </a>
      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</top-panel-wrapper>
