<top-panel-wrapper>
  <div class="col-12 col-lg-11 col-xl-10 container-fluid mx-auto content" *ngIf="collection$ | async as collection">
    <resource-header
      [resource]="collection"
      [resourceType]="collectionType"
      [permissions]="permissions$ | async"
      (back)="onBack()"
      (delete)="onDelete()"
      (colorIconChange)="onNewColorOrIcon($event)"
      (descriptionChange)="onNewDescription($event)"
      (nameChange)="onNewName($event)">
      <div class="d-flex flex-row text-primary flex-nowrap align-items-center me-3"
           title="Number of users" i18n-title="@@collection.settings.users.count">
        <i class="far fa-user" aria-hidden="true"></i>&nbsp;<span>{{ userCount$ | async }}</span>
      </div>

      <div class="d-flex flex-row text-success flex-nowrap align-items-center cursor-pointer color-success me-3"
           (click)="onDocumentsClick()"
           title="Number of records" i18n-title="@@collection.settings.records.count">
        <i class="far fa-file" aria-hidden="true"></i>&nbsp;<span>{{ collection.documentsCount }}</span>
      </div>

    </resource-header>

    <div class="d-flex flex-row-reverse text-end mb-3" *ngIf="(organizationAndProject$ | async) as realWorkspace">
      <copy-text-box [label]="tableIdLabel"
                     [value]="realWorkspace.organization?.id + '/' + realWorkspace.project?.id + '/' + collection.id"></copy-text-box>
    </div>

    <ul class="nav nav-tabs px-5" *ngIf="permissions$ | async as permissions">
      <li role="presentation" class="nav-item" *ngIf="permissions?.roles?.TechConfig">
        <a [routerLink]="['purpose']"
           routerLinkActive="active"
           class="nav-link"
           i18n="@@collection.config.tab.workflow">
          Workflow
        </a>
      </li>
      <li role="presentation" class="nav-item" *ngIf="permissions?.roles?.AttributeEdit">
        <a [routerLink]="['attributes']"
           routerLinkActive="active"
           class="nav-link"
           i18n="@@collection.config.tab.attributes">
          Attributes
        </a>
      </li>
      <li role="presentation" class="nav-item">
        <a [routerLink]="['activity']"
           routerLinkActive="active"
           class="nav-link"
           i18n="@@collection.config.tab.activity">
          Activity
        </a>
      </li>
      <li role="presentation" class="nav-item" *ngIf="permissions?.roles?.TechConfig">
        <a [routerLink]="['rules']"
           routerLinkActive="active"
           class="nav-link"
           i18n="@@collection.config.tab.automation">
          Automation
        </a>
      </li>
      <li role="presentation" class="nav-item">
        <a [routerLink]="['linktypes']"
           routerLinkActive="active"
           class="nav-link"
           i18n="@@collection.config.tab.link.types">
          Link Types
        </a>
      </li>
      <li role="presentation" class="nav-item" *ngIf="permissions?.roles?.UserConfig">
        <a [routerLink]="['users']"
           routerLinkActive="active"
           class="nav-link"
           i18n="@@collection.config.tab.permissions">
          Users
        </a>
      </li>
      <li role="presentation" class="nav-item" *ngIf="permissions?.roles?.UserConfig">
        <a [routerLink]="'teams'"
           routerLinkActive="active"
           class="nav-link"
           i18n="@@collection.config.tab.teams">Teams</a>
      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</top-panel-wrapper>
