<div class="collection-name order-1">
  <span *ngIf="collection && large" class="me-3"
        [style.color]="collection?.color">{{collection?.name}}</span>
</div>
<ng-container *ngIf="document | dataValueByAttribute:attributes?.title: constraintData as titleDataValue">
  <data-input-preview class="data-input-preview text-truncate fw-bold flex-grow-1 order-2 title"
                      *ngIf="titleDataValue | formatDataValue; else emptyTitle"
                      [constraint]="attributes.title.constraint"
                      [cursor]="document | dataCursor:attributes.title.id:view?.id"
                      [configuration]="configuration"
                      [dataValue]="titleDataValue">
  </data-input-preview>
</ng-container>

<div
  class="task-info order-4 order-md-3 d-flex align-items-center flex-row flex-md-nowrap flex-wrap justify-content-start justify-content-md-end"
  [class.from-start]="collection && large">
  <ng-container *ngIf="document | dataValueByAttribute:attributes?.assignee: constraintData as assigneeDataValue">
    <data-input-preview class="data-input-preview text-truncate ms-0 ms-md-3 py-1"
                        *ngIf="assigneeDataValue | formatDataValue; else emptyTitle"
                        [constraint]="attributes.assignee.constraint"
                        [cursor]="document | dataCursor:attributes?.assignee?.id:view?.id"
                        [configuration]="assigneeConfiguration"
                        [dataValue]="assigneeDataValue">
    </data-input-preview>
  </ng-container>

  <ng-container *ngIf="document | dataValueByAttribute:attributes?.dueDate: constraintData as dueDateDataValue">
    <data-input-preview class="data-input-preview text-truncate ms-3 py-1"
                        *ngIf="dueDateDataValue | formatDataValue"
                        [constraint]="attributes.dueDate.constraint"
                        [cursor]="document | dataCursor:attributes.dueDate.id:view?.id"
                        [configuration]="configuration"
                        [dataValue]="dueDateDataValue">
    </data-input-preview>
  </ng-container>

  <ng-container *ngIf="document | dataValueByAttribute:attributes?.state: constraintData as stateDataValue">
    <data-input-compact class="data-input-preview text-truncate ms-3 py-1"
                        [constraint]="attributes.state.constraint"
                        [cursor]="document | dataCursor:attributes.state.id:view?.id"
                        [configuration]="stateConfiguration"
                        [dataValue]="stateDataValue"
                        [readonly]="!(editing$ | async)"
                        placeholder="Select state"
                        i18n-placeholder="@@task.state.placeholder"
                        (click)="onStateClick()"
                        (save)="onStateSave($event)"
                        (cancel)="onStateCancel()">
    </data-input-compact>
  </ng-container>

  <ng-container
    *ngIf="document | dataValueByAttribute:attributes?.priority: constraintData as priorityDataValue">
    <data-input-preview class="data-input-preview text-truncate ms-3"
                        *ngIf="priorityDataValue | formatDataValue"
                        [constraint]="attributes.priority.constraint"
                        [cursor]="document | dataCursor:attributes.priority.id:view?.id"
                        [configuration]="configuration"
                        [dataValue]="priorityDataValue">
    </data-input-preview>
  </ng-container>

</div>

<div class="order-3 order-md-4 d-flex justify-content-end">
    <span *ngIf="dataPermissions?.read" class="clickable ms-3"
          (click)="$event.stopPropagation(); toggleFavorite.emit()"
          title="{{ document.favorite ?  'Unpin task from top' : 'Pin task to top'}}"
          i18n-title="@@task.pinned">
        <i class="fa-thumbtack text-warning" [ngClass]="document.favorite ? 'fas' : 'fal'" aria-hidden="true"></i>
    </span>
  <hint *ngIf="IsFirstCollection && (displayPinTaskHint$ | async)"
        class="position-relative"
        (click)="$event.preventDefault(); $event.stopPropagation();"
        (dismissHint)="onHintDismissed('pin')"
        title="Pin the Task"
        i18n-title="@hint.taskPin.title">
    <span i18n="@@hint.taskPin.content">Pin the most important tasks or tasks you are currently working on to the top of the list. This way you can clearly see the tasks you need to focus on!</span>
  </hint>

  <span class="clickable mx-2"
        (click)="$event.stopPropagation(); detail.emit()"><i class="far fa-file-search" aria-hidden="true"></i>
    </span>
  <hint *ngIf="IsFirstCollection && (displayTaskDetailHint$ | async)"
        class="position-relative"
        (click)="$event.preventDefault(); $event.stopPropagation();"
        (dismissHint)="onHintDismissed('detail')"
        title="Detail of the Task"
        i18n-title="@hint.taskDetail.title">
    <span i18n="@@hint.taskDetail.content">Check out details of a given task by using this icon. In the detail dialog, you can of course mark the task as completed, and edit all its attributes (supposing you have sufficient rights). Other than that, you can also see the task's links, leave a comment and see a history of all the task activities.</span>
  </hint>
</div>

<ng-template #emptyTitle>
  <div class="text-muted fst-italic title" i18n="@@tasks.empty.title">Empty title</div>
</ng-template>
