<div class="row text-center">
  <div class="col-lg-4 d-lg-flex align-items-lg-center justify-content-lg-start">
    <div class="btn-group">
      <div class="btn btn-primary"
           mwlCalendarPreviousView
           [view]="mode"
           [viewDate]="viewDate"
           (viewDateChange)="onViewDateChange($event)"
           i18n="@@previous">
        Previous
      </div>
      <div class="btn btn-outline-secondary"
           mwlCalendarToday
           [viewDate]="viewDate"
           (viewDateChange)="onViewDateChange($event)"
           i18n="@@today">
        Today
      </div>
      <div class="btn btn-primary"
           mwlCalendarNextView
           [view]="mode"
           [viewDate]="viewDate"
           (viewDateChange)="onViewDateChange($event)"
           i18n="@@next">
        Next
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <h4 class="my-3">{{ viewDate | calendarDate: mode + 'ViewTitle'}}</h4>
  </div>
  <div class="col-lg-4 d-lg-flex align-items-lg-center justify-content-lg-end">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="onModeChange(calendarMode.Month)"
        [class.active]="mode === calendarMode.Month"
        i18n="@@month">
        Month
      </div>
      <div
        class="btn btn-primary"
        (click)="onModeChange(calendarMode.Week)"
        [class.active]="mode === calendarMode.Week"
        i18n="@@week">
        Week
      </div>
      <div
        class="btn btn-primary"
        (click)="onModeChange(calendarMode.Day)"
        [class.active]="mode === calendarMode.Day"
        i18n="@@day">
        Day
      </div>
    </div>
  </div>
</div>
