<div class="form-control w-100 h-auto p-0"
     data-tour="search-box">
  <form *ngIf="form$ | async as form"
        [formGroup]="form"
        class="d-flex">
    <ng-container
      *ngIf="{canManageConfig: canManageConfig$ | async, query: query$ | async, perspective: perspective$ | async, currentView: currentView$ | async} as data">
      <div *ngIf="constraintData$ | async as constraintData"
           class="d-flex flex-wrap flex-grow-1 pb-1 pr-1"
           [style.width.px]="1"
           formArrayName="queryItems">
        <query-item *ngFor="let queryItem of queryItems$ | async; trackBy:trackByTypeAndText; let itemIndex = index;"
                    [queryItemForm]="queryItemsControl.at(itemIndex)"
                    [queryItem]="queryItem"
                    [constraintData]="constraintData"
                    [readonly]="!(queryItem | isQueryItemEditable:data.canManageConfig:data.currentView?.query)"
                    (change)="onQueryItemsChanged()"
                    (remove)="onRemoveQueryItem(itemIndex)"
                    (focusInput)="searchInput.focusInput()"
                    class="d-inline-flex mt-1 ml-1 align-items-center">
        </query-item>

        <search-input #searchInput
                      [queryItems]="queryItems$ | async"
                      [restrictedMode]="!data.canManageConfig"
                      (addQueryItem)="onAddQueryItem($event)"
                      (removeQueryItem)="onRemoveLastQueryItem(data.canManageConfig)"
                      (search)="onSearch()"
                      class="flex-grow-1 mt-1 ml-1 mw-100">
        </search-input>
      </div>

      <settings-button *ngIf="data.canManageConfig && (data.perspective | shouldShowSettings:data.query)"
                       [showAttributes]="data.perspective | shouldShowAttributesSettings:data.query"
                       class="flex-grow-0">
      </settings-button>

    </ng-container>

    <search-button class="py-0 flex-grow-0"
                   (search)="onSearch($event)"
                   [disabled]="!form.valid">
    </search-button>
  </form>
</div>
