<div class="form-control w-100 h-100 p-0">
  <form class="d-flex" *ngIf="form$ | async as form" [formGroup]="form">
    <div class="d-flex flex-wrap  flex-grow-1 pb-1 pr-1" [style.width.px]="1" formArrayName="queryItems">
      <query-item *ngFor="let queryItem of queryItems$ | async; trackBy:trackByTypeAndText; let itemIndex = index;"
                  [queryItemForm]="queryItemsControl.at(itemIndex)"
                  [queryItem]="queryItem"
                  (enter)="searchInput.focusInput()"
                  (change)="onQueryItemsChanged()"
                  (remove)="onRemoveQueryItem(itemIndex)"
                  class="d-inline-flex mt-1 ml-1 align-items-center">
      </query-item>

      <search-input #searchInput
                    [queryItems]="queryItems$ | async"
                    [currentView]="currentView$ | async"
                    (addQueryItem)="onAddQueryItem($event)"
                    (removeQueryItem)="onRemoveLastQueryItem()"
                    (search)="onSearch()"
                    class="flex-grow-2 mt-1 ml-1"></search-input>
    </div>

    <search-button class="py-0 flex-grow-0" (search)="onSearch($event)"
                   [disabled]="!form.valid"></search-button>
  </form>
</div>
