<div class="mt-2" *ngIf="views$ | async as views">

  <ng-container *ngIf="!isLoading()">

    <ng-container *ngIf="views.length; else noViews">
      <view-detail *ngFor="let view of (maxLines > 0 ? (views | slice:0:maxLines) : views); trackBy:trackByView"
                   [view]="view"
                   [queryData]="queryData"
                   (clicked)="showView(view)">
      </view-detail>
      <div class="clickable d-flex justify-content-end" [style.font-size.%]="150"
           *ngIf="maxLines > 0 && maxLines < views.length" i18n="@@search.result.more"
           (click)="onShowAll()">
        See all
      </div>
    </ng-container>

  </ng-container>

</div>

<ng-template #noViews>
  <empty-search *ngIf="!(query | emptyQuery)"></empty-search>
  <empty-state *ngIf="query | emptyQuery"
               [icon]="'fa fa-eye-slash'">
    <h3 i18n="@@search.views.empty.title">There are no Views yet!</h3>
    <div i18n="@@search.views.empty.subtitle">Search for something, switch the View, set a name and save the resulting page.</div>
  </empty-state>
</ng-template>
