<div class="mt-2" *ngIf="views$ | async as views">
  <ng-container *ngIf="views.length; else noViews">
    <view-detail *ngFor="let view of (maxLines > 0 ? (views | slice:0:maxLines) : views); trackBy:trackByView"
                 [view]="view"
                 [queryData]="queryData"
                 (clicked)="showView(view)">
    </view-detail>
    <div class="clickable d-flex justify-content-end" [style.font-size.%]="150"
         *ngIf="maxLines > 0 && maxLines < views.length" i18n="@@search.result.more"
         (click)="onShowAll()">
      See all
    </div>
  </ng-container>
  <ng-template class="alert alert-warning" #noViews i18n="@@search.perspective.result.empty">
    I am sorry, I did not find anything. Please try another search!
  </ng-template>
</div>
