<fullscreen-dropdown [showBackdrop]="true"
                     [minWidth]="170"
                     [minHeight]="170"
                     [minSize]="600">
  <div class="card h-100" *ngIf="isOpen$ | async">
    <quill-editor
      class="h-100 editor"
      [(ngModel)]="content"
      [readOnly]="readonly"
      [maxLength]="maxLength"
      [minLength]="minLength"
      placeholder="Insert text here..."
      i18n-placeholder="@@textEditor.insertTextPlaceholder"
      [modules]="defaultOptions"
      (onEditorCreated)="focusEditor($event)"
      (onContentChanged)="contentChanged($event)">
    </quill-editor>

    <div *ngIf="!valid" class="text-danger px-2 py-1 small" id="invalid-warning">
      <span *ngIf="minLength" i18n="textEditor.minLength">Minimal text length must be {{minLength}} characters.&nbsp;</span>
      <span *ngIf="maxLength" i18n="textEditor.maxLength">Maximal text length can be {{maxLength}} characters.</span>
    </div>
  </div>
</fullscreen-dropdown>
