<pivot-perspective-wrapper class="mr-3 wrapper"
                           [collections]="collections$ | async"
                           [documents]="documents$ | async"
                           [linkTypes]="linkTypes$ | async"
                           [linkInstances]="linkInstances$ | async"
                           [query]="query$ | async"
                           [constraintData]="{users: users$ | async, durationUnitsMap: durationUnitsMap}"
                           [config]="config$ | async"
                           [currentView]="currentView$ | async"
                           [sidebarOpened]="sidebarOpened$ | async"
                           (configChange)="onConfigChange($event)"
                           (sidebarToggle)="onSidebarToggle()">
</pivot-perspective-wrapper>
