@import '../../../../../styles/variables';

.search-button {
  background: transparent;
  border: 0;
  color: $primary;

  &:not([disabled]):hover {
    background-color: $primary;
    color: $white;
  }
}
