<div class="form-control form-control-sm d-flex flex-row flex-nowrap p-2">
  <div class="flex-grow-2 text-truncate cursor-text filter-text"
       (blur)="filterText.scrollTo(0,0)"
       [attr.spellcheck]="false"
       contenteditable="true"
       (input)="onTextChange(filterText.textContent)"
       (keydown.enter)="filterText.blur(); onTextSubmit(filterText.textContent)"
       [attr.placeholder]="mPlaceholder"
       [textContent]="mCurrentValue"
       #filterText>
  </div>
  <i class="fa fa-search clickable align-self-center p-1"
     (click)="onTextSubmit(filterText.textContent)"
     aria-hidden="true"></i>
</div>
