@import '../../../../styles/variables';

.filter-text:focus {
  text-overflow: clip;
}

[contenteditable='true']:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: $dark;
}

[contenteditable]:focus {
  outline: 0 solid transparent;
}
