@import '../../../../styles/variables';

$post-it-size: 170px;
$post-it-margin: 15px;
$bookmark-height: 220px;
$bookmark-border-width: 1px;
$bookmark-border-color: #bdbdbd;

.horizontal-container {
  height: $bookmark-height + 10px;
  position: relative;

  .disabled {
    color: $secondary !important;
    cursor: default !important;
  }

  .arrow {
    cursor: pointer;
  }

  .left-arrow {
    width: 40px;
    position: absolute;
    left: 0;
    background: white;
    z-index: 120;
    font-size: 40px;
  }

  .right-arrow {
    width: 40px;
    position: absolute;
    right: 0;
    background: white;
    z-index: 120;
    font-size: 40px;
  }

  .content-container {
    position: absolute;

    .horizontal-chooser {
      position: absolute;
      margin-top: 10px;
      transition: left $animation-duration;
      -webkit-transition: left $animation-duration;
      -moz-transition: left $animation-duration;
      -o-transition: left $animation-duration;

      .tab {
        width: $post-it-size + 2 * $post-it-margin;
        height: $bookmark-height;

        .post-it {
          width: $post-it-size;
          height: $post-it-size;
          margin: 0 $post-it-margin;

          .content {
            width: $post-it-size;
            height: $post-it-size;
            background: transparent;
            z-index: 10;
            position: absolute !important;
          }
        }
      }

      .pointer {
        position: absolute;
        z-index: 5;

        div {
          transition: width $animation-duration;
          -webkit-transition: width $animation-duration;
          -moz-transition: width $animation-duration;
          -o-transition: width $animation-duration;

          &.empty-line {
            display: inline-block;
            height: $bookmark-height;
            width: $post-it-size + 2 * $post-it-margin;
          }

          &.line {
            display: inline-block;
            height: $bookmark-border-width;
            background: $bookmark-border-color;
          }
        }
      }
    }
  }
}
