<div class="row">
  <h3 class="w-100 d-flex px-3" i18n="@@resource.chooser.header">
    {resourceType, select, Organization {Organizations} Project {Projects}}
  </h3>

  <div class="horizontal-container d-flex w-100" #resourceContainer>

    <div class="px-3" *ngIf="resources.length == 0 && !canCreateResource"
         i18n="@@resource.chooser.empty">
      There are no {resourceType, select, Organization {organizations} Project {projects}} and you are not allowed to
      create new ones.
    </div>

    <div class="left-arrow d-flex h-100" *ngIf="resourceVisibleArrows">
      <div class="d-flex justify-content-center align-items-center w-100">
        <i class="fas fa fa-chevron-left arrow clickable" (click)="onScrollResource(-1)"
           [class.disabled]="!resourceCanScrollLeft"></i>
      </div>
    </div>

    <div class="content-container h-100"
         [style.width]="resourceContentWidth + 'px'"
         [style.left]="resourceContentLeft + 'px'">

      <div class="horizontal-chooser d-flex flex-nowrap justify-content-center"
           [style.left]="resourceScroll + 'px'"
           [style.width]="resourceWidth + 'px'">

        <resource-post-it
          *ngFor="let resource of resources.concat(newResources)"
          [resourceType]="resourceType"
          [resource]="resource"
          [isSelected]="selectedId === resource.id"
          [restrictedCodes]="usedCodes"
          [roles]="getRoles(resource)"
          [serviceLevel]="hasServiceLevel(resource) ? getServiceLevel(resource) : null"
          (create)="onResourceCreate($event)"
          (update)="onResourceUpdate($event)"
          (select)="onResourceSelected(resource.id)"
          (delete)="onResourceDelete(resource)"
          (settings)="onResourceSettings(resource.id)">

        </resource-post-it>

        <div class="tab d-flex clickable" *ngIf="canCreateResource">
          <div class="post-it align-self-center" (click)="onCreateResource()">
            <div class="card text-center content border-0">
              <div class="card-body d-flex align-items-center justify-content-center">
                <i class="fas fa-3x fa-plus" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-row align-items-end justify-content-end pointer"
             *ngIf="selectedId" [style.width]="linesWidth + 'px'">
          <div class="line mr-auto" [style.width]="resourceLineSizes[0]+'px'"></div>
          <div class="empty-line" [style.width]="resourceLineSizes[1]+'px'"></div>
          <div class="line"
               [style.width]="resourceLineSizes[2] +'px'"></div>
        </div>
      </div>
    </div>

    <div class="right-arrow d-flex h-100" *ngIf="resourceVisibleArrows">
      <div class="d-flex justify-content-center align-items-center w-100">
        <i class="fas fa fa-chevron-right arrow clickable" (click)="onScrollResource(1)"
           [class.disabled]="!resourceCanScrollRight"></i>
      </div>
    </div>

  </div>

  <div class="pt-3 px-3 d-flex" *ngIf="selectedId && getResource(selectedId) as selectedResource" [@animateOpacityFromUp]="'in'">
    <i class="fas fa-2x fa-quote-right pr-2 mt-2"></i>

    <input-box
      class="d-flex pb-3 pt-1"
      [initialValue]="selectedResource.description"
      [canStayEmpty]="true"
      [fontSizeRem]="1"
      [maxLines]="4"
      [title]="selectedResource.description || getDescriptionPlaceholder()"
      [placeholder]="getDescriptionPlaceholder()"
      (newValue)="onDescriptionBlur(selectedResource, $event)">
    </input-box>

  </div>

</div>
