@import "../../../shared/variables";

$post-it-size: 170px;
$post-it-margin: 15px;
$bookmark-height: 220px;
$bookmark-border-width: 1px;
$bookmark-border-color: #bdbdbd;

.horizontal-container {
  height: $bookmark-height + 10px;
  position: relative;

  .disabled {
    color: $secondary;
    cursor: default !important;
  }

  .arrow {
    color: $success;
    cursor: pointer;

    &:hover {
      color: $info;
    }
  }

  .left-arrow {
    width: 40px;
    position: absolute;
    left: 0;
    font-size: 40px;
  }

  .right-arrow {
    width: 40px;
    position: absolute;
    right: 0;
    font-size: 40px;
  }

  .content-container {
    position: absolute;
    overflow: hidden;

    .horizontal-chooser {
      position: absolute;
      margin-top: 10px;
      transition: left $animation-duration;
      -webkit-transition: left $animation-duration;
      -moz-transition: left $animation-duration;
      -o-transition: left $animation-duration;

      .tab {
        width: $post-it-size + 2*$post-it-margin;
        height: $bookmark-height;

        .bookmark {
          border-width: $bookmark-border-width !important;
          border-color: $bookmark-border-color !important;
          width: $post-it-size + 2*$post-it-margin;
          height: $bookmark-height;
          background: #ffffff;
          position: absolute;
          z-index: 5;
        }

        .post-it {
          width: $post-it-size;
          height: $post-it-size;
          cursor: pointer;
          margin: 0 $post-it-margin;

          &:hover {
            .square {
              box-shadow: $shadow-default;
              -webkit-box-shadow: $shadow-default;
              -moz-box-shadow: $shadow-default;
            }

            .content .settings {
              opacity: 1 !important;
            }
          }

          .square {
            width: $post-it-size;
            height: $post-it-size;
            z-index: 1;
            position: absolute !important;
            background-color: transparent !important;
            transition: box-shadow $animation-duration;
          }

          .content {
            width: $post-it-size;
            height: $post-it-size;
            background: transparent;
            z-index: 100;
            position: absolute !important;

            .settings {
              position: absolute;
              right: 10px;
              top: 10px;
              opacity: 0;
              color: black;
              transition: opacity $animation-duration;

              &:hover {
                color: $success;
              }
            }

            .code {
              font-size: 25px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
            .name {
              font-size: 15px;
              line-height: 20px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              max-height: 40px;
            }
          }
        }
      }

      .new-resource {
        color: black;

        &:hover {
          color: $success;
        }
      }

      .pointer {
        position: absolute;
        z-index: 5;

        div {
          transition: width $animation-duration;
          -webkit-transition: width $animation-duration;
          -moz-transition: width $animation-duration;
          -o-transition: width $animation-duration;

          &.empty-line {
            display: inline-block;
            height: $bookmark-height;
            width: $post-it-size + 2 * $post-it-margin;
          }

          &.line {
            display: inline-block;
            height: $bookmark-border-width;
            background: $bookmark-border-color;
          }
        }

      }
    }
  }

}

.description {

  &:hover .edit {
    opacity: 1;
  }

  .text {
    font-size: 17px;
    outline-color: $success;
    margin-right: 20px;
    overflow: hidden;
    height: 50px;
  }

  .edit {
    opacity: 0;
    transition: opacity $animation-duration;
    margin-right: 5px;

    &:hover {
      color: $success;
    }
  }
}

.textarea {

  z-index: 100000000;
  resize: none;
  border: none;
  outline: none;
  overflow: hidden;
}

.name-input{
  border: none;
  width: 100px;
  outline:none;
}
.code-input{
  border:none;
  width: 100px;
  outline: none;
}
