<div class="row">
  <h3 class="w-100 d-flex" i18n="@@resource.chooser.header">
    {resourceType, select, organization {Organizations} project {Projects}}
  </h3>

  <div class="horizontal-container w-100" #resourceContainer>

    <div *ngIf="resources.length == 0 && !canCreateResource"
         i18n="@@resource.chooser.empty">
      There are no {resourceType, select, organization {organizations} project {projects}} and you are not allowed to
      create new ones.
    </div>

    <div class="left-arrow d-flex h-100" *ngIf="resourceVisibleArrows">
      <div class="d-flex justify-content-center align-items-center w-100">
        <i class="fas fa fa-chevron-left arrow" (click)="onScrollResource(-1)"
           [class.disabled]="!resourceCanScrollLeft"></i>
      </div>
    </div>

    <div class="content-container h-100"
         [style.width]="resourceContentWidth + 'px'"
         [style.left]="resourceContentLeft + 'px'">

      <div class="horizontal-chooser d-flex flex-nowrap justify-content-center"
           [style.left]="resourceScroll + 'px'"
           [style.width]="resourceWidth + 'px'">

        <div class="tab d-flex" *ngFor="let resource of resources; let ix = index"
             (click)="onResourceSelected(ix)">
          <div class="post-it align-self-center">
            <div class="card square"></div>
            <div class="card text-center content border-0" [style.color]="resource.color">
              <div class="card-body">
                <i class="fas fa fa-cog settings" *ngIf="hasManageRole(resource)"
                   (click)="onResourceSettings(ix); $event.stopPropagation()"
                   [style.opacity]="ix === resourceActiveIx ? 1 : 0"></i>
                <i class="fa-3x {{resource.icon}}" aria-hidden="true"></i>
                <div class="card-title code">{{resource.code}}</div>
                <div class="card-subtitle name">{{resource.name}}</div>
              </div>
            </div>
          </div>
          <div class="align-self-stretch border border-bottom-0 rounded-top bookmark"
               *ngIf="ix === resourceActiveIx" [@animateVisible]="'in'"></div>
        </div>

        <div class="tab d-flex new-resource" *ngIf="canCreateResource">
          <div class="post-it align-self-center" (click)="onCreateResource()">
            <div class="card text-center content border-0">
              <div class="card-body d-flex align-items-center justify-content-center">
                <i class="fas fa-3x fa-plus" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-row align-items-end justify-content-end pointer"
             *ngIf="resourceActiveIx >= 0" [style.width]="linesWidth + 'px'">
          <div class="line mr-auto" [style.width]="resourceLineSizes[0]+'px'"></div>
          <div class="empty-line" [style.width]="resourceLineSizes[1]+'px'"></div>
          <div class="line"
               [style.width]="resourceLineSizes[2] +'px'"></div>
        </div>
      </div>
    </div>


    <div class="right-arrow d-flex h-100" *ngIf="resourceVisibleArrows">
      <div class="d-flex justify-content-center align-items-center w-100">
        <i class="fas fa fa-chevron-right arrow" (click)="onScrollResource(1)"
           [class.disabled]="!resourceCanScrollRight"></i>
      </div>
    </div>

  </div>

  <div class="description d-inline-flex pt-3" *ngIf="resourceActiveIx >= 0" [@animateOpacityFromUp]="'in'">
    <i class="fas fa-2x fa-quote-right pr-2"></i>
    <div class="text edit-border" contenteditable="true"
         [attr.spellcheck]="false"
         #resourceDescription>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet neque tristique, dignissim mi sed,
      finibus nisl. Cras tempor, nisl id malesuada finibus, dui mi interdum urna, nec pellentesque libero augue
      vel augue.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet neque tristique, dignissim mi sed,
      finibus nisl. Cras tempor, nisl id malesuada finibus, dui mi interdum urna, nec pellentesque libero augue
      vel augue.
    </div>
  </div>

</div>
