@import "../../../shared/variables";

$post-it-size: 170px;
$post-it-margin: 15px;
$bookmark-height: 220px;
$bookmark-border-width: 1px;
$bookmark-border-color: #bdbdbd;

.horizontal-container {
  height: $bookmark-height + 10px;
  position: relative;

  .disabled {
    color: $secondary !important;
    cursor: default !important;
  }

  .arrow {
    cursor: pointer;
  }

  .left-arrow {
    width: 40px;
    position: absolute;
    left: 0;
    background: white;
    z-index: 20;
    font-size: 40px;
  }

  .right-arrow {
    width: 40px;
    position: absolute;
    right: 0;
    background: white;
    z-index: 20;
    font-size: 40px;
  }

  .content-container {
    position: absolute;

    .horizontal-chooser {
      position: absolute;
      margin-top: 10px;
      transition: left $animation-duration;
      -webkit-transition: left $animation-duration;
      -moz-transition: left $animation-duration;
      -o-transition: left $animation-duration;

      .dropdown-menu {
        width: 330px;
        top: -40px;
        left: auto !important;
      }

      .tab {
        width: $post-it-size + 2*$post-it-margin;
        height: $bookmark-height;

        .bookmark {
          border-width: $bookmark-border-width !important;
          border-color: $bookmark-border-color !important;
          width: $post-it-size + 2*$post-it-margin;
          height: $bookmark-height;
          background: #ffffff;
          position: absolute;
          z-index: 5;
        }

        .post-it {
          width: $post-it-size;
          height: $post-it-size;
          cursor: pointer;
          margin: 0 $post-it-margin;

          &:hover {
            .square {
              box-shadow: $shadow-default;
              -webkit-box-shadow: $shadow-default;
              -moz-box-shadow: $shadow-default;
            }

            .content .settings {
              opacity: 1 !important;
            }
          }

          .square {
            width: $post-it-size;
            height: $post-it-size;
            z-index: 1;
            position: absolute !important;
            background-color: transparent !important;
            transition: box-shadow $animation-duration;
          }

          .unitialized{
            border-style: dashed;
          }

          .content {
            width: $post-it-size;
            height: $post-it-size;
            background: transparent;
            z-index: 10;
            position: absolute !important;

            .settings {
              position: absolute;
              right: 5px;
              top: 5px;
              opacity: 0;
              transition: opacity $animation-duration;
            }

            .code {
              font-size: 25px;
              white-space: nowrap;
              cursor: text;
              text-overflow: ellipsis;
              overflow: hidden;

              &:focus {
                text-overflow: clip;
              }
            }

            .lmr-warning {
              border: 1px solid orange !important;
            }

            .name {
              font-size: 15px;
              cursor: text;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;

              &:focus {
                text-overflow: clip;
              }
            }
          }
        }
      }

      .pointer {
        position: absolute;
        z-index: 5;

        div {
          transition: width $animation-duration;
          -webkit-transition: width $animation-duration;
          -moz-transition: width $animation-duration;
          -o-transition: width $animation-duration;

          &.empty-line {
            display: inline-block;
            height: $bookmark-height;
            width: $post-it-size + 2 * $post-it-margin;
          }

          &.line {
            display: inline-block;
            height: $bookmark-border-width;
            background: $bookmark-border-color;
          }
        }

      }
    }
  }

}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: $grey-color;
}

.description {
  width: 100%;

  .text {
    width: 100%;
    cursor: text;
    font-size: 17px;
    outline-color: $success;
  }
}

