<div class="layout">

  <div *ngIf="editable" class="layout-item">
    <a class="add-collection" (click)="onNewCollection()">
      <i class="fa fa-plus-circle"></i>
      <label>Add collection</label>
    </a>
  </div>

  <div *ngFor="let collection of collections; let idx = index"
       class="post-it layout-item {{ pickerVisible[idx] ? 'selected' : ''}} {{ !initialized[idx].all ? 'uninitialized' : '' }}"
       [style.z-index]="collections.length - idx"
       [style.border-color]="collection.color"
       (click)="previousCollection = currentCollection; currentCollection = idx;">

    <div class="document-count" title="Document count">
      {{ collection.documentCount }}<i class="fa fa-file-text-o"></i>
    </div>

    <ng-container *ngIf="initialized[idx].all; then initializedContent else nonInitializedContent"></ng-container>

    <ng-template #initializedContent>
      <div class="content" [style.color]="collection.color">
        <i class="fa fa-2x {{ collection.icon }}" title="Go to documents"
           [routerLink]="['..', 'c', collection.code, 'documents']"></i><!--
      --><input [(ngModel)]="collection.name" (ngModelChange)="updateCollection(collection)"/>
      </div>

      <icon-picker [enabled]="pickerVisible[idx]"
                   [(color)]="collection.color"
                   [(icon)]="collection.icon"
                   (itemSelected)="updateCollection(collection)"></icon-picker>

      <div class="buttons">
        <a><i class="fa fa-fx fa-eye" (click)="onDetailClick(collection.code)" title="Detail"></i></a>
        <a><i class="fa fa-fx fa-list-ul" (click)="onAttributesClick(collection.code)" title="Attributes"></i></a>
        <a><i class="fa fa-fx fa-eyedropper" title="Icon picker" (click)="togglePicker(idx)" #iconSwitch></i></a>
        <a><i *ngIf="hasManageRole(collection)" title="Permissions"
              class="fa fa-fx fa-users" (click)="onPermissionsClick(collection.code)"></i></a>
        <a><i *ngIf="hasManageRole(collection)" title="Remove Collection"
              class="fa fa-fx fa-times remove-icon" (click)="onDeleteClick(idx)"></i></a>
      </div>
    </ng-template>

    <ng-template #nonInitializedContent>
      <ul class="tutorial">
        <li title="Picked new color">
          <i class="fa fa-fx {{ initialized[idx].color ? 'fa-check ok-icon' : 'fa-times remove-icon' }}"></i>Color
        </li>
        <li title="Picked new icon">
          <i class="fa fa-fx {{ initialized[idx].icon ? 'fa-check ok-icon' : 'fa-times remove-icon' }}"></i>Icon
        </li>
        <li title="Picked new name">
          <i class="fa fa-fx {{ initialized[idx].name ? 'fa-check ok-icon' : 'fa-times remove-icon' }}"></i>Name
        </li>
      </ul>

      <div class="content" [style.color]="collection.color">
        <i class="fa fa-2x {{ collection.icon }}" title="Pick icon" (click)="togglePicker(idx)" #iconSwitch></i><!--
      --><input class="newName" placeholder="Name"
                [(ngModel)]="collection.name"
                (ngModelChange)="checkInitializedName(idx)"
                (blur)="checkInitialization(idx)"
                (keyup.enter)="checkInitialization(idx)"/>
      </div>

      <icon-picker class="onIcon"
                   [enabled]="pickerVisible[idx]"
                   [(color)]="collection.color"
                   [(icon)]="collection.icon"
                   (itemSelected)="checkInitializedColor(idx); checkInitializedIcon(idx); checkInitialization(idx)"></icon-picker>

      <div class="buttons">
        <a><i class="fa fa-fx fa-times remove-icon" title="Remove Collection" (click)="onDeleteClick(idx)"></i></a>
      </div>
    </ng-template>
  </div>
</div>
