@import '../../../../../styles/variables';

$anim-duration: 0.4s;

.post-it {
  margin: 10px;
  background-color: $secondary-color;
  box-shadow: $default-shadow;
  padding: 10px;
  height: 150px;
  position: relative;
  display: flex;
  align-items: center;
  transition: box-shadow $anim-duration ease-in-out;

  &:hover {
    box-shadow: $default-shadow-up;
  }

  &:hover .actions{
    opacity: 1;
  }

  .preview-icon {
    cursor: pointer;
    position: absolute;
    background-color: $secondary-color;
    box-shadow: $default-shadow;
    top: 10px;
    left: 10px;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 25px;
    z-index: 1;
  }

  .remove-icon {
    cursor: pointer;
    position: absolute;
    color: red;
    right: 10px;
    top: 10px;
  }

  form input {
    width: 100%;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: $secondary-color;
    font-size: $font-size-h4;
    box-shadow: $default-shadow;
    transition: box-shadow $anim-duration ease-in-out;
    -webkit-transition: box-shadow $anim-duration ease-in-out;
    -moz-transition: box-shadow $anim-duration ease-in-out;
    -o-transition: box-shadow $anim-duration ease-in-out;

    &:hover {
      box-shadow: $default-shadow-up;
    }

    &:focus {
      box-shadow: $default-shadow-up;
      border-radius: 0 !important;
      outline: 0;
    }
  }

  .err-msg {
    position: absolute;
  }

  .num-documents {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 12px;
  }

  .actions {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
    opacity: 0;
    -webkit-transition: all $anim-duration ease-in-out;
    -moz-transition: all $anim-duration ease-in-out;
    -o-transition: all $anim-duration ease-in-out;
    transition: all $anim-duration ease-in-out;

    .action {
      padding: 2px;
      cursor: pointer;
    }

    .delete {
      color: red !important;
    }
  }

}

.name-icon {
  text-align: center;
  width: 100%;
}

.create-collection {
  cursor: pointer;
  color: black;

  &:hover {
    color: green;
  }
}

.new-collection {
  background: $new-item-color;
}

