@import '../../../../../styles/variables';

:host {
  display: block;

  .layout {
    margin: 0 auto;
  }

  .layout-item {
    transition: all $animation-duration;
    -webkit-transition: all $animation-duration;
    -moz-transition: all $animation-duration;
    -o-transition: all $animation-duration;

    & > * {
      transition: all $animation-color-duration;
      -webkit-transition: all $animation-color-duration;
      -moz-transition: all $animation-color-duration;
      -o-transition: all $animation-color-duration;
    }

    width: $post-it-width;
    height: 180px;
  }

  .post-it {
    background: $secondary-color;
    box-shadow: $shadow-none;

    border: 2px solid #cccccc;
    border-radius: $border-radius-small;

    padding: 15px;
    align-items: center;

    .document-count {
      position: absolute;
      right: 15px;
      top: 10px;
      font-size: large;

      i {
        margin-left: 5px;
      }
    }

    .content {
      text-align: center;
      font-size: 3em;
      margin-top: 7px;
      margin-right: 15px;

      i {
        cursor: pointer;
      }
    }

    .onIcon {
      position: absolute;
      top: 114px;
      left: -80px;
    }

    .buttons {
      opacity: 0;
      display: grid;
      position: absolute;
      right: 6px;
      top: 37px;
    }

    a {
      font-size: large;
      padding: 0 5px;
      border-radius: $border-radius-small;

      &:hover {
        background: #f5f5f5;
      }

      i {
        margin: 0;

        &:before {
          margin-left: 2px;
        }
      }
    }

    .remove-icon {
      color: $brand-danger;
    }

    .ok-icon {
      color: $brand-success;
    }
  }

  .uninitialized {
    border-width: 3px;
    border-style: dashed;

    .tutorial {
      opacity: 0;
      position: absolute;

      top: 8px;
      left: 10px;

      padding: 0;
      margin: 0;

      i {
        margin-right: 6px;
      }
    }

    .newName {
      color: $brand-primary;
    }

    a {
      &:hover {
        background: $secondary-color;
      }
    }
  }

  .post-it:hover, .selected {
    box-shadow: $shadow-up;

    & > * {
      opacity: 1 !important;
    }
  }

  .add-collection {
    display: block;
    text-align: center;
    margin: 45px 72px 0;

    color: $brand-primary;

    &:hover {
      color: $brand-success;
    }

    i {
      display: block;
      font-size: 60px;
      border-radius: 60px;
    }

    label {
      display: block;
      font-size: 1.5em;
      pointer-events: none;
    }
  }

  icon-picker {
    position: absolute;
    top: 110px;
    left: 50px;
  }

  i:focus, input:focus {
    outline: none;
  }

  input {
    display: block;
    width: 100%;
    margin-top: 10px;

    background: transparent;
    border: none;

    text-align: center;
    font-weight: bold;
    font-size: 23px;
  }
}
