<div class="layout">

  <div *ngIf="editable" class="layout-item">
    <a class="add-collection" (click)="onNewCollection()">
      <i class="fa fa-plus-circle"></i>
      <label>Add collection</label>
    </a>
  </div>

  <div *ngFor="let collection of collections; let idx = index"
       class="post-it layout-item {{ pickerVisible[idx] ? 'selected' : ''}} {{ !initialized[idx].onServer ? 'uninitialized' : '' }}"
       [style.border-color]="collection.color"
       [style.transition]="!transitions ? 'all 0s' : ''">

    <ng-container *ngIf="initialized[idx].onServer; then initializedContent else nonInitializedContent"></ng-container>

    <ng-template #initializedContent>
      <div class="document-count clickable" title="Document count"
           [routerLink]="['..', 'c', collection.code, 'documents']">
        {{ collection.documentCount }}<i class="fa fa-file-text-o"></i>
      </div>

      <div class="content" [style.color]="collection.color">
        <i class="fa fa-2x {{ collection.icon }}" title="Go to documents"
           [routerLink]="['..', 'c', collection.code, 'documents']"></i><!--
      --><input [(ngModel)]="collection.name" (ngModelChange)="updateCollection(collection)"/>
      </div>

      <icon-picker [enabled]="pickerVisible[idx]"
                   [(color)]="collection.color"
                   [(icon)]="collection.icon"
                   (itemSelected)="updateCollection(idx)"></icon-picker>

      <div class="buttons">
        <a (click)="onDetailClick(collection.code)" title="Detail"><i class="fa fa-fx fa-eye"></i></a>
        <a (click)="onAttributesClick(collection.code)" title="Attributes"><i class="fa fa-fx fa-list-ul"></i></a>
        <a (click)="togglePicker(idx)" title="Icon picker" #iconSwitch><i class="fa fa-fx fa-eyedropper"></i></a>
        <a *ngIf="hasManageRole(collection)" (click)="onPermissionsClick(collection.code)" title="Permissions"><i
          class="fa fa-fx fa-users"></i></a>
        <a *ngIf="hasManageRole(collection)" (click)="onDeleteClick(idx)" title="Remove Collection"><i
          class="fa fa-fx fa-times remove-icon"></i></a>
      </div>
    </ng-template>

    <ng-template #nonInitializedContent>
      <div class="document-count" title="Document count">0<i class="fa fa-file-text-o"></i>
      </div>

      <ul class="tutorial">
        <li title="Picked new color">
          <i class="fa fa-fx fa-{{ initialized[idx].color ? 'check-' : '' }}square-o"></i>Color
        </li>
        <li title="Picked new icon">
          <i class="fa fa-fx fa-{{ initialized[idx].icon ? 'check-' : '' }}square-o"></i>Icon
        </li>
        <li title="Picked new name">
          <i class="fa fa-fx fa-{{ initialized[idx].name ? 'check-' : '' }}square-o
          {{ initialized[idx].name ? 'ok' : 'remove' }}-icon"></i>Name
        </li>
      </ul>

      <div class="content" [style.color]="collection.color">
        <i class="fa fa-2x {{ collection.icon }}" title="Pick icon" (click)="togglePicker(idx)" #iconSwitch></i><!--
      --><input class="newName" placeholder="Name" #nonInitializedNameInput
                [(ngModel)]="collection.name"
                (ngModelChange)="checkInitializedName(idx)"
                (blur)="checkInitialization(idx)"
                (keyup.enter)="checkInitialization(idx)"/>
      </div>

      <icon-picker class="onIcon"
                   [enabled]="pickerVisible[idx]"
                   [(color)]="collection.color"
                   [(icon)]="collection.icon"
                   (itemSelected)="checkInitializedColor(idx); checkInitializedIcon(idx)"></icon-picker>

      <div class="buttons">
        <a (click)="onDeleteClick(idx)" title="Remove Collection"><i class="fa fa-fx fa-times remove-icon"></i></a>
      </div>
    </ng-template>
  </div>

  <label *ngIf="!editable && !query" class="label-centered">No Search Query</label>
  <label *ngIf="!editable && query && !collections" class="label-centered">Nothing To Show</label>
</div>
