@import "../../../lumeer-variables";

:host {
  display: block;

  .layout-item {
    width: $post-it-width;
    transition: transform $animation-duration;
  }

  .post-it {
    transition: box-shadow $animation-duration;
  }

  .post-it:hover, .selected {
    box-shadow: $shadow-default;

    .document-count, .buttons {
      opacity: 1;
    }
  }

  .post-it:hover {
    z-index: $z-index-hovered;
  }

  .selected {
    z-index: $z-index-selected;
  }

  .add-post-it {
    transition: transform $animation-duration, color $animation-color-duration;
    background: transparent;
    border: none;

    &:hover {
      color: $brand-success;
    }

    .card-footer {
      border-top: none;
    }
  }

  .document-count {
    transition: opacity $animation-color-duration;
    opacity: 0;
  }

  .uninitialized {
    border-width: 1.75px;
    border-style: dashed;
  }

  .buttons {
    transition: opacity $animation-color-duration;
    opacity: 0;

    position: absolute;
    width: 25px;
    right: 0;
    top: 8px;

    a {
      transition: background-position $animation-color-duration;

      background: linear-gradient(to right, transparent 50%, #e8e8e8 50%);
      background-size: 200% 100%;
      background-position: left bottom;

      &:hover {
        background-position: right bottom;
      }
    }
  }

  .dropdown-menu {
    width: 230px;

    .dropdown-item {
      padding-right: 0;
    }
  }

  textarea {
    resize: none;
    border: none;
    outline: none;
    overflow: hidden;
    background: transparent;
  }

}
