<div class="text-nowrap" *ngIf="collections | collectionById:stem?.collectionId as collection">
  <i [style.color]="collection.color" aria-hidden="true" class="{{collection.icon}} fa-fw"></i>&nbsp;
  <b>{{collection.name}}</b>
</div>

<select-item-with-constraint class="d-block w-100 mt-2"
                             [attributesResources]="stem | queryStemAttributesResources:collections:linkTypes"
                             [restrictedIds]="[]"
                             [emptyValue]="emptyValueString"
                             placeholderIcon="far fa-fw fa-columns"
                             [selectedConstraint]="config?.attribute?.constraint"
                             [selectedId]="config | kanbanSelectedItem"
                             [removable]="true"
                             [fitParent]="true"
                             [buttonClasses]="buttonClasses"
                             (select)="onAttributeSelected($event)"
                             (selectConstraint)="onAttributeConstraintSelected($event)"
                             (remove)="onAttributeRemoved()">
</select-item-with-constraint>

<select-item class="d-block w-100 mt-2"
             *ngIf="config?.attribute"
             [items]="stem | queryStemResourcesSelectItems:collections:linkTypes"
             [emptyValue]="emptyResourceString"
             placeholderIcon="far fa-fw fa-line-columns"
             placeholderTitle="Cards"
             i18n-placeholderTitle="@@kanban.config.collection.cards"
             [selectedId]="config?.resource"
             [removable]="true"
             [fitParent]="true"
             [buttonClasses]="buttonClasses"
             (selected)="onResourceSelected($event)"
             (remove)="onResourceRemoved()">
</select-item>

<select-item class="d-block w-100 mt-2"
             *ngIf="config?.attribute"
             [items]="attributesResourcesOrder | kanbanDueDateSelectItems:(config?.resource || config?.attribute)"
             [emptyValue]="dueDateEmptyValueString"
             placeholderText="Due date"
             i18n-placeholderText="@@kanban.config.collection.dueDate"
             [selectedId]="config?.dueDate | kanbanCleanAttribute"
             [removable]="true"
             [fitParent]="true"
             [buttonClasses]="buttonClasses"
             (selected)="onDueDateSelected($event)"
             (remove)="onDueDateRemoved()">
</select-item>

<ng-container *ngIf="config?.dueDate && attribute && attributeResource">
  <ng-container
    *ngIf="attributeResource?.attributes | stateListConstraint:attribute.id:(dataResources$ | async):constraintData as stateConstraintData">
    <div class="mt-2 font-weight-bold" i18n="@@kanban.config.collection.doneAttribute">
      Done state
    </div>
    <data-input class="py-0 px-1 form-control multiline d-flex align-items-center cursor-pointer"
                [dataValue]="config.doneColumnTitles | dataValue:stateConstraintData.constraint:stateConstraintData.constraintData"
                [focus]="true"
                [editableInReadonly]="true"
                [configuration]="dataInputConfiguration"
                [readonly]="!(doneTitlesEditing$ | async)"
                [constraint]="stateConstraintData.constraint"
                (click)="$event.preventDefault(); doneTitlesEditing(true)"
                (save)="onDoneTitlesChange($event)"
                (cancel)="doneTitlesEditing(false)">
    </data-input>
  </ng-container>
</ng-container>

<select-item class="d-block w-100 mt-2"
             *ngIf="config?.attribute"
             [items]="config | kanbanAggregateSelectItems:collections:linkTypes"
             [emptyValue]="emptyValueString"
             placeholderIcon="far fa-sigma"
             placeholderTitle="Summary"
             i18n-placeholderTitle="@@kanban.config.collection.summary"
             [selectedId]="config?.aggregation | kanbanCleanAttribute"
             [removable]="true"
             [fitParent]="true"
             [buttonClasses]="buttonClasses"
             (selected)="onAggregationSelected($event)"
             (remove)="onAggregationRemoved()">
</select-item>
