<div class="d-flex flex-row align-items-center flex-wrap" *ngIf="config">

  <select-item class="mr-2"
               [disabled]="!canManageConfig"
               [placeholderIcon]="chartPerspective | perspectiveIcon"
               [items]="chartTypes | chartTypesToSelect"
               [selectedId]="config.type"
               (select)="onTypeSelect($event)">
  </select-item>

  <ng-container *ngFor="let axis of axes; let isLast = last">
    <select-item
      *ngIf="axis | showAxisSelect:config"
      [class.mr-2]="!isLast"
      [disabled]="!canManageConfig"
      [items]="[collection] | axisSelectItems:axis:config"
      [selectedId]="config.axes[axis]"
      [placeholderText]="axis.toUpperCase()"
      [emptyValue]="axis | axisSelectEmptyValue"
      [removable]="true"
      (select)="onAxisSelect(axis, $event)"
      (remove)="onAxisRemoved(axis)">
    </select-item>
  </ng-container>

</div>
