<div class="d-flex flex-row align-items-center flex-wrap">
  <chart-type-select
    class="mr-2"
    [chartType]="config.type"
    (select)="onTypeSelect($event)">
  </chart-type-select>

  <chart-attribute-select
    class="mr-2"
    [axes]="axes$ | async"
    [collection]="collection"
    [axisType]="xAxis"
    [axis]="config.xAxis"
    (select)="onXAxisSelect($event)">
  </chart-attribute-select>

  <chart-attribute-select
    [axes]="axes$ | async"
    [collection]="collection"
    [axisType]="y1Axis"
    [axis]="config.y1Axis"
    (select)="onY1AxisSelect($event)">
  </chart-attribute-select>

</div>
