h4 data-input {
  display: inline-block;

  ::ng-deep input {
    font-weight: bold;
  }
}

.toolbar {
  font-size: 1rem;
}

h4 span {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
