<div *ngIf="groupsAreEditable && (resourceType | isOrganizationType)" class="mt-4">
  <h4 class="card-title" i18n="@@teams.header.title.main">Start building a new team</h4>
  <new-team [teams]="teams"
            (teamCreated)="teamCreated.emit($event)">
  </new-team>
</div>
<team-table class="d-block mt-4"
            [editableTeams]="groupsAreEditable"
            [resourceType]="resourceType"
            [permissions]="resource.permissions"
            [teams]="teams"
            [users]="users$ | async"
            [color]="resource.color"
            [editable]="groupsAreEditable && (resourceType | isOrganizationType)"
            [changeRoles]="groupsAreEditable"
            [deletableTeamIds]="groupsAreEditable && (resourceType | isOrganizationType) ? teamIds : []"
            [organization]="organization"
            [project]="project"
            (teamUpdated)="onTeamUpdated($event)"
            (teamDeleted)="onTeamDeleted($event)"
            (teamRemoved)="onTeamRemoved($event)"
            (teamRolesChange)="onTeamRolesChange($event)">
</team-table>
