<div class="d-flex position-fixed pl-3">
  <div (click)="unsetCursor()"
       class="row-number-header">
  </div>

  <table-hierarchy-column [cursor]="cursor"
                          (click)="unsetCursor()"
                          class="table-border-bottom">
  </table-hierarchy-column>

  <ng-container *ngFor="let part of table.parts; trackBy: trackByPartIndexAndEntityId">
    <table-header-collection *ngIf="part.collectionId"
                             [cursor]="cursor | partCursor:part.index"
                             [table]="table"
                             [canManageConfig]="canManageConfig"
                             [part]="part">
    </table-header-collection>
    <table-header-link *ngIf="part.linkTypeId"
                       [cursor]="cursor | partCursor:part.index"
                       [table]="table"
                       [canManageConfig]="canManageConfig"
                       [part]="part">
    </table-header-link>
  </ng-container>

  <table-header-add-button *ngIf="canManageConfig"
                           [cursor]="cursor"
                           (click)="unsetCursor()"
                           class="align-self-end">
  </table-header-add-button>

  <div class="px-2"></div>
  <div class="scrollbar-placeholder"></div>
</div>
