<div class="d-flex">
  <div (click)="onRowNumberColumnClick()"
       class="row-number-header">
  </div>
  <ng-container *ngFor="let part of table.parts; trackBy: trackByPartIndexAndEntityId">
    <table-header-collection *ngIf="part.collectionId"
                             [cursor]="cursor | partCursor:part.index"
                             [table]="table"
                             [part]="part">
    </table-header-collection>
    <table-header-link *ngIf="part.linkTypeId"
                       [cursor]="cursor | partCursor:part.index"
                       [table]="table"
                       [part]="part">
    </table-header-link>
  </ng-container>
</div>
