:host {
  display: block;
  min-height: calc(var(--caption-height) + var(--column-group-height));
  overflow: hidden;
  transform: scale(1, 1); // keep header in embedded mode

  & > div {
    z-index: 10;
  }
}

.row-number-header {
  min-width: var(--row-number-column-width);
}

.scrollbar-placeholder {
  min-width: var(--scrollbar-width);
}
