<div #conditionInput
     trim
     class="cursor-text"
     [attr.contenteditable]="!readonly"
     [attr.placeholder]="'='"
     [textContent]="queryItem.condition"
     (input)="onInput(conditionInput.textContent)"
     (blur)="onBlur()"
     (focus)="onFocus()"
     (keypress)="onKeyPress($event)"
     (keydown)="onKeyDown($event)"
     spellcheck="false">
</div>

<condition-suggestions *ngIf="!readonly && focused"
                       [attribute]="queryItem.attribute"
                       [text]="queryItem.condition"
                       [moveSelection$]="moveSuggestionSelection$"
                       [useSelection$]="useSuggestionSelection$"
                       (useSuggestion)="onUseSuggestion($event)">
</condition-suggestions>
