<div class="container-fluid">
  <resource-chooser [initActiveIx]="activeOrgIx"
                    [resources]="organizations"
                    [resourceType]="organizationResourceType()"
                    (resourceSelect)="onSelectOrganization($event)"
                    (resourceNew)="onCreateOrganization()"
                    (resourceSettings)="onOrganizationSettings($event)"
                    (resourceNewDescription)="onNewOrganizationDescription($event)">
  </resource-chooser>

  <div class="pt-3" *ngIf="activeOrgIx >=0" [@animateOpacityFromUp]="'in'">
    <resource-chooser [initActiveIx]="activeProjIx"
                      [resources]="organizations[activeOrgIx].projects"
                      [resourceType]="projectResourceType()"
                      (resourceSelect)="onSelectProject($event)"
                      (resourceNew)="onCreateProject()"
                      (resourceSettings)="onProjectSettings($event)"
                      (resourceNewDescription)="onNewProjectDescription($event)">
    </resource-chooser>
  </div>
  <div class="pt-2 d-flex justify-content-end" *ngIf="activeProjIx >=0" [@animateOpacityFromUp]="'in'">
    <button type="button" class="btn btn-success" (click)="onSaveActiveItems()">Use project</button>
  </div>
</div>
