<preview-results-table [dataResources]="documents$ | async"
                       [selectedId]="documentId"
                       [attributesSettings]="attributesSettings"
                       [view]="view"
                       [resource]="collection"
                       [constraintData]="constraintData"
                       [tableHeight]="config?.tableHeight"
                       (tableHeightChange)="onTableHeightChange($event)"
                       (selectDataResource)="setActiveDocument($event)">
</preview-results-table>
