<preview-results-table [dataResources]="documents$ | async"
                       [selectedId]="document?.id || document?.correlationId"
                       [attributesSettings]="attributesSettings"
                       [view]="view"
                       [resource]="collection"
                       [constraintData]="constraintData"
                       [tableHeight]="config?.tableHeight"
                       (tableHeightChange)="onTableHeightChange($event)"
                       (selectDataResource)="setActiveDocument($event)">
  <div class="d-flex align-items-center h-100">
    <button class="btn btn-link px-0 small h-100" [disabled]="addingNewRow" (click)="onAddNewRow.emit()"><i
      class="fas fa-plus-circle"></i>&nbsp;<span *ngIf="!addingNewRow" i18n="@@perspective.form.view.documents.new"
    >Add new row</span><span *ngIf="addingNewRow" i18n="@@perspective.form.view.documents.new.adding">Adding new row</span></button>
  </div>
</preview-results-table>
