<div class="row">
  <div class="col-6 col-md-4 col-lg-3 py-2">
    <filter-box
      [value]="usersFilter"
      [placeholder]="'Filter users'"
      (textChange)="filterChanged.emit($event)">
    </filter-box>
  </div>
</div>
<organization-new-user
  [organization]="organization"
  (userCreated)="userCreated.emit($event)">
</organization-new-user>

<ng-container *ngFor="let user of users">

  <organization-user
    [organization]="organization"
    [user]="user"
    [expanded]="expanded[user.email]"
    (expandedChange)="(expanded[user.email] = !expanded[user.email])"
    (userUpdated)="userUpdated.emit($event)"
    (userDeleted)="userDeleted.emit($event)">
  </organization-user>

  <organization-user-groups
    *ngIf="expanded[user.email]"
    [user]="user"
    [groups]="groups"
    (groupAdded)="userUpdated.emit($event)">
  </organization-user-groups>

</ng-container>
