<modal-wrapper class="d-block"
               [dialogType]="dialogType.Success"
               [performingAction]="performingAction$ | async"
               [submitDisabled]="formInvalid$ | async"
               (onSubmit)="onSubmit()"
               (onClose)="hideDialog()">

  <span class="title" i18n="@@link.new.dialog.title">Create new link</span>

  <div class="body p-3">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <link-name-input [colors]="collections | colors"
                       [icons]="collections | icons"
                       [focused]="true"
                       [formGroup]="linkTypeFormGroup">
      </link-name-input>
    </form>
  </div>

  <span class="button-cancel" i18n="@@button.cancel">Cancel</span>
  <span class="button-submit"
        data-test="create-link-dialog-create-button" i18n="@@button.create">Create</span>

</modal-wrapper>
