<table>
  <thead>
    <tr>
      <th></th>
      <th *ngFor="let role of roles"
          i18n="@@permissions.role">
        {role.toLowerCase(), select, clone {clone} comment {comment} manage {manage} read {read} share {share} write {write}}
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entity of entities; let idx = index">
      <td>{{entity.name}}</td>
      <td *ngFor="let role of roles" class="role">
        <input id="ch{{entity.name+role}}" type="checkbox" title="{{role}}" [attr.checked]="entity.roles.indexOf(role) > -1 ? '': null" (change)="changePermission(idx, role, $event)"/>
      </td>
      <td>
        <button (click)="onRemove(entity.name, idx)"
                class="btn btn-danger"
                i18n="@@permissions.button.remove">Remove
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <select class="form-control" #selectedEntityName>
          <option *ngFor="let otherEntity of otherEntities">{{otherEntity}}</option>
        </select>
      </td>
      <td *ngFor="let role of roles" class="role">
        <input id="ch{{'new'+role+entityType}}" type="checkbox" title="{{role}}" [checked]="rolesCheckbox[role]" (change)="updateCheckedRoles(role, $event)"/>
      </td>
      <td>
        <button (click)="onAdd(selectedEntityName.value)"
                class="btn btn-success"
                i18n="@@permissions.button.add">Add
        </button>
      </td>
    </tr>
  </tbody>
</table>
