<ng-container *ngIf="!edited; else editableInput">
  <div *ngIf="initialized"
       [class.text-default-attribute]="default"
       class="flex-grow-1 title text-truncate"
       [delay]="popupDelay"
       [tooltip]="descriptionLongTooltip"
       placement="bottom"
       [adaptivePosition]="false"
       containerClass="bigger-tooltip"
       data-test="table-column-input">{{value}}</div>
  <div *ngIf="!initialized"
       class="flex-grow-1 title text-truncate"
       data-test="table-column-input">{{placeholder}}</div>
</ng-container>
<div class="small" *ngIf="attribute?.description && !edited" [tooltip]="descriptionTooltip"
     containerClass="bigger-tooltip"
     [adaptivePosition]="false" placement="bottom"><i class="far fa-question-circle ms-1"></i>
</div>

<ng-template #descriptionTooltip>
  <div [innerHTML]="attribute | attributeTitle | safeHtml"></div>
</ng-template>

<ng-template #descriptionLongTooltip>
  <div [innerHTML]="attribute | attributeTitle:(edited ? null : value):!edited | safeHtml"></div>
</ng-template>

<ng-template #editableInput>
  <input #textInput
         [readonly]="!edited"
         [value]="value"
         [class.text-default-attribute]="default"
         [delay]="popupDelay"
         [tooltip]="descriptionLongTooltip"
         [isDisabled]="!initialized"
         placement="bottom"
         [adaptivePosition]="false"
         containerClass="bigger-tooltip"
         (blur)="onBlur()"
         (input)="onInput($event)"
         (keydown)="onKeyDown($event)"
         (paste)="onPaste($event)"
         class="w-100"
         data-test="table-column-input">
</ng-template>
