:host {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
}

input,
.title {
  background: unset;
  border: unset;
  font-style: italic;
  outline: none;

  &[readonly] {
    cursor: default;
  }
}
