<div *ngIf="!edited; else editableInput"
       [class.text-default-attribute]="default"
       class="w-100 title"
       data-test="table-column-input"
       readonly>
  {{value}}
  <span *ngIf="attribute?.description">
    <sup [tooltip]="attribute | attributeTitle" [tooltipAppendToBody]="true" tooltipPlacement="top"><i class="far fa-question-circle ml-1"></i></sup>
  </span>
</div>

<ng-template #editableInput>
  <input #textInput
         [readonly]="!edited"
         [value]="value"
         [class.text-default-attribute]="default"
         (blur)="onBlur()"
         (input)="onInput($event)"
         (keydown)="onKeyDown($event)"
         (paste)="onPaste($event)"
         class="w-100"
         data-test="table-column-input">
</ng-template>
