@import '~src/styles/variables';
@import '~src/styles/bootstrap_var';

:host {
  display: grid;
  grid-template-columns: 1fr 2fr min-content;
  align-items: flex-start;
}

@include media-breakpoint-down(md) {
  :host {
    grid-template-columns: 1fr 1fr min-content;
  }
}
