:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.custom-control {
  height: 1.5rem;
  padding-left: 2rem !important;
}

.custom-control-input {
  top: 0;
  right: 0;
}

label {
  cursor: unset;
}
