<div #collectionNameInput
     class="card-footer text-center font-weight-bold bg-transparent name"
     contenteditable="true"
     placeholder="Set name" i18n-placeholder="@@collection.name.placeholder"
     [textContent]="collectionName"
     title="{{collectionName}}"
     (input)="collectionName = $event.target.textContent"
     (blur)="onNameBlurred()"
     (focus)="onNameSelected()"
     (keydown.enter)="collectionNameInput.blur()"
     (keydown.Escape)="collectionNameInput.blur()">
</div>
