<div #collectionNameInput
     class="card-footer text-center font-weight-bold bg-transparent name"
     [attr.contenteditable]="editable"
     placeholder="Set name" i18n-placeholder="@@collection.name.placeholder"
     [textContent]="collectionName"
     title="{{collectionName}}"
     (blur)="onNameBlurred(collectionNameInput.textContent)"
     (focus)="onNameSelected()"
     [attr.spellcheck]="false"
     (keydown.enter)="collectionNameInput.blur()"
     (keydown.Escape)="collectionNameInput.blur()">
</div>
