@import '../../../../../../../styles/variables';
@import '../../../../../../../styles/bootstrap_var';

%highlighted {
  position: relative;
  z-index: $z-index-selected;
  outline-offset: -2px;
}

.selected {
  @extend %highlighted;
  outline: $primary solid 2px;
}

.edited {
  @extend %highlighted;
  outline: $success solid 2px;
}

.invalid {
  @extend %highlighted;
  outline: $danger solid 2px;
}

.uninitialized-column {
  color: $secondary;

  &.selected {
    color: $primary;
  }
}

div[contenteditable='true']:not(.edited) {
  cursor: inherit;
  color: transparent;
  text-shadow: 0 0 0 $body-color;

  &.text-default-attribute {
    color: transparent !important;
    text-shadow: 0 0 0 $body-color;
  }
}
