<div tableEditableCell
     [cancelOnBlur]="!(attribute | entityCreated)"
     [contextMenu]="contextMenuComponent?.contextMenu"
     [disabledCharacters]="disabledCharacters"
     [readonly]="!allowedPermissions?.writeWithView"
     [selected]="selected$ | async"
     [value]="attribute | attributeLastName"
     (valueChange)="onValueChange($event)"
     (editStart)="onEditStart()"
     (editEnd)="onEditEnd($event)"
     (keydown)="onKeyDown($event)"
     (editKeyDown)="onEditKeyDown($event)"
     (mousedown)="onMouseDown()"
     class="table-border-right table-border-bottom h-100 font-italic"
     [class.uninitialized-column]="!column?.attributeId"
     [class.text-default-attribute]="attribute | isDefaultAttribute:(collection)"
     data-test="table-single-column-input">
</div>

<table-attribute-suggestions *ngIf="edited && !(attribute | entityCreated) && !(attribute | attributeParentName)"
                             [attributeName]="attribute | attributeName:lastName"
                             [collection]="collection"
                             [cursor]="cursor"
                             [table]="table">
</table-attribute-suggestions>

<table-column-context-menu *ngIf="attribute && cursor"
                           [attribute]="attribute"
                           [cursor]="cursor"
                           [canManageConfig]="canManageConfig"
                           [allowedPermissions]="allowedPermissions"
                           [defaultAttribute]="attribute | isDefaultAttribute:(collection)"
                           [leaf]="leaf"
                           (add)="onAdd($event)"
                           (configure)="onConfigure()"
                           (edit)="onEdit()"
                           (hide)="onHide()"
                           (remove)="onRemove()"
                           (setDefaultAttribute)="onSetDefaultAttribute()"
                           (split)="onSplit()">
</table-column-context-menu>
