<ng-container *ngIf="{
  defaultAttribute: attribute.id | isDefaultAttribute: collection,
  edited: edited$ | async,
  selected: selected$ | async,
  lastName: lastName$ | async
} as state">
  <div #columnCell
       tableCellScroll
       [selected]="state.selected"
       [class.edited]="state.edited"
       [class.selected]="state.selected"
       [class.uninitialized-column]="!column?.attributeIds[0]"
       [style.background]="collection?.color | columnBackground : (attribute | attributeNameChanged : state.lastName)"
       (contextmenu)="onContextMenu($event)"
       (dblclick)="onDoubleClick()"
       (click)="onClick()"
       [delay]="700"
       [tooltip]="descriptionTooltip"
       placement="bottom"
       [adaptivePosition]="false"
       containerClass="bigger-tooltip"
       class="d-flex table-border-right table-border-bottom h-100 w-100 px-1 cell">
    <table-column-input [default]="state.defaultAttribute"
                        [edited]="state.edited"
                        [initialized]="attribute | entityCreated"
                        [value]="state.lastName"
                        [attribute]="attribute"
                        (valueChange)="onValueChange($event)"
                        (save)="onSave($event)"
                        (cancel)="onCancel()"
                        (keydown)="onKeyDown($event)"
                        #columnInput
                        class="flex-grow-1">
    </table-column-input>

    <table-column-icons *ngIf="!state.edited"
                        [attribute]="attribute"
                        (click)="onContextMenu($event)"
                        class="flex-grow-0">
    </table-column-icons>
  </div>

  <table-attribute-suggestions *ngIf="state.edited && !(attribute | entityCreated) && !(attribute | attributeParentName)"
                               [attributeName]="attribute | attributeName: state.lastName"
                               [collection]="collection"
                               [linkType]="linkType"
                               [view]="view"
                               [query]="query"
                               [cursor]="cursor"
                               [origin]="columnCell"
                               [embedded]="embedded"
                               (selected)="columnInput.preventSaveAndBlur()">
  </table-attribute-suggestions>

  <table-column-context-menu *ngIf="attribute && cursor"
                             [attribute]="attribute"
                             [cursor]="cursor"
                             [view]="view"
                             [query]="query"
                             [canManageConfig]="canManageConfig"
                             [allowedPermissions]="allowedPermissions"
                             [defaultAttribute]="state.defaultAttribute"
                             [leaf]="leaf"
                             (add)="onAdd($event)"
                             (configure)="onConfigure()"
                             (functionEdit)="onFunctionEdit()"
                             (descriptionEdit)="onDescriptionEdit()"
                             (edit)="onEdit()"
                             (hide)="onHide()"
                             (remove)="onRemove()"
                             (setDefaultAttribute)="onSetDefaultAttribute()"
                             (split)="onSplit()"
                             (lockSettings)="onLockSettings()">
  </table-column-context-menu>
  <ng-template #descriptionTooltip>
    <div [innerHTML]="attribute | attributeTitle:(state.edited ? null : state.lastName):!state.edited | safeHtml"></div>
  </ng-template>
</ng-container>

