@import "../../../../../../../styles/variables";

%highlighted {
  position: relative;
  z-index: $z-index-selected;
  outline-offset: -2px;
}

.selected {
  @extend %highlighted;
  outline: $primary solid 2px;
}

.edited {
  @extend %highlighted;
  outline: $success solid 2px;
}

.invalid {
  @extend %highlighted;
  outline: $danger solid 2px;
}

.uninitialized-column {
  color: $secondary;

  &.selected {
    color: $primary;
  }
}
