<document-data [collection]="collection"
               [document]="document"
               [permissions]="permissions"
               [constraintData]="constraintData$ | async"
               [workspace]="workspace$ | async"
               [query]="query"
               (attributeTypeClick)="onAttributeTypeClick($event)"
               (attributeFunctionCLick)="onAttributeFunctionClick($event)"
               (removeDocument)="onRemoveDocument()"
               (switchToTable)="onSwitchToTable()">
</document-data>
