<div class="row mt-2 mb-2">
  <div class="col-8 d-flex align-bottom align-self-end text-nowrap ellipsis">
    <div class="align-text-bottom">
      <h4 i18n="@@document.detail.heading">Document detail</h4>
      <span class="small"><i class="fas {{collection?.icon}}" [style.color]="collection?.color"></i>&nbsp;{{collection?.name}}</span>&nbsp;
      <strong>{{collection.defaultAttributeId ? documentModel.data[collection.defaultAttributeId] : (collection.attributes.length > 0 ? documentModel.data[collection.attributes[0].id] : '')}}</strong>
    </div>
  </div>
  <div class="col small text-right d-flex align-bottom notice">
    <div class="justify-content-end w-100">
      Version {{documentModel.dataVersion}}<br/>
      Created on {{getNativeDate(documentModel.creationDate) | date : 'mediumDate'}} by {{createdBy$ | async}}<br/>
      Last modified on {{getNativeDate(documentModel.updateDate) | date : 'mediumDate'}} by {{updatedBy$ | async}}
    </div>
  </div>
</div>
<!--key-value *ngFor="let attr of collection?.attributes; let idx = index;"
           [key]="attr.name"
           [value]="userUpdates[attr.id] ? userUpdates[attr.id] : documentModel.data[attr.id]"
           [emitKeyPress]="true"
           (valueChange)="onValueChange(attr.id, $event)"
           (change)="submitAttribute(idx, $event)"
           (remove)="removeAttribute(idx)">
</key-value-->
<key-value *ngFor="let row of rows; let idx = index;"
           [key]="row.name"
           [value]="row.value"
           [emitKeyPress]="true"
           (change)="submitRowChange(idx, $event)"
           (remove)="onRemoveRow(idx)">
</key-value>
<div class="row border-top mb-4">
  <div class="col">
    <button class="btn btn-sm btn-success m-2" (click)="addAttrRow()">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <span i18n="@@document.detail.attribute.add">Add</span>
    </button>
  </div>
</div>
