<input #searchInput
       [value]="text"
       [placeholder]="queryItems.length === 0 ? placeholder : ''"
       (blur)="onBlur()"
       [disabled]="readonly"
       (focus)="onFocus()"
       (input)="onInput($event)"
       (keydown)="onKeyDown($event)"
       (keyup.enter)="onEnterKeyUp()"
       autoSizeInput
       class="mw-100 py-1 px-2"/>

<search-suggestions [queryItems]="queryItems"
                    class="cursor-default"
                    [text]="suggesting ? (text || '') : null"
                    (useSuggestion)="onUseSuggestion($event)">
</search-suggestions>
