<select-item class="d-block w-100"
             [emptyValue]="emptyValueString"
             [placeholderIcon]="icon"
             placeholderTitle="Select displayed value"
             i18n-placeholderTitle="@@perspective.pivot.config.value"
             [items]="availableAttributes"
             [selectedId]="pivotAttribute | pivotCleanAttribute"
             [removable]="!!pivotAttribute"
             [buttonClasses]="buttonClasses"
             (select)="onAttributeSelected($event)"
             (remove)="onAttributeRemoved()">
</select-item>

<ng-content></ng-content>
