<ng-container *ngIf="config">

  <h6 class="font-weight-bold" i18n="@@perspective.chart.config.main.header">
    Main settings
  </h6>

  <ng-container
    *ngIf="{attributesResources: query?.stems && query?.stems[0] | queryStemAttributesResources:collections:linkTypes} as data">

    <chart-main-config
      [attributesResources]="data.attributesResources"
      [config]="config"
      (configChange)="onConfigChange($event)">
    </chart-main-config>

    <ng-container *ngFor="let yAxisType of yAxisTypes">

      <chart-y-axis-config *ngIf="yAxisType | showAxisSelect:config"
                           [attributesResources]="data.attributesResources"
                           [yAxisType]="yAxisType"
                           [config]="config"
                           (configChange)="onConfigChange($event)">
      </chart-y-axis-config>

    </ng-container>

  </ng-container>


</ng-container>
