<div [formGroup]="form">
  <div class="form-group">
    <label for="dateTimeFormat"
           i18n="@@constraint.dateTime.format.label">
      Format
    </label>
    <select class="custom-select"
            data-test="datetime-constraint-format-select"
            formControlName="selectFormat"
            id="dateTimeFormat"
            (change)="onFormatChange($event)">
      <option *ngFor="let format of formats"
              [value]="format">
        {{format}}
      </option>
      <option value=""
              i18n="@@constraint.dateTime.format.custom">
        Custom
      </option>
    </select>
  </div>
  <div *ngIf="!selectFormatControl?.value"
       class="d-flex">
    <div class="form-group flex-fill">
      <input class="form-control"
             formControlName="format"
             type="text">
    </div>
    <div class="align-baseline">
      <i class="help fa-fw far fa-question-circle ml-1" [popover]="popTemplate" popoverTitle="Date format help"></i>
      <ng-template #popTemplate>
        <table class="table table-borderless table-responsive-sm">
          <tbody>
            <tr>
              <td>YYYY, YY</td><td>Years 2021, 21</td>
            </tr>
            <tr>
              <td>MM, M</td><td>Months 00-12, 0-12</td>
            </tr>
            <tr>
              <td>DD, D</td><td>Days 00-31, 0-31</td>
            </tr>
            <tr>
              <td>HH, H</td><td>Hours 00-24, 0-24</td>
            </tr>
            <tr>
              <td>hh, h</td><td>Hours 00-12, 0-12</td>
            </tr>
            <tr>
              <td>mm</td><td>Minutes 00-59</td>
            </tr>
            <tr>
              <td>ss</td><td>Seconds 00-59</td>
            </tr>
            <tr>
              <td>a, A</td><td>am/pm, AM/PM</td>
            </tr>
            <tr>
              <td>DDD, DDDD</td><td>Day of year 1-365</td>
            </tr>
            <tr>
              <td>ddd, dddd</td><td>Day of week Mon, Monday</td>
            </tr>
            <tr>
              <td>W, WW</td><td>Week of year 1-53, 01-53</td>
            </tr>
            <tr>
              <td>x, X</td><td>Timestamp 1410715640579, 1410715640.579</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </div>
  </div>
  <div class="mb-3 text-secondary">
    Example: {{ now | dateTimeDataValue : {format: formatControl.value || selectFormatControl.value} }}
  </div>

  <div class="d-flex">
    <div class="form-group">
      <label for="dateTimeMinValue"
             i18n="@@constraint.dateTime.minValue.label">
        Minimum value
      </label>
      <date-time-input [format]="formatControl.value"
                       [id]="'dateTimeMinValue'"
                       [max]="maxValueControl.value"
                       [value]="minValueControl.value"
                       (valueChange)="minValueControl.setValue($event)">
      </date-time-input>
    </div>

    <div class="form-group ml-3">
      <label for="dateTimeMaxValue"
             i18n="@@constraint.dateTime.maxValue.label">
        Maximum value
      </label>
      <date-time-input [format]="formatControl.value"
                       [id]="'dateTimeMaxValue'"
                       [min]="minValueControl.value"
                       [value]="maxValueControl.value"
                       (valueChange)="maxValueControl.setValue($event)">
      </date-time-input>
    </div>
  </div>

  <div *ngIf="form.errors && form.errors['minMaxInvalid']"
       class="text-danger"
       i18n="@@form.errors.minMaxInvalid">
    Minimum must be less or equal than maximum.
  </div>
</div>
