@import '../../../../styles/variables';

a.list-group-item {
  transition: color 0ms ease-out;

  &.active {
    font-weight: bold;
    border-color: $success;
    color: $primary;
    background-color: $success;

    small.text-muted span {
      color: white;
    }
  }
}
