<context-menu #contextMenu>
  <ng-template contextMenuItem
               [enabled]="column.manageable"
               (execute)="edit.emit()">
    <i class="fa fa-fw fa-edit mr-1"
       aria-hidden="true">
    </i>&nbsp;
    <span data-test="table-column-menu-edit-name"
          i18n="@@table.header.menu.edit">Edit name</span>
  </ng-template>
  <ng-template *ngIf="column.attribute?.id"
               contextMenuItem
               [enabled]="column.manageable"
               (execute)="attributeType.emit()">
    <i class="fa fa-fw fa-shapes mr-1"
       aria-hidden="true">
    </i>&nbsp;
    <span i18n="@@table.header.menu.changeType">Attribute type...
    </span>
  </ng-template>
  <ng-template *ngIf="column.attribute?.id"
               contextMenuItem
               [enabled]="column.manageable"
               (execute)="attributeFunction.emit()">
    <i class="fa fa-fw fa-function mr-1" aria-hidden="true"></i>&nbsp;
    <span i18n="@@table.header.menu.editFunction">Edit function...</span>
  </ng-template>
  <ng-container *ngIf="column.attribute?.id && !column.default && column.collectionId">
    <ng-template contextMenuItem
                 divider="true">
    </ng-template>
    <ng-template contextMenuItem
                 [enabled]="column?.manageable"
                 (execute)="setDefaultAttribute.emit()">
      <i class="fa fa-fw fa-check-square mr-1"
         aria-hidden="true">
      </i>&nbsp;
      <span i18n="@@table.header.menu.defaultAttribute">Set as displayed attribute</span>
    </ng-template>
  </ng-container>

  <ng-template contextMenuItem
               divider="true">
  </ng-template>
  <ng-template  *ngIf="column.attribute?.id"
               [enabled]="column.configurable"
               contextMenuItem
               (execute)="hide.emit()">
    <i class="fa fa-fw fa-eye-slash mr-1"
       aria-hidden="true">
    </i>&nbsp;
    <span i18n="@@table.header.menu.hide">Hide column</span>
  </ng-template>
  <ng-template (execute)="remove.emit()"
               [enabled]="column?.manageable"
               contextMenuItem>
    <i class="fas fa-fw fa-trash text-danger mr-1"
       aria-hidden="true">
    </i>&nbsp;
    <span i18n="@@table.header.menu.remove">Delete column</span>
  </ng-template>

</context-menu>
