<div [formGroup]="form">
  <div class="form-group">
    <select-item [items]="query | stemCollectionsItems:collections:stemIndex"
                 [removable]="false"
                 [selectedId]="stemIndexControl.value"
                 (select)="onStemIndexSelect($event)"
                 [placeholderText]="collectionPlaceholder">
    </select-item>
  </div>

  <ng-container *ngIf="config.stemsConfigs[stemIndexControl.value] as stemConfig">
    <calendar-event-dialog-collection-form [form]="form"
                                           [collectionConfig]="stemConfig"
                                           [collection]="collections | collectionById:stemConfig?.stem?.collectionId"
                                           [query]="query"
                                           [permissions]="allowedPermissions[stemConfig?.stem?.collectionId]">
    </calendar-event-dialog-collection-form>
  </ng-container>

</div>
