<div class="list-group list-group-horizontal py-3">
  <a *ngFor="let item of importItems" class="list-group-item list-group-item-action"
     [class.active]="typeControl.value === item.id"
     (click)="setType(item.id)">
    <div class="text-center py-2"><i class="{{item.icons[0]}}"></i></div>
    <div class="text-center py-2">{{item.value}}</div>
  </a>
</div>

<div *ngIf="typeControl.value === importType.Append" i18n="@@collection.import.type.append.description">
  Rows will be added to the end of the table.
</div>

<div *ngIf="typeControl.value === importType.Merge" i18n="@@collection.import.type.merge.description">
  Rows will be merged by selected attribute.
</div>

<div *ngIf="typeControl.value === importType.Overwrite" i18n="@@collection.import.type.overwrite.description">
  Current rows will be deleted and replaced with new ones.
</div>

<select-item *ngIf="typeControl.value === importType.Merge"
             class="d-block mt-2"
             [items]="collectionSelectItems"
             emptyValue="Select merge attribute"
             i18n-emptyValue="@@collection.import.type.merge.select"
             [selectedId]="mergeAttributeIdControl.value"
             (selected)="onSelectAttribute($event)">
</select-item>
