<form class="form-inline d-flex">
  <input ngModel [value]="email" name="emailField" #emailField="ngModel"
         id="emailField" class="form-control form-control-sm mr-sm-2 flex-fill" type="email"
         [placeholder]="emailPlaceHolder()"
         (input)="onInputChanged(emailField.control.value)" email>
  <button type="button"
          class="btn btn-sm btn-primary"
          [disabled]="emailField.invalid || !email || isDuplicate"
          (click)="onAddUser()">
    <i class="fas fa-plus mr-2"></i>
    <span class="font-weight-bold" i18n="@@users.add.button">Invite user</span>
  </button>
</form>
<small id="emailValid" class="invalid-message" *ngIf="emailField.invalid" i18n="@@users.user.email.invalid">
  Please enter a valid e-mail address (e.g. alan.turing@lumeer.io).
</small>
<small class="invalid-message" *ngIf="isDuplicate" i18n="@@users.user.email.duplicate">
  This user email is already invited. Try another!
</small>
