<modal-wrapper class="d-block"
               dialogType="primary"
               [performingAction]="performingAction$ | async"
               [performingSecondaryAction]="performingSecondaryAction$ | async"
               [customHeader]="true"
               [submitDisabled]="formDisabled$ | async"
               [showSecondarySubmit]="!((templates$ | async)?.length > 0) || ((projectsCount$ | async) > 0)"
               secondarySubmitClass="primary"
               [secondarySubmitDisabled]="false"
               (onSubmit)="onSubmit()"
               (onSecondarySubmit)="onSecondarySubmit()"
               (onClose)="onClose()">

  <div class="body w-100 h-100">
    <create-project-templates [templates]="templates$ | async"
                              [loadingState]="templatesState$ | async"
                              [initialTemplateCode]="templateCode"
                              [form]="form">
    </create-project-templates>
  </div>

  <span class="button-cancel" i18n="@@button.cancel">Cancel</span>
  <span class="button-secondary-submit" i18n="@@templates.button.empty">Start with empty project</span>
  <span class="button-submit" i18n="@@templates.button.use">Use this template</span>

</modal-wrapper>
