@import '../../../../../../../../styles/variables';

.link-cell {
  color: $light;
  width: var(--link-info-column-width);

  &.striped {
    color: $white;
  }

  &:hover {
    color: $primary;
  }
}
