@import '../../../../../../../../styles/variables';

.link-cell {
  color: $gray-600;
  min-width: var(--link-info-column-width);
  max-width: var(--link-info-column-width);

  &:hover {
    color: $primary;
  }
}
