<modal-wrapper class="d-block" [dialogType]="'primary'"
               [performingAction]="performingAction$ | async"
               [submitDisabled]="formInvalid$ | async"
               [customHeader]="true"
               (onSubmit)="onSubmit()"
               (onClose)="hideDialog()"
               data-test="attribute-type-dialog"
               *ngIf="{collection: collection$ | async, linkType: linkType$ | async, attribute: attribute$ | async} as data">

  <div class="custom-header p-3">
    <h5 class="modal-title break-all">
      <icons-presenter
        *ngIf="(data.collection || data.linkType) | resourceIconsColors as iconColors"
        [colors]="iconColors.colors"
        [icons]="iconColors.icons">
      </icons-presenter>
      <span [style.color]="data.collection?.color"
            [title]="(data.collection?.name || data.linkType?.name) + '.' + data.attribute?.name"
            class="ml-1">
        {{data.collection?.name || data.linkType?.name}}.{{data.attribute?.name}}
      </span>
    </h5>
  </div>


  <div class="body" *ngIf="data.attribute; else notFound">
    <attribute-type-form class="p-3 d-block"
                         [attribute]="data.attribute"
                         (attributeChange)="onAttributeChange($event)">
    </attribute-type-form>

  </div>

  <span class="button-cancel" i18n="@@button.cancel">Cancel</span>
  <span class="button-submit" data-test="attribute-type-save-button" i18n="@@button.save">Save</span>

</modal-wrapper>

<ng-template #notFound>
  <div class="body p-4">
    <h4 class="text-danger text-center my-2" i18n="@@resource.attribute.deleted">Such an attribute does not exist.</h4>
  </div>
</ng-template>
