@import "../../../shared/variables";

i {
  transition: all 0.25s ease;
}

.role-clickable.role-selected {
  color: $success;
  cursor: pointer;

  &:hover {
    color: darken($success, 15%);
  }
}

.role-clickable:not(role-selected) {
  color: $secondary;
  cursor: pointer;

  &:hover {
    color: darken($secondary, 15%);
  }
}

.role-selected:not(.role-clickable) {
  color: $success;
}

i:not(.role-selected):not(.role-clickable) {
  color: $secondary;
}
