<div class="row">
  <div class="col-6 col-md-5 col-lg-4 d-flex flex-row flex-nowrap align-items-center">

    <input-box
      class="flex-grow-2"
      [placeholder]="'User email'"
      [maxLines]="1"
      [editable]="editable"
      [canStayEmpty]="false"
      [initialValue]="user.email"
      (focus)="onEmailFocus()"
      (newValue)="onNewEmail($event)">
    </input-box>

    <i *ngIf="showEmailWarning" class="fa fa-exclamation-triangle align-self-center ml-1 text-warning"
       title="Wrong email" i18n-title="@@organization.user.email.incorrect"
       aria-hidden="true"></i>
  </div>

  <div class="col-4 col-md-5 col-lg-6 d-flex flex-row flex-nowrap align-items-center">
    <i class="fas fa-fw fa-book clickable mx-1"
       aria-hidden="true"
       title="Read"
       i18n-title="@@organizations.users.permission.read"
       (click)="toggleReadPermission()"></i>

    <i class="fas fa-fw fa-cog clickable mx-1"
       aria-hidden="true"
       title="Manage"
       i18n-title="@@organizations.users.permission.manage"
       (click)="toggleManagePermission()"></i>

    <i class="fas fa-fw fa-pencil clickable mx-1"
       aria-hidden="true"
       title="Write"
       i18n-title="@@organizations.users.permission.write"
       (click)="toggleWritePermission()"></i>

    <i class="fas fa-fw fa-share-square clickable mx-1"
       aria-hidden="true"
       title="Share"
       i18n-title="@@organizations.users.permission.share"
       (click)="toggleSharePermission()"></i>

    <i class="fas fa-fw fa-clone clickable mx-1"
       aria-hidden="true"
       title="Clone"
       i18n-title="@@organizations.users.permission.clone"
       (click)="toggleClonePermission()"></i>

    <i class="fas fa-fw fa-comment-alt clickable mx-1"
       aria-hidden="true"
       title="Comment"
       i18n-title="@@organizations.users.permission.comment"
       (click)="toggleCommentPermission()"></i>
  </div>

  <div class="col-2 col-md-2 col-lg-2 d-flex flex-nowrap flex-row-reverse align-items-center">
    <i class="fas fa-fw fa-trash text-danger mx-2 cursor-pointer"
       *ngIf="editable"
       aria-hidden="true"
       title="Remove User"
       i18n-title="@@organizations.users.remove"
       (click)="removeUser()"></i>
  </div>

</div>
