<td>

  <input-box
    class="flex-grow-1"
    [style.width.px]="1"
    [maxLines]="1"
    [editable]="false"
    [initialValue]="user.email">
  </input-box>

</td>

<td>
  <i *ngFor="let role of resourceType | resourceRoles"
     class="fas fa-fw {{role | roleIcon}} mx-1"
     [class.role-clickable]="changeRoles"
     [class.role-selected]="hasRole(role)"
     aria-hidden="true"
     [title]="role | roleTitle"
     (click)="toggleRole(role)">
  </i>
  <i class="fas fa-fw fa-trash text-danger mx-2 cursor-pointer"
     *ngIf="editable"
     aria-hidden="true"
     title="Remove User"
     i18n-title="@@users.actions.remove"
     (click)="onDelete()"></i>
</td>


