<div class="container-fluid container">
  <resource-chooser [initActiveIx]="activeOrgIx"
                    [resourceType]="'organization'"
                    [resources]="organizations"
                    [canCreateResource]="true"
                    (resourceSelect)="onSelectOrganization($event)"
                    (resourceNew)="onCreateOrganization()"
                    (resourceSettings)="onOrganizationSettings($event)"
                    (resourceNewDescription)="onNewOrganizationDescription($event)">
  </resource-chooser>

  <div class="pt-3" *ngIf="activeOrgIx >=0" [@animateOpacityFromUp]="'in'">
    <resource-chooser [initActiveIx]="activeProjIx"
                      [resourceType]="'project'"
                      [resources]="organizations[activeOrgIx].projects"
                      [canCreateResource]="hasManageRole(organizations[activeOrgIx])"
                      (resourceSelect)="onSelectProject($event)"
                      (resourceNew)="onCreateProject()"
                      (resourceSettings)="onProjectSettings($event)"
                      (resourceNewDescription)="onNewProjectDescription($event)">
    </resource-chooser>
  </div>
  <div class="py-2 px-5 d-flex justify-content-end fixed-bottom container" *ngIf="activeProjIx >=0"
       [@animateOpacityFromUp]="'in'">
    <button type="button" class="btn btn-lg btn-success" (click)="onSaveActiveItems()">
      <i class="fas fa fa-play px-2"></i>
      <span i18n="@@workspace.button.apply">Use project</span>
    </button>
  </div>
</div>
