<div class="container-fluid container">
  <resource-chooser [selectedCode]="selectedOrganizationCode"
                    [resourceType]="organizationItemType()"
                    [resources]="organizations$ | async"
                    [canCreateResource]="true"
                    (resourceSelect)="onSelectOrganization($event)"
                    (resourceNew)="onCreateOrganization($event)"
                    (resourceUpdate)="onUpdateOrganization($event)"
                    (resourceSettings)="onOrganizationSettings($event)">
  </resource-chooser>

  <div class="pt-3" *ngIf="selectedOrganizationCode" [@animateOpacityFromUp]="'in'">
    <resource-chooser [selectedCode]="selectedProjectCode"
                      [resourceType]="projectItemType()"
                      [resources]="projects$ | async"
                      [canCreateResource]="true"
                      (resourceSelect)="onSelectProject($event)"
                      (resourceNew)="onCreateProject($event)"
                      (resourceUpdate)="onUpdateProject($event)"
                      (resourceSettings)="onProjectSettings($event)">
    </resource-chooser>
  </div>
  <div class="my-4 py-2 px-5 d-flex justify-content-end fixed-bottom container"
       *ngIf="selectedOrganizationCode && selectedProjectCode"
       [@animateOpacityFromUp]="'in'">
    <button type="button" class="btn btn-lg btn-success py-2 px-4 font-weight-bold" (click)="onSaveActiveItems()">
      <i class="fas fa fa-play px-2"></i>
      <span i18n="@@workspace.button.apply">Use project</span>
    </button>
  </div>
</div>
