<div [formGroup]="form">

  <div class="d-flex flex-row flex-nowrap pt-1 align-items-center">
    <label class="switch" [for]="formControlName.OpenInApp">
      <input type="checkbox" [formControlName]="formControlName.OpenInApp" [id]="formControlName.OpenInApp"
             #openInApp>
      <span class="slider round" (click)="$event.stopPropagation()"></span>
    </label>
    <span class="ps-2 cursor-pointer user-select-none" i18n="@@constraint.link.openInApp.label"
          (click)="openInApp.click()">Open content inside dialog</span>
  </div>

</div>
