<table class="table table-sm table-hover mt-1" style="width: 475px">
  <thead>
  <tr>
    <th class="border-0 attribute-row" i18n="@@collection.config.link.types.list.attribute">
      Attribute
    </th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let attribute of linkType.attributes" class="appear">
    <td class="attrbute-row" title="{{ attribute }}">
      <span>{{ attribute }}</span>
    </td>
  </tr>

  <tr *ngIf="linkType.attributes.length < 2">
    <td class="attrbute-row" colspan="3">
      <input #newAttribute
             data-toggle="dropdown"
             [(ngModel)]="newAttributeName"
             placeholder="{{ !linkType.attributes.length ? 'No attributes' : null }} + "
             class="border-0">

      <div class="dropdown-menu">
              <span *ngFor="let possibleAttribute of attributesToAdd(newAttributeName)"
                    class="dropdown-item"
                    [style.color]="possibleAttribute.collection.color"
                    (click)="addAttribute(possibleAttribute)">
                <i class="mr-1 fa-fw {{ possibleAttribute.collection.icon }}" aria-hidden="true"></i>
                {{ possibleAttribute.value.name }}
              </span>
      </div>

    </td>
  </tr>
  </tbody>
</table>
