<div [style.background-color]="queryItem | queryItemBackground"
     [style.border-color]="queryItem | queryItemBorder:(readonly || !queryItemForm || queryItemForm.valid)"
     [class.pr-2]="readonly"
     class="query-item px-1 d-flex align-items-center h-100">
  <icons-presenter [colors]="queryItem.colors"
                   [icons]="queryItem.icons">
  </icons-presenter>

  <em *ngIf="queryItem | isDeletedItem"
      class="mx-1"
      [title]="queryItem | queryItemText">
    {{queryItem | queryItemText}}
  </em>

  <span *ngIf="!(queryItem | isDeletedItem)"
        [class.font-weight-bold]="queryItem | isCollectionItem"
        [title]="queryItem | queryItemText"
        [class.text-truncate]="!(queryItem | isAttributeItem)"
        class="mx-1">
    {{queryItem | queryItemText | truncate:30}}
  </span>

  <div class="mr-1 d-inline-flex flex-grow-1 text-truncate text-nowrap align-items-center"
       *ngIf="attribute">
    <span [class.font-italic]="conditionControl?.value | conditionShouldBeItalic:attribute.constraint"
          class="mx-1">{{conditionControl?.value | translateCondition:attribute}}</span>
    <ng-container *ngFor="let control of conditionValuesControl.controls; let index = index">
      <ng-container
        *ngIf="index < (conditionControl?.value | conditionNumValues) && control.get('type') as typeControl">
        <span *ngIf="index > 0">,&nbsp;</span>
        <data-input-preview *ngIf="!typeControl.value" [class.ml-1]="index === 0"
                            [dataValue]="control.get('value').value | dataValue:attribute.constraint:constraintData"
                            [constraint]="attribute.constraint">
        </data-input-preview>
        <span class="ml-1" [class.ml-1]="index === 0"
              *ngIf="typeControl.value">{{typeControl.value | translateConditionValue:attribute}}</span>
      </ng-container>
    </ng-container>
  </div>

  <i *ngIf="!readonly"
     (click)="onRemove()"
     class="mr-1 fas fa-times remove"
     title="Remove query item" i18n-title="@@query.item.button.remove">
  </i>
</div>

<filter-builder *ngIf="queryItem | isAttributeItem"
                [attribute]="attribute"
                [origin]="hostElement"
                [condition]="conditionControl?.value"
                [conditionValues]="conditionValuesControl?.value"
                (valueChange)="onConditionChange($event)"
                (finishEditing)="onFinishBuilderEditing()">
</filter-builder>
