@import '../../../../../styles/variables';

:host {
  max-width: 100%;
  user-select: none;
}

.query-item {
  max-width: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: $border-radius-base;
  white-space: nowrap;
  min-height: 32px;

  &:hover .remove {
    opacity: 1;
  }

  .remove {
    opacity: 0;
    cursor: pointer;
    color: black;
    transition: opacity $animation-duration;
  }

  .data-input::ng-deep {
    & > * > * {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .ql-editor {
      margin: 0 !important;
    }
  }
}
