@import '../../../../../styles/variables';

:host {
  max-width: 100%;
}

.query-item {
  max-width: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: $border-radius-base;
  white-space: nowrap;

  &:hover .remove {
    opacity: 1;
  }

  .remove {
    opacity: 0;
    cursor: pointer;
    color: black;
    transition: opacity $animation-duration;
  }
}
