@import '../../../../../styles/variables';

.data-input-border {
  max-width: 180px;
  border: 1px solid $gray-400;
  border-radius: 0.25rem;
}

.data-input-padding {
  padding: 0 0.25rem;
}

.data-input {
  min-height: 30px;
  max-height: 30px;
}

.data-input.editing {
  border: 1px solid $success;
  border-radius: 0.25rem;
}

.focused {
  outline: 1px solid $success;
}
