<div class="d-flex flex-column">

  <div class="text-muted px-2">Choose Condition</div>
  <div *ngFor="let item of attribute | queryConditionItems; let first = first"
       class="px-2 py-1 dropdown-item cursor-pointer"
       [class.mt-2]="first"
       [class.active]="item.value === selectedCondition"
       (click)="onConditionSelect(item)">{{item.title}}</div>
</div>

<div class="d-flex flex-column ml-4">
  <div class="text-muted px-2">Choose Value</div>
  <data-input class="data-input px-2 py-1 mt-2"
              [class.data-input-border]="attribute.constraint?.type !== constraintType.Boolean"
              [constraint]="attribute.constraint"
              [dataValue]="dataValue"
              [focus]="true"
              [readonly]="false">
  </data-input>
</div>
