@import '../../../../../styles/variables';

.data-input-border {
  max-width: 120px;
  border: 1px solid $gray-400;
  border-radius: 0.25rem;
}

.data-input-padding {
  padding: 0.25rem 0.5rem;
}

.data-input {
  min-height: 30px;
}

.data-input::ng-deep > boolean-data-input {
  justify-content: flex-start;
}

.data-input.editing {
  border: 1px solid $success;
  border-radius: 0.25rem;
}
