@import '../../../../styles/variables';

thead {
  font-size: small;
  color: $gray-500;
  font-style: italic;
  font-weight: bold;
}

tbody {
  font-size: small;
}

.sticky-header {
  position: sticky;
  top: -1px;
  background: white;
}

th,
td {
  max-width: 20rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2em;
  vertical-align: middle;
}

.clickable-row {
  cursor: pointer;

  &:hover:not(.active) {
    background-color: $gray-100;
  }
}

tr.active {
  background-color: $light;
}

.table-responsive {
  resize: vertical;
}

.h-10em {
  height: 10em;
}
