@import "../../shared/variables";

.view-button {
  i {
    color: $success;
  }
}

.view-button {
  .fa {
    display: none;
  }
  .fal {
    display: inherit;
  }
}

.view-button:hover {
  .fa {
    display: inherit;
  }
  .fal {
    display: none;
  }
}
