<form class="form-inline d-flex">
  <label for="perspectiveSelector"
         class="form-control-label font-weight-bold">
    <span i18n="@@view.perspective">Perspective</span>:
  </label>
  <select #perspectiveSelector
          id="perspectiveSelector"
          class="form-control mx-3 d-block"
          (change)="onSelectPerspective(perspectiveSelector.value)">
    <option *ngFor="let perspective of perspectives"
            [value]="perspective.id"
            [attr.selected]="perspective.id === view.perspective ? '' : null">
      {{perspective.name}}
    </option>
  </select>
  <label for="viewName"
         class="form-control-label font-weight-bold">
    <span i18n="@@view.name">Name</span>:
  </label>
  <input id="viewName"
         name="viewName"
         [(ngModel)]="view.name"
         class="form-control-lg border-0 font-italic flex-grow no-outline"
         placeholder="Untitled view" i18n-placeholder="@@view.untitled"/>
  <a title="Save" i18n-title="@@view.button.save"
     class="view-button mx-1"
     (click)="onSave()">
    <i class="fa fa-save fa-lg fa-fw" aria-hidden="true"></i>
    <i class="fal fa-save fa-lg fa-fw" aria-hidden="true"></i>
  </a>
  <a title="Copy" i18n-title="@@view.button.copy"
     class="view-button mx-1"
     *ngIf="view"
     (click)="onCopy()">
    <i class="fa fa-copy fa-lg fa-fw" aria-hidden="true"></i>
    <i class="fal fa-copy fa-lg fa-fw" aria-hidden="true"></i>
  </a>
  <button class="btn btn-outline-success ml-2"
          (click)="showShareDialog(modal)"
          i18n="@@view.button.share">Share</button>
</form>

<ng-template #modal>
  <share-dialog (closeDialog)="onCloseShareDialog()"></share-dialog>
</ng-template>
