<table-data-cell-menu *ngIf="selected"
                      [cursor]="cursor"
                      [document]="document"
                      [linkInstance]="linkInstance"
                      [canManageConfig]="canManageConfig"
                      [allowedPermissions]="allowedPermissions"
                      (edit)="onEdit()">
</table-data-cell-menu>

<data-input [constraint]="(attribute$ | async).constraint"
            [focus]="true"
            [readonly]="!(editing$ | async)"
            [value]="(hiddenInputValue$ | async) || (document ? (document | extractValue:column) : (linkInstance | extractValue:column))"
            (valueChange)="onValueChange($event)"
            (save)="onValueSave($event)"
            (cancel)="onCancelEditing()"
            class="d-block h-100"
            [class.cursor-default]="!(attribute$ | async | attributeEditable)"
            data-test="table-data-input">
</data-input>

<document-hints
  *ngIf="selected && !(cursor | isFirstPart) && (table | part:cursor)?.collectionId && (suggesting$ | async) && editedValue"
  [attributeId]="column.attributeIds[0]"
  [collectionId]="(table | part:cursor)?.collectionId"
  [columns]="table | documentHintColumns:cursor:canManageConfig"
  [createLinkCallback]="createLinkCallback.bind(this)"
  [excludedDocumentIds]="table | previousLinkedRow:cursor | linkedDocumentIds"
  [linkedDocumentId]="(table | previousLinkedRow:cursor)?.documentId"
  [linkTypeId]="table.config?.parts[cursor.partIndex - 1].linkTypeId"
  [value]="editedValue"
  (linkCreate)="onLinkCreate()">
</document-hints>
