@import '../../../../../../../../styles/variables';
@import '../../../../../../../../styles/bootstrap_var';

:host {
  display: block;
  position: relative;
  line-height: $table-min-row-height;
  min-height: $table-min-row-height;
  transition: box-shadow 0.15s ease-in-out;

  &:not(.edited) {
    display: grid;
    align-items: center;

    .table-data-input {
      min-width: 0;
    }

    &.selected {
      grid-template-rows: 0 auto;
    }

    & > * {
      overflow: hidden;
    }
  }
}

.lock-icon {
  position: absolute;
  display: inline-flex;
  right: 2px;
  bottom: 2px;
  padding: 0.25rem;
  background: white;
  border-radius: 1rem;
  z-index: 10;
}

::ng-deep p {
  margin-bottom: 0;
  line-height: 1.5rem;
}

.text-pre {
  max-height: 200px;
}

%highlighted {
  position: relative;
  z-index: $z-index-selected;
  outline-offset: -2px;
}

.data-input {
  cursor: default;
  min-height: 1px;

  &[contenteditable='true']:empty::before {
    content: none; // Firefox fix
  }

  &:not(.edited) {
    color: transparent;
    text-shadow: 0 0 0 $body-color;

    &.uninitialized-record {
      text-shadow: 0 0 0 $secondary;
    }
  }
}

data-input.cursor-default::ng-deep input {
  cursor: default !important;
}

data-input.text {
  overflow: visible !important;
}
