@import '../../../../../../../../styles/variables';
@import '../../../../../../../../styles/bootstrap_var';

:host {
  display: block;
  line-height: var(--table-row-min-height);
  min-height: var(--table-row-min-height);

  &:not(.edited) {
    display: grid;
    align-items: center;
  }
}

%highlighted {
  position: relative;
  z-index: $z-index-selected;
  outline-offset: -2px;
}

.data-input {
  cursor: default;
  min-height: 1px;

  &[contenteditable='true']:empty::before {
    content: none; // Firefox fix
  }

  &:not(.edited) {
    color: transparent;
    text-shadow: 0 0 0 $body-color;

    &.uninitialized-record {
      text-shadow: 0 0 0 $secondary;
    }
  }
}

data-input.cursor-default::ng-deep input {
  cursor: default !important;
}
