@import '../../../../../../../../styles/variables';
@import '../../../../../../../../styles/bootstrap_var';

:host {
  display: block;
  line-height: var(--table-row-min-height);
  min-height: var(--table-row-min-height);
}

%highlighted {
  position: relative;
  z-index: $z-index-selected;
  outline-offset: -2px;
}

.selected {
  @extend %highlighted;
  outline: $primary solid 2px;
  box-shadow: 0px 0px 4px $secondary;
}

.edited {
  @extend %highlighted;
  outline: $success solid 2px;
  box-shadow: 2px 2px 4px $secondary;
}

.affected {
  @extend %highlighted;
  outline: $warning solid 2px;
}

.invalid {
  @extend %highlighted;
  outline: $danger solid 2px;
}

.data-input {
  cursor: default;
  min-height: 1px;

  &[contenteditable='true']:empty::before {
    content: none; // Firefox fix
  }

  &:not(.edited) {
    color: transparent;
    text-shadow: 0 0 0 $body-color;

    &.uninitialized-record {
      text-shadow: 0 0 0 $secondary;
    }
  }
}

data-input.cursor-default::ng-deep input {
  cursor: default !important;
}
