<ng-template #logo>
  <img [style.height.px]="height"
       class="lumeer-logo"
       src="assets/img/lumeer.svg"
       [tooltip]="showTooltip ? tooltip: null"
       placement="bottom"
       data-test="lumeer-logo"
       data-tour="logo">
  <div *ngIf="text"
       [style.line-height.px]="height"
       class="lumeer-header text-uppercase ps-2">
    {{ text }}
  </div>
</ng-template>

<div class="position-relative">
  <a *ngIf="link"
     [routerLink]="link"
     (click)="onHintDismissed()"
     class="d-flex justify-content-center">
    <ng-container *ngTemplateOutlet="logo"></ng-container>
  </a>
  <hint *ngIf="hintVisible$ | async"
        title="Lumeer's Icon"
        (dismissHint)="onHintDismissed()">
    <span>Vezme Vás zpět domovskou obrazovku PROJEKTU, kde můžete vidět přehled všech svých Úkolů (Tasků), Pohledů (Views) a Tabulek. Je to nejrychlejší způsob, jak se dostat zpátky z pohledu, či tabulky. Tato Ikona je vždy viditelná</span>
  </hint>
  <span *ngIf="!link"
        class="d-flex justify-content-center">
    <ng-container *ngTemplateOutlet="logo"></ng-container>
  </span>
</div>
