@import '../../../../styles/variables';
@import '../../../../styles/bootstrap_var';

.lumeer-logo {
  position: relative;
  z-index: $zindex-popover;

  &:hover {
    transform: scale(1.2, 1.2);
  }

  transition: transform 0.15s ease-in-out;
}

.lumeer-header {
  color: $primary;
  font-size: $h4-font-size;
  font-weight: bold;
}
