<ng-template #logo>
  <img [style.height.px]="height"
       class="lumeer-logo"
       src="assets/img/lumeer.svg"
       [tooltip]="showTooltip ? tooltip: null"
       placement="bottom"
       data-test="lumeer-logo"
       data-tour="logo">
  <div *ngIf="text"
       [style.line-height.px]="height"
       class="lumeer-header text-uppercase ps-2">
    {{ text }}
  </div>
</ng-template>

<div class="position-relative">
  <a *ngIf="link"
     [routerLink]="link"
     (click)="onHintDismissed()"
     class="d-flex justify-content-center">
    <ng-container *ngTemplateOutlet="logo"></ng-container>
  </a>
  <hint *ngIf="displayLogoHint$ | async"
        (dismissHint)="onHintDismissed()"
        title="Lumeer's Icon"
        i18n-title="@hint.lumeerIcon.title">
    <span i18n="@@hint.lumeerIcon.content">As you probably know from our application tour, Lumeer icon will take you to the home screen of a currently selected project. There you can find an overview of all your Tasks, Views, and Tables. It's the fastest way to get back from any view or table. This icon always stays visible for your convenience and ease of navigation.</span>
  </hint>
  <span *ngIf="!link"
        class="d-flex justify-content-center">
    <ng-container *ngTemplateOutlet="logo"></ng-container>
  </span>
</div>
