<ng-template #logo>
  <div [style.height.px]="height + 2"
       [style.width.px]="height + 2"
       [style.backgroundSize.px]="height"
       title="Back to home"
       i18n-title="@@topPanel.home.title"
       class="lumeer-logo"
       data-test="lumeer-logo"
       data-tour="logo">
  </div>
  <div *ngIf="text"
       [style.line-height.px]="height"
       class="lumeer-header text-uppercase pl-2">
    {{ text }}
  </div>
</ng-template>

<a *ngIf="link"
   [routerLink]="link"
   class="d-flex justify-content-center">
  <ng-container *ngTemplateOutlet="logo"></ng-container>
</a>
<span *ngIf="!link"
      class="d-flex justify-content-center">
  <ng-container *ngTemplateOutlet="logo"></ng-container>
</span>
