<context-menu [disabled]="!(indentable$ | async) && !(outdentable$ | async)">
  <!-- TODO add collapse/expand menu items -->
  <ng-template *ngIf="indentable$ | async"
               (execute)="onIndent()"
               contextMenuItem>
    <i class="fa fa-fw fa-indent mr-1" aria-hidden="true"></i>
    <span i18n="@@table.body.row.indent">Indent</span>
  </ng-template>
  <ng-template *ngIf="outdentable$ | async"
               (execute)="onOutdent()"
               contextMenuItem>
    <i class="fa fa-fw fa-outdent mr-1" aria-hidden="true"></i>
    <span i18n="@@table.body.row.outdent">Outdent</span>
  </ng-template>
</context-menu>
