<div (keydown)="onKeyDown($event)"
     (mousedown)="onMouseDown()"
     class="table-border-right table-border-bottom h-100">
  <table-editable-cell [contextMenu]="contextMenuElement()"
                       [readonly]="!selected"
                       [selected]="selected"
                       [style.background]="background()"
                       [value]="value()"
                       (valueChange)="onValueChange($event)"
                       (editStart)="onEditStart()"
                       (editEnd)="onEditEnd($event)"
                       class="d-block h-100 font-italic {{dragClass()}}">
  </table-editable-cell>
  <table-attribute-suggestions *ngIf="canShowSuggestions()"
                               [attributeId]="attributeId()"
                               [collection]="collection"
                               [cursor]="cursor"
                               [table]="table">
  </table-attribute-suggestions>
</div>

<table-column-context-menu #contextMenu
                           [attribute]="attribute"
                           [cursor]="cursor"
                           [leaf]="leaf"
                           (add)="onAdd($event)"
                           (edit)="onEdit()"
                           (hide)="onHide()"
                           (remove)="onRemove()"
                           (split)="onSplit()">
</table-column-context-menu>
