@import "../../../../../../shared/variables";

.selected {
  outline: $primary solid 2px;
  position: relative;
  z-index: $z-index-selected;
}

.edited {
  outline: $success solid 2px;
}

.invalid {
  outline: $danger solid 2px;
}
