<ng-container
  *ngIf="{permissions : permissions$ | async, taskAttributes: collections | collectionTaskAttributes} as data ">
  <search-tasks-toolbar [size]="currentSize"
                        [documentsCount]="documents?.length"
                        [collections]="collections | filterWritableTasksCollections:data.permissions"
                        (sizeChange)="onSizeChange($event)">
  </search-tasks-toolbar>

  <div class="mt-4 pt-2 pb-5" *ngIf="documents?.length; else noDocuments">

    <div class="card">

      <search-task-wrapper
        class="detail px-1 py-2 position-relative"
        *ngFor="let document of (truncateContent ? (documents | slice:0:maxDocuments) :documents); trackBy:trackByDocument; let index = index; let last = last"
        [class.border-bottom]="truncateContent || !last"
        [class.light]="truncateContent && last"
        [size]="currentSize"
        [document]="document"
        [permissions]="data.permissions && data.permissions[document.collectionId]"
        [isOpened]="document | isDocumentOpened:config"
        [collection]="collectionsMap[document.collectionId]"
        [attributes]="data.taskAttributes[document.collectionId]"
        [constraintData]="constraintData"
        (toggleFavorite)="onFavoriteToggle(document)"
        (click)="toggleDocument(document)"
        (detail)="onDetailClick(document)">

        <div class="d-flex flex-row flex-wrap align-items-center overflow-hidden"
             *ngIf="currentSize === sizeType.L || (document | isDocumentOpened:config)">
          <ng-container
            *ngFor="let entry of document | dataValueEntries:collectionsMap[document.collectionId]:data.taskAttributes[document.collectionId]:constraintData:config; let first = first;trackBy: trackByEntry">
            <span class="mt-1" *ngIf="!first">,&nbsp;</span>
            <span *ngIf="entry.label"
                  class="text-attribute text-nowrap mt-1 text-truncate"
                  [class.text-default-attribute]="entry.isDefault">{{entry.label}}:&nbsp;</span>
            <data-input-preview class="data-input-preview d-inline-block mt-1 text-truncate"
                                [dataValue]="entry.dataValue"
                                [cursor]="document | dataCursor:entry.attributeId"
                                [configuration]="configuration"
                                [constraint]="entry.constraint">
            </data-input-preview>
          </ng-container>
        </div>

        <div *ngIf="truncateContent && index >= maxDocuments - 2" class="document-background"
             [class.last]="index === maxDocuments - 1"
             [class.second-last]="index === maxDocuments - 2"></div>

      </search-task-wrapper>


      <div class="d-flex flex-nowrap align-items-center p-1" *ngIf="truncateContent">
        <i *ngIf="currentSize !== sizeType.L" class="fa fa-fw fa-none" aria-hidden="true"></i>
        <i class="fa fa-fw fa-none align-self-center mr-2"
           [class.ml-2]="currentSize === sizeType.L"
           [ngClass]="currentSize === sizeType.M || currentSize === sizeType.L ? 'fa-2x' : 'bigger-icon'"
           aria-hidden="true">
        </i>
        <see-more-button (clicked)="onShowAll()"></see-more-button>
      </div>

    </div>

  </div>
</ng-container>

<ng-template #noDocuments>
  <empty-tasks
    (tablePerspective)="switchPerspectiveToTable()"
    [collections]="allTasksCollections$ | async"
    [compact]="compactEmptyPages"
    [query]="query">
  </empty-tasks>
</ng-template>
