<ng-container *ngIf="{permissions : permissions$ | async} as data ">
  <search-tasks-toolbar [size]="currentSize"
                        [documentsCount]="documents?.length"
                        [collections]="collections | filterWritableTasksCollections:data.permissions"
                        (sizeChange)="onSizeChange($event)">
  </search-tasks-toolbar>

  <div class="pt-2 pb-5" *ngIf="documents?.length; else noDocuments">

    <div class="detail card p-0 mb-2"
         (click)="toggleDocument(document)"
         (dblclick)="onDetailClick(document)"
         *ngFor="let document of (maxDocuments > 0 ? (documents | slice:0:maxDocuments) :documents); trackBy:trackByDocument">

      <search-task-header
        class="p-2"
        [size]="currentSize"
        [document]="document"
        [permissions]="data.permissions && data.permissions[document.collectionId]"
        [isOpened]="document | isDocumentOpened:config"
        [collection]="collections | collectionById:document.collectionId"
        [constraintData]="constraintData"
        (toggleFavorite)="onFavoriteToggle(document)"
        (detail)="onDetailClick(document)">

        <div class="d-flex flex-row flex-wrap align-items-center">
          <ng-container
            *ngFor="let entry of document | dataValueEntries:collections:constraintData:config; let first = first">
            <span class="mt-1 align-self-end" *ngIf="!first">,&nbsp;</span>
            <span *ngIf="entry.label"
                  class="text-attribute text-nowrap mt-1 align-self-end"
                  [class.text-default-attribute]="entry.isDefault">{{entry.label}}:&nbsp;</span>
            <data-input-preview class="data-input-preview d-inline-block mt-1 text-truncate"
                                [class.small-size]="currentSize === sizeType.S || currentSize === sizeType.M"
                                [dataValue]="entry.dataValue"
                                [cursor]="document | dataCursor:entry.attributeId"
                                [configuration]="configuration"
                                [constraint]="entry.constraint">
            </data-input-preview>
          </ng-container>
        </div>

      </search-task-header>
    </div>

    <div class="clickable d-flex justify-content-center" [style.font-size.%]="150"
         *ngIf="maxDocuments > 0 && maxDocuments < documents?.length"
         (click)="onShowAll()">
      <i class="fas fa-angle-double-right mr-2 align-sub"></i>
      <span i18n="@@search.result.more">See more</span>
      <i class="fas fa-angle-double-right ml-2 align-sub"></i>
    </div>
  </div>
</ng-container>

<ng-template #noDocuments>
  <empty-tasks
    (tablePerspective)="switchPerspectiveToTable()"
    [collections]="collections"
    [query]="query">
  </empty-tasks>
</ng-template>
