<div *ngIf="collection$ | async as collection"
     class="d-flex flex-column align-items-start h-100">
  <table-caption [collections]="[collection] | filterNotNull"
                 [cursor]="cursor"
                 [attr.title]="collection?.name || ''"
                 [style.width.px]="part | partWidth:canManageConfig"
                 (click)="onCaptionClick()"
                 class="text-truncate">
  </table-caption>
  <table-column-group [table]="table"
                      [cursor]="cursor"
                      [columns]="part.columns"
                      [view]="view"
                      [query]="query"
                      [canManageConfig]="canManageConfig"
                      [allowedPermissions]="permissions$ | async"
                      [collection]="collection"
                      [class.table-border-left]="cursor | isFirstPart"
                      [embedded]="embedded"
                      class="d-block table-border-top">
  </table-column-group>
</div>
