<div class="d-flex align-items-center h-100 p-1" #wrapperElement
     [title]="selectedOptions | selectOptionsJoined"
     [ngClass]="readonly || !multi ? 'overflow-hidden w-100' : 'invisible-scroll-y'">

  <ng-container *ngIf="multi || readonly">

    <ng-container *ngFor="let option of selectedOptions; trackBy: trackByOption; let first = first">
        <span class="d-inline-block px-2 py-1 tag text-nowrap"
              [style.background]="option.background"
              [style.color]="option.background | contrastColor"
              [class.invalid-value]="!skipValidation && !(option | selectOptionIsValid:value.config:selectedOptions.length)"
              [spellcheck]="false"
              [innerHTML]="option.displayValue || option.value"
              [class.ml-2]="!first">
        </span>
    </ng-container>

  </ng-container>

  <ng-container *ngIf="!readonly">

    <input #textInput
           [(ngModel)]="text"
           (focus)="onFocused()"
           (blur)="onBlur()"
           (ngModelChange)="onInput()"
           [class.ml-1]="selectedOptions.length > 0"
           [spellcheck]="false"
           [ngClass]="inputClass"
           class="border-0 w-100 h-100 bg-transparent select-input"
           type="text">

    <options-dropdown [options]="dropdownOptions | filterDropdownOptions:text"
                      [showBackdrop]="false"
                      [closeOnClickOutside]="false"
                      [origin]="textInput"
                      [multiSelect]="multi"
                      [highlightedText]="text"
                      [selectedValues]="multi ? (selectedOptions | selectOptionsValues) : []"
                      [firstItemActive]="!multi && text?.length > 0"
                      (selectOption)="onSelect($event)">
    </options-dropdown>

  </ng-container>

</div>
