<form [formGroup]="form" class="row m-0 h-100" (ngSubmit)="onSubmit()" *ngIf="{isFirst: resourceType === resourceTypeProject && (first$ | async)} as data">

  <create-resource-dialog-templates *ngIf="parentId"
                                    [class.col-lg-6]="!data.isFirst"
                                    [class.p-0]="!data.isFirst"
                                    [class.pr-lg-2]="!data.isFirst"
                                    [class.pr-0]="!data.isFirst"
                                    [class.pb-lg-0]="!data.isFirst"
                                    [class.pb-2]="!data.isFirst"
                                    class="col-12"
                                    [selectedTemplate]="selectedTemplate$ | async"
                                    (templateSelect)="onTemplateSelected($event)">
  </create-resource-dialog-templates>

  <div *ngIf="!data.isFirst" class="col-12 p-0" [ngClass]="parentId ? 'col-lg-6 pl-lg-2 pl-0 pt-lg-0 pt-2 mt-2' : ''">

    <create-resource-dialog-parent
      *ngIf="parentId"
      [parentId]="parentId"
      [resourceType]="resourceType">
    </create-resource-dialog-parent>

    <div class="form-group row">

      <label class="col-form-label col-2 mb-2">
          <span i18n="@@resource.new.dialog.icon.label">
            Icon:
          </span>
      </label>

      <div class="col-8 d-block mb-3 text-center cursor-pointer" (click)="togglePicker()">
        <div class="text-muted small my-2">{{iconChooserLabel}}</div>
        <i class="fa-fw {{ icon }} fa-3x"
           [style.color]="color" #pickerOrigin></i>
        <icon-color-picker [origin]="pickerOrigin"
                           [color]="color"
                           [icon]="icon"
                           (preview)="onIconColorChange($event)"
                           (selected)="onIconColorChange($event)"
                           (cancel)="onIconColorChange($event)">
        </icon-color-picker>
      </div>

      <div class="col-2"></div>
    </div>

    <resource-code-input
      [form]="form"
      (keydown.enter)="onEnter($event)">
    </resource-code-input>

    <resource-name-input
      [form]="form"
      (keydown.enter)="onEnter($event)">
    </resource-name-input>

    <div class="small text-muted"><sup>*</sup>&nbsp;<span i18n="@@resource.new.dialog.required">Required</span></div>

  </div>

</form>

