@import "../../../../shared/variables";

.template-part {
  &:not(.selected) {
    border: 1px solid transparent;
  }

  &:hover {
    box-shadow: $shadow-default;
    cursor: auto;

    &:not(.selected) {
      cursor: move;
    }
  }
}

.side-panel {
  left: 20px;
}
