<div [formGroup]="formGroup">

  <div formArrayName="tags" class="d-flex flex-wrap pb-1 pr-1">

    <div class="d-inline-flex tag py-1 px-2 ml-1 mt-1 align-items-center"
         *ngFor="let tag of tags$ | async; let index = index">
      <span class="mr-2">{{tag}}</span>
      <i (click)="removeTag(index)"
         class="fas fa-times remove cursor-pointer"
         title="Remove tag" i18n-title="projects.tab.template.metadata.tags.remove">
      </i>
    </div>

    <input class="flex-grow-1 ml-1 mt-1 px-2 form-control h-auto py-0" type="text"
           placeholder="Type tag name and press Enter"
           [value]="text"
           (input)="onInput($event)"
           (keydown)="onKeyDown($event)"
           (focus)="focus.emit()"
           (blur)="blur.emit()"
           autoSizeInput
           i18n-placeholder="@@projects.tab.template.metadata.tags.placeholder"/>
  </div>

</div>
