input {
  border: 1px solid transparent !important;
  outline: none !important;
  background-color: transparent !important;
}

.tag {
  background: #d9ead3;
  border-radius: 0.5rem;
  line-height: 1rem;
}
