@import 'src/styles/variables';

input {
  border: 1px solid transparent !important;
  outline: none !important;
  background-color: transparent !important;
}

.tag {
  background: $success-light;
  border-radius: 0.5rem;
  line-height: 1rem;
}
