<modal-wrapper dialogType="primary"
               [performingAction]="performingAction$ | async"
               (onSubmit)="onSubmit()"
               (onClose)="hideDialog()">

  <span class="title" i18n="@@modal.notification.settings.title">Email notification settings</span>

  <div class="body p-3">
    <notification-settings [user]="user$ | async"
                           (settingsChange)="onSettingsChange($event)"
                           (languageChange)="onLanguageChange($event)">
    </notification-settings>
  </div>

  <span class="button-cancel" i18n="@@button.cancel">Cancel</span>
  <span class="button-submit" i18n="@@button.save">Save</span>

</modal-wrapper>
