@import '../../../styles/variables';

documents-rows {

  .doc-rows-table {
    .doc-rows-table-header {
      white-space: nowrap;
    }
    .select-hover:hover {
      cursor: pointer;
      background-color: #dfdfdf !important;
    }
  }
}
