@import '../../../../styles/variables';

:host {
  width: 100%;
}

.footer-bg {
  background-color: $gray-100;
}

.icon {
  font-size: 1.5rem;
}

.modal-header {
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  border-bottom: 0 transparent;
}

.modal-body:not(.allow-overflow) {
  overflow-y: auto;
  overflow-x: hidden;
}

.btn-success {
  &:focus,
  &.focus {
    &:not(:hover) {
      background-color: $success;
      border-color: $success;
    }
  }
}

.border-transparent {
  border: 1px solid transparent;
}

.modal-footer {
  position: relative;
}

.progress-wrapper {
  position: absolute;
  margin: 0 !important;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  background: $gray-400;

  .progress {
    background: $success;
    height: 3px;
    transition: width 200ms ease-in-out;
    border-radius: 0 0.25rem 0.25rem 0;
  }
}
