@import '../../../../styles/variables';

:host {
  width: 100%;
}

.footer-bg {
  background-color: $gray-100;
}

.icon {
  font-size: 1.5rem;
}

.modal-header {
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  border-bottom: 0px transparent;
}

.modal-body:not(.allow-overflow) {
  overflow-y: auto;
}

.btn-success {
  &:focus,
  &.focus {
    &:not(:hover) {
      background-color: $success;
      border-color: $success;
    }
  }
}

.border-transparent {
  border: 1px solid transparent;
}
