@import '../../../../styles/variables';

:host {
  width: 100%;
}

.footer-bg {
  background-color: $gray-100;
}

.icon {
  font-size: 1.5rem;
}

.modal-header {
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.dialog-body {
  overflow: auto;
}
