@import '../../../../styles/variables';
documents-links-rows {
  .link-table {
    display: flex;
  }
  documents-links-attributes {
    max-width: 400px;
  }
  documents-rows {
    flex-grow: 1;
  }
}
