@import '../../../../styles/variables';
documents-links-rows {

  .doc-links-rows-table{

    .doc-links-rows-table-link-header{
      white-space: nowrap;
      font-style: italic;
    }

    .doc-links-rows-table-link{
      font-style: italic;
    }
  }

}
