@import "../../../../../../styles/variables";

:host {
  padding-left: 6px;

  display: flex;
  flex-wrap: wrap;

  & > * {
    border: 2px solid transparent;

    border-radius: $border-radius-base;
    margin-right: 5px;
    margin-top: 5px;

    width: 25px;
    height: 25px;
  }
}
