<dialog-wrapper [type]="'warning'"
                (submit)="onSubmit()">
  <span class="title" i18n="@@view.overwrite.dialog.title">View already exists</span>

  <div class="body">
    <span i18n="@@view.overwrite.dialog.body">Do you really want to overwrite view</span>
    <a *ngIf="view" target="_blank" [routerLink]="viewPath">{{view.name}}</a>?
  </div>

  <span class="button-cancel" i18n="@@view.overwrite.dialog.button.close">No, do not save</span>
  <span class="button-submit" i18n="@@view.overwrite.dialog.button.save">Yes, overwrite</span>
</dialog-wrapper>
