<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" i18n="@@chart.axis.type.name">
      {axisType, select, x {X} y1 {Y1} y2 {Y2}}
    </span>
  </div>

  <button aria-expanded="false"
          aria-haspopup="true"
          class="btn btn-outline-gray-600 sharp-top-left sharp-bottom-left dropdown-toggle"
          data-toggle="dropdown"
          id="chartTypeDropdown"
          [disabled]="!canManageConfig"
          [ngClass]="canManageConfig ? 'cursor-pointer' : 'cursor-not-allowed'"
          type="button">

    <span *ngIf="!axis" i18n="@@chart.axis.x.select">Select {axisType, select, x {X} y1 {Y1} y2 {Y2}} axis</span>

    <ng-container *ngIf="axis">

      <icons-presenter [colors]="[collection] | colors"
                       [icons]="[collection] | icons">
      </icons-presenter>
      <span class="ml-sm-1 text-nowrap" [style.color]="collection.color">
        {{collection | collectionAttributeName:axis.attributeId}}
      </span>
    </ng-container>
  </button>

  <div aria-labelledby="chartTypeDropdown"
       class="dropdown-menu">
    <a *ngFor="let aaxis of axes"
       [class.active]="axis === aaxis"
       (click)="onSelect(aaxis)"
       class="dropdown-item">
      <icons-presenter [colors]="[collection] | colors"
                       [icons]="[collection] | icons">
      </icons-presenter>
      <span class="ml-sm-1 text-nowrap" [style.color]="collection.color">
        {{collection | collectionAttributeName:aaxis.attributeId}}
      </span>
    </a>
  </div>

</div>
