<workflow-content class="d-block h-100"
                  [collections]="collections$ | async"
                  [data]="data$ | async"
                  [linkTypes]="linkTypes$ | async"
                  [config]="config$ | async"
                  [canManageConfig]="canManageConfig$ | async"
                  [query]="query$ | async"
                  [permissions]="permissions$ | async"
                  [viewSettings]="viewSettings$ |async"
                  [constraintData]="constraintData$ | async"
                  [selectedDocument]="selectedDocument$ | async"
                  [selectedCollection]="selectedCollection$ | async"
                  [sidebarWidth]="panelWidth$ | async"
                  [dataLoaded]="dataLoaded$ | async"
                  [perspectiveConfiguration]="perspectiveConfiguration"
                  (configChange)="onConfigChanged($event)"
                  (closeSidebar)="onCloseSidebar()"
                  (sidebarResize)="setSidebarWidth($event)">
</workflow-content>
