<nav class="navbar navbar-default navbar-fixed-side" [ngClass]="{'lum-collapsed': collapsedValue}">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img style="height: 48px; padding-top: 6px;" src="../../img/lumeer-small.png">
        <span>Lumeer</span>
      </a>
      <a href="#" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="lum-nav-collaps pull-right">
        <i class="fa fa-align-justify" aria-hidden="true"></i>
      </a>
    </div>

    <div class="collapse navbar-collapse lum-navbar" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="#table" data-toggle="collapse" class="lum-nav-item">
            <span><i class="fa fa-eye" aria-hidden="true"></i></span>
            <span>Views</span></a>
          <div>
            <ul id="table" class="collapse" style="color: white;">
              <li>
                <a href="#"><i class="fa fa-th-list" aria-hidden="true"></i>Query</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-plus" aria-hidden="true"></i>Pivot</a>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <a href="#context-browser" data-toggle="collapse" class="lum-nav-item">
            <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
            <span>Forms</span></a>
          <div>
            <ul id="context-browser" class="collapse" style="color: white;">
              <li>
                <a href="#"><i class="fa fa-area-chart" aria-hidden="true"></i>Report</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Analytics</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
