<nav class="navbar navbar-default navbar-fixed-side">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img style="height: 48px; padding-top: 6px;" src="../../img/lumeer-small.png">
        <span>Lumeer</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li>
          <a href="#table" data-toggle="collapse">Table</a>
          <ul id="table" class="collapse" style="color: white;">
            <li>
              <a href="#"><i class="fa fa-th-list" aria-hidden="true"></i>View</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> New record</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#context-browser" data-toggle="collapse">Context Browser</a>
          <ul id="context-browser" class="collapse" style="color: white;">
            <li>
              <a href="#"><i class="fa fa-random" aria-hidden="true"></i>View</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> New record</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#pivot-table" data-toggle="collapse">Pivot Table</a>
          <ul id="pivot-table" class="collapse" style="color: white;">
            <li>
              <a href="#"><i class="fa fa-ge" aria-hidden="true"></i>View</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> New record</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
