@import '../styles/variables';

@-webkit-keyframes scaleme {
  0% { -webkit-transform: scaleY(1); opacity: 1; }
  0.1%, 100% { -webkit-transform: scaleY(0); opacity: 0;display:none; }
}

@keyframes grow {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

left-panel {
  a.navbar-brand{
    img {
      display: inline-block;
    }
    span {
      position: relative;
      top: 5px;
      margin-left: 10px;
    }
  }

  ul.navbar-nav li {
    >a {
      border: 0 !important;
    }
  }

  .lum-navbar {
    border-top: 0 !important;

    .lum-collapsed {
      max-height: 1px;
      overflow: hidden;
      -webkit-transition: max-height 0.3s ease-out;
      -moz-transition: max-height 0.3s ease-out;
      transition: max-height 0.3s ease-out;

      &.lum-in {
        max-height: 500px;
        -webkit-transition: max-height 0.5s ease-in;
        -moz-transition: max-height 0.5s ease-in;
        transition: max-height 0.5s ease-in;
      }

      li {
        cursor: pointer;

        &:hover a {
          text-decoration: underline;
        }
      }
    }

    .lum-nav-item {
      padding: 17px 20px 17px 25px;
      font-size: 14px;
      line-height: 25px;

      i {
        font-size: 20px;
        margin-right: 10px;
        line-height: 26px;
      }

      &:after {
        display: block;
        font-size: 24px;
        line-height: 30px;
        padding: 14px 0;
        position: absolute;
        right: 20px;
        top: -5px;
        transition: .3s;
        content: "ï„…";
      }

      &:not(.collapsed):after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
  }
}

@media (min-width: $mobile-width) {
  left-panel {
    width: 17%;

    a.navbar-brand{
      padding-top: 10px;
    }

    .lum-nav-collaps {
      display: none;
    }
  }
}

@media (max-width: $mobile-width) {
  left-panel{
    position: relative;
    right: -1px;
    nav {
      margin-bottom: 0 !important;
      .navbar-header {
        margin-right: 0 !important;
        .navbar-brand {
          float: inherit;
        }
      }
    }

    .lum-nav-collaps {
      display: inherit;
      margin-top: 2px;
    }
  }
}
