@import '../styles/variables';

top-panel {
  .lum-top-nav {
    margin-left: 0;

    .lum-options {
      height: 100%;
      display: table;

      a {
        cursor: pointer;
        margin-right: 5px;
        display: table-cell; vertical-align: middle;
      }
    }

    .lum-search {
      .form-group {
        width: 100%;
        input {
          width: 100%;
        }
      }
      margin-top: 7px;
    }
  }
}
@media (min-width: $mobile-width) {
  top-panel {
    .lum-top-nav {
      height: $navbar-height;
    }

    .lum-nav-toggle {
      display: inherit;
      padding-top: 3px;
    }
  }
}

@media (max-width: $mobile-width) {
  top-panel {
    .lum-top-nav {
      padding-top: 15px;
    }
    .lum-options {
      width: 100%;
    }

    .lum-nav-toggle {
      display: none;
    }
  }
}
