<div class="lum-top-nav row lum-white-container">
  <div class="col-lg-1 lum-nav-toggle">
    <a href="#" class="lum-nav-collaps" (click)="onCollapse()">
      <i class="fa fa-align-justify" aria-hidden="true"></i>
    </a>
  </div>
  <form class="col-sm-12 col-lg-9 form-inline lum-search" role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </form>
  <div class="col-sm-12 col-lg-2 lum-options">
    <a><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
    <a><i class="fa fa-sign-in" aria-hidden="true"></i> Log in</a>
  </div>
</div>
