<top-panel-wrapper>
  <div *ngIf="project$ | async as project"
       class="col-12 col-lg-11 col-xl-10 mx-auto content">
    <resource-header
      [resource]="project"
      [resourceType]="projectType"
      [restrictedValues]="projectCodes$ | async"
      (back)="goBack()"
      (delete)="onDelete()"
      (colorIconChange)="onNewColorOrIcon($event)"
      (descriptionChange)="onNewDescription($event)"
      (nameChange)="onNewName($event)"
      (codeChange)="onNewCode($event)">

      <div class="d-flex flex-row flex-nowrap align-items-center mr-3"
           title="Number of users" i18n-title="@@project.settings.users.count">
        <i class="far fa-user" aria-hidden="true"></i>&nbsp;<span>{{ userCount$ | async }}</span>
      </div>

      <div class="d-flex flex-row flex-nowrap align-items-center cursor-pointer color-success mr-3"
           (click)="onCollectionsClick()"
           title="Number of tables" i18n-title="@@project.settings.collections.count">
        <i class="far fa-edit" aria-hidden="true"></i>&nbsp;<span>{{project.collectionsCount}}</span>
      </div>

      <div class="d-flex flex-row flex-nowrap align-items-center cursor-pointer color-success mr-3"
           (click)="onDownloadRawContent()"
           title="Download project content" i18n-title="@@project.settings.collections.downloadContent">
        <i class="far fa-download" aria-hidden="true"></i>&nbsp;
      </div>

      <div class="d-flex flex-row flex-nowrap align-items-center cursor-pointer color-danger mr-3"
           (click)="onSampleDataEraseClick()"
           title="Delete sample data from the project" i18n-title="@@project.settings.collections.deleteSampleData">
        <i class="far fa-eraser" aria-hidden="true"></i>&nbsp;
      </div>
    </resource-header>

    <ul class="nav nav-tabs">
      <li role="presentation" class="nav-item">
        <a [routerLink]="'users'"
           routerLinkActive="active"
           class="nav-link"
           i18n="@@project.settings.tab.users">Users</a>
      </li>
      <li role="presentation" class="nav-item">
        <a [routerLink]="'sequences'"
           routerLinkActive="active"
           class="nav-link"
           i18n="@@project.settings.tab.sequences">Sequences</a>
      </li>
      <li role="presentation" class="nav-item">
        <a [routerLink]="'template'"
           routerLinkActive="active"
           class="nav-link"
           i18n="@@project.settings.tab.template">Publish Project</a>
      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</top-panel-wrapper>
