<ng-container *ngIf="{collections: collections$ | async} as data">
  <document-detail-modal [collection]="data.collections | collectionById:(collectionId$ | async)"
                         [document]="document$ | async"
                         [viewId]="(view$ | async)?.id"
                         [toolbarRef]="toolbar"
                         (documentCreated)="documentCreated$.next(true)">
  </document-detail-modal>

  <ng-template #toolbar>

    <select-item *ngIf="data.collections?.length > 1 && !(documentCreated$ | async)"
                 class="d-inline-block my-3"
                 [items]="data.collections | collectionsSelectItems"
                 [removable]="false"
                 [fitParent]="false"
                 [selectedId]="collectionId$ | async"
                 (selected)="onSelect($event)">
    </select-item>

  </ng-template>
</ng-container>
