<ng-container *ngIf="loaded$ | async">

  <div class="mt-2" *ngIf="documentsOrder.length; else noDocuments" infiniteScroll
       [infiniteScrollDisabled]="maxLines > 0"
       [infiniteScrollDistance]="2"
       (scrolled)="onScrollDown($event)">
    <size-slider class="d-flex justify-content-end mb-2"
                 [defaultSize]="size" (newSize)="onSizeChange($event)"></size-slider>
    <div class="detail card p-2 mb-2"
         (click)="toggleDocument(document)"
         (dblclick)="onDetailClick(document)"
         *ngFor="let document of (maxLines > 0 ? (getDocuments() | slice:0:maxLines) : getDocuments()); trackBy:trackByDocument">

      <search-document-header
        (toggle)="toggleDocument(document)"
        (detail)="onDetailClick(document)"
        [size]="size"
        [document]="document"
        [isOpened]="(expandedDocumentIds | isDocumentOpened:document) || size === 'XL'"
        [collection]="collectionsMap[document.collectionId]">
        <ng-container *ngTemplateOutlet="getTemplate(document); context: { $implicit: document}"></ng-container>
      </search-document-header>
    </div>

    <div class="clickable d-flex justify-content-end" [style.font-size.%]="150"
         *ngIf="maxLines > 0 && maxLines < documentsOrder.length" i18n="@@search.result.more"
         (click)="onShowAll()">
      See all
    </div>
  </div>

</ng-container>

<ng-template #sTemplate let-document>
</ng-template>

<ng-template #mTemplate let-document>
  <div [innerHTML]="createValuesHtml(document)"></div>
</ng-template>

<ng-template #lTemplate let-document>
  <div [innerHTML]="createEntriesHtml(document)"></div>
</ng-template>

<ng-template #xlTemplate let-document>
  <ng-container *ngTemplateOutlet="lTemplate; context: { $implicit: document}"></ng-container>
  <!--links></links>
  <comments></comments-->
</ng-template>

<ng-template #noDocuments>
  <empty-documents
    (tablePerspective)="switchPerspectiveToTable()"
    [collections]="getCollections()"
    [query]="query">
  </empty-documents>
</ng-template>
