@import "../../../../shared/variables";

$margin-left: 20px;

.toggle-detail {
  width: $margin-left;
}

.icon {
  cursor: pointer;
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

.content {
  margin-left: $margin-left;

  transition: all 0.5s;
}

