<search-documents-wrapper *ngIf="loaded$ | async"
                          [constraintData]="constraintData$ | async"
                          [query]="query$ | async"
                          [config]="documentsConfig$ | async"
                          [maxDocuments]="maxLines"
                          [collections]="collections$ | async"
                          [workspace]="workspace$ | async"
                          [documents]="documents$ | async"
                          (configChange)="configChange($event)"
                          (scrollDown)="onFetchNextPage()">
</search-documents-wrapper>
