<div [class.bg-light]="striped"
     [class.bg-white]="!striped"
     class="d-flex h-100">
  <table-row-numbers *ngIf="isFirstPart()"
                     [table]="table"
                     [cursor]="cursor"
                     [row]="row"
                     class="table-border-right bg-white">
  </table-row-numbers>

  <table-cell-group *ngIf="!isFirstPart()"
                    [table]="table"
                    [cursor]="cursor"
                    [row]="row">
  </table-cell-group>

  <table-cell-group [table]="table"
                    [cursor]="collectionPartCursor()"
                    [row]="row">
  </table-cell-group>

  <div *ngIf="!isLastPart()"
       class="d-flex">
    <table-link-cell [cursor]="cursor"
                     [row]="row"
                     [striped]="striped"
                     [table]="table">
    </table-link-cell>
    <div class="d-flex flex-column">
      <table-row *ngFor="let linkedRow of row.linkedRows; trackBy: trackByLinkInstanceId; index as rowIndex"
                 [table]="table"
                 [cursor]="createNextPartCursor(rowIndex)"
                 [row]="linkedRow"
                 class="h-100">
      </table-row>
      <table-row *ngIf="!row.linkedRows || row.linkedRows.length === 0"
                 [table]="table"
                 [cursor]="createNextPartCursor(0)"
                 [row]="createEmptyLinkedRow()"
                 class="h-100">
      </table-row>
    </div>
  </div>
</div>
