<ng-container *ngIf="collapsed; else expanded">
  <button class="btn btn-light"
          title="Expand" i18n-title="@@collapsible-sidebar.expand-button">
    <i class="far fa-chevron-right"></i>
  </button>
  <hint *ngIf="true" title="Nastaveni hlavniho atributu pohledu">
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar sem nulla, sed vehicula urna pretium ac. Maecenas lacinia fringilla tortor et molestie. Suspendisse nec maximus dolor, sit amet efficitur ex. Sed sit amet ligula sed urna laoreet iaculis in quis lectus. Vestibulum euismod dui ac eleifend volutpat. In nec ante non velit vehicula convallis.</span>
  </hint>
</ng-container>

<ng-template #expanded>
  <button class="btn btn-light border border-left-0"
          title="Collapse" i18n-title="@@collapsible-sidebar.collapse-button">
    <i class="far fa-chevron-left"></i>
  </button>
</ng-template>
