@import '~src/styles/variables';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row-number {
  min-width: var(--row-number-column-width);
  line-height: $table-min-row-height;
  min-height: $table-min-row-height;
}
