<ng-container *ngIf="{number: firstNumber$ | async} as first">
  <div *ngFor="let rowIndex of rowIndexes; trackBy: trackByIndex"
       #rowNumber
       [class.border-top]="rowIndex > 0"
       [class.border-white]="rowIndex > 0"
       [ngClass]="!!row?.documentId ? 'text-secondary' : 'text-light'"
       (click)="onNumberClick()"
       class="row-number px-1 text-end cursor-pointer">
    <ng-container *ngIf="first.number">
      {{ first.number + rowIndex }}
    </ng-container>
  </div>
</ng-container>
