<select-item class="d-block w-100 mt-2"
             [placeholderIcon]="chartPerspective | perspectiveIcon"
             [buttonClasses]="buttonClasses"
             [items]="chartTypes | chartTypesToSelect"
             [selectedId]="config.type"
             (selected)="onTypeSelect($event)">
</select-item>

<h6 class="fw-bold mt-4" i18n="@@perspective.chart.config.axis.x.header">X Axis settings</h6>

<select-item-with-constraint class="d-block w-100 mt-2"
                             [attributesResources]="attributesResources"
                             placeholderText="Labels"
                             i18n-placeholderText="perspective.chart.config.label.placeholder"
                             [buttonClasses]="buttonClasses"
                             [selectedId]="config.axes?.x?.axis | chartAxisSelectItemId"
                             [selectedConstraint]="config.axes?.x?.axis?.constraint"
                             [emptyValue]="axisEmptyValue"
                             [removable]="true"
                             [fitParent]="true"
                             (select)="onAxisSelect($event)"
                             (selectConstraint)="onSelectedConstraint($event)"
                             (remove)="onAxisRemoved()">
</select-item-with-constraint>

<select-item class="d-block w-100 mt-2"
             [placeholderText]="sortPlaceholder"
             [emptyValue]="axisEmptyValue"
             [items]="config | sortSelectItems:attributesResources"
             [selectedId]="config.sort?.axis | chartCleanAxis"
             [buttonClasses]="buttonClasses"
             [removable]="true"
             (selected)="onSortSelect($event)"
             (remove)="onSortRemoved()">
</select-item>

<select-item class="d-block w-100 mt-2"
             [items]="chartSortTypes | sortTypeSelectItems"
             [placeholderText]="sortTypePlaceholder"
             [buttonClasses]="buttonClasses"
             [removable]="false"
             [selectedId]="config.sort?.type"
             (selected)="onSortTypeSelect($event)">
</select-item>
