<tr>
  <th class="sticky-header"
      [style.background-color]="'white'"
      *ngFor="let attr of linkType.attributes; trackBy:trackByAttribute;"
      #headerCell id="'link-'+{{attr.id}}"
      scope="col" title="{{attr.name}}">
    {{attr.name}}
  </th>
  <th class="sticky-header"
      [style.background-color]="collection.color | lightenColor:0.5"
      [style.font-weight]="attr.id === collection.defaultAttributeId || (!collection.defaultAttributeId && idx === 0) ? 'bold' : 'normal'"
      *ngFor="let attr of collection.attributes; trackBy:trackByAttribute; let idx = index;"
      #headerCell id="{{attr.id}}"
      scope="col" title="{{attr.name}}">{{attr.name}}
  </th>
  <th class="border-0" [style.background]="'white'"></th>
</tr>
