<dropdown [origin]="origin"
          [closeOnClickOutside]="true"
          [closeOnClickOrigin]="true"
          [pushOnScreen]="true"
          [showBackdrop]="false"
          (onClose)="onClose()">

  <div class="card p-2 overflow-auto">
    <label class="d-block" i18n="@@perspective.form.editor.row.cell.actions.range.minimum">Minimal links count</label>
    <input class="form-control d-inline-block w-auto mw-100" type="number" integer
           [(ngModel)]="minLinksValue"
           [maxValue]="maxLinksValue"
           (blur)="onMinValueBlur()">

    <label class="d-block mt-1" i18n="@@perspective.form.editor.row.cell.actions.range.maximum">Maximal links count</label>
    <input class="form-control d-inline-block w-auto mw-100" type="number" integer
           [(ngModel)]="maxLinksValue"
           [minValue]="minLinksValue"
           [maxValue]="1000"
           (blur)="onMaxValueBlur()">
  </div>

</dropdown>
