<div class="card column h-100" [style.width.px]="column.width">

  <div class="card-header p-0 mx-2"
       [class.cursor-move]="canManageConfig">
    <kanban-column-header [column]="column"
                          [constraintData]="constraintData"
                          (remove)="onRemoveColumn()">
    </kanban-column-header>
  </div>

  <div class="card-body py-1 px-2 my-1" id="{{column.id}}"
       cdkDropList
       infiniteScroll
       [scrollWindow]="false"
       (scrolled)="onScrolled()"
       [cdkDropListData]="column"
       [cdkDropListConnectedTo]="dragColumnsIds"
       (cdkDropListDropped)="onDropPostIt($event)">
    <post-it
      *ngFor="let card of column.cards | filterKanbanCardsByPage:viewSettings: (currentPage$ | async):(elementHeight$ | async); trackBy: trackByCard; let last = last"
      cdkDrag
      id="{{postItIdPrefix}}#{{card.dataResource.id}}"
      class="post-it"
      [tag]="card.dueHours | kanbanDueHoursTag"
      [cdkDragDisabled]="!(card | kanbanPostItDraggable)"
      [cdkDragData]="card"
      [cdkDragStartDelay]="dragDelay"
      [layoutType]="postItLayout"
      [class.mb-2]="!last"
      [dataResource]="card.dataResource"
      [resource]="card.resource"
      [query]="query"
      [canDrag]="(card | kanbanPostItDraggable)"
      [allowedPermissions]="card.permissions"
      [constraintData]="constraintData"
      [attributesSettings]="viewSettings | resourceAttributesSettings:card.resourceType:card.resource.id"
      (toggleFavorite)="onToggleFavorite(card)">
    </post-it>

  </div>

  <div class="card-footer px-3 py-2 mx-2">
    <kanban-column-footer [resources]="column.createResources"
                          [count]="column.cards?.length"
                          (selectResource)="createObjectInResource($event)">
    </kanban-column-footer>
  </div>

</div>
