@import 'src/styles/variables';

:host {
  max-height: calc(100% - 1rem);
  height: 100%;
}

.cursor-move {
  cursor: move;
}

.column.card {
  max-height: 100%;
  border: 0 !important;

  .card-header,
  .card-footer {
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }

  .card-body {
    overflow-x: visible;
    overflow-y: auto;
  }
}

.post-it:hover {
  box-shadow: $shadow-default;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  background: $light;

  ::ng-deep > * {
    visibility: hidden;
  }
}

.cdk-drop-list-dragging .cdk-drag,
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
