@import '~src/styles/variables';

.content {
  overflow-x: auto;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content minmax(300px, 1fr);
}

iframe {
  border: solid 1px $gray-200;
  border-radius: $border-radius-small;
}

.image {
  width: 100px;
  height: 100px;

  & img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
    object-fit: cover;
  }
}
