<ng-container *ngIf="linkType$ | async as linkType">
  <span class="text-primary text-nowrap clickable small range-element text-truncate"
        tooltip="Minimum and maximum number of links"
        i18n-tooltip="@@perspective.form.editor.row.cell.actions.range.tooltip"
        #rangeElement (click)="range.toggle()">
    {{this.config?.minLinks || 0}}-{{this.config?.maxLinks || '∞'}}
  </span>
  <form-link-range-dropdown [origin]="rangeElement" #range
                            [minLinks]="config?.minLinks"
                            [maxLinks]="config?.maxLinks"
                            (minLinksChange)="onMinLinksChange($event)"
                            (maxLinksChange)="onMaxLinksChange($event)">
  </form-link-range-dropdown>
  <span class="ml-2 text-primary clickable" #settingsElement (click)="settings.toggle()"
        tooltip="Query"
        i18n-tooltip="@@perspective.form.editor.row.cell.actions.query">
    <i class="far fa-line-columns"></i>
  </span>

  <form-link-attributes-settings-dropdown #settings
                                          [origin]="settingsElement"
                                          [linkType]="linkType"
                                          [collection]="otherCollection$ | async"
                                          [settings]="attributeSettings$ | async"
                                          (attributeSettingsChanged)="onAttributesSettingsChanged($event)">
  </form-link-attributes-settings-dropdown>

  <div class="ml-2 cursor-pointer filters-icon" #filtersElement (click)="filters.toggle()"
       tooltip="Filter"
       i18n-tooltip="@@perspective.form.editor.row.cell.actions.filter">
    <span class="text-primary clickable">
      <i class="far fa-filter"></i>
    </span>
    <span class="number" *ngIf="config?.filters?.length">{{config?.filters?.length}}</span>
  </div>
  <resource-filters-dropdown #filters
                             [origin]="filtersElement"
                             [resource]="otherCollection$ | async"
                             [resourceType]="resourceType.Collection"
                             [filters]="config?.filters"
                             (filtersChange)="onFiltersChanged($event)">

  </resource-filters-dropdown>
</ng-container>
