<ng-container *ngIf="{linkType: linkType$ | async, otherCollection: otherCollection$ | async} as data ">
  <span class="text-primary text-nowrap clickable small range-element text-truncate"
        tooltip="Minimum and maximum number of links"
        i18n-tooltip="@@perspective.form.editor.row.cell.actions.range.tooltip"
        #rangeElement (click)="range.toggle()">
    {{this.config?.minLinks || 0}}-{{this.config?.maxLinks || '∞'}}
  </span>
  <form-link-range-dropdown [origin]="rangeElement" #range
                            [minLinks]="config?.minLinks"
                            [maxLinks]="config?.maxLinks"
                            (minLinksChange)="onMinLinksChange($event)"
                            (maxLinksChange)="onMaxLinksChange($event)">
  </form-link-range-dropdown>

  <ng-container *ngIf="data.otherCollection?.attributes?.length">
    <span class="ms-2 text-primary clickable" #displayedElement (click)="displayedDropdown.toggle()"
          tooltip="Attribute used to represent the linked record"
          i18n-tooltip="@@perspective.form.editor.row.cell.actions.displayed.tooltip">
      <i class="fas fa-check-circle"></i>
    </span>

    <options-dropdown #displayedDropdown
                      [options]="data.otherCollection | attributesSelectItems | selectItemsDropdownOptions"
                      [showBackdrop]="false"
                      [closeOnClickOutside]="true"
                      [firstItemActive]="false"
                      [origin]="displayedElement"
                      [selectedValues]="data.otherCollection | linkCollectionDisplayedAttribute:config"
                      (selectOption)="onSelectDisplayedOption($event)">
    </options-dropdown>
  </ng-container>

  <ng-container *ngIf="false">
    <span class="ms-2 text-primary clickable" #settingsElement (click)="settings.toggle()">
      <i class="far fa-line-columns"></i>
    </span>

    <form-link-attributes-settings-dropdown #settings
                                            [origin]="settingsElement"
                                            [linkType]="data.linkType"
                                            [collection]="data.otherCollection"
                                            [settings]="attributeSettings$ | async"
                                            (attributeSettingsChanged)="onAttributesSettingsChanged($event)">
    </form-link-attributes-settings-dropdown>
  </ng-container>

  <div class="ms-2 cursor-pointer filters-icon" #filtersElement (click)="filters.toggle()"
       tooltip="Configure filtering of records that are possible to link"
       i18n-tooltip="@@perspective.form.editor.row.cell.actions.filter">
    <span class="text-primary clickable">
      <i class="far fa-filter"></i>
    </span>
    <span class="number" *ngIf="config?.filters?.length">{{config?.filters?.length}}</span>
  </div>
  <resource-filters-dropdown #filters
                             [origin]="filtersElement"
                             [resource]="data.otherCollection"
                             [resourceType]="resourceType.Collection"
                             [filters]="config?.filters"
                             (filtersChange)="onFiltersChanged($event)">

  </resource-filters-dropdown>
</ng-container>
