@import '~src/styles/variables';

:host {
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 5;
  visibility: hidden;
}

.visible {
  visibility: visible !important;
}

.header-content {
  display: grid;
  grid-template-columns: 1fr auto;
}

.fa-caret-down {
  color: $secondary;
}

.icons {
  font-size: 13px;
}
