<div class="d-inline-flex" [class.font-weight-bold]="isCollectionItem()">
  <icons-presenter [colors]="suggestion.colors"
                   [icons]="suggestion.icons">
  </icons-presenter>
  <span [innerHTML]="!isFulltextItem() ? (suggestion.text | truncate:40 | highlightText:text) : (suggestion.text | truncate:40)"
        [title]="suggestion.text"
        class="ml-2"></span>
</div>
<span class="font-weight-light font-italic ml-3"
      i18n="@@query.suggestion.type">
  {suggestion.type, select, Attribute {Attribute} LinkAttribute {Link Attribute} Collection {Table} Document {Record} Fulltext {Fulltext} Link {Link} View {View} Deleted {Deleted}}
</span>
