<data-input
  [value]="queryItem?.conditionValue"
  [focus]="true"
  [constraint]="queryItem?.attribute?.constraint?.type !== constraintType.Files ? queryItem?.attribute.constraint : null"
  [constraintData]="constraintData"
  [readonly]="readonly || !((editing$ | async) || queryItem?.attribute?.constraint?.type === constraintType.Boolean)"
  [skipValidation]="true"
  [resizeToContent]="true"
  (save)="onSave($event)"
  (click)="setEditing()"
  (onFocus)="setEditing()"
  (cancel)="cancelEditing()"
  (blur)="cancelEditing()"
  (keydown)="dataInputKeyDown($event)">
</data-input>
