<data-input
  *ngIf="{constraint: queryItem?.attribute?.constraint?.type !== constraintType.Files ? queryItem?.attribute.constraint : null} as data"
  [focus]="true"
  [dataValue]="queryItem?.conditionValue | dataValue: data.constraint:constraintData"
  [constraint]="data.constraint"
  [readonly]="readonly || !((editing$ | async) || data.constraint?.type === constraintType.Boolean)"
  [configuration]="dataInputConfiguration"
  (save)="onSave($event)"
  (click)="$event.stopPropagation(); $event.preventDefault(); setEditing()"
  (onFocus)="setEditing()"
  (cancel)="cancelEditing()"
  (blur)="cancelEditing()"
  (keydown)="dataInputKeyDown($event)">
</data-input>
