@import '../../../../../../styles/variables';

.gantt-bar-disabled {
  cursor: default !important;

  .handle-group {
    display: none !important;
  }
}

.zero-height {
  height: 0;
}

.gantt .tick {
  stroke-width: 0.6;

  &.thick {
    stroke-width: 1;
    color: $gray-600;
  }
}
