<div class="d-flex align-items-center h-100 p-1 text-nowrap" #wrapperElement
     [tooltip]="selectedUsers | usersNames | join"
     [ngClass]="readonly || !multi ? 'overflow-hidden w-100' : 'invisible-scroll-y'">

  <ng-container *ngIf="multi || readonly">

    <img ngxGravatar
         *ngFor="let user of selectedUsers; trackBy:trackByUser; let first = first"
         [email]="user.email"
         [size]="avatarSize"
         [style.min-width.px]="avatarSize"
         [style.min-height.px]="avatarSize"
         [style.margin-left.rem]="!first ? -0.5 : 0.25">

    <span *ngIf="selectedUsers | usersAreValid:users:value.config"
          [ngClass]="inputClass"
          class="d-inline-block ml-2 text-nowrap user">
        {{selectedUsers | usersNames | join}}
      </span>

    <ng-container *ngIf="!(selectedUsers | usersAreValid:users:value.config)">

      <ng-container
        *ngFor="let user of selectedUsers; trackBy:trackByUser; let first = first; let last = last">

        <span data-test="user-data-input"
              [class.invalid-value]="!skipValidation && !(user | userIsValid:users:value.config:selectedUsers.length)"
              [class.ml-2]="first"
              class="d-inline-block user">
          {{user.name || user.email}}
        </span>
        <span class="user" *ngIf="!last">,&nbsp;</span>

      </ng-container>

    </ng-container>


  </ng-container>

  <ng-container *ngIf="!readonly">
    <input #textInput
           [(ngModel)]="name"
           (blur)="onBlur()"
           (focus)="onFocused()"
           (ngModelChange)="onInputChange()"
           [class.ml-1]="selectedUsers.length > 0"
           [spellcheck]="false"
           [ngClass]="inputClass"
           class="border-0 w-100 h-100 bg-transparent"
           type="text">

    <options-dropdown [options]="users | filterUsers:name"
                      [showBackdrop]="false"
                      [closeOnClickOutside]="false"
                      [origin]="textInput"
                      [highlightedText]="name"
                      [multiSelect]="multi"
                      [selectedValues]="multi ? (selectedUsers | usersEmails) : []"
                      [firstItemActive]="!multi && !value?.config?.externalUsers && name?.length > 0"
                      (selectOption)="onSelectOption($event)">
    </options-dropdown>
  </ng-container>

</div>
