:host {
  display: flex;
  align-items: center;

  & > img {
    flex-shrink: 0;
  }

  .user {
    line-height: 0.9rem;
  }

  .user-input {
    min-width: 50px;
  }
}

input:focus {
  outline: none;
}
