<ul class="list-group mx-5">
  <li *ngFor="let linkTypeModel of linkTypes"
      class="list-group-item pt-2 color-transition {{ !linkTypeModel.initialized ? 'uninitialized' : 'pb-0' }}"
      [style.border-color]="collection.color">
    <div class="d-flex align-baseline py-1">
          <span class="start">
            <i
              class="p-2 fa fa-caret-right bigger expand green-on-hover {{ linkTypeModel.expanded ? 'fa-rotate-90' : null}}"
              aria-hidden="true"
              title="Open"
              i18n-title="@@collection.config.tab.link.types.open"
              [style.visibility]="!linkTypeModel.initialized ? 'hidden' : null"
              (click)="linkTypeModel.expanded = !linkTypeModel.expanded"></i>
            <i class="fa-fw {{ collection.icon }} first-collection bigger color-transition"
               title="{{ collection.name }}"
               [style.color]="collection.color"
               aria-hidden="true"></i>
            <i class="fa-fw {{ getLinkedCollection(linkTypeModel).icon }} second-collection bigger"
               title="{{ linkTypeModel.initialized ? getLinkedCollection(linkTypeModel).name : 'Pick collection to link'}}"
               [style.color]="getLinkedCollection(linkTypeModel).color"
               data-toggle="dropdown"
               aria-hidden="true"></i>
            <ul class="dropdown-menu">
              <li *ngFor="let collectionCode of possibleToCollectionCodes(linkTypeModel)"
                    class="dropdown-item"
                    [style.color]="collections[collectionCode].color"
                    (click)="linkTypeModel.initialized ?
                    changeToCollection(linkTypeModel, collectionCode) :
                    ((linkTypeModel.data.collectionCodes = [collection.code, collectionCode]) && linkTypeModel.data.name &&
                    createLinkType(linkTypeModel))">
                <i class="mr-1 fa-fw {{ collections[collectionCode].icon }}" aria-hidden="true"></i>
                {{ collections[collectionCode].name }}
              </li>
            </ul>

            <input #name
                   class="ml-3 border-0 name"
                   placeholder="Link Type Name"
                   title="rename"
                   i18n-title="@@collection.config.tab.link.types.rename"
                   [(ngModel)]="linkTypeModel.data.name"
                   (keyup.enter)="name.blur()"
                   (blur)="linkTypeModel.initialized ?
                   (linkTypeModel.data.name ? updateLinkType(linkTypeModel) : deleteLinkType(linkTypeModel)) :
                   (linkTypeModel.data.name ? (linkTypeModel.data.collectionCodes && linkTypeModel.data.collectionCodes[1] &&
                   createLinkType(linkTypeModel)) : removeLinkType(linkTypeModel))">
            <span *ngIf="linkTypeModel.initialized"
                  class="ml-3 pr-1 border-dark instance-count rounded border"
                  title="Instance count"
                  i18n-title="@@collection.config.tab.link.types.instance.count">
              {{ formatNumber(instanceCount(linkTypeModel)) }}
            </span>
          </span>

      <span *ngIf="linkTypeModel.initialized">
            <a [routerLink]="[workspacePath(), 'search', 'links']"
               [queryParams]="searchLinkTypesQueryParams(linkTypeModel)"
               class="btn btn-outline-success mr-1"
               title="Show all searches of this attribute"
               i18n-title="@@collection.config.tab.link.types.show.all"
               i18n="@@collection.config.tab.link.types.show.all.text">
              See all
            </a>

            <a tabindex
               (click)="changeCollection(linkTypeModel.data.collectionCodes[1])"
               class="btn btn-outline-success {{ !linkTypeModel.initialized ? 'disabled' : null }}"
               title="Go to {{ getLinkedCollection(linkTypeModel).name }}"
               i18n-title="@@collection.config.tab.link.types.go.to">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
              <i class="fa-fw {{ getLinkedCollection(linkTypeModel).icon }}" aria-hidden="true"></i>
            </a>
          </span>
    </div>
    <div *ngIf="linkTypeModel.initialized"
         (click)="linkTypeModel.expanded = true">
      <div *ngIf="isAutomatic(linkTypeModel) || canBecomeAutomatic(linkTypeModel)"
           class="p-1 {{ canBecomeAutomatic(linkTypeModel) ? 'greyed-out' : null }}"
           (click)="canBecomeAutomatic(linkTypeModel) && makeAutomatic(linkTypeModel)">
          <span i18n="@@collection.config.link.types.automatic.link" class="font-weight-bold mr-1">
            {{ isAutomatic(linkTypeModel) ? 'Automatic Link:' : 'Make Automatic:' }}
          </span>
        <span>
            <i class="fa-fw {{ collection.icon }} color-transition"
               [style.color]="collection.color"></i>
            <span>{{ linkTypeModel.data.automaticLinkFromAttribute ||
              (linkTypeModel.data.linkedAttributes.length === 2 && linkTypeModel.data.linkedAttributes[0].value.name) }}</span>
          </span>
        <i class="fa fa-arrows-h mx-1" aria-hidden="true"></i>
        <span>
            <i class="fa-fw {{ getLinkedCollection(linkTypeModel).icon }}"
               [style.color]="getLinkedCollection(linkTypeModel).color"></i>
            <span>{{ linkTypeModel.data.automaticLinkToAttribute ||
              (linkTypeModel.data.linkedAttributes.length === 2 && linkTypeModel.data.linkedAttributes[1].value.name) }}</span>
          </span>
      </div>
      <link-attribute-list *ngIf="linkTypeModel.initialized"
                           [collections]="collections"
                           [linkType]="linkTypeModel.data"
                           [addEnabled]="!linkTypeModel.data.automaticLinkFromAttribute || !linkTypeModel.data.automaticLinkToAttribute"
                           [limit]="linkTypeModel.expanded ? 9999 : 1"
                           (update)="updateLinkType(linkTypeModel)"></link-attribute-list>
    </div>
  </li>
  <li i18n-title="@@collection.config.tab.link.types.add.title"
      title="Add new link Type"
      class="list-group-item py-3 new-link-type color-transition green-on-hover"
      [style.border-color]="collection.color"
      (click)="addLinkType()">
    <div class="d-flex align-baseline">
      <i class="fa fa-plus bigger" aria-hidden="true"></i>
      <span class="ml-3" i18n="@@collection.config.tab.link.types.add">
        Add link Type
      </span>
    </div>
  </li>
</ul>
