<ul class="list-group mx-5">
  <li *ngFor="let linkTypeModel of linkTypes"
      class="list-group-item pt-2 color-transition {{ !linkTypeModel.initialized ? 'uninitialized' : 'pb-0' }}"
      [style.border-color]="collection.color">
    <div class="d-flex align-baseline py-1">
          <span class="start">
            <i
              class="p-2 fa fa-caret-right bigger expand green-on-hover {{ linkTypeModel.expanded ? 'fa-rotate-90' : null}}"
              aria-hidden="true"
              title="Open"
              i18n-title="@@collection.config.tab.link.types.open"
              [style.visibility]="!linkTypeModel.initialized ? 'hidden' : null"
              (click)="linkTypeModel.expanded = !linkTypeModel.expanded"></i>
            <i class="fa-fw {{ collection.icon }} first-collection bigger color-transition"
               title="{{ collection.name }}"
               [style.color]="collection.color"
               aria-hidden="true"></i>
            <i class="fa-fw {{ getLinkedCollection(linkTypeModel).icon }} second-collection bigger"
               title="{{ linkTypeModel.initialized ? getLinkedCollection(linkTypeModel).name : 'Pick collection to link'}}"
               [style.color]="getLinkedCollection(linkTypeModel).color"
               data-toggle="dropdown"
               aria-hidden="true"></i>
            <ul class="dropdown-menu">
              <li *ngFor="let collectionId of possibleToCollectionIds(linkTypeModel)"
                    class="dropdown-item"
                    [style.color]="collections[collectionId].color"
                    (click)="linkTypeModel.initialized ?
                    changeToCollection(linkTypeModel, collectionId) :
                    ((linkTypeModel.data.collectionIds = [collection.id, collectionId]) && linkTypeModel.data.name &&
                    createLinkType(linkTypeModel))">
                <i class="mr-1 fa-fw {{ collections[collectionId].icon }}" aria-hidden="true"></i>
                {{ collections[collectionId].name }}
              </li>
            </ul>

            <input #name
                   class="ml-3 border-0 name"
                   placeholder="Link Type Name"
                   title="Rename"
                   i18n-title="@@collection.config.tab.link.types.rename"
                   [(ngModel)]="linkTypeModel.data.name"
                   (keyup.enter)="name.blur()"
                   (blur)="linkTypeModel.initialized ?
                   (linkTypeModel.data.name ? updateLinkType(linkTypeModel) : deleteLinkType(linkTypeModel)) :
                   (linkTypeModel.data.name ? (linkTypeModel.data.collectionIds && linkTypeModel.data.collectionIds[1] &&
                   createLinkType(linkTypeModel)) : removeLinkType(linkTypeModel))">
          </span>

      <span *ngIf="linkTypeModel.initialized">
            <a tabindex
               (click)="changeCollection(linkTypeModel.data.collectionIds[1])"
               class="btn btn-outline-success {{ !linkTypeModel.initialized ? 'disabled' : null }}"
               title="Go to {{ getLinkedCollection(linkTypeModel).name }}"
               i18n-title="@@collection.config.tab.link.types.go.to">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
              {{ getLinkedCollection(linkTypeModel).name }}
              <i class="fa-fw {{ getLinkedCollection(linkTypeModel).icon }}" aria-hidden="true"></i>
            </a>
          </span>
    </div>
    <div *ngIf="linkTypeModel.initialized"
         (click)="linkTypeModel.expanded = true">
      <link-attribute-list *ngIf="linkTypeModel.initialized"
                           [collections]="collections"
                           [linkType]="linkTypeModel.data"
                           [expanded]="linkTypeModel.expanded"
                           (update)="updateLinkType(linkTypeModel)"></link-attribute-list>
    </div>
  </li>
  <li i18n-title="@@collection.config.tab.link.types.add.title"
      title="Add new link Type"
      class="list-group-item py-3 new-link-type color-transition green-on-hover"
      [style.border-color]="collection.color"
      (click)="addLinkType()">
    <div class="d-flex align-baseline">
      <i class="fa fa-plus bigger" aria-hidden="true"></i>
      <span class="ml-3" i18n="@@collection.config.tab.link.types.add">
        Add link Type
      </span>
    </div>
  </li>
</ul>
