@import '../../../../styles/variables';

.empty-text {
  color: $gray-500;
}

.btn-link:disabled,
.btn-link.disabled {
  color: $primary;
  opacity: 1;
}

.main-content {
  display: grid;
  grid-template-columns: minmax(0, 1fr) min-content;
}
