<ng-container *ngIf="{selectedItem: selectedPath | getSelectedItems:items } as data">
  <button class="btn btn-link text-decoration-none px-0 d-flex align-items-center flex-nowrap w-100"
          type="button"
          [disabled]="disabled"
          [matMenuTriggerFor]="menu.childMenu"
          [ngClass]="disabled ? 'cursor-not-allowed' : 'cursor-pointer'">

    <select-item-row *ngIf="data.selectedItem; else empty"
                     class="mr-2"
                     [item]="data.selectedItem"
                     [displayChildren]="true"
                     [disabled]="disabled"
                     [removable]="removable"
                     (remove)="remove.emit()">
    </select-item-row>

    <i class="fas fa-caret-down" *ngIf="data.selectedItem"></i>
  </button>

  <ng-template #empty>
    <span class="empty-text text-truncate mr-2" [title]="emptyValue">{{emptyValue}}</span>
    <i class="fas fa-caret-down empty-text"></i>
  </ng-template>

  <select-item-menu #menu [items]="items" (select)="onSelect($event)"
                    [selectedItem]="data.selectedItem">
  </select-item-menu>
</ng-container>
