<kanban-collection-config *ngFor="let stem of query?.stems; trackBy:trackByStem; let index = index"
                          class="d-block mt-4"
                          [stem]="stem"
                          [config]="config?.stemsConfigs && config?.stemsConfigs[index] || defaultStemConfig"
                          [collections]="collections"
                          [columnTitles]="config | kanbanColumnTitles:config?.stemsConfigs[index]?.attribute"
                          [linkTypes]="linkTypes"
                          (configChange)="onConfigChange($event, stem, index)">
</kanban-collection-config>

<ng-container *ngIf="config?.stemsConfigs.length > 0 && config?.stemsConfigs[0].attribute">
  <h6 class="font-weight-bold mt-4" i18n="@@perspective.kanban.config.column.summary">Column Summary</h6>
  <kanban-value-attribute-config class="d-block"
                                 [kanbanAttribute]="config?.aggregation"
                                 [availableAttributes]="config | kanbanAggregateSelectItems:collections"
                                 (attributeSelect)="onAggregateAttributeSelect($event)"
                                 (attributeChange)="onAggregateAttributeSelect($event)"
                                 (attributeRemove)="onAggregateAttributeRemove()">
  </kanban-value-attribute-config>
</ng-container>
