<kanban-collection-config *ngFor="let stem of query?.stems; trackBy:trackByStem; let index = index"
                          class="d-block mt-4"
                          [stem]="stem"
                          [config]="config?.stemsConfigs && config?.stemsConfigs[index] || defaultStemConfig"
                          [collections]="collections"
                          [columnTitles]="config | kanbanColumnTitles:config?.stemsConfigs[index].attribute"
                          [linkTypes]="linkTypes"
                          (configChange)="onConfigChange($event, stem, index)">
</kanban-collection-config>
