<ng-container *ngIf="query | perspectiveDisplayable:1; else notDisplayable">
  <collapsible-sidebar *ngIf="canManageConfig"
                       [collapsed]="!sidebarOpened"
                       (toggle)="sidebarToggle.emit()">
    <kanban-config
      class="d-block m-3"
      [collections]="collections"
      [linkTypes]="linkTypes"
      [config]="config"
      [query]="query"
      [visible]="sidebarOpened"
      (configChange)="onConfigChanged($event, true)"
      [constraintData]="constraintData">
    </kanban-config>
  </collapsible-sidebar>

  <kanban-columns
    *ngIf="data$ | async as kanbanData"
    class="flex-grow-1 h-100"
    [collections]="collections"
    [data]="data"
    [linkTypes]="linkTypes"
    [config]="config"
    [kanbanData]="kanbanData"
    [permissions]="permissions"
    [query]="query"
    [currentUser]="currentUser"
    [canManageConfig]="canManageConfig"
    [constraintData]="constraintData"
    [workspace]="workspace"
    (patchDocumentData)="patchDocumentData($event)"
    (patchLinkInstanceData)="patchLinkInstanceData($event)"
    (updateLinkDocuments)="updateLinkDocuments($event)"
    (columnsMoved)="onColumnMoved($event)"
    (columnRemove)="onColumnRemove($event)"
    (columnsChange)="onColumnsChanged($event)">

  </kanban-columns>

</ng-container>

<ng-template #notDisplayable>
  <invalid-query class="w-100"
                 [minStems]="1">
  </invalid-query>
</ng-template>
