<h5 i18n="templates.choose">Choose a template</h5>

<create-resource-dialog-template *ngFor="let template of templates; let first = first"
                                 class="d-block"
                                 id="{{idPrefix}}{{template.type}}"
                                 [class.mt-2]="!first"
                                 [template]="template"
                                 [selected]="selectedTemplate === template.type"
                                 (templateSelect)="onSelect(template)">
</create-resource-dialog-template>
