@import '../../../../styles/variables';

:host {
  background: $white !important;

  padding: 0 18px !important;

  .colors {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    &:active,
    &:hover {
      background-color: inherit;
      color: inherit;
    }

    div {
      border: 2px solid transparent;
      margin-right: 3px;
      margin-top: 3px;
      width: 20.5px;
      height: 19.5px;
    }
  }

  hr {
    margin-top: 15px;
  }

  label {
    transition: color $animation-color-duration;
    margin: 5px 0 0;

    &:hover {
      color: $primary;
    }
  }

  .large-text {
    font-size: 18px;
  }

  .control-icon {
    color: $primary;
  }
}
