@import "../../variables";

:host {
  background: $secondary-color !important;

  padding: 0 18px !important;
  display: flex;
  flex-wrap: wrap;

  &:active, &:hover {
    background-color: inherit;
    color: inherit;
  }

  hr {
    margin-top: 15px;
  }

  div {
    border: 2px solid transparent;
    margin-right: 3px;
    margin-top: 3px;
    width: 20.5px;
    height: 19.5px;
  }

  label {
    transition: color $animation-color-duration;
    margin: 5px 0 0;

    &:hover {
      color: $success;
    }
  }

  .large-text {
    font-size: 18px;
  }

  .control-icon {
    color: $success;
  }
}
