.header-item {
  display: table-cell;
  padding: 5px 5px 2px 5px;
  border: 1px solid #888;

  &.header-hidden {
    padding: 5px 0 2px 0;
    opacity: 0.5;
  }

  span[contenteditable] {
    display: inline-block;
    min-width: 20px;
  }

  &.active {
    opacity: 0.8;
  }

  .header-title {
    .header-actions {
      color: transparent;
    }
  }

  .header-title:hover {
    .header-actions {
      color: #000000;
    }
  }

  .placeholder {
    width: 22px;
    height: 15px;
  }

  .dropdown, .placeholder {
    display: inline-block;

    .dropdown-toggle {
      background: none;
    }

    li {
      cursor: pointer;
    }
  }
}

[contenteditable]:focus {
  outline: 0 solid transparent;
}
