<div class="header-item border-0"></div>
<div *ngFor="let headerItem of header.cells; let index = index"
     [ngStyle]="{
       'background-color': settings.color,
       'border-color': headerItem.active ? settings.highlightColor : '#888'
     }"
     [ngClass]="{active: headerItem.active
 , 'header-hidden': headerItem.hidden}"
     (mouseover)="onHover(index)"
     class="header-item">
  <div class="header-title d-flex justify-content-between">
    <span *ngIf="!headerItem.hidden"
          (blur)="(headerExists(model)) ? $event.target.innerText = headerItem.label : onEdit(model, index)"
          (focus)="model = $event.target.innerText"
          (input)="model = $event.target.innerText"
          [attr.contenteditable]="settings.editable">
      {{ headerItem.label || '&nbsp;'}}
    </span>
    <a (click)="showColumn.next(index)"
       *ngIf="headerItem.hidden"
       title="Show hidden column" i18n-title="@@table.header.menu.show"
       class="mx-1">
      <i class="fa fa-fw fa-eye"></i>
    </a>
    <div class="header-actions ml-1 dropup"
         *ngIf="!headerItem.hidden">
      <a data-toggle="dropdown">
        <i class="fa fa-cog" aria-hidden="true"></i>
      </a>

      <div class="dropdown-menu px-2">
        <div class="d-flex">
          <a title="Sort descending" i18n-title="@@table.header.menu.sort.descending"
             class="mx-1">
            <i class="fa fa-fw fa-caret-square-down text-success"></i>
          </a>
          <a title="Sort ascending" i18n-title="@@table.header.menu.sort.ascending"
             class="mx-1">
            <i class="fa fa-fw fa-caret-square-up text-success"></i>
          </a>
          <a title="Copy" i18n-title="@@table.header.menu.copy"
             class="mx-1">
            <i class="fa fa-fw fa-copy text-success"></i>
          </a>
          <a title="Cut" i18n-title="@@table.header.menu.cut"
             class="mx-1">
            <i class="fa fa-fw fa-cut text-success"></i>
          </a>
          <a (click)="hideColumn.next(index)"
             title="Hide" i18n-title="@@table.header.menu.hide"
             class="mx-1">
            <i class="fa fa-fw fa-eye-slash text-success"></i>
          </a>
          <a title="Remove column" i18n-title="@@table.header.menu.remove"
             (click)="removeColumn.next(index)"
             class="mx-1">
            <i class="fa fa-fw fa-times text-danger"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
