<div class="perspective" #perspective (scroll)="loadMore(perspective)" [style.height]="height + 'px'">
  <div class="layout" #layout>

    <add-document *ngIf="editable && query.collectionCodes.length < 2"
                  class="layout-item"
                  [query]="query"
                  (newDocument)="createDocument($event)"></add-document>

    <ng-container *ngFor="let postIt of postIts">
      <post-it-document *ngIf="postIt.collection"
                        class="layout-item card post-it
                        {{ !postIt.initialized ? 'uninitialized' : null }}
                        {{ postIt === lastClickedPostIt ? 'selected' : null }}"
                        [attr.z-index]="postIt.selectedInput.documentIdx === postIt.index ? 50 : null"
                        [data]="postIt"
                        (selectOther)="selectDocument($event)"
                        (removed)="confirmDeletion(postIt, modal)"
                        (changes)="sendUpdate(postIt)">
      </post-it-document>
    </ng-container>

    <datalist *ngFor="let attributeSuggestionsEntry of attributeSuggestionsEntries()"
              id="{{ attributeSuggestionsEntry[0] }}">
      <option *ngFor="let suggestion of attributeSuggestionsEntry[1]">{{ suggestion }}</option>
    </datalist>

    <label *ngIf="!editable && query && !postIts.length"
           class="label-centered"
           i18n="@@document.list.empty">Nothing To Show</label>
  </div>
</div>

<a tabindex
   (click)="showMore(perspective)"
   class="scroll-down"
   i18n="@@document.button.show.more">
  Show More
  <i class="fa fa-chevron-down"></i>
</a>

<!-- modal -->
<ng-template #modal>
  <div class="modal-header bg-danger text-white rounded-top">
    <h5 class="modal-title" i18n="@@document.delete.dialog.title">Delete Document?</h5>
    <button type="button" class="close" aria-label="Close" (click)="deleteConfirm.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p i18n="@@document.delete.dialog.body">Deleting a document will permanently remove it from this collection.</p>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-secondary"
            (click)="deleteConfirm.hide()"
            i18n="@@document.delete.dialog.button.no">No, Keep Document
    </button>
    <button type="button"
            class="btn btn-danger"
            (click)="deleteConfirm.hide(); removeDocument(postItToDelete)"
            i18n="@@document.delete.dialog.button.yes">Yes, Delete Document
    </button>
  </div>
</ng-template>
