@import "../../../shared/variables";

:host {
  display: block;

  .perspective {
    overflow: auto;

    transition: height $animation-duration-slow;
    -webkit-transition: height $animation-duration-slow;
    -moz-transition: height $animation-duration-slow;
    -o-transition: height $animation-duration-slow;
  }

  .layout {
    margin: 0 auto;
  }

  .layout-item {
    width: $post-it-width;
  }

  .uninitialized {
    border-width: 1.5px;
    border-style: dashed;
  }

  .scroll-down {
    position: relative;
    font-size: 24px;
    float: right;
    margin: 10px;

    i {
      padding-left: 10px;
    }
  }

  .label-centered {
    position: absolute;
    font-size: 40px;
    top: 150px;
    width: 100%;
    text-align: center;
  }
}
