<div class="fadedown"></div>
<div class="perspective" #perspective (scroll)="loadMore(perspective)" [style.height]="height + 'px'">
  <div class="layout" #layout>

    <add-document class="layout-item" *ngIf="editable"
                  (newDocument)="createDocument($event)"></add-document>

    <ng-container *ngFor="let postIt of postIts">
      <post-it-document *ngIf="postIt.collection"
                        class="layout-item {{ !postIt.initialized ? 'uninitialized' : null }}"
                        [attr.z-index]="postIt.selectedInput.documentIdx === postIt.index ? 50 : null"
                        [data]="postIt"
                        (selectOther)="selectDocument($event)"
                        (removed)="confirmDeletion(postIt, modal)"
                        (changes)="sendUpdate(postIt)">
      </post-it-document>
    </ng-container>

    <ng-container *ngFor="let attributeSuggestionsEntry of attributeSuggestionsEntries()">
      <datalist id="{{ attributeSuggestionsEntry[0] }}">
        <option *ngFor="let suggestion of attributeSuggestionsEntry[1]">{{ suggestion }}</option>
      </datalist>
    </ng-container>

    <label *ngIf="!editable && !query" class="label-centered">No Search Query</label>
    <label *ngIf="!editable && query && !postIts.length" class="label-centered">Nothing To Show</label>
  </div>
</div>
<div class="fadeup"></div>

<a (click)="onScrollDown(perspective)" class="scroll-down">Scroll Down<i class="fa fa-chevron-down"></i></a>

<!-- modal -->
<ng-template #modal>
  <div class="modal-header bg-danger text-white">
    <h5 class="modal-title">Delete Document?</h5>
    <button type="button" class="close" aria-label="Close" (click)="deleteConfirm.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Deleting a document will permanently remove it from this collection.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="deleteConfirm.hide()">No, Keep Document</button>
    <button type="button" class="btn btn-danger" (click)="deleteConfirm.hide(); removeDocument(postItToDelete)">
      Yes, Delete Document
    </button>
  </div>
</ng-template>
