<button type="button"
        class="add-part-button cursor-pointer d-flex align-items-center justify-content-center"
        data-test="table-header-add-button"
        title="Link table"
        i18n-title="@@table.header.add-button"
        aria-haspopup="true"
        aria-expanded="false"
        [matMenuTriggerFor]="contextMenu">
  <i class="far fa-plus"></i>
</button>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent
               *ngIf="{collections: collections$ | async, linkTypes: linkTypes$ | async, lastCol: parts | lastColumn} as data">
    <button *ngIf="!data.lastCol || (data.lastCol?.attributeIds?.length > 0 && data.collections?.length > 0)"
            mat-menu-item
            (click)="onClick($event); onAddColumn()">
      <icons-presenter [colors]="['#000']"
                       [icons]="['fas fa-plus-circle']"
                       class="mr-1">
      </icons-presenter>
      <span i18n="@@table.header.menu.add.column">
      Add a new column
    </span>
    </button>
    <hr class="my-2" *ngIf="!data.lastCol || (data.lastCol?.attributeIds?.length > 0 && data.collections?.length > 0)">

    <small *ngIf="data.linkTypes && data.linkTypes.length > 0"
           class="text-muted mx-3 pb-2"
           i18n="@@table.header.suggestion.link.existing">Use existing link
    </small>

    <button *ngFor="let linkType of data.linkTypes"
            mat-menu-item
            (click)="onClick($event); onUseLinkType(linkType[0])">
      <icons-presenter [colors]="[linkType[1]?.color, linkType[2]?.color]"
                       [icons]="[linkType[1]?.icon, linkType[2]?.icon]"
                       class="mr-1">
      </icons-presenter>
      <span [title]="linkType[0]?.name"
            data-test="table-header-add-linktype-option">
      {{linkType[0]?.name | truncate:20}}
    </span>
    </button>

    <hr class="my-2"
        *ngIf="data.collections && data.collections.length > 0 && data.linkTypes && data.linkTypes.length > 0">
    <small *ngIf="data.collections && data.collections.length > 0" class="text-muted mx-3 pb-2"
           i18n="@@create.new.link">Create new link
    </small>
    <button *ngFor="let collection of data.collections"
            mat-menu-item
            (click)="onClick($event); onUseCollection(collection)"
            data-test="table-header-add-collection-option">
      <icons-presenter [colors]="[collection.color]"
                       [icons]="[collection.icon]"
                       class="mx-2">
      </icons-presenter>
      <span [title]="collection.name">
      {{collection.name | truncate:20}}
      </span>
    </button>
  </ng-template>
</mat-menu>
