<button type="button"
        class="add-part-button"
        data-test="table-header-add-button"
        title="Link collection"
        i18n-title="@@table.header.add-button"
        aria-haspopup="true"
        aria-expanded="false"
        (click)="onButtonClick($event)">
  <i class="far fa-plus"></i>
</button>

<context-menu *ngIf="{collections: collections$ | async, linkTypes: linkTypes$ | async} as data"
              (open)="onOpen()"
              (close)="onClose()">
  <ng-template *ngIf="data.linkTypes && data.linkTypes.length > 0"
               contextMenuItem
               [enabled]="false"
               [passive]="true">
    <small class="cursor-not-allowed"
           i18n="@@table.header.suggestion.link.existing">Use existing link
    </small>
  </ng-template>

  <ng-template *ngFor="let linkType of data.linkTypes"
               contextMenuItem
               (execute)="onUseLinkType(linkType[0])">
    <icons-presenter [colors]="[linkType[1]?.color, linkType[2]?.color]"
                     [icons]="[linkType[1]?.icon, linkType[2]?.icon]"
                     class="mr-1">
    </icons-presenter>
    <span [title]="linkType[0]?.name"
          data-test="table-header-add-linktype-option">
      {{linkType[0]?.name | truncate:20}}
    </span>
  </ng-template>

  <ng-template *ngIf="data.collections && data.collections.length > 0 && data.linkTypes && data.linkTypes.length > 0"
               contextMenuItem
               [divider]="true">
  </ng-template>

  <ng-template *ngIf="data.collections && data.collections.length > 0"
               contextMenuItem
               [enabled]="false"
               [passive]="true">
    <small class="cursor-not-allowed"
           i18n="@@create.new.link">Create new link
    </small>
  </ng-template>
  <ng-template *ngFor="let collection of data.collections"
               contextMenuItem
               (execute)="onUseCollection(collection)">
    <icons-presenter [colors]="[collection.color]"
                     [icons]="[collection.icon]"
                     class="mx-2">
    </icons-presenter>
    <span [title]="collection.name"
          data-test="table-header-add-collection-option">
      {{collection.name | truncate:20}}
    </span>
  </ng-template>
</context-menu>
