@import '../../../../styles/variables';

:host {
  a.nav-link {
    max-width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:not(.active) {
      color: $primary;
    }

    &:hover:not(.active) {
      color: $primary-hover;
    }
  }
}
