@import '~src/styles/variables';

:host {
  display: flex;
  height: $table-min-row-height;
  line-height: $table-min-row-height;
}

.row-number-cell {
  min-width: var(--row-number-column-width);
}

.link-info-cell {
  border-right: 1px solid transparent;

  & > div {
    width: var(--link-info-column-width, 0px);
  }
}
