<div [contextMenu]="contextMenu"
     [style.background]="collection$ | async | columnBackground"
     [style.width.px]="column | columnWidth"
     (mousedown)="onMouseDown()"
     title="Show hidden columns" i18n-title="@@table.header.show.hidden.columns"
     class="table-border-right table-border-bottom text-center h-100">
  <i class="fas fa-ellipsis-v text-secondary"></i>
</div>

<context-menu #contextMenu>
  <ng-template *ngFor="let attribute of hiddenAttributes$ | async"
               (execute)="onShowSingleColumn(attribute)"
               contextMenuItem>
    <span>{{attribute | attributeLastName}}</span>
    <small class="text-secondary pl-1">({{attribute.name}})</small>
  </ng-template>
  <ng-template *ngIf="column.attributeIds.length > 1"
               (execute)="onShowAllColumns()"
               contextMenuItem>
    <span i18n="@@table.header.show.all">All columns</span>
  </ng-template>
</context-menu>
