<div [style.backgroundColor]="backgroundColor() | async"
     [style.width]="width()"
     (mousedown)="onMouseDown()"
     title="Hidden columns" i18n-title="@@table.header.hidden.columns"
     class="table-border-right table-border-bottom h-100 dropdown">
  <i class="fas fa-ellipsis-v text-secondary"
     data-toggle="dropdown"></i>
  <div class="dropdown-menu">
    <h6 class="dropdown-header"
         i18n="@@table.header.show.hidden.columns">Show hidden columns
    </h6>
    <a *ngFor="let attribute of hiddenAttributes() | async"
       (click)="onShowSingleColumn(attribute)"
       class="dropdown-item">
      <span>{{attribute.name}}</span>
      <small class="text-secondary pl-1">({{attribute.id}})</small>
    </a>
    <a *ngIf="column.attributeIds.length > 1"
       (click)="onShowAllColumns()"
       class="dropdown-item"
       i18n="@@table.header.show.all">All columns</a>
  </div>
</div>
