<div class="container-fluid">
  <div class="row">
    <div class="col pointer-events-none"></div>
    <div class="col-lg-6 col-xl-7 mb-4">
      <view-controls *ngIf="view"
                     [view]="view"
                     (save)="onSave($event)">
      </view-controls>

      <div *ngIf="!view"
           class="alert alert-warning"
           i18n="@@view.not.exist">View does not exist!
      </div>
    </div>
    <div class="col pointer-events-none"></div>
  </div>
</div>

<router-outlet></router-outlet>
