<div class="d-flex mx-3 mb-4">
  <div [style.width.px]="sideWidth$ | async"
       class="d-none d-xl-block pointer-events-none"></div>
  <div class="flex-grow-1">
    <view-controls *ngIf="view"
                   [novice]="!(viewsExist$ | async)"
                   [view]="view"
                   (save)="onSave($event)">
    </view-controls>

    <div *ngIf="!view"
         class="alert alert-warning"
         i18n="@@view.not.exist">View does not exist!
    </div>
  </div>
  <div [style.width.px]="sideWidth$ | async"
       class="d-none d-xl-block pointer-events-none"></div>
</div>

<router-outlet></router-outlet>
