<div class="form-control d-flex w-100 p-0">
  <div class="d-flex flex-wrap w-100 pb-1 pr-1">
    <div class="query-item py-1 px-2 mt-1 ml-1"
         *ngFor="let queryItem of queryItems; let ix = index"
         [style.background-color]="queryItem.color">
      <i *ngIf="queryItem.icon" class="{{queryItem.icon}} mr-1" aria-hidden="true"></i>
      <span>{{queryItem.text}}</span>
      <i class="fas fa fa-times remove" (click)="onRemoveQueryItem(ix)" aria-hidden="true"></i>
    </div>

    <div class="dropdown" *ngIf="text && suggestionItems.length > 0">
      <div class="dropdown-menu show suggestions">
        <div class="dropdown-item d-flex justify-content-between"
             *ngFor="let suggestion of suggestionItems; let ix = index"
             [class.selected]="ix == selectedSuggestion"
             (mousedown)="onSuggestionClick(suggestion)">
          <div class="d-inline-flex">
            <div class="icon-container">
              <i *ngIf="suggestion.icon" [style.color]="suggestion.color"
                 class="{{suggestion.icon}} icon"
                 aria-hidden="true"></i></div>
            {{suggestion.text}}
          </div>
          <span>{{suggestion.type}}</span>
        </div>
      </div>
    </div>

    <!-- TODO remove once Angular supports ICU messages in attributes -->
    <div hidden>
      <span #inputPlaceholder i18n="@@search.input.placeholder">
        {queryItems.length, select, 0 {Type anything you search for...} other {}}
      </span>
    </div>

    <input class="border-0 flex-grow no-outline py-1 px-2 mt-1 ml-1"
           #searchBox
           [(ngModel)]="text"
           (keydown)="onKeyDown($event)"
           (keyup)="onKeyUp($event)"
           (focus)="suggest()"
           (blur)="hideSuggestions()"
           [placeholder]="removeHtmlComments(inputPlaceholder)"/>
  </div>

  <button class="btn search-button"
          type="button"
          title="Search" i18n-title="@@search.button"
          (click)="onButtonClick()">
    <i class="fa fa-search" aria-hidden="true"></i>
    <span class="d-none" i18n="@@search.button">Search</span>
  </button>
</div>
