@import "../variables";

.query-item {
  background-color: #faeabb;
  border-radius: $border-radius-base;
  white-space: nowrap;
}

.suggestions {
  min-width: 250px;
}

.search-button {
  background: transparent;
  border: 0;
  color: $success;

  &:hover {
    background-color: $success;
    color: $white;
  }
}
