<div *ngFor="let queryItem of queryItems" class="query-item">{{queryItem}}</div>

<div class="input">
  <input #searchBox [(ngModel)]="text" (keydown)="onKeyDown($event)" (keyup)="onKeyUp($event)" (focus)="suggest()" (blur)="hideSuggestions()" placeholder="Type anything you search for..."/>
  <div class="relative-point" *ngIf="suggestions|async;let suggestionItems">
    <ul class="suggestions" *ngIf="suggestionItems.length > 0">
      <li *ngFor="let suggestion of suggestionItems" (click)="complete(suggestion)" class="suggestion">
        <span class="suggestion-text">{{suggestion.text}}</span>
        <span class="suggestion-type">{{suggestion.type}}</span>
      </li>
    </ul>
  </div>
</div>

<button (click)="onButtonClick()">
  <i class="fa fa-search" aria-hidden="true"></i>
  <span>Search</span>
</button>
