@import "../../shared/lumeer-variables";

.query-item {
  background-color: #faeabb;
  border-radius: $border-radius-base;
  white-space: nowrap;

  span {
    margin-left: 3px;
  }
}

.search-input {
  border: 0;
  flex-grow: 2;

  &:focus {
    outline: none;
  }
}

.suggestions {
  min-width: 250px;
}

.search-button {
  background: transparent;
  border: 0;
  color: $brand-success;

  &:hover {
    background-color: $brand-light;
  }
}
