<div class="tabs-content ">

  <div class="d-flex flex-wrap align-items-center tabs-list">

    <div *ngFor="let tab of tabs$ | async; let index = index; let last = last; trackBy: trackByTab" class="position-relative tab cursor-pointer mt-1"
         [class.mr-2]="last"
         [class.mr-1]="!last"
         [class.dragging]="(draggedTabId$ | async) === tab.id"
         [draggable]="true"
         (dragstart)="onDragStart(tab)"
         (dragend)="onDragEnd()"
         (dragover)="$event.preventDefault()"
         (dragenter)="onDragEnter(tab)"
         (dragleave)="onDragLeave(tab)"
         (drop)="onDrop(tab)">
      <dashboard-tab-badge [tab]="tab"
                           [selected]="tab | isTabSelected:(selectedTabId$ | async)"
                           (remove)="removeTab(index)"
                           (toggleHidden)="toggleHiddenTab(index)"
                           (click)="selectTab(tab)">
      </dashboard-tab-badge>
      <div *ngIf="(dragging$ | async) && tab.id !== draggedTab?.id" class="dragging-area position-absolute"></div>
    </div>
  </div>

  <div class="px-2 text-primary clickable d-flex align-items-center"
       tooltip="Add a new tab"
       i18n-tooltip="@@search.tabs.settings.dialog.add.tab"
       (click)="addTab()">
    <i class="far fa-plus-circle"></i>
  </div>

</div>

<div class="alert alert-danger mt-3" *ngIf="!(tabsAreValid$ | async)" i18n="@@search.tabs.settings.dialog.error.empty">
  There must be at least one visible tab in the dashboard.
</div>

<hr>

<dashboard-tab-settings *ngIf="selectedTab$ | async as selectedTab"
                        [tab]="selectedTab"
                        (tabChange)="onSelectedTabChange($event)">
</dashboard-tab-settings>
