<div class="tabs-content">

  <div class="d-flex flex-wrap align-items-center tabs-list" cdkDropList cdkDropListOrientation="horizontal"
       (cdkDropListDropped)="tagDropped($event)">

    <dashboard-tab *ngFor="let tab of tabs$ | async; let index = index; let last = last; trackBy: trackByTab"
                   class="cursor-pointer tab mt-1"
                   cdkDrag
                   [class.mr-2]="last"
                   [class.mr-1]="!last"
                   [tab]="tab"
                   [selected]="(selectedTabId$ | async) === tab.id"
                   (remove)="removeTab(index)"
                   (toggleHidden)="toggleHiddenTab(index)"
                   (click)="selectTab(tab)">
      <i class="fa-fw fa fa-grip-horizontal cursor-move mr-2 text-black-50" cdkDragHandle></i>
    </dashboard-tab>

  </div>

  <div class="px-2 text-primary clickable d-flex align-items-center" (click)="addTab()">
    <i class="far fa-plus-circle"></i>
  </div>

</div>

<hr>

<dashboard-tab-settings *ngIf="selectedTab$ | async as selectedTab"
                        [tab]="selectedTab"
                        (tabChange)="onSelectedTabChange($event)">
</dashboard-tab-settings>
