<ng-container *ngIf="{data: data$ | async} as data">
  <map-image-content *ngIf="map?.config?.imageUrl"
                     [map]="map"
                     [markerData]="data.data">
  </map-image-content>
  <map-globe-content *ngIf="!map?.config?.imageUrl"
                     [map]="map"
                     [constraintData]="constraintData"
                     [markerData]="data.data"
                     (detail)="onMarkerDetail($event)"
                     (mapMove)="onMapMove($event)">
  </map-globe-content>
</ng-container>
