<ng-container *ngIf="query$ | async | perspectiveDisplayable:1; else invalidQuery">
  <ng-container
    *ngIf="{collections: collections$ | async, documentsAndLinks: documentsAndLinks$ | async, map: map$ | async, linkTypes: linkTypes$ | async, query: query$ | async} as data">
    <collapsible-sidebar *ngIf="data.map && (canManageConfig$ | async)"
                         [collapsed]="!(sidebarOpened$ | async)"
                         (toggle)="onSidebarToggle()">
      <map-panel [collections]="data.collections"
                 [linkTypes]="data.linkTypes"
                 [query]="data.query"
                 [map]="data.map"
                 class="mx-3 mb-3">
      </map-panel>
    </collapsible-sidebar>

    <map-content *ngIf="data.map"
                 [collections]="data.collections"
                 [documents]="data.documentsAndLinks.documents"
                 [linkTypes]="data.linkTypes"
                 [query]="data.query"
                 [permissions]="permissions$ | async"
                 [linkInstances]="data.documentsAndLinks.linkInstances"
                 [constraintData]="constraintData$ | async"
                 [map]="data.map">
    </map-content>
  </ng-container>
</ng-container>

<ng-template #invalidQuery>
  <invalid-query class="w-100"
                 [minStems]="1">
  </invalid-query>
</ng-template>
