<ng-container *ngIf="query$ | async | perspectiveDisplayable:1; else invalidQuery">
  <ng-container
    *ngIf="{collections: collections$ | async, map: perspectiveId$ | async | mapModelFromConfig:(config$ | async), linkTypes: linkTypes$ | async, query: query$ | async} as data">
    <collapsible-sidebar *ngIf="perspectiveConfiguration?.showSidebar && data.map && (canManageConfig$ | async)"
                         [collapsed]="!(sidebarOpened$ | async)"
                         (toggle)="onSidebarToggle()">
      <map-panel [collections]="data.collections"
                 [linkTypes]="data.linkTypes"
                 [query]="data.query"
                 [map]="data.map"
                 class="mx-3 mb-3">
      </map-panel>
    </collapsible-sidebar>

    <map-content *ngIf="data.map"
                 [collections]="data.collections"
                 [data]="data$ | async"
                 [linkTypes]="data.linkTypes"
                 [query]="data.query"
                 [view]="currentView$ | async"
                 [user]="currentUser$ | async"
                 [permissions]="permissions$ | async"
                 [constraintData]="constraintData$ | async"
                 [map]="data.map">
    </map-content>
  </ng-container>
</ng-container>

<ng-template #invalidQuery>
  <invalid-query class="w-100"
                 [query]="query$ | async"
                 [view]="currentView$ | async"
                 [minStems]="1">
  </invalid-query>
</ng-template>
