@import '../../../styles/variables';
@import '../../../styles/bootstrap_var';

:host {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 'logo controls-toggle user-panel'; //  "workspace-panel workspace-panel workspace-panel" "search-box search-box search-box" "controls controls controls"
  grid-template-columns: auto auto 1fr;
  align-items: center;
}

.logo {
  grid-area: logo;
  justify-self: start;
}

.controls-toggle {
  grid-area: controls-toggle;
}

.user-panel {
  grid-area: user-panel;
}

.workspace-panel {
  grid-area: 2 / 1 / 2 / -1;
}

.search-box {
  grid-area: 3 / 1 / 3 / -1;
}

.controls {
  grid-area: 4 / 1 / 4 / -1;
}

@include media-breakpoint-up(md) {
  .workspace-panel {
    grid-area: workspace-panel;
  }

  .search-box {
    grid-area: search-box;
  }

  .controls {
    grid-area: controls;
  }
}

@include media-breakpoint-between(md, xl) {
  :host {
    grid-template-areas: 'logo workspace-panel user-panel' 'search-box search-box search-box' 'controls controls controls';
  }
}

@include media-breakpoint-up(xl) {
  :host {
    grid-template-areas: 'logo workspace-panel search-box user-panel' '. . controls .';
    grid-template-columns: auto auto 1fr auto;
  }

  .user-panel {
    width: var(--top-panel-side-width);
  }
}
