<ng-container *ngIf="{workspace: workspace$ | async, controlsShown: controlsShown$ | async} as state">
  <lumeer-logo [height]="lineHeight"
               [link]="['/']"
               [text]="!(state.workspace | workspaceSet) ? 'Lumeer' : null"
               class="logo">
  </lumeer-logo>

  <controls-toggle *ngIf="mobile"
                   (toggle)="onToggleControls()"
                   class="controls-toggle">
  </controls-toggle>

  <workspace-panel *ngIf="state.controlsShown && (state.workspace | workspaceSet)"
                   [workspace]="state.workspace"
                   class="workspace-panel">
  </workspace-panel>

  <user-panel [workspace]="state.workspace"
              class="user-panel">
  </user-panel>

  <search-box *ngIf="state.controlsShown && (state.workspace | workspaceSet) && searchBoxShown"
              class="search-box">
  </search-box>

  <div *ngIf="state.controlsShown"
       class="controls">
    <ng-content></ng-content>
  </div>

  <app-tour></app-tour>
</ng-container>
