@import '../../../styles/variables';
@import '../../../styles/bootstrap_var';

$top-panel-height: 48px;

.panel-item {
  height: $top-panel-height;
  line-height: $top-panel-height;
  white-space: nowrap;
}

:host {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "logo user-panel" "workspace-panel workspace-panel" "search-box search-box";
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.logo {
  grid-area: logo;
  justify-self: start;
}

.workspace-panel {
  grid-area: workspace-panel;
}

.search-box {
  grid-area: search-box;
}

.user-panel {
  grid-area: user-panel;
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  :host {
    grid-template-areas: "logo workspace-panel user-panel" "search-box search-box search-box";
    grid-template-columns: auto auto 1fr;
  }
}

@media (min-width: 1200px) {

  :host {
    grid-template-areas: "logo workspace-panel search-box user-panel";
    grid-template-columns: auto auto 1fr auto;
  }

  .user-panel {
    width: var(--top-panel-side-width);
  }

}
