<ng-container *ngIf="query$ | async | displayable; else notDisplayable">

  <ng-container *ngIf="{collections: collections$ | async,  config: config$ | async,
                canManageConfig: currentView$ | async | canManageConfig | async} as data">
    <collapsible-sidebar *ngIf="data.canManageConfig">
      <calendar-config
        class="d-block m-3"
        [collections]="data.collections"
        [config]="data.config"
        (configChange)="onConfigChanged($event)">
      </calendar-config>
    </collapsible-sidebar>

    <calendar-visualization
      class="flex-grow-1 mx-3 mb-3"
      [collections]="data.collections"
      [documents]="documents$ | async"
      [canManageConfig]="data.canManageConfig"
      [config]="data.config"
      (patchData)="patchDocumentData($event)"
      (configChange)="onConfigChanged($event)">
    </calendar-visualization>
  </ng-container>

</ng-container>

<ng-template #notDisplayable>
  <invalid-query [minCollections]="1">
  </invalid-query>
</ng-template>
