<div *ngIf="query$ | async | displayable; else notDisplayable" class="px-3">

  <ng-container *ngIf="{collections: collections$,  configs: config$} as data">
    <ng-container *ngFor="let collection of data.collections">
      <calendar-config
        [collection]="collection"
        [allConfigs]="data.configs"
        [configOfCollection]="data.configs | filterConfigs:collection.id"
        (configChange)="onConfigChanged($event)">
      </calendar-config>
    </ng-container>

    <calendar-visualization
      class="row align-items-center justify-content-center"
      [collections]="data.collections"
      [documents]="documents$"
      [allConfigs]="data.configs"
      (patchData)="patchDocumentData($event)">
    </calendar-visualization>
  </ng-container>
</div>

<ng-template #notDisplayable>
  <div class="alert alert-warning m-3"
       role="alert"
       i18n="@@ganttChart.query.invalid">Calendar perspective cannot show the results of your query. The query needs to have exactly one collection.
  </div>
</ng-template>
