<modal-wrapper
  [dialogType]="dialogType.Primary"
  (onSubmit)="onClose()"
  [showClose]="false"
  [showSubmit]="true"
  [showHeader]="false">

  <div class="body p-3"
       *ngIf="{collection: collection$ | async, document: document$ | async} as data">
    <data-resource-detail *ngIf="data.collection && data.document"
                          [resource]="data.collection"
                          [dataResource]="data.document"
                          [query]="query$ | async"
                          [preventEventBubble]="true"
                          [editable]="!(performingAction$ | async)"
                          [toolbarRef]="toolbarRef"
                          [defaultView]="view$ | async"
                          (dataResourceChanged)="onDocumentChanged($event)"
                          (documentSelect)="selectCollectionAndDocument($event.collection, $event.document)">
    </data-resource-detail>
  </div>

  <span class="button-submit">
      <i class="fal fa-check me-2"></i><span i18n="@@button.done">Done</span>
  </span>

</modal-wrapper>
