<div [formGroup]="form">
  <p class="text-muted"
     i18n="@@constraint.select.options.description">
    Keeps a predefined set of valid values from which one can be selected. At least one value must be configured.
  </p>

  <div class="form-group">

    <div class="d-flex flex-row flex-nowrap pt-1 align-items-center">
      <label class="switch" [for]="formControlName.Multi">
        <input type="checkbox" [formControlName]="formControlName.Multi" [id]="formControlName.Multi" #multi>
        <span class="slider round" (click)="$event.stopPropagation()"></span>
      </label>
      <span class="pl-2 cursor-pointer user-select-none" i18n="@@constraint.select.multi.label" (click)="multi.click()">Allow select multiple values</span>
    </div>

    <div class="d-flex flex-row flex-nowrap pt-1 align-items-center">
      <label class="switch" [for]="formControlName.DisplayValues">
        <input type="checkbox" [formControlName]="formControlName.DisplayValues" [id]="formControlName.DisplayValues"
               #displayValues>
        <span class="slider round" (click)="$event.stopPropagation()"></span>
      </label>
      <span class="pl-2 cursor-pointer user-select-none" i18n="@@constraint.select.displayValues.label" (click)="displayValues.click()">Distinguish display values</span>
      <i class="fas fa-question-circle ml-1 cursor-help"
         title="Use different values for users and for computations in functions (e.g. High Priority = 3)."
         i18n-title="@@constraint.select.displayValues.help">
      </i>
    </div>

  </div>

  <select-constraint-options-form [displayValues]="displayValuesControl.value"
                                  [form]="optionsForm"
                                  [uniqueValues]="uniqueValues"
                                  [options]="config?.options">
  </select-constraint-options-form>
</div>
