<div [formGroup]="form">
  <p class="text-muted"
     i18n="@@constraint.select.options.description">
    Keeps a predefined set of valid values from which one can be selected. At least one value must be configured.
  </p>

  <div class="form-group mt-3 mb-0">

    <div class="d-flex flex-row flex-nowrap pt-1 align-items-center">
      <label class="switch" [for]="formControlName.Multi">
        <input type="checkbox" [formControlName]="formControlName.Multi" [id]="formControlName.Multi" #multi>
        <span class="slider round" (click)="$event.stopPropagation()"></span>
      </label>
      <span class="pl-2 cursor-pointer user-select-none" i18n="@@constraint.select.multi.label" (click)="multi.click()">Allow select multiple values</span>
    </div>

  </div>

  <select-constraint-options-form [form]="form"
                                  [dataValues]="dataValues$ | async"
                                  [options]="config?.options">
  </select-constraint-options-form>
</div>
