.layout {
  position: relative;

  .full-width {
    position: absolute;
    left: 0;
    right: 0;
  }

  @media (min-width: 768px) {
    .tags {
      width: 250px;
    }
  }

  @media (max-width: 767.98px) {
    .tags {
      flex: 1;
    }
  }
}
