@import '../../../../../styles/variables';

.header {
  display: grid;
  grid-template-columns: 1fr 2fr min-content;

  .roles {
    display: grid;
    grid-template-columns: auto minmax(200px, max-content);
    align-items: center;
  }
}

.blur {
  filter: blur(12px);
}

.teams-list {
  display: grid;

  .team:not(:last-child) {
    border-bottom: 1px solid $gray-200;
  }

  .layer1,
  .layer2 {
    grid-column: 1;
    grid-row: 1;
  }

  .layer2 {
    z-index: 3;
  }
}
