@import '../../../../../styles/variables';

.team:not(:last-child) {
  border-bottom: 1px solid $gray-200;
}
.blur {
  filter: blur(12px);
}

:host {
  display: grid;
}

.layer1, .layer2{
  grid-column: 1;
  grid-row: 1;
}

.layer2 {
  z-index: 3;
}

