<i class="fa fa-fw text-primary clickable chevron first-line-element"
   [ngClass]="isOpened ? 'fa-caret-down' : 'fa-caret-right'"
   aria-hidden="true">
</i>

<i class="{{collection?.icon}} fa-fw collection-icon mr-2 first-line-element"
   [title]="collection?.name"
   [class.bigger-icon]="true || size == sizeType.M || size === sizeType.L || isOpened"
   [style.color]="collection?.color" aria-hidden="true">
</i>

<div class="d-flex flex-row first-line-element align-items-center">
  <span class="mr-3 align-self-start" *ngIf="collection && (size === sizeType.L || size === sizeType.XL || isOpened)"
        [style.color]="collection?.color">{{collection?.name}}</span>
  <ng-container
    *ngIf="(document.data && document.data[attributes.title.id]) | dataValue:attributes?.title?.constraint: constraintData as titleDataValue">
    <data-input-preview class="data-input-preview text-truncate font-weight-bold flex-grow-1"
                        *ngIf="titleDataValue | formatDataValue; else emptyTitle"
                        [class.small-size]="size === sizeType.S || size === sizeType.M"
                        [constraint]="attributes.title.constraint"
                        [cursor]="document | dataCursor:attributes.title.id"
                        [configuration]="configuration"
                        [dataValue]="titleDataValue">
    </data-input-preview>
  </ng-container>

  <data-input-preview class="data-input-preview text-truncate mr-3 py-1"
                      *ngIf="attributes?.assignee?.id && document?.data"
                      [constraint]="attributes.assignee.constraint"
                      [cursor]="document | dataCursor:attributes?.assignee?.id"
                      [configuration]="configuration"
                      [dataValue]="document.data[attributes.assignee.id] | dataValue:attributes.assignee.constraint: constraintData">
  </data-input-preview>
  <data-input-preview class="data-input-preview text-truncate mr-3 py-1"
                      *ngIf="attributes?.dueDate?.id && document?.data"
                      [constraint]="attributes.dueDate.constraint"
                      [cursor]="document | dataCursor:attributes.dueDate.id"
                      [configuration]="configuration"
                      [dataValue]="document.data[attributes.dueDate.id] | dataValue:attributes.dueDate.constraint: constraintData">
  </data-input-preview>
  <data-input-preview class="data-input-preview text-truncate ml-auto py-1"
                      *ngIf="attributes?.tags?.id && document?.data"
                      [constraint]="attributes.tags.constraint"
                      [cursor]="document | dataCursor:attributes.tags.id"
                      [configuration]="configuration"
                      [dataValue]="document.data[attributes.tags.id] | dataValue:attributes.tags.constraint: constraintData">
  </data-input-preview>



  <div class="d-flex align-items-center flex-nowrap ml-auto">
    <data-input-preview class=" data-input-preview text-truncate"
                        *ngIf="attributes?.priority && document?.data"
                        [constraint]="attributes.priority.constraint"
                        [cursor]="document | dataCursor:attributes.priority.id"
                        [configuration]="configuration"
                        [dataValue]="document.data[attributes.priority.id] | dataValue:attributes.priority.constraint: constraintData">
    </data-input-preview>
    <ng-container *ngIf="permissions?.read && !hideIcons">
      <span class="clickable ml-2"
            (click)="$event.stopPropagation(); onToggleFavorite()"
            title="{{ document.favorite ?  'Remove from favorites' : 'Add to favorites'}}"
            i18n-title="@@document.favorite">
        <i class="fa-star text-warning" [ngClass]="document.favorite ? 'fas' : 'fal'" aria-hidden="true"></i>
      </span>
      <span class="clickable mx-2"
            (click)="$event.stopPropagation(); onDetail()"><i class="far fa-file-search" aria-hidden="true"></i>
      </span>
    </ng-container>
  </div>
</div>

<!--div class="d-flex flex-row flex-wrap text-truncate second-line" [class.pb-2]="size !== sizeType.S">
  <data-input-preview class="data-input-preview text-truncate mr-3 py-1"
                      *ngIf="attributes?.assignee?.id && document?.data"
                      [constraint]="attributes.assignee.constraint"
                      [cursor]="document | dataCursor:attributes?.assignee?.id"
                      [configuration]="configuration"
                      [dataValue]="document.data[attributes.assignee.id] | dataValue:attributes.assignee.constraint: constraintData">
  </data-input-preview>
  <data-input-preview class="data-input-preview text-truncate mr-3 py-1"
                      *ngIf="attributes?.dueDate?.id && document?.data"
                      [constraint]="attributes.dueDate.constraint"
                      [cursor]="document | dataCursor:attributes.dueDate.id"
                      [configuration]="configuration"
                      [dataValue]="document.data[attributes.dueDate.id] | dataValue:attributes.dueDate.constraint: constraintData">
  </data-input-preview>
  <data-input-preview class="data-input-preview text-truncate ml-auto py-1"
                      *ngIf="attributes?.tags?.id && document?.data"
                      [constraint]="attributes.tags.constraint"
                      [cursor]="document | dataCursor:attributes.tags.id"
                      [configuration]="configuration"
                      [dataValue]="document.data[attributes.tags.id] | dataValue:attributes.tags.constraint: constraintData">
  </data-input-preview>
</div-->

<ng-template #emptyTitle>
  <div class="text-muted font-italic" i18n="@@tasks.empty.title">Empty title</div>
</ng-template>

<ng-content></ng-content>
