<i *ngIf="!large" class="fa fa-fw text-primary clickable chevron first-line-element mt-1"
   [ngClass]="isOpened ? 'fa-caret-down' : 'fa-caret-right'"
   aria-hidden="true">
</i>

<i *ngIf="large" class="fa fa-none chevron"></i>

<i class="{{collection?.icon}} fa-fw collection-icon mr-2 first-line-element"
   [title]="collection?.name"
   [class.ml-2]="large"
   [ngClass]="medium || large ? 'fa-2x mt-2' : 'bigger-icon mt-1'"
   [style.color]="collection?.color" aria-hidden="true">
</i>

<div class="d-flex flex-row first-line-element align-items-center">
  <span class="mr-3" *ngIf="collection && large" [style.color]="collection?.color">{{collection?.name}}</span>
  <ng-container *ngIf="document | dataValueByAttribute:attributes?.title: constraintData as titleDataValue">
    <data-input-preview class="data-input-preview text-truncate font-weight-bold flex-grow-1"
                        *ngIf="titleDataValue | formatDataValue; else emptyTitle"
                        [constraint]="attributes.title.constraint"
                        [cursor]="document | dataCursor:attributes.title.id"
                        [configuration]="configuration"
                        [dataValue]="titleDataValue">
    </data-input-preview>
  </ng-container>

  <ng-container *ngIf="document | dataValueByAttribute:attributes?.assignee: constraintData as assigneeDataValue">
    <data-input-preview class="data-input-preview text-truncate ml-3 py-1"
                        *ngIf="assigneeDataValue | formatDataValue; else emptyTitle"
                        [constraint]="attributes.assignee.constraint"
                        [cursor]="document | dataCursor:attributes?.assignee?.id"
                        [configuration]="configuration"
                        [dataValue]="assigneeDataValue">
    </data-input-preview>
  </ng-container>

  <ng-container *ngIf="document | dataValueByAttribute:attributes?.dueDate: constraintData as dueDateDataValue">
    <data-input-preview class="data-input-preview text-truncate ml-3 py-1"
                        *ngIf="dueDateDataValue | formatDataValue"
                        [constraint]="attributes.dueDate.constraint"
                        [cursor]="document | dataCursor:attributes.dueDate.id"
                        [configuration]="configuration"
                        [dataValue]="dueDateDataValue">
    </data-input-preview>
  </ng-container>

  <ng-container *ngIf="document | dataValueByAttribute:attributes?.state: constraintData as stateDataValue">
    <data-input-preview class="data-input-preview text-truncate ml-3 py-1"
                        *ngIf="stateDataValue | formatDataValue"
                        [constraint]="attributes.state.constraint"
                        [cursor]="document | dataCursor:attributes.state.id"
                        [configuration]="configuration"
                        [dataValue]="stateDataValue">
    </data-input-preview>
  </ng-container>

  <ng-container
    *ngIf="document | dataValueByAttribute:attributes?.priority: constraintData as priorityDataValue">
    <data-input-preview class="data-input-preview text-truncate ml-3"
                        *ngIf="priorityDataValue | formatDataValue"
                        [constraint]="attributes.priority.constraint"
                        [cursor]="document | dataCursor:attributes.priority.id"
                        [configuration]="configuration"
                        [dataValue]="priorityDataValue">
    </data-input-preview>
  </ng-container>
  <ng-container *ngIf="permissions?.read">
      <span class="clickable ml-3"
            (click)="$event.stopPropagation(); onToggleFavorite()"
            title="{{ document.favorite ?  'Remove from favorites' : 'Add to favorites'}}"
            i18n-title="@@document.favorite">
        <i class="fa-star text-warning" [ngClass]="document.favorite ? 'fas' : 'fal'" aria-hidden="true"></i>
      </span>
    <span class="clickable mx-2"
          (click)="$event.stopPropagation(); onDetail()"><i class="far fa-file-search" aria-hidden="true"></i>
      </span>
  </ng-container>
</div>

<div *ngIf="medium || large" class="d-flex flex-row flex-wrap text-truncate">
  <data-input-preview class="data-input-preview text-truncate py-1"
                      *ngIf="attributes?.tags?.id && document?.data"
                      [constraint]="attributes.tags.constraint"
                      [cursor]="document | dataCursor:attributes.tags.id"
                      [configuration]="configuration"
                      [dataValue]="document.data[attributes.tags.id] | dataValue:attributes.tags.constraint: constraintData">
  </data-input-preview>
</div>

<ng-template #emptyTitle>
  <div class="text-muted font-italic" i18n="@@tasks.empty.title">Empty title</div>
</ng-template>

<ng-content></ng-content>
