:host {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;

  .bigger-icon {
    font-size: 200%;
    margin-top: 0.25em;
    margin-right: 0.5rem;
  }

  .chevron {
    grid-row: 1 / 4;
  }

  .collection-icon {
    grid-row: 1 / 4;
  }
}

.first-line-element {
  line-height: 1.4rem;
}

.second-line {
  zoom: 0.8;
}

.data-input-preview {
  line-height: 1.4rem;

  &.small-size {
    max-height: 2.8rem;
  }

  &:not(.small-size) {
    max-height: 4.2rem;
  }
}
