@import '~src/styles/variables';

.required:after {
  content: '*';
  color: $danger;
}

.data-input {
  min-height: 40px;
  position: relative;

  &:hover {
    .lock-icon {
      opacity: 1;
    }
  }

  &.with-border {
    border: 1px solid $gray-300;
    border-radius: 0.25rem;
  }

  &:not(.with-border)::ng-deep {
    boolean-data-input {
      padding: 0 !important;
    }
  }

  &.editing {
    border: 1px solid $success;
  }

  .lock-icon {
    opacity: 0;
    transition: opacity $animation-color-duration;
    position: absolute;
    display: inline-flex;
    align-items: center;
    height: 100%;
    right: 2px;
    padding: 0 0.5rem;
    background: white;
    z-index: 10;
  }
}
