<div class="text-truncate font-weight-bold" [class.required]="mandatory">{{cell?.title}}</div>

<div *ngIf="cell?.type === type.Attribute"
     class="data-input mt-1 px-1 cursor-pointer" (click)="onElementClick($event)">
  <data-input class="w-100 h-100"
              [constraint]="attribute?.constraint"
              [dataValue]="dataValue"
              [readonly]="!(editing$ | async)"
              [editableInReadonly]="true"
              [cursor]="cursor"
              [configuration]="dataInputConfiguration"
              [focus]="true"
              (save)="onValueSave($event)"
              (cancel)="onCancelEditing()">
  </data-input>
</div>
<form-view-cell-link *ngIf="cell?.type === type.Link" class="form-control p-0 mt-1 cursor-pointer"
                     [multi]="linkMulti"
                     [readonly]="!(editing$ | async)"
                     [linkType]="linkData?.linkType"
                     [collection]="linkData?.collection"
                     [documents]="linkDocuments$ | async"
                     [constraintData]="constraintData$ | async"
                     [linkDocumentIds]="linkData?.linkDocumentIds"
                     [removedDocumentIds]="linkData?.removedDocumentIds"
                     [addedDocumentIds]="linkData?.addedDocumentIds"
                     (selectedDataChange)="onSelectedDocumentIdsChange($event)"
                     (click)="onElementClick($event)"
                     (cancel)="onCancelEditing()">
</form-view-cell-link>
<div *ngFor="let error of formErrors" class="text-danger small mt-1">{{error.title}}</div>
<div class="text-muted small mt-1">{{cell?.description}}</div>
