@import "../variables";

.query-item {
  border-radius: $border-radius-base;
  white-space: nowrap;

  &:hover .remove {
    opacity: 1;
  }

  .remove {
    opacity: 0;
    cursor: pointer;
    color: black;
    transition: opacity $animation-duration;
  }

}

[contenteditable]:focus {
  outline: 0 solid transparent;
}

.icon-container {
  width: 30px;
  height: 24px;
  position: relative;

  .icon-left {
    font-size: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 3px;
  }

  .icon-right {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 3px;
  }

  .icon {
    width: 100%;
    font-size: 15px;
    text-align: center;
  }
}

.suggestions {
  min-width: 300px;
}

.selected {
  background-color: $light;
}

.search-button {
  background: transparent;
  border: 0;
  color: $success;

  &:hover {
    background-color: $success;
    color: $white;
  }
}
