:host {
  display: grid;
  grid-template-columns: auto auto 1fr;

  .bigger-icon {
    font-size: 150%;
  }

  .chevron {
    grid-row: 1 / 4;
  }

  .collection-icon {
    grid-row: 1 / 4;
  }
}

.first-line-element {
  line-height: 1.4rem;
}
