<div #parentElement>
  <div class="d-flex">
    <ng-container *ngIf="resources?.length">
      <button type="button" class="btn btn-link p-0" (click)="onButtonClick()">
        <i class="fa fa-plus mr-2"></i><span i18n="@@create.new.document">Create New Record</span>
      </button>

      <options-dropdown [fitParent]="false"
                        [origin]="parentElement"
                        [showBackdrop]="false"
                        [options]="dropdownOptions"
                        (selectOption)="onOptionSelect($event)">
      </options-dropdown>
    </ng-container>

    <div class="align-self-center flex-fill text-right small text-muted">
      <span
        i18n="@@kanban.perspective.footer.cards">{count, plural, =0 {no cards} one {1 card} few {{{count}} cards} other {{{count}} cards}}</span>
    </div>
  </div>
</div>
