<form [formGroup]="formGroup">

  <div class="d-flex flex-row flex-nowrap align-items-center">
    <label class="switch" for="isPublic">
      <input type="checkbox" formControlName="isPublic" id="isPublic" #isPublicCheckbox>
      <span class="slider round" (click)="$event.stopPropagation()"></span>
    </label>
    <span class="pl-2 cursor-pointer user-select-none" i18n="@@projects.tab.template.isPublic"
          (click)="isPublicCheckbox.click()">Public access</span>
  </div>

  <div class="mt-4" formGroupName="metadata" *ngIf="isPublicControl.value">

    <div class="alert alert-danger" role="alert">
      Danger zone: All the data available in this project will be publicly visible. Anyone can get access to them and
      copy the data.<br/>
      Only project users will keep the write access. Nobody outside of your Lumeer organization and project can modify
      anything.
    </div>

    <div class="form-group row m-0 mt-4">
      <label class="col-sm-3 px-0 col-lg-2 col-form-label" for="imageUrl"
             i18n="@@projects.tab.template.metadata.imageUrl">Image
        address</label>
      <input class="col-sm-9 col-lg-10 form-control" type="text" formControlName="imageUrl" id="imageUrl"
             (keydown.enter)="$event.target.blur()"
             placeholder="https://..."/>
    </div>

    <div class="row m-0 mt-2">
      <label class="col-sm-3 px-0 col-lg-2 col-form-label" for="allowedDomains"
             i18n="@@projects.tab.template.metadata.allowedDomains">Allowed
        Domains</label>
      <input class="col-sm-9 col-lg-10 form-control" type="text" formControlName="allowedDomains" id="allowedDomains"
             placeholder="Enter * to allow any public domain"
             i18n-placeholder="@@projects.tab.template.metadata.allowedDomains.placeholder"/>
    </div>

    <div class="row m-0 mt-2">
      <label class="col-sm-3 px-0 col-lg-2 col-form-label" i18n="@@projects.tab.template.metadata.defaultView">Default
        view</label>

      <select-item class="col-sm-9 col-lg-10 p-0"
                   [items]="views | viewsSelectItems:queryData"
                   emptyValue="Select view"
                   i18n-emptyValue="@@projects.tab.template.metadata.defaultView.empty"
                   [removable]="true"
                   [selectedId]="defaultViewControl.value"
                   [fitParent]="true"
                   (select)="onViewSelected($event)"
                   (remove)="onViewSelected(null)">

      </select-item>
    </div>

    <div class="row m-0 mt-2">
      <label class="col-sm-3 px-0 col-lg-2 col-form-label"
             i18n="@@projects.tab.template.metadata.tags">Tags</label>

      <project-template-tags class="col-sm-9 col-lg-10 p-0 tags-container"
                             [formGroup]="metadataFormGroup">
      </project-template-tags>
    </div>

    <div class="row m-0 mt-3">

      <div class="d-flex flex-row flex-nowrap align-items-center">
        <label class="switch" for="editable">
          <input type="checkbox" formControlName="editable" id="editable" #editableCheckbox>
          <span class="slider round" (click)="$event.stopPropagation()"></span>
        </label>
        <span class="pl-2 cursor-pointer user-select-none" i18n="@@projects.tab.template.metadata.editable"
              (click)="editableCheckbox.click()">Editable</span>
      </div>

    </div>

    <div class="row m-0 mt-3">

      <div class="d-flex flex-row flex-nowrap align-items-center">
        <label class="switch" for="showTopPanel">
          <input type="checkbox" formControlName="showTopPanel" id="showTopPanel" #showTopPanelCheckbox>
          <span class="slider round" (click)="$event.stopPropagation()"></span>
        </label>
        <span class="pl-2 cursor-pointer user-select-none" i18n="@@projects.tab.template.metadata.showTopPanel"
              (click)="showTopPanelCheckbox.click()">Show top panel</span>
      </div>

    </div>

  </div>
</form>
