<div class="form-group mb-0 px-lg-5 px-md-3 px-0">
  <label for="titleElement" class="font-weight-bold">{{buttonLabel}}</label>
  <input class="form-control"
         [(ngModel)]="title" #titleElement
         i18n-placeholder="@@constraint.action.title.placeholder"
         placeholder="Enter button label..."
         (keydown.enter)="titleElement.blur()"
         (keydown.escape)="revertTitle(); titleElement.blur()"
         (blur)="onBlur()"
         id="titleElement" type="text">
</div>

<div class="d-flex align-items-center flex-column mt-2">

  <span class="small mb-1 text-muted" i18n="@@constraint.action.color.label">Click on the button to set its icon and color</span>

  <button class="btn text-truncate text-nowrap mw-100" [style.background]="color"
          #buttonElement (click)="pickerComponent.toggle()"
          [style.color]="color | contrastColor">
    <i *ngIf="icon" [ngClass]="icon"></i>
    <ng-container *ngIf="title && icon || !title && !icon">&nbsp;</ng-container>
    <span *ngIf="title">{{title}}</span>
  </button>

  <icon-color-picker #pickerComponent
                     [color]="color"
                     [icon]="icon"
                     [origin]="buttonElement"
                     [showClearIcon]="true"
                     (preview)="onIconColorChange($event)"
                     (save)="onIconColorSave($event)"
                     (selected)="onIconColorChange($event)"
                     (cancel)="onIconColorChange($event)">
  </icon-color-picker>

</div>
