<table-collapsed-cell-menu (expand)="onExpand()"></table-collapsed-cell-menu>

<div *ngIf="{stringValues: stringValues$ | async, constraint: constraint$ | async} as data"
     [class.affected]="affected$ | async"
     [class.selected]="selected"
     [style.cursor]="'default'"
     (mousedown)="onMouseDown()"
     (contextmenu)="onContextMenu($event)"
     class="h-100 w-100 text-nowrap overflow-hidden">

  <ng-container *ngIf="data.constraint; else defaultCollapsedCell"
                [ngSwitch]="data.constraint?.type">

    <boolean-collapsed-cell *ngSwitchCase="constraintType.Boolean"
                            [constraint]="data.constraint"
                            [values]="values"
                            class="h-100">
    </boolean-collapsed-cell>

    <color-collapsed-cell *ngSwitchCase="constraintType.Color"
                          [values]="stringValues$ | async"
                          class="h-100">
    </color-collapsed-cell>

    <files-collapsed-cell *ngSwitchCase="constraintType.Files"
                          [attributeId]="column.attributeIds[0]"
                          [documents]="documents"
                          [viewId]="viewId"
                          [linkInstances]="linkInstances"
                          class="h-100 px-1">
    </files-collapsed-cell>

    <user-data-input *ngSwitchCase="constraintType.User"
                     [readonly]="true"
                     [title]="data.stringValues | join"
                     [commonConfiguration]="userConfiguration"
                     [value]="values | createCombinedUserValue:data.constraint:constraintData"
                     class="h-100">

    </user-data-input>

    <select-data-input *ngSwitchCase="constraintType.Select"
                       [readonly]="true"
                       [title]="data.stringValues | join"
                       [value]="values | createCombinedSelectValue:data.constraint"
                       class="h-100">
    </select-data-input>

    <rich-text-data-input *ngSwitchCase="constraintType.Text"
                          class="h-100"
                          [readonly]="true"
                          [title]="data.stringValues | join | stripHtml:false"
                          [value]="(data.stringValues | join) | dataValue:data.constraint">
    </rich-text-data-input>

    <action-data-input *ngSwitchCase="constraintType.Action"
                       class="h-100"
                       [config]="data.constraint?.config"
                       [configuration]="actionConfiguration"
                       [readonly]="true"
                       [value]="values[0] | dataValue:data.constraint:constraintData">
    </action-data-input>

    <ng-container *ngSwitchDefault>
      <ng-container *ngTemplateOutlet="defaultCollapsedCell"></ng-container>
    </ng-container>

  </ng-container>

  <ng-template #defaultCollapsedCell>
    <div [title]="data.stringValues | join"
         class="h-100 px-1 d-flex align-items-center"
         tabindex="0">
      {{ (data.stringValues | join) || '&nbsp;' }}
    </div>
  </ng-template>
</div>
