@import '../../../../../../../../styles/variables';

%highlighted {
  position: relative;
  z-index: $z-index-selected;
  outline-offset: -1px;
}

.selected {
  @extend %highlighted;
  outline: $primary solid 2px;
}

.affected {
  @extend %highlighted;
  outline: $warning solid 2px;
}
