@import '../../../../../../../../styles/variables';

:host {
  display: block;
  position: relative;
  line-height: $table-min-row-height;
  min-height: $table-min-row-height;
}

%highlighted {
  position: relative;
  z-index: $z-index-selected;
  outline-offset: -2px;
}

.selected {
  @extend %highlighted;
  outline: $table-outline-selected solid 2px;
  box-shadow: 0 0 4px $secondary;
}

.affected {
  @extend %highlighted;
  outline: $warning solid 2px;
}
