@import "../../../../shared/variables";

:host {
  display: block;

  .add-post-it {
    transition: transform $animation-duration, color $animation-color-duration;
    background: transparent;
    border-color: transparent;

    color: $primary;
    border-radius: 20px;

    &:hover {
      color: $success;
    }
  }

  .card-footer {
    color: inherit;
    font-size: 20px;
    border: none;
    padding-top: 0;
  }

}
