@import '../../../../styles/variables';

input {
  border: 1px solid transparent;
  outline: none;
  box-shadow: none;
}

input:focus {
  box-shadow: none;
}

input::placeholder {
  color: $gray-500;
  font-style: italic;
}

table {
  table-layout: fixed;

  th {
    vertical-align: middle;
  }

  tr {
    .icon-hover {
      transition: color $animation-color-duration;

      i {
        opacity: 0;
      }

      &:hover {
        color: $primary;
      }
    }

    &:hover .icon-hover i {
      opacity: 1;
    }
  }

  .visible i {
    opacity: 1 !important;
  }
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}
