@import "../../../shared/variables";

input {
  border: 1px solid transparent;
  outline: none;
}

table {

  table-layout: fixed;

  th {
    vertical-align: middle;
  }

  tr {
    .icon-hover {
      transition: color $animation-color-duration;

      i {
        opacity: 0;
      }

      &:hover {
        color: $success;
      }
    }

    &:hover .icon-hover i {
      opacity: 1;
    }
  }

  .visible i {
    opacity: 1 !important;
  }
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}
