<div *ngIf="resourceType | isOrganizationType" class="row my-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" i18n="@@users.header.inviteUser">Invite a colleague or a friend</h4>
        <new-user
          [users]="users"
          (userCreated)="userCreated.emit($event)">
        </new-user>
      </div>
    </div>
  </div>
</div>
<user-table [users]="users"
            [resourceType]="resourceType"
            [teams]="teams$ | async"
            [permissions]="resource.permissions"
            [color]="resource.color"
            [editableGroups]="(resourceType | isOrganizationType) && serviceLimits?.groups"
            [deletableUserIds]="deletableUserIds"
            (userTeamsChange)="userTeamsChange.emit($event)"
            (userRolesChange)="userRolesChange.emit($event)"
            (userDeleted)="userDeleted.emit($event)"
            (userUpdated)="userUpdated.emit($event)">
</user-table>
