<div class="comment-item">

  <div class="author text-muted small">
    <user-avatar [avatarSize]="15" email="marvenec@gmail.com" tooltipText="Martin Večeřa" class="mr-2"></user-avatar>
    <short-date icon="fa-file" [date]="date" tooltipText="Created by Martin Večeřa" format="ll" class="mr-3"></short-date>
    <short-date icon="fa-pencil" [date]="date" tooltipText="Updated by Martin Večeřa" format="ll" class="mr-3"></short-date>
  </div>

  <div class="none"></div>

  <div class="controls">
    <i class="fa fa-edit color-success mr-2 cursor-pointer"></i>
    <i class="fa fa-trash color-danger cursor-pointer"></i>
  </div>

  <div class="comment">
    Super cool comment on this document, record, work item, no matter how you call it. It is here!
  </div>

</div>
