<div class="comment-item"
     [class.editing]="editing$ | async">
  <div class="author text-muted small">
    <user-avatar [avatarSize]="15"
                 placement="top"
                 [email]="comment?.authorEmail"
                 [tooltipText]="createdByMsg + ' ' + comment?.authorName" class="mr-2">
    </user-avatar>
    <short-date icon="fa-file"
                [date]="comment?.creationDate"
                [tooltipText]="createdOnMsg + ' ' + (comment?.creationDate | date:'medium')"
                placement="top"
                format="ll"
                class="mr-3">
    </short-date>
    <short-date *ngIf="comment?.updateDate"
                icon="fa-pencil"
                [date]="comment?.updateDate"
                [tooltipText]="updatedOnMsg + ' ' + (comment?.updateDate | date:'medium')"
                placement="top"
                format="ll"
                class="mr-3">
    </short-date>
  </div>

  <div *ngIf="!(editing$ | async)" class="none"></div>

  <div *ngIf="!(editing$ | async)" class="controls">
    <i *ngIf="user?.id === comment?.author"
       tooltip="Edit"
       i18n-tooltip="@@button.edit"
       placement="top"
       class="fal fa-edit color-success mr-2 cursor-pointer"
       (click)="editComment(comment)">
    </i>
    <i *ngIf="user?.id === comment?.author"
       tooltip="Remove"
       i18n-tooltip="@@button.remove"
       placement="top"
       class="fal fa-trash-alt color-danger cursor-pointer"
       (click)="onRemove.emit(comment)">
    </i>
  </div>

  <div *ngIf="!(editing$ | async)" [innerHTML]="comment.comment | stripHtml | safeHtml" class="comment">
  </div>

  <div class="edit">
    <new-comment *ngIf="editing$ | async"
                 [user]="user"
                 [initialComment]="comment"
                 (onNewComment)="onUpdateComment($event)"
                 (onCancel)="cancelEdit()" >
    </new-comment>
  </div>

</div>
