<post-it-document-header
  class="card-header px-2 py-1 d-flex"
  [collection]="collection"
  [hasWriteRole]="hasWriteRole()"
  [document]="postItModel.document"
  (remove)="onRemove()"
  (toggleFavorite)="toggleFavorite()"
  (edit)="onEdit()">
</post-it-document-header>

<div class="card-body p-2">
  <ul class="m-0 p-0" #content>

    <ng-container *ngIf="hasWriteRole()">
      <li class="w-100" *ngFor="let data of postItRows; let row = index">
        <post-it-document-cell
          class="w-50"
          [index]="postItModel.index"
          [row]="row"
          [column]="0"
          [additionalClasses]="isDefaultAttribute(data.attributeId) ? 'attribute text-default-attribute' : 'attribute'"
          [perspectiveId]="perspectiveId"
          [selectionHelper]="selectionHelper"
          [suggestionListId]="suggestionListId()"
          [model]="data.attributeName"
          (removeRow)="removeRow(row)"
          (blur)="onUpdateAttribute(row)"
          (focus)="clickOnAttributePair(0, row)"
          (enter)="onEnterKeyPressedInEditMode()">
        </post-it-document-cell>

        <post-it-document-cell
          class="w-50"
          [index]="postItModel.index"
          [row]="row"
          [column]="1"
          [perspectiveId]="perspectiveId"
          [selectionHelper]="selectionHelper"
          [model]="data.value"
          (removeRow)="removeValue(row)"
          (blur)="updateValue(row)"
          (focus)="clickOnAttributePair(1, row)"
          (enter)="onEnterKeyPressedInEditMode()">
        </post-it-document-cell>
      </li>

      <li>
        <post-it-document-new-cell
          class="w-50"
          [index]="postItModel.index"
          [row]="postItRows.length"
          [perspectiveId]="perspectiveId"
          [selectionHelper]="selectionHelper"
          [model]="postItNewRow.attributeName"
          (blur)="createAttributePair()"
          (focus)="this.selectionHelper.select(0, postItRows.length, postItModel)"
          (enter)="onEnterKeyPressedInEditMode()">
        </post-it-document-new-cell>

        <span class="w-50">
        <input class="border-0" [disabled]="true"/>
        </span>
      </li>
    </ng-container>

    <ng-container *ngIf="!hasWriteRole()">
      <li *ngFor="let row of postItRows">
        <span class="attribute w-50">
          <input class="border-0"
                 readonly
                 [ngModel]="row.attributeName">
        </span>

        <span class="w-50">
          <input class="border-0"
                 [title]="row.value"
                 readonly
                 [ngModel]="row.value">
        </span>
      </li>
    </ng-container>
  </ul>
</div>

<datalist *ngIf="postItModel"
          id="{{ suggestionListId() }}">
  <option *ngFor="let attribute of unusedAttributes()">{{ attribute.name }}</option>
</datalist>
