@import '../../../../../styles/variables';

.cursor-move {
  cursor: move;
}

li {
  border-bottom: 1px solid #e5e5e5;
  display: inline-flex;
  padding: 2px 1px;

  &:last-child {
    border-bottom: none;
  }
}

input:read-only:focus {
  background: inherit;
  color: inherit;
}
