<post-it-document-header
  class="card-header px-2 py-1 d-flex"
  [collection]="collection"
  [readonly]="!hasWriteRole"
  [favorite]="getFavorite$() | async"
  [initialized]="postItModel.document.id"
  (remove)="onRemove()"
  (toggleFavorite)="onToggleFavorite()"
  (edit)="onEdit()">
</post-it-document-header>

<div class="card-body p-2">
  <ul class="m-0 p-0" #content>
    <ng-container *ngFor="let row of getRows$() | async as rows; trackBy:getTrackBy(); let index = index">

      <li class="w-100" *ngIf="!row.remote">
        <post-it-document-cell
          class="w-50"
          [index]="postItModel.order"
          [row]="index"
          [readonly]="!hasWriteRole"
          [column]="0"
          [additionalClasses]="isDefaultAttribute(row.id) ? 'attribute text-default-attribute' : 'attribute'"
          [perspectiveId]="perspectiveId"
          [selectionHelper]="selectionHelper"
          [suggestionListId]="suggestionListId()"
          [model]="row.newName || row.name"
          (removeValue)="onRemoveRow(index)"
          (update)="onUpdateRow(index, $event, row.newValue || row.value)"
          (focus)="clickOnAttributePair(0, index)"
          (enter)="onEnterKeyPressedInEditMode()">
        </post-it-document-cell>

        <post-it-document-cell
          class="w-50"
          [index]="postItModel.order"
          [row]="index"
          [readonly]="!hasWriteRole"
          [column]="1"
          [perspectiveId]="perspectiveId"
          [selectionHelper]="selectionHelper"
          [model]="row.newValue || row.value"
          (removeValue)="onUpdateRow(index, row.newName || row.name, '')"
          (update)="onUpdateRow(index, row.newName || row.name, $event)"
          (focus)="clickOnAttributePair(1, index)"
          (enter)="onEnterKeyPressedInEditMode()">
        </post-it-document-cell>
      </li>

    </ng-container>


    <li class="w-100" *ngIf="hasWriteRole && getRows$() | async as rows">
      <div (click)="addAttrRow">
        <i class="fas fa-plus text-success"></i>
      </div>
    </li>
  </ul>
</div>

<datalist *ngIf="postItModel" id="{{ suggestionListId() }}">
  <option *ngFor="let attribute of unusedAttributes()">{{ attribute.name }}</option>
</datalist>
