<div class="card-header d-inline-flex py-1 px-3">
  <i class="icon fa-fw {{ postItModel.document.collection.icon }} mr-1"
     [style.color]="postItModel.document.collection.color"></i>
  <div class="collection-name" [style.color]="postItModel.document.collection.color">
    {{ postItModel.document.collection.name }}
  </div>

  <ng-container *ngIf="hasWriteRole()">
    <i class="button text-danger fa fa-times rounded align-self-center p-1"
       title="Remove Record" i18n-title="@@document.button.remove"
       (click)="confirmDeletion()"></i>
    <i class="button text-success fa fa-pencil rounded align-self-center p-1"
       title="Edit Record" i18n-title="@@document.button.edit"
       (click)="selectionHelper.setEditMode(true); selectionHelper.select(0, 0, postItModel)"></i>
  </ng-container>
  <i *ngIf="postItModel.initialized"
     class="text-warning fa-star button rounded align-self-center p-1"
     [class.always-visible]="postItModel.document.favorite"
     title="{{ postItModel.document.favorite ?  'Remove from favorites' : 'Add to favorites'}}"
     i18n-title="@@collection.document.favorite"
     [ngClass]="postItModel.document.favorite ? 'fas' : 'far'"
     (click)="toggleDocumentFavorite()"></i>
</div>

<div class="card-body p-2">
  <ul class="m-0 p-0" #content>

    <ng-container *ngIf="hasWriteRole()">
      <li *ngFor="let attributePair of attributePairs; let row = index">
        <span id="{{ perspectiveId }}{{ postItModel.index }}[0, {{ row }}]" class="attribute"
              tabindex="-1"
              (keydown.ArrowLeft)="selectionHelper.moveSelection(-1, 0)"
              (keydown.ArrowRight)="selectionHelper.moveSelection(1, 0)"
              (keydown.ArrowUp)="selectionHelper.moveSelection(0, -1)"
              (keydown.ArrowDown)="selectionHelper.moveSelection(0, 1)"
              (keydown.F2)="selectionHelper.setEditMode(true); selectionHelper.focus()"
              (keydown.enter)="selectionHelper.setEditMode(true); selectionHelper.focus()"
              (click)="clickOnAttributePair(0, row)">

          <input class="border-0"
                 [(ngModel)]="attributePair.attribute"
                 (keydown)="$event.stopPropagation()"
                 (keydown.F2)="selectionHelper.setEditMode(false); selectionHelper.focus()"
                 (keydown.Escape)="selectionHelper.setEditMode(false); selectionHelper.focus()"
                 (keydown.enter)="onEnterKeyPressedInEditMode()"
                 (blur)="updateAttribute(attributePair)">
        </span>

        <span id="{{ perspectiveId }}{{ postItModel.index }}[1, {{ row }}]" tabindex="-1"
              title="{{ attributePair.value }}"
              (keydown.ArrowLeft)="selectionHelper.moveSelection(-1, 0)"
              (keydown.ArrowRight)="selectionHelper.moveSelection(1, 0)"
              (keydown.ArrowUp)="selectionHelper.moveSelection(0, -1)"
              (keydown.ArrowDown)="selectionHelper.moveSelection(0, 1)"
              (keydown.F2)="selectionHelper.setEditMode(true); selectionHelper.focus()"
              (keydown.enter)="selectionHelper.setEditMode(true); selectionHelper.focus()"
              (click)="clickOnAttributePair(1, row)">

        <input class="border-0"
               [(ngModel)]="attributePair.value"
               (keydown)="$event.stopPropagation()"
               (keydown.F2)="selectionHelper.setEditMode(false); selectionHelper.focus()"
               (keydown.Escape)="selectionHelper.setEditMode(false); selectionHelper.focus()"
               (keydown.enter)="onEnterKeyPressedInEditMode()"
               (blur)="updateValue(attributePair)">
       </span>
      </li>

      <li>
        <span id="{{ perspectiveId }}{{ postItModel.index }}[0, {{ attributePairs.length }}]"
              class="attribute"
              tabindex="-1"
              (keydown.ArrowLeft)="selectionHelper.moveSelection(-1, 0)"
              (keydown.ArrowRight)="selectionHelper.moveSelection(1, 0)"
              (keydown.ArrowUp)="selectionHelper.moveSelection(0, -1)"
              (keydown.ArrowDown)="selectionHelper.moveSelection(0, 1)"
              (keydown.F2)="selectionHelper.setEditMode(true); selectionHelper.focus()"
              (keydown.enter)="selectionHelper.setEditMode(true); selectionHelper.focus()"
              (click)="clickOnAttributePair(0, attributePairs.length)">

          <!-- the list refers to one of the attribute suggestion lists in document perspective -->
          <input class="border-0" #newAttributeInput
                 placeholder=" + "
                 [attr.list]="perspectiveId + postItModel.document.collectionCode"
                 [(ngModel)]="newAttributePair.attribute"
                 (keydown)="$event.stopPropagation()"
                 (keydown.F2)="selectionHelper.setEditMode(false); selectionHelper.focus()"
                 (keydown.Escape)="selectionHelper.setEditMode(false); selectionHelper.focus()"
                 (keydown.enter)="newAttributePair.attribute && newAttributeInput.blur()"
                 (blur)="newAttributePair.attribute && createAttributePair()">
        </span>

        <span>
        <input class="border-0" [disabled]="true"/>
        </span>
      </li>
    </ng-container>

    <ng-container *ngIf="!hasWriteRole()">
      <li *ngFor="let attributePair of attributePairs">
        <span class="attribute">
          <input class="border-0"
                 readonly
                 [ngModel]="attributePair.attribute">
        </span>

        <span>
          <input class="border-0"
                 title="{{ attributePair.value }}"
                 readonly
                 [ngModel]="attributePair.value">
        </span>
      </li>
    </ng-container>
  </ul>
</div>

<!--TODO uncomment once implemented-->
<!--<div *ngIf="postItModel.initialized" class="card-footer px-4 py-0">-->
  <!--<div class="buttons d-flex align-content-center ml-2">-->
    <!--<a [routerLink]="[documentPrefix(), 'details']"-->
       <!--class="px-2"-->
       <!--title="Details" i18n-title="@@document.button.links.details">-->
      <!--<i class="fa fa-fw fa-search"></i>-->
    <!--</a>-->

    <!--<a [routerLink]="[documentPrefix(), 'linktypes']"-->
       <!--class="px-2"-->
       <!--title="Link Types" i18n-title="@@document.button.link.types">-->
      <!--<i class="fa fa-fw fa-sign-out"></i>-->
    <!--</a>-->

    <!--<a [routerLink]="[documentPrefix(), 'history']"-->
       <!--class="px-2"-->
       <!--title="History" i18n-title="@@document.button.links.history">-->
      <!--<i class="fa fa-fw fa-history"></i>-->
    <!--</a>-->

    <!--<a [routerLink]="[documentPrefix(), 'permissions']"-->
       <!--class="px-2"-->
       <!--title="User Rights" i18n-title="@@document.button.links.permissions">-->
      <!--<i class="fa fa-fw fa-users"></i>-->
    <!--</a>-->
  <!--</div>-->
<!--</div>-->
