@import 'src/styles/variables';

.lumeer-attribution {
  & > a {
    color: $primary;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
      color: $primary-hover;
      text-decoration: none;
    }

    & > img {
      height: 12px;
      margin-right: 3px;
      vertical-align: text-bottom;
    }
  }
}

.map-marker {
  cursor: pointer;

  & > .map-marker-shape {
    position: absolute;
    top: -45px;
    left: -16px;
    border: 4px solid #555555;
    border-radius: 50%;

    &::after {
      position: absolute;
      content: '';
      bottom: -29px;
      border: 12px solid transparent;
      border-top-color: inherit;
      border-top-width: 18px;
    }

    & > .map-marker-icon,
    & > .map-marker-icons {
      background: #000000;
      border-radius: 50%;
      color: #fff;
      height: 24px;
      width: 24px;
      z-index: 1;
      position: relative;
    }

    & > .map-marker-icon {
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & > .map-marker-icons {
      font-size: 9px;
      display: flex;
      padding: 2px;

      & > :first-child {
        align-self: flex-start;
      }

      & > :last-child {
        align-self: flex-end;
      }
    }
  }
}
