<ng-container *ngIf="auditLogs?.length || auditLogCreated">
  <ng-container
    *ngIf="{usersMap: usersMap$ | async, constraintData: constraintData$ | async, serviceLimits: serviceLimits$ | async, revertingIds: revertingAuditLogs$ | async} as data">
    <audit-log *ngFor="let auditLog of auditLogs; trackBy:trackByAudit; let first = first"
               [auditLog]="auditLog"
               [parent]="parent"
               [first]="first"
               [reverting]="data.revertingIds | includes:auditLog.id"
               [last]="!auditLogCreated"
               [constraintData]="data.constraintData"
               [allowRevert]="first && (data.serviceLimits && data.serviceLimits?.serviceLevel !== serviceLevel.FREE)"
               [usersMap]="data.usersMap"
               (revert)="onRevert(auditLog)">
    </audit-log>
    <audit-log *ngIf="auditLogCreated"
               [auditLog]="auditLogCreated"
               [parent]="parent"
               [first]="auditLogs.length === 0"
               [last]="true"
               [constraintData]="data.constraintData"
               [allowRevert]="false"
               [usersMap]="data.usersMap">
    </audit-log>
    <div *ngIf="!data.serviceLimits || data.serviceLimits.serviceLevel === serviceLevel.FREE"
         class="py-3 mt-3 d-flex flex-column align-items-center text-center">
      <span i18n="@@document.detail.audit.limit">Limited to 3 entries. Upgrade to the Business license to see 2 weeks worth of history. For even longer history, <a
        href="https://www.lumeer.io/contact/" target="_blank">contact us.</a></span>
      <button *ngIf="(organizationPermissions$ | async)?.manage"
              (click)="openServiceOrder()"
              class="btn btn-success mt-2">
        <span i18n="@@collection.config.tab.rules.upgradePlan">Upgrade to Business Plan!</span>
      </button>
    </div>
  </ng-container>
</ng-container>

<ng-template #emptyState>
  <div class="text-center p-1 font-italic" i18n="@@document.detail.activity.empty">
    No activity yet.
  </div>
</ng-template>
