@import '~src/styles/variables';

.progress-wrapper {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  background: $gray-400;

  .progress {
    background: $success;
    height: 3px;
    transition: width 200ms ease-in-out;
  }
}
