:host {
  display: block;
}

ul {
  padding: 0;
  margin-bottom: 0;
}

li {
  margin: 3.5px 0;
  padding-left: 10px;

  & > * {
    margin: 0;
    padding: 0;
  }

  &:hover {
    background: #f7f7f7;
  }
}

.divider {
  height: 1px;
  background: #e5e5e5;
}

input {
  width: 100%;
  padding-left: 10px;

  font-weight: bold;

  background: transparent;
  border: 0;

  &:focus {
    outline: auto;
  }
}
