<!--array-->
<ng-container *ngIf="isArray(children)">

  <span *ngIf="isStringArray(children)">
    {{ children.join(', ') }}
  </span>

  <ul *ngIf="!isStringArray(children)">
    <li *ngFor="let attribute of children" [ngClass]="{ 'root': root }">
      <ng-container *ngIf="isString(attribute)">{{ attribute }}</ng-container>
      <attribute-tree *ngIf="!isString(attribute)" [children]="attribute" [root]="false"></attribute-tree>
    </li>
  </ul>
</ng-container>

<!--object-->
<ul *ngIf="isObject(children)">
  <li *ngFor="let attribute of children | keys" [ngClass]="{ 'root': root }">
    <b>{{ attribute.key }}: </b>

    <ng-container *ngIf="isString(attribute.value)">{{ attribute.value }}</ng-container>
    <attribute-tree *ngIf="!isString(attribute.value)" [children]="attribute.value" [root]="false"></attribute-tree>
  </li>
</ul>
