<table>
  <tr *ngFor="let attribute of attributeInputs; let idx = index">
    <div>
      <td class="attribute-column">
        <!--IDs folow the sturcure: Input_index_[x, y]-->
        <input type="text" list="attributes" [attr.id]="generateId(0, idx)"
               [disabled]="!editable"
               [(ngModel)]="attribute.name"
               (ngModelChange)="attributeChange(idx)"
               (keyup)="onInputKey($event)"
               (click)="selectInput(0, idx)"/>
        <label>:</label>
      </td>
      <td class="value-column">
        <input [attr.id]="generateId(1, idx)"
               [disabled]="!editable"
               [(ngModel)]="attribute.value"
               (ngModelChange)="attributeChange(idx)"
               (keyup)="onInputKey($event)"
               (click)="selectInput(1, idx)"/>
      </td>
    </div>
  </tr>

  <tr *ngIf="editable">
    <div>
      <td class="attribute-column">
        <input type="text" placeholder="Attribute" list="attributes" [attr.id]="generateId(0, attributeInputs.length)"
               [(ngModel)]="newAttributeInput.name"
               (keyup)="onInputKey($event)"
               (click)="selectInput(0, attributeInputs.length)"/>
        <label>:</label>
      </td>
      <td class="value-column">
        <input [attr.id]="generateId(1, attributeInputs.length)"
               [disabled]="!newAttributeInput.name"
               [(ngModel)]="newAttributeInput.value"
               (keyup)="onInputKey($event); newAttributeValue($event.key);"
               (click)="selectInput(1, attributeInputs.length)"/>
      </td>
    </div>

  </tr>
</table>

<datalist *ngIf="editable" id="attributes">
  <option *ngFor="let attribute of possibleAttributes()" value="{{ attribute }}">
</datalist>
