<div class="d-flex flex-column align-items-center justify-content-center text-center p-3">
  <h5 i18n="@@constraint.action.empty.title">There are no rules yet!</h5>
  <div *ngIf="!permissions?.manage" class="mt-1" i18n="@@constraint.action.empty.subtitle.norights">I am sorry but you
    do not have permissions to add rules.
  </div>

  <div *ngIf="permissions?.manage">
    <div class="mt-1" i18n="@@constraint.action.empty.subtitle">Navigate to collection settings and make something
      beautiful! Keep in mind that AutoLink rules are no valid to select in action.
    </div>
    <button type="button"
            class="btn btn-sm btn-primary cursor-pointer mt-3"
            title="Add rule"
            i18n-title="@@constraint.action.empty.button">
      <a [routerLink]="resource | collectionSettingsPath:(workspace$ | async)" target="_blank" style="color: inherit">
        <i class="fa fa-plus-circle mr-1" aria-hidden="true"></i>
        <span class="font-weight-bold" i18n="@@constraint.action.empty.button">Add rule</span>
      </a>
    </button>

  </div>

</div>
