@import 'src/styles/variables';

input.copy-input-box {
  background-color: white;
  font-style: italic;
  color: $gray-700 !important;

  &.copied {
    border-color: $success;
    font-weight: bold;
  }

  transition: border-color 0.25s ease;
}
