<input *ngIf="readonly"
       [title]="value | formatDataValueTitle"
       [value]="value | formatDataValue | unescapeHtml"
       type="text"
       class="border-0 w-100 h-100 px-1 bg-transparent"
       [class.invalid-value]="!valid"
       [ngClass]="inputClass"
       readonly>

<input *ngIf="!readonly" #percentageInput
       percentage
       [title]="value | formatDataValueTitle"
       [value]="value | formatDataValueForEdit"
       (blur)="onBlur()"
       (focus)="onFocus()"
       (input)="onInput($event)"
       type="text"
       class="border-0 w-100 h-100 px-1 {{inputClass}}"
       [ngClass]="valid || skipValidation ? 'bg-transparent' : 'bg-danger-light'">
