<div class="form-check mt-2">
  <input [id]="savePositionId"
         [attr.checked]="config?.positionSaved"
         [checked]="config?.positionSaved"
         (change)="onSavePositionChange($event.target.checked)"
         type="checkbox"
         #savePositionCheckbox
         class="form-check-input">
  <label [for]="savePositionId"
         class="form-check-label">
  <span i18n="@@perspective.calendar.config.position.save" class="user-select-none cursor-pointer"
        (click)="savePositionCheckbox.click()">Save position to view</span>
  </label>
</div>

<select-item *ngIf="config?.mode !== configModeMonth"
             class="d-block w-100 mt-2"
             [items]="slotDurations"
             [selectedId]="config?.slotDuration || defaultDuration"
             placeholderText="Slot duration"
             i18n-placeholderText="@@perspective.calendar.config.slotDuration.label"
             [removable]="false"
             (selected)="onSlotDurationChange($event)">
</select-item>

<calendar-stem-config *ngFor="let stem of query?.stems; trackBy:trackByStem; let index = index"
                      class="d-block mt-4"
                      [config]="config?.stemsConfigs && config?.stemsConfigs[index] || defaultStemConfig"
                      [collection]="collections | collectionById:stem.collectionId"
                      [stem]="stem"
                      [selectItems]="stem | queryStemAttributesSelectItems:collections:linkTypes"
                      (configChange)="onStemConfigChange($event, stem, index)">
</calendar-stem-config>
