<div class="mx-3 mb-3 text-center" *ngIf="collection">
  <i [style.color]="collection.color" aria-hidden="true" class="{{collection.icon}} fa-fw"></i>&nbsp;
  <b>{{collection.name}}</b>&nbsp;
  <span>Form View</span>
</div>

<form-editor-section *ngFor="let section of config?.sections; trackBy: trackBySection; let index = index"
                     class="d-block card mx-2 mt-2"
                     [section]="section"
                     [collection]="collection"
                     [collectionLinkTypes]="collectionLinkTypes"
                     [sectionIds]="sectionIds"
                     [usedAttributeIds]="usedAttributeIds"
                     [usedLinkTypeIds]="usedLinkTypeIds"
                     (sectionChange)="onSectionChanged($event, index)"
                     (rowMoveToSection)="onRowMoveToSection($event)"
                     (delete)="onSectionDelete(index)">
</form-editor-section>

<div class="mt-3">
  <button class="btn btn-link px-0" (click)="addSection()">
    <i class="far fa-plus-square mr-2"></i>
    <span i18n="@@perspective.form.editor.section.action.add">Add a Section</span>
  </button>
</div>

<form-editor-buttons class="mt-5 mb-5" [buttons]="config?.buttons"
                     (buttonsChange)="onButtonsChange($event)">
</form-editor-buttons>
