<toggle-checkbox [checked]="config?.createOnly"
                 label="Only allow creation of new records"
                 i18n-label="@@perspective.form.editor.createOnly.label"
                 hint="When you switch off the designer mode, a table with existing records is shown here. This allows you to select and update the records. You can hide this table and allow only adding new records."
                 i18n-hint="@@perspective.form.editor.createOnly.hint"
                 (checkedChange)="createOnlyModeChanged($event)">
</toggle-checkbox>

<form-editor-section *ngFor="let section of config?.sections; trackBy: trackBySection; let index = index; let first = first"
                     class="d-block card shadow-light mt-3"
                     [section]="section"
                     [collection]="collectionWithFilteredAttributes"
                     [collectionLinkTypes]="collectionLinkTypes"
                     [sectionIds]="sectionIds"
                     [usedAttributeIds]="usedAttributeIds"
                     [usedLinkTypeIds]="usedLinkTypeIds"
                     (sectionChange)="onSectionChanged($event, index)"
                     (rowMoveToSection)="onRowMoveToSection($event)"
                     (delete)="onSectionDelete(index)">
</form-editor-section>

<div class="mt-3">
  <button class="btn btn-link px-0" (click)="addSection()">
    <i class="far fa-plus-square mr-2"></i>
    <span i18n="@@perspective.form.editor.section.action.add">Add a Section</span>
  </button>
</div>

<form-editor-buttons class="mt-5"
                     [buttons]="config?.buttons"
                     [createOnly]="config?.createOnly"
                     (buttonsChange)="onButtonsChange($event)">
</form-editor-buttons>
