@import 'src/styles/variables';

:host {
  position: absolute;
  top: 0.5px;
  left: 0;
  z-index: 5;
  visibility: hidden;
}

.visible {
  visibility: visible !important;
}

.header-wrapper {
  display: table-row;
}

.header-cell {
  display: table-cell;
}

.empty-cell {
  width: 2rem;
  min-width: 2rem;
}

.header-content {
  display: grid;
  grid-template-columns: 1fr auto;
  border: 0.5px $gray-200 dotted;
  padding: 0.4rem;
  height: 35px;
}

.fa-caret-down {
  color: $secondary;
}

.icons {
  font-size: 13px;
}
