<ng-container *ngIf="{readonly: !permissions?.writeWithView} as data">

  <div class="flex-grow-1 row m-0" [style.width]="'calc(100% - 40px)'">

    <data-input class="{{keyClass}} p-0 pr-1 h-100 w-100 p-1 data-input key d-block"
                [cursor]="cursor"
                [focus]="true"
                [readonly]="!(keyEditing$ | async)"
                [dataValue]="keyDataValue"
                [placeholder]="placeholder"
                [suggestions]="unusedAttributes | attributesToDataSuggestions"
                (save)="onNewKey($event)"
                (dblclick)="onKeyInputDblClick($event)"
                (cancel)="onKeyInputCancel()"
                (mousedown)="$event.stopPropagation(); $event.stopImmediatePropagation()"
                (click)="onKeyFocus()"
                (clickOutside)="onKeyInputCancel()"
                [class.editing]="keyEditing$ | async"
                [class.cursor-pointer]="!data.readonly"
                [class.read-only]="data.readonly">
    </data-input>

    <data-input class="{{valueClass}} h-100 w-100 p-1 data-input value"
                [constraint]="row.attribute?.constraint"
                [cursor]="cursor"
                [focus]="true"
                [dataValue]="dataValue"
                [configuration]="configuration"
                [readonly]="readonly || !((editing$ | async) || row.attribute?.constraint?.type === booleanConstraintType)"
                (save)="onNewValue($event)"
                (dblclick)="onDataInputDblClick($event)"
                (cancel)="onDataInputCancel()"
                (mousedown)="$event.stopPropagation(); $event.stopImmediatePropagation()"
                (valueChange)="onValueEdit($event)"
                (click)="onValueFocus()"
                (clickOutside)="onDataInputCancel()"
                [class.editing]="editing$ | async"
                [class.cursor-pointer]="!data.readonly"
                [class.read-only]="data.readonly">
    </data-input>

  </div>

  <div class="d-flex flex-row flex-nowrap align-items-center ml-1 justify-content-center">
    <ng-container *ngIf="{iconName: (row.attribute?.constraint | constraintTypeIcon)} as typeData">
      <i *ngIf="typeData.iconName"
         [ngClass]="typeData.iconName"
         [title]="row.attribute?.constraint | constraintTypeIconTitle"
         class="text-muted small fa-fw"></i>
      <i *ngIf="!typeData.iconName" class="fa-fw fa fa-icon-none small"
         aria-hidden="true">
      </i>
    </ng-container>
  </div>

</ng-container>
