@import '../../../../styles/variables';

:host {
  min-height: 40px;
  display: grid;
  width: auto;
  grid-template-columns: 3fr 4fr auto;
  & > div {
    min-width: 0;
  }
}

:host.quarter {
  grid-template-columns: 1fr 4fr auto;
}

:host.third {
  grid-template-columns: 1fr 3fr auto;
}

:host.half {
  grid-template-columns: 1fr 2fr auto;
}

:host.event {
  grid-template-columns: 1fr 1fr auto;
}

:host.key-focused .data-input.key::ng-deep > *,
:host.value-focused .data-input.value::ng-deep > * {
  border: 1px solid $gray-400;
  border-radius: 0.25rem;
}

.data-input.editing::ng-deep > * {
  border: 1px solid $success;
  border-radius: 0.25rem;
}

.data-input.key::ng-deep > * > * {
  font-style: italic !important;
}
