<dropdown [origin]="origin"
  [showBackdrop]="false"
  [closeOnClickOutside]="false"
  [positions]="dropdownPositions"
  [minWidth]="230"
  [minHeight]="434">

  <div
    [colorPicker]="color"
    [cpToggle]="true"
    (colorPickerSelect)="onSelect($event)"
    (colorPickerCancel)="onCancel()"
    (colorPickerChange)="onChange($event)"
    [cpDialogDisplay]="'inline'"
    [cpSaveClickOutside]="false"
    [cpCloseClickOutside]="false"
    [cpPresetColors]="localPalette"
    cpPresetLabel=""
    cpAlphaChannel="disabled"
    cpDisableInput="true"
    cpCancelButton="true"
    cpCancelButtonText="Cancel"
    i18n-cpCancelButtonText="@@button.cancel"
    cpCancelButtonClass="btn btn-sm btn-outline-secondary mr-2"
    cpOKButton="true"
    cpOKButtonText="Save"
    i18n-cpOKButtonText="@@button.save"
    cpOKButtonClass="btn btn-sm btn-primary">
  </div>

</dropdown>
