<bookmark-toolbar [additionalClasses]="['mt-5']">
  <ng-container *ngFor="let view of (views$ | async | arrayReverse)">
    <bookmark *ngIf="{queryItems: view.query | queryItems:(queryData$ | async)} as data"
              [color]="data.queryItems | queryColor"
              [icon]="view.perspective | perspectiveIcon"
              [link]="(view | viewLink:workspace)">
      {{view.name}}
      <i *ngIf="data.queryItems | containsDeletedQueryItem" class="fa fa-exclamation-triangle text-warning ml-1"
         title="View is not valid because some of the resources were deleted"
         i18n-title="@@view.detail.warning.deleted"></i>
    </bookmark>
  </ng-container>
</bookmark-toolbar>
