<ng-container *ngFor="let attribute of selectAttributes; trackBy: trackByIndex, let index = index">
  <ng-container *ngIf="selectItems | attributeSelectItems:selectAttributes:index as allowedSelectItems">
    <select-item *ngIf="allowedSelectItems.length"
                 class="d-block w-100 mt-2"
                 [items]="allowedSelectItems"
                 [selectedId]="attribute | cleanQueryAttribute"
                 placeholderText="Location"
                 i18n-placeholderText="@@map.config.attribute.placeholder"
                 emptyValue="Select location"
                 i18n-emptyValue="@@map.config.attribute.empty"
                 buttonClasses="flex-grow-1 text-truncate"
                 [removable]="true"
                 (selected)="onAttributeSelect(index,$event)"
                 (remove)="onAttributeRemoved(index)">
    </select-item>
  </ng-container>
</ng-container>
