<div class="panel-item invite ml-2 mr-1 position-relative"
     *ngIf="(organizationPermissions$ | async).roles?.UserConfig || (projectPermissions$ | async).roles?.UserConfig">
  <button *ngIf="!mobile; else mobileIcon"
          class="btn btn-success btn-sm align-baseline font-weight-bold"
          tooltip="Invite a colleague"
          i18n-tooltip="@@inviteUser.button.title"
          placement="bottom"
          (click)="onInviteUser()">
    <i class="fas fa-user-plus mr-2"></i>
    <span i18n="@@inviteUser.button.text">Invite</span>
  </button>
  <hint *ngIf="!((projectUsers$ | async) > 1)" title="You are all alone here" i18n-title="@inviteUser.hint.title">
    <span i18n="@@inviteUser.hint.content">Invite your colleagues using this button.</span>
  </hint>
</div>

<ng-template #mobileIcon>
  <i class="fas fa-user-plus mr-2 text-success align-baseline cursor-pointer"
     tooltip="Invite a colleague"
     i18n-tooltip="@@inviteUser.button.title"
     placement="bottom"
     title="Invite a colleague"
     i18n-title="@@inviteUser.button.title"
     (click)="onInviteUser()"></i>
</ng-template>
