<div class="panel-item invite ms-2 me-1 position-relative"
     *ngIf="(isWorkspaceDefined$ | async) && (projectPermissions$ | async)?.roles?.UserConfig">
  <button *ngIf="!compact; else compactIcon"
          class="btn btn-success btn-sm align-baseline fw-bold"
          tooltip="Invite a colleague"
          i18n-tooltip="@@inviteUser.button.title"
          placement="bottom"
          data-tour="invite-users"
          (click)="onInviteUser()">
    <i class="fas fa-user-plus me-2"></i>
    <span i18n="@@inviteUser.button.text">Invite</span>
  </button>
  <hint *ngIf="displayInviteUsersHint$ | async"
        (dismissHint)="onHintDismissed()"
        title="Invite Colleague"
        i18n-title="@hint.inviteUser.title">
    <span i18n="@@hint.inviteUser.content">Many hands make light work. Invite your colleagues using this button. While inviting another member, you can select what kind of rights will be granted to them. So you can, for example, allow them to only view your data, but prevent them from modifying anything.</span>
  </hint>
</div>

<ng-template #compactIcon>
  <i class="fas fa-user-plus me-2 text-success align-baseline cursor-pointer"
     tooltip="Invite a colleague"
     i18n-tooltip="@@inviteUser.button.title"
     placement="bottom"
     title="Invite a colleague"
     i18n-title="@@inviteUser.button.title"
     (click)="onInviteUser()"></i>
</ng-template>
