@import 'styles/variables';
@import '~bootstrap/scss/bootstrap';
@import 'styles/bootswatch';
@import 'styles/custom/cursor';
@import 'styles/overrides/driver';
@import 'styles/overrides/muuri';
@import 'styles/overrides/ngx-bootstrap';
@import 'styles/overrides/ng-snotify';

$flag-icon-css-path: '~flag-icon-css/flags' !default;
@import '~flag-icon-css/sass/flag-icon';
@import '~angular-calendar/css/angular-calendar.css';

*[contenteditable] {
  -webkit-user-select: auto !important;
}

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
}

a {
  cursor: pointer;
  transition: color $animation-color-duration;
}

a:hover {
  text-decoration: none;
}

a.disabled {
  cursor: default;
}

// TODO should not be needed
ul {
  list-style-type: none;
}

.clickable {
  cursor: pointer;
  transition: all 0.2s ease-in;

  &.text-primary {
    color: $primary !important;

    &:hover {
      color: $primary-hover !important;
    }
  }

  &.text-danger {
    color: $danger !important;

    &:hover {
      color: $danger-hover !important;
    }
  }

  &.text-warning {
    color: $warning !important;

    &:hover {
      color: $warning-hover !important;
    }
  }

  &:not(.text-primary):not(.text-danger):not(.text-warning) {
    color: $success;

    &:hover {
      color: $success-hover !important;
    }
  }
}

.pointer-events-none {
  pointer-events: none;
}

.table-border-top {
  border-top: 1px solid $table-border-color;
}

.table-border-bottom {
  border-bottom: 1px solid $table-border-color;
}

.table-border-right {
  border-right: 1px solid $table-border-color;
}

.table-border-left {
  border-left: 1px solid $table-border-color;
}

.overflow-hidden {
  overflow: hidden;
}

.function-modal-dialog {
  max-width: 85vw;
}

.bg-danger-light {
  background-color: lighten($danger, 30%);
}

.invalid-value {
  text-decoration: underline $danger dashed;
}

color-picker .color-picker .preset-area {
  line-height: 1px;

  .preset-color {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 20px;
    margin: 0px;
    border: 0px none transparent;
    border-radius: 0px;
  }
}

typeahead-container {
  z-index: 1100 !important;
}

.white-space-pre {
  white-space: pre;
}

.box-shadow-none {
  box-shadow: none;
}

.w-max-content {
  width: max-content;
}

.cdk-overlay-container {
  z-index: 1100 !important; // otherwise date picker shown behind Bootstrap modal
}

.table-md {
  th,
  td {
    padding: $table-cell-padding-md;
  }
}

.text-gray-700 {
  color: $gray-700;
}

.min-height-1 {
  min-height: 1px; // typically used as flex height fix (e.g. Firefox)
}

.ml-n1 {
  margin-left: -0.25rem;
}

.break-all {
  word-break: break-all;
}

@media (min-width: 1100px) {
  .modal-dialog.modal-xxl {
    max-width: 1000px;
  }
}

@media (min-width: 992px) and (max-width: 1098px) {
  .modal-dialog.modal-xxl {
    max-width: 900px;
  }
}

@media (min-width: 778px) and (max-width: 991.98px) {
  .modal-dialog.modal-xxl {
    max-width: 700px;
  }
}
