<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- vendor javascripts -->

    <!-- vendor javascripts -->
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-lg-2">
            <nav class="navbar navbar-default navbar-fixed-side">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Lumeer</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">

                            <li>
                                <a href="#table" data-toggle="collapse">Table</a>
                                <ul id="table" class="collapse" style="color: white;">
                                    <li>
                                        <a href="#"><i class="fa fa-th-list" aria-hidden="true"></i>View</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> New record</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="#context-browser" data-toggle="collapse">Context Browser</a>
                                <ul id="context-browser" class="collapse" style="color: white;">
                                    <li>
                                        <a href="#"><i class="fa fa-random" aria-hidden="true"></i>View</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> New record</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#pivot-table" data-toggle="collapse">Pivot Table</a>
                                <ul id="pivot-table" class="collapse" style="color: white;">
                                    <li>
                                        <a href="#"><i class="fa fa-ge" aria-hidden="true"></i>View</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> New record</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-sm-9 col-lg-10 lum-no-padding lum-content">
            <div class="lum-top-nav row">
                <form class="col-sm-12 col-lg-3 form-inline" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </form>
                <div class="col-lg-3 pull-right lum-options">
                    <a><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
                    <a><i class="fa fa-sign-in" aria-hidden="true"></i> Log in</a>
                </div>
            </div>
            <div class="lum-page-content">
                <div class="row lum-white-container">
                    <div class="col-lg-9">
                        <h4>Some header</h4>
                        <ol>
                            <li>Some</li>
                            <li>bread crumbs</li>
                        </ol>
                    </div>
                </div>
                <div clas="row">
                    <div class="jumbotron">
                        <h1>Lumeer tool</h1>

                        <p>This is a Lumeer tool, specific tool for working with reports and managing their relationships.</p>
                        <p><a class="btn btn-primary btn-lg" href="http://www.lumeer.io/" target="_blank">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
