@import '../../../../../../../styles/variables';

.panel-item.notifications {
  max-height: 90vh;
  width: 28rem;
  min-width: 18rem;
  max-width: 90vw;

  height: var(--top-panel-line-height);
  line-height: var(--top-panel-line-height);
  white-space: nowrap;

  form {
    line-height: 1.1rem;
  }

  a.dropdown-item {
    line-height: initial;

    &:active,
    &:focus {
      .notification-content {
        &.unread {
          color: $gray-500;
        }
      }
    }

    &:not(:last-child) {
      padding-bottom: 1rem;
    }

    .notification-title {
      display: inline-block;
      width: 100%;
      line-height: 1.2rem;
      vertical-align: top;
    }

    .status {
      vertical-align: baseline;
    }

    .notification-content {
      display: block;
      width: 100%;
      line-height: 1.15rem;
      white-space: normal;
      text-align: justify;

      &.unread {
        color: $primary;
        font-weight: bold;

        &:active,
        &:focus {
          color: $light;
        }
      }

      &.read,
      &.read:hover,
      &.read:focus {
        font-weight: lighter;
        font-style: italic;
        color: $gray-500;
      }
    }
  }
}

span.nowrap {
  white-space: nowrap;
}

span.trail:after {
  content: ' ';
}

i.fa-trash-alt.text-danger.disabled {
  color: $danger-light !important;
  cursor: default;
}
