<icons-presenter *ngIf="item.icons && item.iconColors"
                 class="d-block mr-2"
                 [colors]="item.iconColors"
                 [icons]="item.icons">
</icons-presenter>
<i *ngIf="item.icons && !item.iconColors && item.icons.length === 1"
   class="fa-fw mr-2 {{item.icons[0]}}"></i>
<span class="text-nowrap flex-grow-1 text-left text-truncate" [title]="displayValue">{{displayValue}}</span>
<i *ngIf="removable && !disabled" class="fa-fw fal fa-times mx-1 clear" (click)="onRemove($event)"></i>
