:host {
  display: flex;
  flex-direction: row;

  .bigger-icon {
    font-size: 200%;
    margin-top: 0.25em;
    margin-right: 0.5rem;
  }
}

:host:hover {
  .hiding-icon {
    opacity: 1;
  }
}

.hiding-icon {
  opacity: 0;
}

.always-visible {
  opacity: 1 !important;
}
