<div>
  <i class="fa fa-fw text-primary clickable"
     [ngClass]="isOpened ? 'fa-caret-down':'fa-caret-right'"
     aria-hidden="true"></i>
</div>

<div>
  <i class="{{collection?.icon}} fa-fw"
     [class.bigger-icon]="size !== sizeType.S || isOpened"
     [style.color]="collection?.color"
     *ngIf="collection" aria-hidden="true"></i>
</div>

<div class="ml-1 flex-grow-1">
  <div class="d-flex flex-row">
    <span *ngIf="collection" [style.color]="collection?.color">{{collection?.name}}</span>
    <data-input-preview class="ml-3 data-input-preview text-truncate"
                        [class.small-size]="size === sizeType.S || size === sizeType.M"
                        [constraint]="defaultConstraint"
                        [cursor]="document | dataCursor:defaultAttributeId"
                        [configuration]="configuration"
                        [dataValue]="defaultAttributeId && document?.dataValues && document?.dataValues[defaultAttributeId]">
    </data-input-preview>
    <div class="ml-auto text-nowrap" *ngIf="permissions?.read">
      <span class="clickable ml-2 hiding-icon"
            (click)="$event.stopPropagation(); onToggleFavorite()"
            title="{{ document.favorite ?  'Remove from favorites' : 'Add to favorites'}}"
            [class.always-visible]="document.favorite"
            i18n-title="@@document.favorite">
        <i class="fa-star text-warning" [ngClass]="document.favorite ? 'fas' : 'far'" aria-hidden="true"></i>
      </span>
      <span class="clickable ml-2"
            (click)="onDetail()"><i class="fas fa-file-search" aria-hidden="true"></i>
      </span>
    </div>
  </div>
  <ng-content></ng-content>
</div>
