<div [formGroup]="form">
  <p class="text-muted"
     i18n="@@constraint.coordinates.description">
    Defines the exact position on the surface of the planet Earth.
  </p>

  <div class="form-group">
    <label [for]="controls.Format"
           i18n="@@constraint.coordinates.format.label">
      Format
    </label>
    <select [id]="controls.Format"
            [formControlName]="controls.Format"
            (change)="onFormatChange()"
            class="custom-select"
            data-test="coordinates-constraint-format-select">
      <option *ngFor="let format of formats"
              [value]="format">
        {format, select, DD {Decimal degrees} DMS {Degrees, minutes, seconds}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label [for]="controls.Precision"
           i18n="@@constraint.coordinates.precision.label">
      Precision
    </label>
    <select [id]="controls.Precision"
            [formControlName]="controls.Precision"
            class="custom-select"
            data-test="coordinates-constraint-precision-select">
      <ng-container *ngIf="formatControl.value === coordinatesFormat.DecimalDegrees; else dmsPrecisions">
        <option *ngFor="let precision of precisions[formatControl.value]"
                [value]="precision"
                i18n="@@constraint.coordinates.precisions.dd">
          {precision, select, 0 {0 digits (~ 100 km)} 1 {1 digit (~ 10 km)} 2 {2 digits (~ 1 km)} 3 {3 digits (~ 100 m)} 4 {4 digits (~ 10 m)} 5 {5 digits (~ 1 m)} 6 {6 digits (~ 0.1 m)}}
        </option>
      </ng-container>

      <ng-template #dmsPrecisions>
        <option *ngFor="let precision of precisions[formatControl.value]"
                [value]="precision"
                i18n="@@constraint.coordinates.precisions.dms">
          {precision, select, 0 {0 digits (~ 30 m)} 1 {1 digit (~ 3 m)} 2 {2 digits (~ 0.3 m)}}
        </option>
      </ng-template>
    </select>
  </div>

  <div class="text-secondary">
    Example: {{ '49.2331315, 16.5701833' | coordinatesDataValue : form.value }}
  </div>
</div>
