<div class="container-fluid">
  <div class="row">
    <div class="panel-item h4 col order-lg-1">
      <a href="index.html" class="d-flex">
        <img class="logo" src="../../../ui/img/lumeer-logo.png">
        <div class="text-primary font-weight-bold text-uppercase pl-2">
          Lumeer
        </div>
      </a>
    </div>

    <div class="d-flex justify-content-end col order-lg-3">
      <div class="panel-item lead mr-2"
           *ngIf="isWorkspaceSet()">
        <span>
          <a (click)="goToWorkspaceOrganization()"
             tabindex
             title="Organization" i18n-title="@@panel.workspace.organization">
            {{workspace.organizationCode}}
          </a>
          <span class="mx-1">/</span>
          <a (click)="goToWorkspaceProject()"
             tabindex
             title="Project" i18n-title="@@panel.workspace.project">
            {{workspace.projectCode}}
          </a>
        </span>
      </div>

      <!-- TODO remove once Angular supports ICU messages in attributes -->
      <div hidden>
        <span #notificationsTitle
              i18n="@@panel.notifications">
          {notifications, plural, =0 {No new notifications} =1 {One new notification} =2 {2 new notifications} =3 {3 new notifications} =4 {4 new notifications} other { {{notifications}} new notifications}}
        </span>
      </div>

      <div class="panel-item mx-2"
           [title]="removeHtmlComments(notificationsTitle)">
        <i *ngIf="notifications === 0"
           class="fa fa-bell fa-lg text-secondary"></i>
        <i *ngIf="notifications > 0"
           class="fa fa-bell fa-lg text-warning"></i>
      </div>

      <div class="dropdown show ml-2">
        <a href="#" role="button" id="profileDropdownLink" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false" class="text-secondary">
          <i class="fa fa-user-circle fa-3x"></i>
        </a>

        <div class="dropdown-menu dropdown-menu-right profile-dropdown" aria-labelledby="profileDropdownLink">
          <a class="dropdown-item"
             title="Settings" i18n-title="@@menu.settings"
             routerLink="/user/settings">
            <i class="fas fa-fw fa-cog" data-fa-transform="left-4" aria-hidden="true"></i>
            <span i18n="@@menu.settings">Settings</span>
          </a>
          <a class="dropdown-item"
             title="Account" i18n-title="@@menu.account"
             href="https://auth.lumeer.io/auth/realms/lumeer/account">
            <i class="fas fa-fw fa-user" data-fa-transform="left-4" aria-hidden="true"></i>
            <span i18n="@@menu.account">Account</span>
          </a>
          <div class="dropdown-divider"></div>
          <div class="dropdown-item form-check">
            <label class="form-check-label">
              <input [checked]="notificationsDisabled"
                     (change)="disableNotifications()"
                     type="checkbox"
                     class="form-check-input">
              <span i18n="@@menu.notifications.disable">Disable notifications</span>
            </label>
          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" title="Sign Out"
             href="https://auth.lumeer.io/auth/realms/lumeer/protocol/openid-connect/logout?redirect_uri=https%3A%2F%2Fwww.lumeer.io%2F">
            <i class="fas fa-fw fa-sign-in" data-fa-transform="left-4" aria-hidden="true"></i>
            <span i18n="@@menu.signOut">Sign Out</span>
          </a>
          <span class="dropdown-item">
          <span i18n="@@menu.licence">Licence</span>: {{this.licence}}
        </span>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-xl-7 order-lg-2 mt-1 mt-lg-1 mb-3 mx-auto">
      <search-box *ngIf="isSearchBoxShown()"></search-box>
    </div>
  </div>
</div>
