@import "../../shared/variables";

$top-panel-height: 48px;

.panel-item {
  height: $top-panel-height;
  line-height: $top-panel-height;
}

.lumeer-logo {
  height: $top-panel-height;
  position: relative;
  bottom: 3px;
}

.lumeer-header {
  color: $primary;
  font-size: $h4-font-size;
  font-weight: bold;
}
.home-button {
  position: relative;
  bottom: 2px;
  left: 15px;
}

.profile-dropdown {
  a {
    color: $link-color;

    &:hover {
      color: lighten($link-color, 5%);
    }
  }
}
