<dropdown [origin]="origin"
          [closeOnClickOutside]="true"
          [positions]="dropdownPositions">
  <div class="dropdown-menu show" style="width: 19rem;">
    <resource-detail
      [type]="type"
      [resource]="resource"
      [workspace]="workspace">
    </resource-detail>

    <resource-list [currentId]="resource?.id"
                   [organizations]="organizations"
                   [projects]="projects"
                   (onResourceSelect)="selectResource($event)">
    </resource-list>

    <ng-container *ngIf="(resource | canCreateResource:type:projects) | async">

      <div class="dropdown-divider"></div>

      <a class="dropdown-item" (click)="newResource()">
        <i class="fas fa-plus text-success mr-1"></i>
        <span
          i18n="@@resource.menu.createNew">Create New {type, select, organization {Organization} project {Project} other {}}</span>
      </a>
    </ng-container>
  </div>
</dropdown>
