<ng-container *ngIf="{loading: loading$ | async, markers: markers$ | async} as data">
  <ng-container *ngIf="data.markers?.length > 0 || !data.loading; else loading">
    <map-globe-render *ngIf="config"
                      [position]="config?.position"
                      [createRecords]="config | canCreateRecordsInMap"
                      [markers]="data.markers"
                      (mapMove)="mapMove.emit($event)"
                      (markerMove)="onMarkerMove($event)"
                      (newMarker)="onNewMarker($event)"
                      (detail)="detail.emit($event)"
                      class="w-100">
    </map-globe-render>
  </ng-container>

  <ng-template #loading>
    <map-loading class="w-100">
    </map-loading>
  </ng-template>
</ng-container>
