.cal-month-view {
  height: 100%;

  .cal-days {
    max-height: calc(100% - 1rem - 32px); // header = 32px
    height: 100%;
    overflow-y: scroll;
  }
}

.cal-week-view {
  height: 100%;

  .cal-time-events {
    height: 100%;
    max-height: calc(100% - 56px - 1rem); // header = 56px
    overflow-y: scroll;
  }

  .cal-day-columns {
    height: 1440px; // 24 * 2 segments (2 segments for each hour) * 30px
  }
}

.cal-day-view {
  max-height: calc(100% - 1rem);
  height: 100%;
  overflow-y: scroll;
}
