<full-calendar #calendar
               [defaultView]="defaultView"
               [defaultDate]="defaultDate"
               [events]="events"
               [plugins]="calendarPlugins"
               [navLinks]="true"
               [selectable]="true"
               [locale]="locale"
               [firstDay]="locale | firstDayOfWeek"
               [buttonText]="buttonText"
               [header]="header"
               [nowIndicator]="true"
               (eventClick)="onEventClick($event)"
               (eventDrop)="onEventDrop($event)"
               (eventResize)="onEventResize($event)"
               (select)="onRangeSelected($event)"
               (datesRender)="datesRender($event)"
               (navLinkDayClick)="onNavLinkDayClick($event)">
</full-calendar>
