<h6 class="font-weight-bold mt-2"
    i18n="@@perspective.map.config.sidebar.header">
  Map settings
</h6>

<p i18n="@@perspective.map.config.sidebar.description">
  Select attributes with addresses or Earth coordinates to position records on the map.
</p>

<map-position-checkbox class="d-block mt-3"
                       [value]="map?.config?.positionSaved"
                       (valueChange)="onPositionSavedChange($event)">
</map-position-checkbox>

<map-stem-config *ngFor="let stem of query?.stems; trackBy:trackByStem; let index = index"
                 class="d-block mt-4"
                 [config]="map?.config?.stemsConfigs && map?.config?.stemsConfigs[index] || defaultStemConfig"
                 [stem]="stem"
                 [collections]="collections"
                 [selectItems]="stem | queryStemAttributesSelectItems:collections:linkTypes"
                 (configChange)="onStemConfigChange($event, stem, index)">
</map-stem-config>
