<post-it-collections-content *ngIf="loaded$ | async"
                             [workspace]="workspace$ | async"
                             [query]="query$ | async"
                             [collections]="collections$ | async"
                             [maxCollections]="maxShown"
                             [projectPermissions]="projectPermissions$ | async"
                             [showAddTaskTable]="showAddTaskTable"
                             (delete)="onDelete($event)"
                             (update)="onUpdate($event)"
                             (create)="onCreate($event)"
                             (import)="onImport($event)">
</post-it-collections-content>
