@import '../../../styles/variables';

:host {
  display: block;

  .post-it-collection-layout {
    transition: height $animation-duration;
    position: relative;

    .layout-item {
      position: absolute;
      margin: 5px;
      display: block !important;
      width: $post-it-width;

      &:hover {
        z-index: $z-index-postit-hover;
      }
    }

    .focused,
    .selected {
      z-index: $z-index-selected;
    }

    .see-all {
      height: 181px;
      font-size: 200%;
    }
  }
}
