@import "../variables";

:host {
  display: block;

  .post-it-collection-layout {
    transition: height $animation-duration;
    position: relative;
  }

  .layout-item {
    position: absolute;
    margin: 5px;
    width: $post-it-width;
  }

  .post-it {
    transition: box-shadow $animation-duration, transform $animation-duration;
  }

  .post-it:hover{
    box-shadow: $shadow-default;

    .opacity-content {
      opacity: 1;
    }
  }

  .post-it:hover {
    z-index: $z-index-hovered;
  }

  .selected {
    z-index: $z-index-selected;
  }

  .add-post-it {
    transition: transform $animation-duration, color $animation-color-duration;
    background: transparent;
    border-color: transparent;

    &:hover {
      color: $success;
    }
  }

  .opacity-content {
    transition: opacity $animation-color-duration;
    opacity: 0;
    position: absolute;
  }

  .document-count {
    top: 3px;
    left: 8px;
  }

  .always-visible {
    opacity: 1 !important;
  }

  .toggle-favorite {
    top: 3px;
    right: 3px;
  }

  .uninitialized {
    border-width: 1.75px;
    border-style: dashed;
  }

  .buttons {
    width: 25px;
    right: 0;

    a {
      transition: background-position $animation-color-duration;

      background: linear-gradient(to right, transparent 50%, #e8e8e8 50%);
      background-size: 200% 100%;
      background-position: left bottom;

      &:hover {
        background-position: right bottom;
      }
    }
  }

  .dropdown-menu {
    width: 230px;
    transform: translate3d(-195px, 71px, 0px) !important;

    .dropdown-item {
      padding-right: 0;
    }
  }

  .uninitialized-dropdown {
    transform: translate3d(-8px, 120px, 0px) !important;
  }

  .card-footer {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    height: 35px;

    width: 100%;
    color: inherit;
    font-size: 20px;
    border: none;
    outline: none !important;
    padding-top: 0;
  }

  textarea {
    resize: none;
    border: none;
    outline: none;
    overflow: hidden;
  }

}
