<div class="toolbar d-flex">
  <i class="ml-auto far fa-fw fa-trash-alt text-danger cursor-pointer"
     (click)="delete.emit()"
     title="Delete" i18n-title="@@delete"
     aria-hidden="true">
  </i>
</div>

<form [formGroup]="form">

  <div class="form-group row">
    <label class="col-12 col-form-label"
           i18n="@@resource.new.dialog.name.label"
           for="name">Name:</label>

    <div class="col-12">
      <input type="text"
             id="name"
             formControlName="name"
             class="form-control"
             i18n-placeholder="@@resource.new.dialog.name.placeholder"
             placeholder="Enter name">
    </div>
    <small class="col-12 text-danger mt-1" *ngIf="nameControl.errors?.notEmpty"
           i18n="@@view.modal.settings.name.notEmpty">View name can not be empty</small>
    <small class="col-12 text-danger mt-1" *ngIf="nameControl.errors?.notUnique"
           i18n="@@view.name.exist">View already exist</small>
  </div>

  <div class="form-group row mt-3">
    <label class="col-12 col-form-label"
           i18n="@@view.modal.settings.folders"
           for="name">Folders:</label>

    <div class="col-12">
      <input-tags [formGroup]="form"
                  controlName="folders"
                  placeholderTitle="Enter folder name and press Enter"
                  i18n-placeholderTitle="@@view.modal.settings.folders.placeholder"
                  removeTagTitle="Remove folder"
                  i18n-removeTagTitle="@@view.modal.settings.folders.remove">
      </input-tags>
    </div>
    <div class="col-12 mt-1 text-muted small"
           i18n="@@view.modal.settings.folders.help">Use "/" to create nested folders i.e "Folder/Subfolder"</div>
  </div>

</form>
