<data-input *ngIf="constraint; else basicInput"
            class="d-flex flex-grow-1"
            [constraint]="constraint"
            [readonly]="readonly || !((editing$ | async) || constraint?.type === constraintTypeBoolean)"
            [value]="model"
            [focus]="focusInput"
            (save)="onSave($event)"
            (cancel)="onCancel()"
            (keydown)="$event.stopPropagation()"
            (keydown.enter)="onEnter()"
            (dblclick)="onDblClick()"
            [ngClass]="additionalClasses">
</data-input>
<i *ngIf="(constraint | constraintTypeIcon) as iconName"
   [ngClass]="iconName"
   [title]="constraint | constraintTypeIconTitle"
   class="text-muted small pl-1"></i>

<ng-template #basicInput>
  <input class="w-100 {{additionalClasses}}"
         [(ngModel)]="model"
         [disabled]="readonly"
         [attr.list]="suggestionListId"
         (keydown)="$event.stopPropagation()"
         (keydown.F2)="selectionHelper.focusToggle(false)"
         (keydown.Escape)="selectionHelper.focusToggle(false)"
         (keydown.enter)="onEnter()"
         (blur)="onBlur()">
</ng-template>
