<div class="p-3 bg-success text-white w-100 rounded-top">
  <h5 class="modal-title break-all" *ngIf="!rule">
    <span i18n="@@dialog.attribute.function.title">Configure function of</span>
    <icons-presenter
      *ngIf="resource | resourceIconsColors as iconColors"
      class="ml-2"
      [colors]="iconColors.colors"
      [icons]="iconColors.icons">
    </icons-presenter>
    <span class="ml-1">{{attribute?.name}}</span>
  </h5>

  <h5 class="modal-title break-all" *ngIf="rule">
    <span i18n="@@dialog.attribute.function.rule.title">Configure rule</span>
    <span class="ml-1">{{rule.name}}</span>
  </h5>
</div>
