@import 'src/styles/variables';

.controls {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: white;
  top: 30px;
  right: 20px;

  button:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}

::ng-deep.popup-wrapper {
  position: absolute;
  background: white;
  padding: 0.5rem;
  max-height: 20rem;
  border-radius: 0.2rem;
  max-width: 14rem;
  transform: translateX(-50%);
  box-shadow: $shadow-default;

  .popup-content {
    overflow: hidden;
  }

  &:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -20px;
    left: calc(50% - 10px);
    border-top: none;
    border: 10px solid transparent;
    border-bottom-color: $gray-400;
  }
}
