<div class="card wrapper p-3" [class.selected]="selected"
     (click)="onSelect()">

  <div class="card-body p-0 d-flex flex-row">

    <div class="image mr-3">
      <div [style.background-image]="'url( ' + template.imagePath + ')'" *ngIf="template.imagePath"></div>
      <i class="{{template.icon}}" *ngIf="template.icon"></i>
    </div>

    <div class="flex-grow-1 d-flex flex-column">
      <div class="title font-weight-bold">{{template.title}}</div>
      <div class="description small flex-grow-1">{{template.description}}</div>
      <div *ngIf="template.url" class="text-right">
        <a [href]="template.url" target="blank" i18n="@@templates.learn.more">Learn more</a>
      </div>
    </div>

  </div>

</div>
