<input *ngIf="readonly; else textEditing"
       [readonly]="readonly"
       [title]="value | formatDataValue"
       [value]="value | formatDataValue"
       class="border-0 w-100 h-100 px-1 bg-transparent"
       [ngClass]="inputClass"
       spellcheck="false"
       type="text">

<ng-template #textEditing>
  <input #addressInput
         [title]="value | formatDataValue"
         [value]="value | formatDataValue"
         (focus)="onFocused()"
         (blur)="onBlur()"
         (input)="onInput($event)"
         [ngClass]="inputClass"
         class="border-0 w-100 h-100 px-1 bg-transparent"
         spellcheck="false"
         type="text">

  <options-dropdown [options]="addressOptions$ | async"
                    [showBackdrop]="false"
                    [closeOnClickOutside]="false"
                    [origin]="addressInput"
                    (selectOption)="onSelectOption($event)">
  </options-dropdown>
</ng-template>
