<input *ngIf="readonly; else textEditing"
       [readonly]="readonly"
       [title]="value | formatDataValue"
       [value]="value | formatDataValue"
       (focus)="onFocus.emit($event)"
       class="border-0 w-100 h-100 px-1 bg-transparent"
       data-test="text-data-input"
       type="text">

<ng-template #textEditing>
  <input #addressInput
         [title]="value | formatDataValue"
         [value]="value | formatDataValue"
         (focus)="onFocused()"
         (blur)="onBlur()"
         (input)="onInput($event)"
         class="border-0 w-100 h-100 px-1 bg-transparent"
         data-test="text-data-input"
         type="text">

  <options-dropdown [options]="addressOptions$ | async"
                    [origin]="addressInput"
                    (selectOption)="onSelectOption($event)">
  </options-dropdown>
</ng-template>
