<dropdown [showBackdrop]="false"
          [positions]="dropdownPositions"
          [origin]="origin"
          [closeOnClickOrigin]="true"
          [pushOnScreen]="true">
  <div class="card">
    <div class="profile-dropdown" aria-labelledby="profileDropdownLink">
      <a *ngIf="freePlan"
         class="dropdown-item text-start bg-danger text-white free-plan"
         (click)="onOrganizationDetail()">
        <span i18n="@@panel.plan.free">Free&nbsp;Plan: Upgrade now!</span>
      </a>
      <span *ngIf="currentUser"
            class="dropdown-item-text text-secondary">
      {{ currentUser.email }}
    </span>
      <a *ngIf="locale !== 'cs'"
         [href]="url | languageLink:'cs'"
         class="dropdown-item"
         title="Čeština">
        <span class="flag-icon flag-icon-cz"></span>&nbsp;
        <span>Čeština</span>&nbsp;(<span i18n="@@language.czech">Czech</span>)
      </a>
      <a *ngIf="locale !== 'en'"
         [href]="url| languageLink:'en'"
         class="dropdown-item"
         title="English">
        <span class="flag-icon flag-icon-gb"></span>&nbsp;
        <span>English</span>&nbsp;
        (<span i18n="@@language.english">English</span>)
      </a>
      <a (click)="onFeedback()"
         class="dropdown-item"
         title="Send feedback"
         i18n-title="@@menu.sendFeedback">
        <i class="far fa-fw fa-comment"
           data-fa-transform="left-4"
           aria-hidden="true"></i>&nbsp;
        <span i18n="@@menu.sendFeedback">Send Feedback</span>
      </a>
      <a (click)="onStartTour()"
         class="dropdown-item"
         title="Application Tour"
         i18n-title="@@menu.applicationTour">
        <i class="far fa-fw fa-map-signs"
           data-fa-transform="left-4"
           aria-hidden="true"></i>&nbsp;
        <span i18n="@@menu.applicationTour">Application Tour</span>
      </a>
      <a (click)="onAffiliate()"
         class="dropdown-item"
         title="Affiliate Program"
         i18n-title="@@menu.affiliateProgram">
        <i class="far fa-fw fa-wallet"
           data-fa-transform="left-4"
           aria-hidden="true"></i>&nbsp;
        <span i18n="@@menu.affiliateProgramMenuItem">Earn with Lumeer</span>
      </a>
      <a [href]="helpLink"
         target="_blank"
         class="dropdown-item"
         title="Solutions and Support"
         i18n-title="@@menu.solutionsSupport">
        <i class="fas fa-fw fa-life-ring"
           data-fa-transform="left-4"
           aria-hidden="true"></i>&nbsp;
        <span i18n="@@menu.getHelp">Get Help</span>
      </a>
      <a *ngIf="false"
         class="dropdown-item"
         title="Account"
         i18n-title="@@menu.account">
        <i class="fas fa-fw fa-user"
           data-fa-transform="left-4"
           aria-hidden="true"></i>&nbsp;
        <span i18n="@@menu.account">Account</span>
      </a>
      <a (click)="onLogout()"
         class="dropdown-item"
         title="Log out"
         i18n-title="@@menu.logout">
        <i class="fas fa-fw fa-sign-in"
           data-fa-transform="left-4"
           aria-hidden="true"></i>&nbsp;
        <span i18n="@@menu.logout">Logout</span>
      </a>
      <ng-container *ngIf="buildNumber">
        <div class="dropdown-divider"></div>
        <small class="dropdown-header pt-0 pb-2">Build #{{buildNumber}}</small>
      </ng-container>
    </div>
  </div>
</dropdown>
