<div *ngIf="views?.length; else noViews"
     class="pt-2 pb-5 position-relative">
  <size-slider class="d-flex justify-content-end mb-2"
               [defaultSize]="config?.size || defaultSizeType" (newSize)="onSizeChange($event)">
  </size-slider>
  <div
    *ngFor="let view of (truncateContent ? (views | slice:0:maxViews) : views); trackBy:trackByView; let index = index"
    class="position-relative">
    <view-detail [view]="view"
                 [queryData]="queryData"
                 [viewSize]="config?.size || defaultSizeType"
                 [permissions]="truncateContent && index >= maxViews - 2 ? null : permissions && permissions[view.id]"
                 (delete)="onDeleteView(view)"
                 (clicked)="showView(view)"
                 (favoriteToggle)="onFavoriteToggle(view)">
    </view-detail>
    <div *ngIf="truncateContent && index >= maxViews - 2"
         class="view-background"
         [class.last]="index === maxViews - 1"
         [class.second-last]="index === maxViews - 2"></div>
  </div>
  <div *ngIf="truncateContent" class="d-flex p-2">
    <i [ngClass]="config?.size || defaultSizeType | viewIconSize"
       class="fa-fw fa-none align-self-center mr-3" aria-hidden="true">
    </i>
    <see-more-button (clicked)="onShowAll()"></see-more-button>
  </div>
</div>

<ng-template #noViews>
  <empty-views [query]="query"></empty-views>
</ng-template>
