<context-menu #contextMenu>
  <ng-template (execute)="edit.emit()"
               [enabled]="column?.editable"
               contextMenuItem>
    <div class="d-flex align-items-baseline">
      <i class="fa fa-fw fa-edit mr-1"
         aria-hidden="true"></i>
      <span class="flex-grow-1"
            i18n="@@table.body.row.edit">Edit value</span>
      <small class="text-secondary ml-3">{{macOS ? '↩' : 'Enter'}}</small>
    </div>
  </ng-template>

  <ng-container *ngIf="row.documentId">
    <ng-template *ngIf="column.readable" contextMenuItem
                 (execute)="onDocumentDetail()">
      <i class="far fa-fw fa-file-search mr-1"
         aria-hidden="true"></i>
      <span i18n="@@table.body.row.show.detail">Show detail</span>
    </ng-template>
    <ng-template contextMenuItem
                 divider="true">
    </ng-template>

    <ng-template (execute)="onRemoveRow()"
                 [enabled]="column?.editable"
                 contextMenuItem>
      <i class="fas fa-fw fa-trash text-danger mr-1"
         aria-hidden="true"></i>
      <span i18n="@@remove.row">Remove row</span>
    </ng-template>

  </ng-container>

</context-menu>
