@import "variables";
@import "~bootstrap/scss/bootstrap";

a {
  cursor: pointer;
  transition: color $animation-color-duration;
}

.flex-grow {
  flex-grow: 2;
}

.no-outline {
  &:focus {
    outline: none;
  }
}

ul {
  list-style-type: none;
}

input {
  border: none;
  background: transparent;
  outline: none;
}
