<i *ngIf="attribute | attributeFunctionDefined"
   [class.mb-1]="attribute?.constraint"
   class="fa-fw fas fa-function icon-small">
</i>

<i *ngIf="(attribute?.constraint | constraintTypeIcon) as iconName"
   [ngClass]="iconName" class="fa-fw icon-small"
   [title]="attribute?.constraint | constraintTypeIconTitle">
</i>

<i *ngIf="!(attribute | attributeFunctionDefined) && !(attribute?.constraint | constraintTypeIcon)"
   title="Column settings..."
   i18n-title="@@table.header.column.settings"
   class="fa-fw fas fa-caret-down">
</i>
