<i *ngIf="attribute | attributeFunctionDefined"
   [class.mb-1]="attribute?.constraint"
   class="fas fa-function fa-xs">
</i>

<i *ngIf="(attribute?.constraint | constraintTypeIcon) as iconName"
   [ngClass]="iconName"
   [title]="attribute?.constraint | constraintTypeIconTitle"
   class="fa-xs">
</i>

<i *ngIf="!(attribute | attributeFunctionDefined) && !(attribute?.constraint | constraintTypeIcon)"
   title="Column settings..."
   title-i18n="@@table.header.column.settings"
   class="fa-xs fas fa-caret-down">
</i>
