@import "../../../styles/variables";

filter-save {
  >div {
    margin-left: 0 !important;
    padding-bottom: 5px;
    background: $secondary-color;
  }


  .filter-options {
    position: relative;
    bottom: -35px;
    right: 5px;
    font-size: 25px;

    a {
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }

    .lum-filter-saver {
      position: absolute;
      right: 0;
      top: -85px;
      height: 100%;
      transition: all 0.5s;

      form input{
        padding-left: 5px;
        border: 1px solid #dce4ec;
        border-radius: 4px;
      }
    }
  }

  .lum-search {
    .form-group {
      width: 100%;
      input {
        width: 100%;
      }
    }
    margin-top: 7px;
  }
}
