@import "../../../styles/variables";
tag-input {
  & > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all 0.15s;
    min-height: 32px;
    cursor: text;
    border-bottom: 2px solid #efefef;

    .lum-tag-item {
      letter-spacing: 0.05rem;
      font-size: $font-size-large;
      border-radius: $form-group-margin-bottom;
      transition: all 0.25s;
      margin: 0.1rem 0.2rem;
      padding: 0.1rem 0.6rem;

      .tag-separator {
        display: inline-block;

        .lum-operand {
          position: absolute;
          margin-top: -20px;
          margin-left: -18px;
          font-size: $font-size-small;
          cursor: pointer;

          span {
            padding: 2px 5px;
            display: inline-block;
            background-color: $brand-info;
            border-radius: $form-group-margin-bottom;

            &.active {
              background-color: $brand-success;
            }
          }
        }
        .lum-operand-type {
          position: absolute;
          white-space: nowrap;
          font-size: $font-size-small;
          cursor: pointer;

          &.number-type {
            margin-left: -50px;
          }

          &.string-type {
            margin-left: -17px;
          }

          span {
            padding: 2px;
            display: inline-block;
            background-color: $brand-info;
            border-radius: $form-group-margin-bottom;

            &.active {
              background-color: $brand-success;
            }
          }
        }
      }

      &:focus {
        background-color: $brand-success;
        color: $secondary-color;
        outline: 0;
      }

      span {
        &:focus {
          outline: 0;
        }
      }
    }

    .lum-remove {
      cursor: pointer;
    }
  }

  form {
    flex: 0 0 100%;

    lum-auto-complete, .lum-autocomplete {
      width: 100%;
    }

    input[type="text"] {
      display: inline;
      vertical-align: middle;
      background-color: transparent;
      font-size: $font-size-large;
      width: 100%;
      height: 100%;
      margin-left: 1px;
    }

  }
}
