<div *ngIf="documents$ | async as documents"
     [style.right.px]="calculatePosition ? (columns | suggestionColumnOffset:attributeId) : null">
  <div *ngIf="documents.length"
       class="dropdown">
    <div class="dropdown-menu show"
         data-test="document-hints">
      <div *ngFor="let doc of documents; index as documentIndex"
           [class.selected]="(selectedIndex$ | async) === documentIndex"
           (mousedown)="onCreateLink(doc)"
           class="dropdown-item p-0 d-flex">
        <div *ngFor="let column of columns"
             [class.font-weight-bold]="column.attributeId === attributeId"
             [style.width.px]="column.width"
             [innerHtml]="column.attributeId === attributeId ? (doc.data[column.attributeId] | highlightText: value) : doc.data[column.attributeId]"
             [title]="doc.data[column.attributeId] || ''"
             class="text-truncate cursor-default p-1"
             data-test="document-hint">
        </div>
      </div>
    </div>
  </div>
</div>
