@import '../../../styles/variables';

:host {
  display: block;
  transform: scale(1);
  position: relative;
  z-index: 10;

  & > div {
    position: fixed;
  }
}

.selected {
  background-color: $gray-300;
}
