<div [formGroup]="form">
  <div class="form-group text-muted small" i18n="@@collection.config.tab.rules.cron.info">
    An automation executed regularly according to the timer settings.
  </div>
  <div class="form-group d-flex flex-wrap align-items-center justify-content-start">
    <div>
      <span class="text-nowrap font-weight-bold" i18n="@@collection.config.tab.rules.blockly.edit.message">Edit Rule Code:</span>
    </div>
    <div class="flex-grow-1 text-right">
      <div class="custom-control custom-checkbox mr-3 d-inline-block">
        <input class="custom-control-input" type="checkbox" formControlName="blocklyDryRun" id="blocklyDryRun">
        <label class="custom-control-label" for="blocklyDryRun" i18n="@@collection.config.tab.rules.blockly.dryRun">
          Dry Run
        </label>
      </div>
      <blockly-debugger-remote
        (displayEvent)="display($event)"
        [displayButtons]="debugButtons">
      </blockly-debugger-remote>
    </div>
  </div>
  <blockly-debugger
    (displayEvent)="display($event)"
    [displayDebug]="displayDebug"
    [blocklyJs]="blocklyJs"
    [blocklyError]="blocklyError"
    [blocklyDryRunResult]="blocklyDryRunResult"
    [blocklyResultTimestamp]="blocklyResultTimestamp">
  </blockly-debugger>

  <blockly-editor
    (onJsUpdate)="onJsUpdate($event)"
    (onXmlUpdate)="onXmlUpdate($event)"
    [toolbox]="functionToolbox"
    [collections]="collections$ | async"
    [linkTypes]="linkTypes$ | async"
    [variables]="variables"
    [xml]="blocklyXml">
  </blockly-editor>

</div>
