<div *ngIf="!(query | displayable)"
     class="alert alert-warning m-3"
     role="alert"
     i18n="@@table.query.invalid">Your query results cannot be shown using table perspective. The query needs to specify exactly one file.
</div>

<div #positioner></div>
<div *ngIf="query | displayable"
     [style.height]="height"
     (clickOutside)="onClickOutside($event)"
     class="table d-flex flex-column m-0">
  <table-header [table]="table"
                class="d-block pr-4">
  </table-header>
  <table-body [table]="table"
              [query]="query"
              class="d-block flex-grow-1 pr-4 pb-4">
  </table-body>
</div>
