<div *ngIf="!(query | displayable)"
     class="alert alert-warning m-3"
     role="alert"
     i18n="@@table.query.invalid">Your query results cannot be shown using table perspective. The query needs to specify exactly one file.
</div>

<div #positioner></div>
<div *ngIf="query | displayable"
     [style.height]="height"
     class="table d-flex flex-column align-items-start m-0">
  <div (clickOutside)="onClickOutside($event)"
       class="d-flex flex-column">
    <table-header [table]="table"
                  class="d-block pr-4">
    </table-header>
    <table-body [table]="table"
                [query]="query"
                class="d-block pr-4 pb-4">
    </table-body>
  </div>
  <div class="flex-grow-1"></div>
</div>
