@import '../../../../../../styles/variables';

.badge {
  font-size: 0.85rem;
  font-weight: normal;
}

.lh-2 {
  line-height: 2rem;
}

a.list-group-item {
  transition: color 0ms ease-out;

  &.active {
    color: white;
  }
}

.header-container {
  background-color: $primary;
  color: $light;
}

.user {
  overflow: hidden;
  text-overflow: ellipsis;
}
