@import '../../../../../../styles/variables';

.badge {
  font-size: 0.85rem;
  font-weight: normal;
}

.lh-2 {
  line-height: 2rem;
}

a.list-group-item {
  transition: color 0ms ease-out;

  &.active {
    color: white;
  }
}

.user {
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;

  i.fa-times {
    vertical-align: text-bottom;
    transition: all 0.15s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}
