<div class="position-absolute"
     [style.left.px]="contextMenuPosition.x"
     [style.top.px]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent>
    <ng-container *ngFor="let group of items | groupTableMenuItems; let last = last">
      <div *ngFor="let item of group.items"
           mat-menu-item
           [disabled]="item.disabled"
           [disableRipple]="true"
           (click)="onClick($event, item)">
        <div class="d-flex align-items-baseline">
          <i class="fa-fw {{item.iconClass}} mr-1" aria-hidden="true"></i>
          <span class="flex-grow-1">{{item.title}}</span>
          <small *ngIf="item.shortcut" class="text-secondary ml-3">{{item.shortcut}}</small>
        </div>
      </div>

      <hr *ngIf="!last" class="my-2">
    </ng-container>
  </ng-template>
</mat-menu>
