@import 'src/styles/variables';

.dashboard-row {
  display: grid;
  grid-gap: 1rem;
  height: 33vw;

  .cell {
    height: 33vw;
    width: 100%;
    border: 1px solid $gray-200;
    border-radius: 0.3rem;
  }
}
