<ng-container *ngIf="constraint; else textDataInput"
              [ngSwitch]="constraint.type">
  <boolean-data-input *ngSwitchCase="constraintType.Boolean"
                      [readonly]="readonly"
                      [value]="value"
                      (valueChange)="onValueChange($event)"
                      (save)="save.emit($event)"
                      (onFocus)="emitFocus($event)">
  </boolean-data-input>

  <datetime-data-input *ngSwitchCase="constraintType.DateTime"
                       [constraintConfig]="constraint.config"
                       [focus]="focus"
                       [readonly]="readonly"
                       [value]="value"
                       (valueChange)="onValueChange($event)"
                       (save)="save.emit($event)"
                       (cancel)="cancel.emit()"
                       class="d-block">
  </datetime-data-input>

  <number-data-input *ngSwitchCase="constraintType.Number"
                     [focus]="focus"
                     [readonly]="readonly"
                     [constraintConfig]="constraint.config"
                     [value]="value"
                     (valueChange)="onValueChange($event)"
                     (save)="save.emit($event)"
                     (cancel)="cancel.emit()"
                     (onFocus)="emitFocus($event)"
                     class="d-block">
  </number-data-input>

  <percentage-data-input *ngSwitchCase="constraintType.Percentage"
                         [focus]="focus"
                         [readonly]="readonly"
                         [constraintConfig]="constraint.config"
                         [value]="value"
                         (valueChange)="onValueChange($event)"
                         (save)="save.emit($event)"
                         (cancel)="cancel.emit()"
                         (onFocus)="emitFocus($event)"
                         class="d-block">
  </percentage-data-input>

  <text-data-input *ngSwitchDefault
                   [constraintConfig]="constraint?.config"
                   [focus]="focus"
                   [readonly]="readonly"
                   [value]="value"
                   (valueChange)="onValueChange($event)"
                   (save)="save.emit($event)"
                   (cancel)="cancel.emit()"
                   (onFocus)="emitFocus($event)"
                   class="d-block">
  </text-data-input>
</ng-container>

<ng-template #textDataInput>
  <text-data-input [constraintConfig]="constraint?.config"
                   [focus]="focus"
                   [readonly]="readonly"
                   [value]="value"
                   (valueChange)="onValueChange($event)"
                   (save)="save.emit($event)"
                   (cancel)="cancel.emit()"
                   (onFocus)="emitFocus($event)"
                   class="d-block">
  </text-data-input>
</ng-template>
