@import '~src/styles/variables';

:host {
  & > * {
    height: 100%;
    text-decoration: inherit;
  }

  &::ng-deep input:focus {
    outline: none;
  }

  &::ng-deep input[readonly] {
    cursor: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: inherit;
  }
}
