@import '../../../../../../../styles/variables';

$padding: 0.5rem;

td {
  height: 2rem;
  padding: 0 !important;

  data-input {
    display: block;
    height: 100%;
  }
}

%highlighted {
  z-index: $z-index-selected;
  outline-offset: -1px;
}

td.editing {
  @extend %highlighted;
  outline: $success solid 1px;
  box-shadow: 1px 1px 4px $secondary;
}

td.focused {
  @extend %highlighted;
  outline: $primary solid 1px;
  box-shadow: 0 0 4px $secondary;
}

td.affected:not(.editing) {
  @extend %highlighted;
  outline: $warning solid 1px;
  box-shadow: 1px 1px 4px $secondary;
}

:host:hover {
  .fixed-column i {
    opacity: 1 !important;
  }
}

.fixed-column {
  background: white;
  position: sticky;
  text-align: start;
  right: -2px;
  z-index: 2;
  width: var(--detail-links-sticky-width, auto);

  i {
    transition: opacity $animation-color-duration;
    opacity: 0;
  }
}
