<ng-container
  *ngIf="{columnFocused: columnFocused$ | async, columnEditing: columnEditing$ | async, readonly: !permissions.writeWithView} as data">
  <ng-container *ngFor="let column of columns; trackBy: trackByColumn; let index = index">
    <td class="table-border"
        *ngIf="{dataValue: !(editedValue | isNullOrUndefined) && data.columnEditing === index ? editedValue : (column.linkTypeId ? row.linkInstance?.data || {} : row.document?.data || {})[column.attribute.id] | dataValue:column.attribute?.constraint:constraintData,
          editing: data.columnEditing === index, focused: data.columnFocused === index} as columnData"
        [style.width.px]="column.width"
        [class.focused]="columnData.focused"
        [class.editing]="columnData.editing && !column?.attribute?.constraint?.isDirectlyEditable"
        [class.affected]="!(attributeEditing?.documentId | isNullOrUndefined) &&
      (row.document?.id === attributeEditing?.documentId) &&
      (column.collectionId && column.attribute.id === attributeEditing?.attributeId)"
        (click)="onDataInputFocus(index, $event)"
        (dblclick)="onDataInputDblClick(index, $event)">
      <ng-container
        *ngIf="column.attribute | dataInputEditInfo:columnData.dataValue:column.editable:columnData.editing as dataInputInfo">
        <data-input *ngIf="column.linkTypeId"
                    [constraint]="column.attribute?.constraint"
                    [cursor]="row.linkInstance && (row.linkInstance | dataCursor : column.attribute.id)"
                    [dataValue]="columnData.dataValue"
                    [focus]="true"
                    [editableInReadonly]="column.editable"
                    [preventEventBubble]="preventEventBubble"
                    [configuration]="configuration"
                    [readonly]="dataInputInfo.readonly"
                    [class.cursor-pointer]="!data.readonly && column.editable"
                    (save)="onNewValue(index, $event)"
                    (cancel)="onDataInputCancel(index)"
                    (enterInvalid)="onEnterInvalid()"
                    (clickOutside)="onDataInputCancel(index)">
        </data-input>

        <data-input *ngIf="column.collectionId"
                    [constraint]="column.attribute.constraint"
                    [cursor]="row.document && (row.document | dataCursor : column.attribute.id)"
                    [dataValue]="columnData.dataValue"
                    [focus]="true"
                    [editableInReadonly]="column.editable"
                    [preventEventBubble]="preventEventBubble"
                    [configuration]="configuration"
                    [readonly]="dataInputInfo.readonly"
                    [class.cursor-pointer]="!data.readonly && column.editable"
                    (save)="onNewValue(index, $event)"
                    (keydown)="onDataInputKeyDown($event)"
                    (valueChange)="onValueChange(index, $event)"
                    (cancel)="onDataInputCancel(index)"
                    (clickOutside)="onDataInputCancel(index)"
                    (enterInvalid)="onEnterInvalid()">
        </data-input>
      </ng-container>
    </td>
  </ng-container>
  <td class="fixed-column border-0" *ngIf="permissions?.read && permissions?.writeWithView">
    <div class="d-flex flex-nowrap flex-row h-100 align-items-center px-2">
      <i class="fas fa-file-search clickable mr-2"
         *ngIf="allowSelectDocument && permissions?.read && row.document"
         (click)="onDetail()"
         i18n-title="@@show.detail" title="Show detail" aria-hidden="true"></i>
      <i class="fas fa-unlink clickable"
         *ngIf="permissions?.writeWithView && row.document"
         (click)="onUnlink()"
         i18n-title="@@unlink" title="Unlink" aria-hidden="true"></i>
    </div>
  </td>

  <document-hints
    *ngIf="!(data.columnEditing | isNullOrUndefined) && columns[data.columnEditing].collectionId && (columns[data.columnEditing].attribute | canShowAttributeHints)"
    [attributeId]="columns[data.columnEditing]?.attribute?.id"
    [correlationId]="row.correlationId"
    [dataValue]="suggesting$ | async"
    [collectionId]="collectionId"
    [excludedDocumentIds]="row.document?.id ? [row.document.id] : []"
    [columns]="columns | documentHintsColumns"
    [offsetLeft]="columns | calculateHintsOffset"
    [linkedDocumentId]="documentId"
    [linkInstanceId]="row.linkInstance?.id"
    [linkTypeId]="linkTypeId"
    [constraintData]="constraintData"
    [origin]="element"
    (useHint)="onUseHint()">
  </document-hints>
</ng-container>
