<div class="card-body pt-2">
  <div class="small text-secondary mb-2" i18n="@@resource.detail.type">{type, select, organization {Organization} project {Project} other {}}</div>

  <h5 class="card-title text-truncate">
    <i [class]="resource?.icon" [class.mr-1]="true" [style.color]="resource?.color"></i>
    {{resource?.code}}
  </h5>
  <h6 class="card-subtitle mb-2 text-muted">{{resource?.name}}</h6>

  <p class="card-text">
    <ng-container *ngIf="type | isOrganizationType">
      <resource-status-line [organization]="resource"></resource-status-line>
      <button (click)="goToOrganizationSettings('users')" class="ml-3 btn btn-primary btn-sm"
      *ngIf="resource | permissions:type :'manage' | async">
        <i class="fas fa-user-plus mr-1"></i>
        <span i18n="@@resource.detail.organization.invite">Invite Colleagues</span>
      </button>
    </ng-container>
    <ng-container *ngIf="!(type | isOrganizationType)">
      <resource-status-line [project]="resource"></resource-status-line>
    </ng-container>
  </p>

  <p class="card-text">{{resource?.description}}</p>

  <div *ngIf="(type | isOrganizationType) && (resource | permissions:type:'manage' | async)" class="text-center">
    <button (click)="goToOrganizationSettings('detail')" href="#" class="btn btn-primary btn-sm mr-2">
      <i class="fas fa-cog mr-1"></i>
      <span i18n="@@resource.detail.organization.configure">Configure</span>
    </button>
    <button (click)="goToOrganizationSettings('detail')" href="#" class="btn btn-danger btn-sm">
      <i class="fas fa-credit-card mr-1"></i>
      <span i18n="@@resource.detail.organization.upgrade">Upgrade Plan</span>
    </button>
  </div>

  <div *ngIf="!(type | isOrganizationType) && (resource | permissions:type:'manage' | async)" class="text-center">
    <button (click)="goToProjectSettings('users')" class="btn btn-primary btn-sm">
      <i class="fas fa-cog mr-1"></i>
      <span i18n="@@resource.detail.organization.configure">Configure</span>
    </button>
  </div>

</div>
