<ng-container *ngIf="allCollections$ | async as allCollections">
  <ng-container *ngIf="allCollections.length; else noCollections">

    <div class="d-flex mt-2" *ngIf="projectPermissions?.roles?.CollectionContribute">
      <post-it-collection-add-button class="ml-1"
                                     [showAddTaskTable]="showAddTaskTable && projectPermissions?.roles?.LinkContribute && projectPermissions?.roles?.ViewContribute"
                                     (clicked)="createNewCollection()">
      </post-it-collection-add-button>

      <table-import-button *ngIf="canImportCollection" class="ml-2">
      </table-import-button>
    </div>

    <div class="grid mt-3" *ngIf="{truncateContent: truncateContent$ | async} as data">

      <post-it-collection class="layout-item d-block" @fadeIn
                          *ngFor="let collection of (data.truncateContent ? (allCollections | slice:0:maxCollections) : allCollections); trackBy:trackByCollection"
                          [class.selected]="selectedCollections$ | async | includes:(collection.correlationId || collection.id)"
                          [collection]="collection"
                          [workspace]="workspace"
                          (update)="updateCollection($event)"
                          (create)="createCollection($event)"
                          (delete)="deleteCollection(collection)"
                          (favoriteToggle)="onFavoriteToggle(collection)"
                          (selected)="onCollectionSelected(collection)"
                          (unselected)="onCollectionUnselected(collection)"
                          data-test="collection-card">
      </post-it-collection>


      <div *ngIf="data.truncateContent"
           class="layout-item" (click)="onShowAllClicked()">
        <div class="d-flex h-100 clickable align-items-center justify-content-center cursor-pointer text-center">
          <see-more-button></see-more-button>
        </div>
      </div>

    </div>

  </ng-container>

  <ng-template #noCollections>
    <empty-collections [query]="query"
                       (newCollection)="createNewCollection()">
    </empty-collections>
  </ng-template>
</ng-container>
