@import '../../../../styles/variables';

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, $post-it-width);
  grid-auto-rows: $post-it-width;
  grid-gap: 1rem;

  .layout-item {
    &.selected {
      z-index: 9;
    }

    &:hover {
      z-index: 10;
    }
  }
}
