<ng-container *ngIf="allCollections$ | async as allCollections">
  <ng-container *ngIf="allCollections.length; else noCollections">

    <div class="d-flex mt-2">
      <post-it-collection-add-button class="ml-1"
                                     [disabled]="!projectPermissions?.roles?.CollectionContribute"
                                     [showAddTaskTable]="showAddTaskTable"
                                     (clicked)="createNewCollection()">
      </post-it-collection-add-button>

      <post-it-collection-import-button *ngIf="canImportCollection"
                                        class="ml-2"
                                        [disabled]="!projectPermissions?.roles?.CollectionContribute"
                                        (error)="notifyOfError($event)"
                                        (import)="onImportCollection($event)">
      </post-it-collection-import-button>
    </div>

    <div class="grid mt-3">

      <post-it-collection class="layout-item d-block" @fadeIn
                          *ngFor="let collection of (maxCollections > 0 ? (allCollections | slice:0:maxCollections) : allCollections); trackBy:trackByCollection; let idx = index"
                          [class.selected]="selectedCollections$ | async | includes:(collection.correlationId || collection.id)"
                          [collection]="collection"
                          [workspace]="workspace"
                          (update)="updateCollection($event)"
                          (create)="createCollection($event)"
                          (delete)="deleteCollection(collection)"
                          (favoriteToggle)="onFavoriteToggle(collection)"
                          (selected)="onCollectionSelected(collection)"
                          (unselected)="onCollectionUnselected(collection)"
                          data-test="collection-card">
      </post-it-collection>


      <div class="layout-item"
           *ngIf="maxCollections > 0 && maxCollections < allCollections.length"
           (click)="onShowAllClicked()">
        <div class="d-flex h-100 clickable align-items-center justify-content-center cursor-pointer text-center">
          <see-more-button></see-more-button>
        </div>
      </div>

    </div>

  </ng-container>

  <ng-template #noCollections>
    <empty-collections [query]="query"
                       (newCollection)="createNewCollection()"
                       (import)="onImportCollection($event)"
                       (error)="notifyOfError($event)">
    </empty-collections>
  </ng-template>
</ng-container>
