<ng-container *ngIf="{containsDeleted: (queryItems | containsDeletedQueryItem)} as data">

  <a class="card p-2 view flex-row align-items-center view-hover color-inherit"
     draggable="false"
     [routerLink]="path"
     [class.mb-2]="viewSize !== sizeType.S"
     [class.mb-1]="viewSize === sizeType.S"
     [class.pb-3]="viewSize === sizeType.L">

    <div class="mr-3">
      <i [ngClass]="viewSize | viewIconSize"
         class="fa-fw {{icon}} align-self-center"
         [style.color]="color" aria-hidden="true">
      </i>
    </div>

    <div class="flex-column flex-grow-1 text-truncate" [class.align-self-center]="viewSize !== sizeType.L">
      <div class="d-flex flex-row align-items-center">
          <span class="text-truncate flex-grow-1 mr-2"
                [class.title]="viewSize !== sizeType.S">
            {{view.name}}
            <i *ngIf="data.containsDeleted" class="fa fa-exclamation-triangle text-warning ml-1"
               title="View is not valid because some of the resources were deleted"
               i18n-title="@@view.detail.warning.deleted"></i>
          </span>

        <i class="fa-star fa-fw text-warning cursor-pointer hiding-icon"
           [class.mr-2]="permissions?.roles?.UserConfig || permissions?.roles?.Manage"
           *ngIf="permissions?.roles?.Read"
           (click)="$event.preventDefault(); $event.stopPropagation(); onFavoriteToggle()"
           [class.always-visible]="view.favorite"
           title="{{ view.favorite ?  'Remove from favorites' : 'Add to favorites'}}"
           i18n-title="@@view.favorite"
           [ngClass]="view.favorite ? 'fas' : 'far'"
           aria-hidden="true">
        </i>

        <i class="fas fa-fw fa-share-alt text-success cursor-pointer"
           [class.mr-2]="permissions?.roles?.Manage"
           *ngIf="permissions?.roles?.UserConfig"
           (click)="$event.preventDefault(); $event.stopPropagation(); onShareClick()"
           title="Share" i18n-title="@@button.share"
           aria-hidden="true">
        </i>
        <i class="fas fa-fw fa-cog text-success cursor-pointer"
           *ngIf="permissions?.roles?.Manage"
           (click)="$event.preventDefault(); $event.stopPropagation(); onSettings()"
           title="Settings" i18n-title="@@settings"
           aria-hidden="true">
        </i>

      </div>

      <div class="d-flex flex-wrap" *ngIf="viewSize === sizeType.L">
        <query-item *ngFor="let queryItem of queryItems; trackBy:trackByQueryItem; let isLast = last"
                    [queryItem]="queryItem"
                    [queryItemForm]="queryItem | queryItemForm"
                    [readonly]="true"
                    class="d-inline-flex mt-1 align-items-center"
                    [class.mr-1]="!isLast">
        </query-item>
      </div>
    </div>

  </a>

</ng-container>
