<tr *ngIf="linkRows.length === 0">
  <td [attr.colspan]="otherCollection.attributes.length" class="text-center" i18n="@@shared.preview.results.noResults">
    No records found.
  </td>
</tr>
<ng-container *ngFor="let linkRow of linkRows; trackBy:trackByLinkRow">
  <ng-container *ngTemplateOutlet="linkRow.document ? clickableRow : editableRow; context: { $implicit: linkRow}">
  </ng-container>
</ng-container>

<ng-template #clickableRow let-linkRow>
  <tr class="clickable-row table-row"
      *ngIf="{read: otherCollection | permissions:collectionType:'read' | async} as permissions"
      (dblclick)="permissions.read && documentSelected(otherCollection, linkRow)">
    <td *ngFor="let attr of otherCollection.attributes" title="{{linkRow.document.data[attr.id]}}">
      {{linkRow.document.data[attr.id]}}
    </td>
    <td class="fixed-column border-0">
      <i class="fas fa-eye clickable mr-1"
         *ngIf="permissions.read"
         (click)="documentSelected(otherCollection, linkRow)"
         i18n-title="@@select" title="Select" aria-hidden="true"></i>
      <i class="fas fa-unlink clickable"
         *ngIf="!readonly"
         (click)="unlinkDocument(linkRow)"
         i18n-title="@@unlink" title="Unlink" aria-hidden="true"></i>
    </td>
  </tr>
</ng-template>

<ng-template #editableRow let-linkRow>
  <tr class="table-row" id="{{linkRow.correlationId}}">
    <td *ngFor="let attr of otherCollection.attributes">

      <input-box [paddingRem]="0.25"
                 [placeholder]="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'"
                 [canStayEmpty]="true"
                 [maxLines]="1"
                 [emitAllChanges]="true"
                 (blur)="onBlur()"
                 (enter)="onEnterKeyDown()"
                 (keyDown)="onKeyDown($event)"
                 (focus)="onFocus(linkRow.correlationId, attr.id, $event)"
                 (newValue)="onValueChanged(linkRow.correlationId, attr.id, $event)">
      </input-box>
    </td>
    <td class="fixed-column border-0">
      <i class="fas fa-trash clickable clickable-danger" (click)="removeEmptyLinkRow(linkRow)"
         i18n-title="@@remove" title="Remove" aria-hidden="true"></i>
    </td>

  </tr>

  <document-hints
    *ngIf="linkRow.correlationId === selectedLinkRowCorrId && document && linkType && suggestingAttributeId && suggestingValue"
    [attributeId]="suggestingAttributeId"
    [value]="suggestingValue"
    [columns]="columns"
    [calculatePosition]="false"
    [excludedDocumentIds]="usedDocumentIds"
    [linkedDocumentId]="document.id"
    [linkTypeId]="linkType.id"
    [collectionId]="otherCollection.id">
  </document-hints>

</ng-template>
