<div [style.background]="(collection$ | async)?.color | columnBackground"
     [style.width.px]="column | columnWidth:true"
     (mousedown)="onMouseDown($event)"
     [matMenuTriggerFor]="contextMenu"
     title="Show hidden columns" i18n-title="@@table.header.show.hidden.columns"
     class="table-border-right table-border-bottom text-center h-100 cell">
  <i class="fas fa-ellipsis-v text-secondary"></i>
</div>

<mat-menu #contextMenu="matMenu">
  <button *ngFor="let attribute of hiddenAttributes$ | async"
               (click)="onShowSingleColumn(attribute)"
               mat-menu-item>
    <span>{{attribute | attributeLastName}}</span>
    <small class="text-secondary ps-1">({{attribute.name}})</small>
  </button>
  <button *ngIf="column.attributeIds.length > 1"
               (click)="onShowAllColumns()"
               mat-menu-item>
    <span i18n="@@table.header.show.all">All columns</span>
  </button>
</mat-menu>
